<%
    var firstName = data.firstName || "";
    var path = data.path;
    var menu = path[1];
    var subMenu = path[2] || "";

    switch(menu) {
        case "intl":
            renderPublic();
            break;
        case "enrollment":
            renderEnrollment();
            break;
        case "account":
            renderAccount();
            break; 
        case "order":
            renderOrder();
            break;
        case "payment":
            renderPayment();
            break;
        default: break;
    }
%>

<% function renderPublic(){ %>
<% } %>

<% function renderEnrollment(){ %>
<% } %>

<% function renderAccount(){ %>
    <ul class="nav nav-tabs">
        <li <% if (subMenu === "basic") { %>class="active"<% } %>>
            <a href="/account/basic" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1013)">Basic information</span>
            </a>
        </li>
         <li <% if (subMenu === "safety") { %>class="active"<% } %>>
            <a href="/account/safety" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1461)">Account Safety</span>
            </a>
        </li>
        <li <% if (subMenu === "receiver") { %>class="active"<% } %>>
            <a href="/account/receiver" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1014)">Delivery addresses</span>
            </a>
        </li>
        <li <% if (subMenu === "orders" || subMenu === "orderdetail") { %>class="active"<% } %>>
            <a href="/account/orders" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1015)">My orders</span>
            </a>
        </li>
    </ul>
<% } %>

<% function renderOrder(){ %>
<!-- 进度触点开始 -->
<link rel="stylesheet" href="/static/css/orderBar.css">
<div class="w w1 stepflex-header clearfix">
    <div class="stepflex" id="#sflex03">
        <dl class="first <% if (subMenu === "receiver") { %> doing <% } %>">
            <dt class="s-num">1</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(1281)">填写核对订单信息<s></s><b></b></dd>
        </dl>
        <dl class="normal <% if (subMenu === "confirm") { %> doing <% } %>">
            <dt class="s-num">2</dt>
            <dd class="s-text" data-weave="widget/blurb/main(1358)">支付及确认订单<s></s><b></b></dd>
        </dl>
        <dl class="normal <% if (subMenu === "success") { %> doing <% } %> ">
            <dt class="s-num">3</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(1280)">成功提交订单<s></s><b></b></dd>
        </dl>
    </div>
</div> 
<!-- 进度触点结束 -->
<% } %>

<% function rrenderOrder(){ %>
    <ul class="nav nav-tabs">
        <li <% if (subMenu === "receiver") { %>class="active"<% } %>>
            <a>
                <span data-weave="widget/blurb/main(1281)">Delivery Address &amp; Start Date </span>
            </a>
        </li>
        <li <% if (subMenu === "confirm") { %>class="active"<% } %>>
            <a>
                <span data-weave="widget/blurb/main(1358)">Payment and Invoice</span>
            </a>
        </li>
        <li <% if (subMenu === "success") { %>class="active"<% } %>>
            <a>
                <span data-weave="widget/blurb/main(1280)">Successfully Ordered</span>
            </a>
        </li>
    </ul>
<% } %>


<% function renderPayment(){ %>
<!-- 进度触点开始 -->
<link rel="stylesheet" href="/static/css/orderBar.css">
<div class="w w1 stepflex-header clearfix">
    <div class="stepflex" id="#sflex03">
        <dl class="first <% if (subMenu === "receiver") { %> doing <% } %>">
            <dt class="s-num">1</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(1281)">填写核对订单信息<s></s><b></b></dd>
        </dl>
        <dl class="normal <% if (subMenu === "topay") { %> doing <% } %>">
            <dt class="s-num">2</dt>
            <dd class="s-text" data-weave="widget/blurb/main(1010)">支付及确认订单<s></s><b></b></dd>
        </dl>
        <dl class="normal <% if (subMenu === "success") { %> doing <% } %> ">
            <dt class="s-num">3</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(1280)">成功提交订单<s></s><b></b></dd>
        </dl>
    </div>
</div> 
<!-- 进度触点结束 -->
<% } %>

<% function rrenderPayment(){ %>
    <ul class="nav nav-tabs">
        <li>
            <a>
                <span data-weave="widget/blurb/main(1281)">Select start date</span>
            </a>
        </li>
        <li>
            <a>
                <span data-weave="widget/blurb/main(1009)">Confirm</span>
            </a>
        </li>
        <li <% if (subMenu === "topay") { %>class="active"<% } %>>
            <a>
                <span data-weave="widget/blurb/main(1010)">Pay</span>
            </a>
        </li>
        <% if (subMenu === "success" || subMenu === "paysuccess") { %>
            <li class="active">
                <a>
                    <span data-weave="widget/blurb/main(1280)">Success pay</span>
                </a>
            </li>
        <% } else if (subMenu === "failed" || subMenu === "payfailed") { %>
            <li class="active">
                <a>
                    <span data-weave="widget/blurb/main(1378)">Pay failed</span>
                </a>
            </li>
        <% } %>
    </ul>
<% } %>