<%
    var isMobi = data.isMobi;
%>
<div class="v-popup-container popup-signin">
<%
    if(!isMobi){
%>
    <div class="row">
        <div class="popup-signin-new col-md-6">
            <h3 data-weave="widget/blurb/main(1355)">New Customers</h3>
            <p>
                <a class="btn btn-default btn-lg" href="/enrollment/register" data-weave="widget/href/main">
                    <span data-weave="widget/blurb/main(1020)">Create an account</span>
                </a>
            </p>
            <hr>
            <p data-weave="widget/blurb/main(1356)">You do not need to create an account to checkout. You can checkout as a guest and create an account later.</p>
            <a id="su" class="btn btn-default btn-lg" data-action="close" data-weave="widget/blurb/main(1357)">Continue as Guest</a>
        </div>
        <div class="popup-signin-form col-md-6" data-weave="widget/formlogin/main"></div>
    </div>
<%
    }
    else{
%>
    <div class="row">
        <div class="popup-signin-form col-xs-12" data-weave="widget/formlogin/main"></div>
    </div>
    <div class="row">
        <div class="popup-signin-new col-xs-12">
            <p>
                <a href="/enrollment/register" data-weave="widget/href/main">
                    <span data-weave="widget/blurb/main(1020)">Create an account</span>
                </a>
                <a id="su" class="pull-right" data-action="close" data-weave="widget/blurb/main(1357)">Continue as Guest</a>
            </p>
        </div>
    </div>
<%
    }
%>
</div>
