<div class="ordercalendar-control cf">
    <% if (!data.isStartWeek) { %>
        <a class="link-fn" data-action="prevweek">&lt; <span data-weave="widget/blurb/main(1025)">Past two weeks</span></a>
    <% } %>
    <a class="link-fn" data-action="nextweek"><span data-weave="widget/blurb/main(1026)">Next two weeks</span> &gt;</a>
</div>
<div class="ordercalendar">
    <table>
        <%
            var i = 0;
            var calendar = data.calendar;
            var iLens = calendar.length;
            var w = 0;
            var weeks = Math.ceil(iLens / 7);
            for(w; w < weeks; w++){
                %>
                    <tr>
                        <%
                            for(i = w * 7; i < (w + 1) * 7; i++){
                                if(calendar[i]){
                                    appendDay(calendar[i]);
                                }
                            }
                        %>
                    </tr>
                <%
            }
        %>
    </table>
</div>

<% function appendDay(day) {
    if(day.isAvailable) {
        appendDayAvailable(day);
    }
    else {
        appendDayDisable(day);
    }
} %>
<% function appendDayAvailable(day) { %>
    <td>
        <div class="ordercalendar-day <% if(day.isDeliveryStartDate) { %>ordercalendar-day-start<% } %> <% if(day.products){ %>ordercalendar-day-active<% } %>">
            <div class="ordercalendar-day-date">
                <div><strong><%=day.weekName%></strong></div>
                <div><%=day.shortDate%></div>
            </div>
            <div class="ordercalendar-day-main" data-action="editorder" data-date="<%=day.date%>" <% if(day.products){ %>data-toggle="popover" data-content="<% for(var i=0;i<day.products.length;i++) {%>
            <%=day.products[i].Name%> &times; <%=day.products[i].Count%><br>
            <% } %>"<% } %> >
                <% if(day.products){ %>
                    <div class="ordercalendar-day-order">
                        <div class="ordercalendar-day-gap ordercalendar-day-order-products">
                            <span class="juicebottle-generic"></span> <span>&times; <%=countProductsQuantity(day.products)%></span>

                        </div>
                        <% if (day.isDeliver) { %>
                            <p class="ordercalendar-day-gap ordercalendar-day-delivery-address" title="<%=day.receiverAddress%>"><%=day.receiverAddress%></p>
                        <% } else { %>
                            <p class="ordercalendar-day-gap ordercalendar-day-delivery-address ordercalendar-day-no-delivery-address" data-weave="widget/blurb/main(1250)">No address</p>
                            <!--p class="ordercalendar-day-gap ordercalendar-day-delivery-address" data-weave="widget/blurb/main(1027)">Pick up in store</p-->
                        <% } %>
                        <% if (day.deliverTime) { %>
                            <div class="ordercalendar-day-gap ordercalendar-day-sep"></div>
                            <p class="ordercalendar-day-gap ordercalendar-day-delivery-time" title="<%=day.deliverTime%>"><%=day.deliverTime%></p>
                        <% } %>
                    </div>
                    <div class="ordercalendar-day-linkadd">
                        <a class="link-fn">+ <span data-weave="widget/blurb/main(1028)">Change</span></a>
                    </div>
                <% } else { %>
                    <div class="ordercalendar-day-shoppingcart">
                        <a class="link-fn" title="Add" data-weave="widget/blurb/main(1029, 'title')"></a>
                    </div>
                    <div class="ordercalendar-day-linkadd">
                        <a class="link-fn">+ <span data-weave="widget/blurb/main(1029)">Add</span></a>
                    </div>
                <% } %>
            </div>
        </div>
    </td>
<% } %>
<% function appendDayDisable(day) { %>
    <td>
        <div class="ordercalendar-day ordercalendar-day-disable">
            <div class="ordercalendar-day-date">
                <div><strong><%=day.weekName%></strong></div>
                <div><%=day.shortDate%></div>
            </div>
            <div class="ordercalendar-day-main">
                <div class="ordercalendar-day-late">
                    <a></a>
                </div>
                <div class="ordercalendar-day-gap" data-weave="widget/blurb/main(1030)">
                    Too late to order
                </div>
            </div>
        </div>
    </td>
<% } %>
<%
    function countProductsQuantity(products){
        var i = 0;
        var iLens = products.length;
        var quantity = 0;
        for(i; i < iLens; i++){
            quantity += products[i].Count;
        }
        return quantity;
    }
%>
