<%
    var cacheServer = data.cacheServer;
    var categories = data.categories;
    var col = data.col;

    var i = 0;
    var iLens = categories.length;

    var j = 0;
    var jLens = categories.length;
%>
<ul class="nav nav-tabs" data-weave="widget/basic/bootstrap-tab">
    <%
        for(i = 0; i < iLens; i++){
            appendCategory(categories[i], i+1, iLens);
        }
    %>
</ul>
<div class="tab-content">
    <%
        for(j = 0; j < jLens; j++){
            appendPackage(categories[j]);
        }
    %>
</div>
<p class="cleanse-extinfo hide" data-weave="widget/blurb/main(1467)">* 每日25元运费另计</p>

<% function appendCategory(category, sequence, lens) { %>
    <li class="<% if (category.IsDefault) { %>active<% } %> <% if (sequence === lens) { %>last<% } %>" style="width: <%=Math.floor(100/lens)%>%;">
        <% if (category.Id === 0) { %>
            <a href="#category_<%= category.Id %>" data-id="<%= category.Id %>" data-toggle="tab" data-action="customize"><%= category.Name %></a>
        <% } else { %>
            <a href="#category_<%= category.Id %>" data-id="<%= category.Id %>" data-toggle="tab"><%= category.Name %></a>
        <% } %>
        <% if (false) { %>
            <span class="tag tag-category">
                <img src="<%=cacheServer%>/images/tags/tag_new.png" alt="新产品" title="新产品">
            </span>
        <% } %>
    </li>
<% } %>

<% function appendPackage(category) { %>
    <div class="tab-pane <% if (category.IsDefault) { %>active<% } %>" id="category_<%= category.Id %>">
        <div class="cleanse-about">
            <%=(category.Description || "&nbsp;")%>
        </div>
        <% if (category.Id === 0) { %>
            <div class="cleanse-cols inner cf">
                <div class="col-l page-width-l">
                    <div class="order" data-weave="widget/order/main"></div>
                </div>
                <div class="col-l page-width-m line-ver-page" data-weave="widget/pageverticalline/main"></div>
                <div class="col-l page-width-r" data-weave="widget/autofollower/main">
                    <div class="orderconfirm" data-weave="widget/order/next/main"></div>
                </div>
            </div>
        <% } else { %>
            <div class="cleanse-cols cf" data-weave="widget/cleanse/package/main(categoryId, col)" data-category-id="<%= category.Id %>" data-col="<%=col%>"></div>
        <% } %>
    </div>
<% } %>
