<%
    var cacheServer = data.cacheServer || "";
    var language = data.language;
    var col = data.col;
    var holidayPromotionPackages = data.holidayPromotionPackages || [];

    var PIC_PACKAGE_URL = cacheServer + "/images/cleanse/";
    var PIC_TAG_URL = cacheServer + "/images/tags/";
    var PIC_PACKAGE_DEFAULT_URL = cacheServer + "/images/cleanse/default.jpg";
    var COLUMN = 3;

    var packages = data.packages;
    var i = 0;
    var iLens = packages.length;
    var row = 0;
    var rows = Math.ceil(iLens / COLUMN);
    for (row = 0; row < rows; row++) {
        for(i = row * COLUMN; i < (row + 1) * COLUMN; i++){
            if(packages[i]){
                appendPackage(packages[i], i+1, (row + 1) * COLUMN);
            }
        }
    }
%>
<!-- package is a keyword? -->
<% function appendPackage(pkg, sequence, lens) { %>
    <div class="cleanse-col <% if (sequence === lens) { %>last<% } %> <% if (sequence === col) { %>active<% } %>" data-action="packagebox" data-package-id="<%=pkg.Id%>">
        <div class="inner">
            <h2>
                <%=(pkg.Title || "&nbsp;")%>
                <% if (pkg.Tags && pkg.Tags.length > 0) {
                    var j = 0;
                    var jLens = pkg.Tags.length;
                    for (j = 0; j < jLens; j++) {
                %>
                    <span class="tag">
                        <img src="<%=PIC_TAG_URL + pkg.Tags[j].ImagePath%>" alt="<%=pkg.Tags[j].Name%>" title="<%=pkg.Tags[j].Name%>">
                    </span>
                <%
                        }
                    }
                %>
            </h2>
            <div class="cleanse-img" data-action="showcleansedetail">
                <% if (pkg.ImageName) { %>
                    <img src="<%= PIC_PACKAGE_URL + pkg.ImageName%>" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                <% } else { %>
                    <img src="<%= PIC_PACKAGE_DEFAULT_URL%>" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                <% } %>
                <a href="/cleanse/detail" data-hash="packageid/<%=pkg.Id%>" data-weave="widget/href/main" class="cleanse-img-cover">
                    <span data-weave="widget/blurb/main(1340)">Details</span>
                </a>
            </div>
            <div class="cleanse-intro">
                <div class="cleanse-intro-des">
                    <%=(pkg.Description || "&nbsp;")%>
                </div>
            </div>
            <div class="btn-group option-days" data-toggle="buttons" data-action="package-days-container">
                <label class="btn btn-option">
                    <input type="radio" name="package-days" value="1">1 <span data-weave="widget/blurb/main(1480)"></span>
                </label>
                <label class="btn btn-option">
                    <input type="radio" name="package-days" value="3">3 <span data-weave="widget/blurb/main(1288)"></span>
                </label>
                <label class="btn btn-option active">
                    <input type="radio" name="package-days" value="5">5 <span data-weave="widget/blurb/main(1288)"></span>
                    <% if (holidayPromotionPackages.indexOf(pkg.Id) >= 0) { %>
                        <span data-weave="widget/tips/holidaypromotion/main"></span>
                    <% } %>
                </label>
            </div>
            <hr>
            <div class="btn-group option-gender" data-toggle="buttons" data-action="package-group-container">
                <% if (pkg.Groups && pkg.Groups.length === 1) { %>
                    <fieldset disabled>
                        <label class="btn btn-option ">
                            <input type="radio" id="radio-package-<%=pkg.Id%>-<%=sequence%>-0" name="radio-package-group" value="<%=pkg.Groups[0].Id%>" <% if(pkg.Groups[0].Selected) { %>checked<% } %>>
                            <i class="fa female" title="<%=pkg.Groups[0].Name%>"></i>
                        </label>
                    </fieldset>
                <% } else if (pkg.Groups && pkg.Groups.length > 1) { %>
                    <% for(var i=0, iLens=pkg.Groups.length; i<iLens; i++) { %>
                        <label class="btn btn-option <% if(pkg.Groups[i].Selected) { %>active<% } %>">
                            <input type="radio" name="radio-package-group" id="radio-package-<%=pkg.Id%>-<%=sequence%>-<%=i%>" value="<%=pkg.Groups[i].Id%>">
                            <%=pkg.Groups[i].Name%>
                        </label>
                    <% } %>
                <% } else { %>
                    &nbsp;
                <% } %>
            </div>
            <hr class="">
            <div class="option-addon">
                <label for="package-addon1-<%=pkg.Id%>-<%=sequence%>">
                    <input type="checkbox" data-id="22" data-price="50" id="package-addon1-<%=pkg.Id%>-<%=sequence%>" class="icheck" data-action="packageaddon">
                    <span data-weave="widget/blurb/main(1292)">Fragrant Clear</span>
                </label>
            </div>
            <hr class="">
            <div class="option-addon">
                <label for="package-addon2-<%=pkg.Id%>-<%=sequence%>">
                    <input type="checkbox" data-id="20" data-price="25" id="package-addon2-<%=pkg.Id%>-<%=sequence%>" class="icheck" data-action="packageaddon">
                    <span data-weave="widget/blurb/main(1291)">Spicy Lemonade</span>
                </label>
            </div>
            <hr class="">
            <div class="option-addon">
                <label for="package-addon3-<%=pkg.Id%>-<%=sequence%>">
                    <input type="checkbox" data-id="89" data-price="50" id="package-addon3-<%=pkg.Id%>-<%=sequence%>" class="icheck" data-action="packageaddon">
                    <span data-weave="widget/blurb/main(1482)">Purple Broth</span>
                </label>
            </div>
            <hr>
            <h3 class="price">
                &yen;0.00
            </h3>
            <a class="btn btn-lg btn-default btn-block" data-action="selectpackage" data-weave="widget/blurb/main(1104)">SELECT</a>
        </div>
    </div>
<% } %>
