<%
    var receiverId = data.receiverId || 0;
%>
<p class="orderedit-delivery-title" data-weave="widget/blurb/main(1087)">Deliver to this address</p>
<div data-action="receivercontrol" class="orderedit-delivery-content orderedit-delivery-address">
    <div data-action="changedeliveraddress" data-weave="widget/select/receiver/main(receiverId)" data-receiver-id="<%=receiverId%>" data-value="<%=receiverId%>"></div>
    <br>
    <p class="orderedit-delivery-address-edit">
        <span>&rsaquo;</span> <a class="link-fn" data-action="editAddress" data-weave="widget/blurb/main(1088)">Edit this address</a>
    </p>
</div>
<p>
    <span>&rsaquo;</span> <a class="link-fn" data-action="addAddress" data-weave="widget/blurb/main(1074)">Add a new delivery address</a>
</p>
 