<%
    var cacheServer = data.cacheServer;
    var serviceDomain = data.serviceDomain;
%>
<form role="form">
    <div class="form-section">
        <div class="form-group">
            <label for="signup-mobile" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <input type="text" class="form-control" id="signup-mobile" name="signup-mobile" autofocus required placeholder="Your Contact Number" data-weave="widget/blurb/main(1137, 'placeholder')">
        </div>
        <div class="form-group imageverificationcode cf">
            <label for="sendsms-image-verificationcode" data-weave="widget/blurb/main(1614)">Verification code:</label>
            <img src="<%=serviceDomain%>/common/image" width="80" height="31" alt="Verification code" data-action="refreshimagesecurity">
            <input type="text" class="form-control" id="sendsms-image-verificationcode" data-action="checkverificationcode" name="sendsms-image-verificationcode" placeholder="Please type the verification code." required data-weave="widget/blurb/main(1344, 'placeholder')">
        </div>
        <button id="verification-code" class="btn btn-default" data-action="sendverificationcode" data-weave="widget/blurb/main(1084)">SEND VERIFICATION CODE</button>
        <span class="sending hid">
            <img src="<%=cacheServer%>/images/waiting.gif" width="32" height="32" alt="">
            <span data-weave="widget/blurb/main(1341)">Sending...</span>
            <span data-action="countdown"></span>
        </span>
    </div>
    <div class="form-section">
        <div class="form-group">
            <label for="signup-verificationcode" data-weave="widget/blurb/main(1085)">Security code:</label>
            <input type="text" class="form-control" id="signup-verificationcode" name="signup-verificationcode" placeholder="Input verification code sent to your mobile phone" required data-weave="widget/blurb/main(1139, 'placeholder')">
        </div>
        <button type="submit" class="btn btn-default" data-weave="widget/blurb/main(1177)">RESET PASSWORD</button>
    </div>

    <input type="hidden" id="blurb-1211" data-weave="widget/blurb/main(1211, 'value')" value="Please type the verification code we send to your mobile phone.">
    <input type="hidden" id="blurb-1215" data-weave="widget/blurb/main(1215, 'value')" value="Phonenumber is required.">
    <input type="hidden" id="blurb-1216" data-weave="widget/blurb/main(1216, 'value')" value="Verify that you've entered the correct phone number.">
    <input type="hidden" id="blurb-1345" data-weave="widget/blurb/main(1345, 'value')" value="Please type the verification code.">
</form>
