@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="account-view">
	    <nav data-weave="widget/navigation/main"></nav>
        <div class="account-main order-list" data-weave="widget/orders/main"></div>
        <div class="account-main">
            <a href="/order" class="btn btn-default" data-weave="widget/href/main widget/blurb/main(1117)">
            	CLICK HERE TO ADD ANOTHER ORDER
            </a>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
    _.BLURB = {
        "p1001": {
            "en": "hello",
            "cn": "你好"
        }
    };
}
</div>