﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<a class="goback glyphicon glyphicon-chevron-left" onclick="javascript:history.back();"></a>
	<span data-weave="widget/blurb/main(1312)">Order</span>
</h1>
<div class="cleanse cleanse-choose" data-weave="widget/cleanse/package/main"></div>

<script type="text/javascript">
// imgUrl, lineLink, descContent, shareTitle, appid
window.attachWeixinJSBridgeReady(
    "http://www.vcleanse.com/images/wechat/logo_wechat.jpg",
    "http://m.vcleanse.com/cleanse",
    "维果清以纯天然食物，清体果蔬汁为本，结合中西营养学精华，倡导健康饮食的全新生活方式!",
    "维果清 VCLEANSE - 真正的冷压清体蔬果汁"
);
</script>

<div class="razor-section" style="display: none;">
@section meta_title {在线选购【真正的冷压清体果汁】}
@section meta_keywrods {冷压经典,冷压纤体,冷压清体代餐,暖体经典,暖体纤体,暖体代餐,全绿系列,大师清体柠檬水,暖体大师清体}
@section meta_description {冷压经典,冷压纤体,冷压清体代餐,暖体经典,暖体纤体,暖体代餐,全绿系列,大师清体柠檬水,暖体大师清体}
</div>