﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="home-slides" data-weave="widget/homeslider/mobile/main"></div>
<div class="cleanse cleanse-index" data-weave="widget/cleanse/list/main"></div>
<a href="/m/giftcard" class="bottombanner row-edges">
    <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/mobile/banner_giftcard_cn.jpg" alt="本季最贴心的礼物就在这里...当季健康之礼首选">
</a>

<div class="razor-section" style="display: none;">
@section header {
    <script type="text/javascript">


        setTimeout('MyFunction()', 1500);
        function MyFunction(){
            var confirms = confirm("前往维果清官方微店，获取更多套餐选择？是，进入维果清官方微店。否，继续访问官方网站。");
            if (confirms) {
                window.location.href = "http://www.weidian.com/?userid=283874191";
            }
        };
   



    </script>

}
</div>