html,
body {
	line-height: 1.6;
	font-family: @fontfamily-general;
	color: @color-grey-darker;

	.lng-cn & {
		font-family: @fontfamily-cn;
	}
}
body {
}

a {
	&.link-fn {
		cursor: pointer;
	}
}

.wrap {
	padding-bottom: 30px;
}

.row-edges {
	margin-left: -15px;
	margin-right: -15px;
}

.align-c{
  margin-left: auto;
  margin-right: auto;
}

/*水平翻转*/
.flipx{
  -moz-transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
  /*IE*/
  filter:FlipH;
}

/* - Clear Fix */
.cf:after,ul.hor:after      {   clear: both; content: "."; display: block; height: 0; visibility: hidden;   }
.cf,ul.hor                  {   *zoom: 1;       }
.clear                      {   clear: both;    }

/* - Float */
ul.hor > li         {   float: left; _display: inline;    }

/* - Others */
.m-hidden,.hid 		{	display: none;	}
