.cleanse {

    &.cleanse-index {
        > ul {
            margin-bottom: 0;
            padding-left: 0;
            border-top: 1px solid @color-grey-light;
            list-style: none;

            &:last-child {
                border-bottom: 1px solid @color-grey-light;
            }

            > li {
                padding-top: 10px;
                background-image: -webkit-linear-gradient(to top, @color-white, @color-grey-thin);
                background-image: linear-gradient(to top, @color-white, @color-grey-thin);
                border-left: 1px solid @color-grey-light;

                &:first-child {
                    border-left-width: 0;
                }

                > .package-container {
                    padding: 0;
                    cursor: pointer;

                    .packages-text {
                        h3 {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            font-size: @fontsize-xxl;
                            color: @color-grey-darker;
                            position: relative;
                            white-space: nowrap;
                        }
                        .packages-des {
                            font-size: @fontsize-m;
                            color: @color-grey-dark;
                            min-height: 3.2em;
                        }
                    }
                }
                &:only-child {
                    width: 100%;
                    padding: 0;

                    > .package-container {
                        .packages-picture {
                            width: 50%;
                            float: left;
                            padding: 10px;
                            .packages-display-container {
                            }
                        }
                        .packages-text {
                            width: 50%;
                            float: left;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    &.cleanse-choose {
        h2 {
            text-align: center;
            font-size: @fontsize-4xl;
            position: relative;

            .tag{
                top: -10px;
                right: 0;
            }
        }
        .cleanse-img {
            height: 160px;
            margin-top: 10px;
            position: relative;
            overflow: hidden;
            border-radius: @border-radius;

            .cleanse-img-cover {
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background-color: #000;
                opacity: 0.3;
                filter: alpha(opacity=30);
                > span {
                    display: block;
                    text-align: center;
                    font-size: 300%;
                    position: absolute;
                    width: 100%;
                    top: 50%;
                    margin-top: -1em;
                    line-height: 2em;
                    color: #fff;
                }
            }
            img {
                width: 100%;
            }
        }
        .cleanse-intro {
            /*display: none;*/
            margin-top: 5px;
        }
        .option-days {
            width: 100%;
            > label {
                width: 33.3%;
            }
            .btn-option {
              .package-days-promotion {
                display: none;
              }
              &.active{
                position: relative;

                  .package-days-promotion {
                    display: block;
                    position: absolute;
                    top: -29px;
                    right: -1px;
                    z-index: 1;
                  }
              }
            }
        }
        .option-gender {
            width: 100%;
            > label {
                width: 50%;
            }
        }
        h3.price {
            text-align: center;
        }
    }
    &.cleanse-detail {
        .detail-product-image {
            > img {
                width: 100%;
            }
        }
        .detail-main {
        	h1 {
        		text-align: center;
                font-size: @fontsize-6xl;
        	}
            .nav {
                > li {
                    > a {
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
            }
            .btn {
                display: block;
            }
        }
    }
}
