.giftcard {
  margin-bottom: -30px;
}
.giftcard-banner {
  overflow: hidden;
  text-align: center;

  > img {
    width: 100%;
    height: auto;
    max-width: 1388px;
  }
}
.lng-en {
  .giftcard-content-title {
  }
}
.giftcard-content {
  text-align: center;
  .giftcard-content-title {
    font-size: @fontsize-10xl;
    display: inline-block;
    padding: 0 30px;
  }
  .giftcard-content-description {
    margin: 20px 0;
    color: @color-brown;
  }
  .giftcard-main {
    position: relative;

    .giftcard-item {
      h5 {
        margin-bottom: 20px;
      }
      p {
        position: relative;
        .giftcard-price {
          position: absolute;
          display: block;
          text-align: center;
          top: 50%;
          width: 100%;
          color: @color-golden;
          font-size: @fontsize-10xl;
          margin-top: 10px;
        }
        &.buyButton {
          margin: 30px auto 15px;
          width: 234px;
          a {
            background: none;
            color: @color-black;
            border: solid 1px @color-black;
            &:hover {
              color: @color-white;
              background: @color-hover;
            }
          }
        }
      }
    }
    .carousel-inner {
      margin: 30px auto 0;
      width: 240px;
      .swipe{
        visibility: visible;
        position: relative;
        .swipe-wrap > div{
          width: auto;
          padding: 0 15px;
        }
      }
      .row{
        width: 810px;
         p{
           &:last-child {
             width: 234px;
             margin: 0 auto;
             text-align: left;
           }
         }
      }
    }
    .carousel-indicators {
      position: static;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      li {
        border: solid 1px @color-black;
        border-radius: @border-radius;
        text-indent: 0;
        width: auto;
        min-width: 95px;
        height: auto;
        padding: 8px;
        color: @color-grey-dark;
        background: @color-white;
        &.active {
          color: @color-white;
          background: @color-black;
        }
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    .carousel-control {
      width: 80px;
      top: 127px;

      &.left {
        background: url('/images/giftcard/icon_left_slim.png') no-repeat left center;
      }
      &.right {
        background: url('/images/giftcard/icon_right_slim.png') no-repeat right center;
      }
    }
  }
}
