h1.heading {
	display: block;
	border-bottom: 3px solid @color-black;
	padding: 10px;
	margin-top: 0;
	font-size: @fontsize-6xl;

	a.goback {
		color: @color-grey-darker;
		top: 3px;
		padding: 0 5px;
		margin-left: -10px;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}
}
