
header {
	&.navbar {
		margin-bottom: 0;
		background-color: @color-black;
	}
	.navbar-header {
		position: relative;
		text-align: center;

		.navbar-toggle {
			position: absolute;
			top: 0;
			right: 0;
		}
		.navbar-brand {
			padding: 7px 7px;
			display: block;
			width: 50px;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}
	.navbar-collapse{
		&.in {
			overflow-y: hidden;
		}
	}
	.navbar-nav {
		> li {
			> a {
				color: @color-white;

				&:hover {
					background-color: @color-grey-dark;
				}
			}
		}
	}
}