/* + Override ionic */

.tabs{
  position: fixed;
  border: none;
  .tab-item{
    &:hover{
      color: inherit;
      opacity: 1;
      text-decoration: none;
    }
  }
}
.row{
  padding: inherit;
  width: inherit;
}
.item{
  border: none;
  background-color: transparent;
  white-space: initial;
  padding: inherit;
  &.active{
    background-color: transparent;
  }
  h5{
    overflow: visible;
    white-space: nowrap;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: @fontfamily-general;

  .lng-cn & {
    font-family: @fontfamily-cn;
  }
}

textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] {
  border: 1px solid @color-grey-darker; 
}
