.info-language {
	text-align: center;
	padding: 0!important;

	> ul {
		padding-left: 0;
		margin-top: 0;
		margin-bottom: 0;
		overflow: hidden;

		> li {
			list-style: none;
			display: inline-block;
			width: 50%;

			&:first-child {
				margin-left: 0;

				> a {
					padding-left: 0;
					border-left-width: 0;
				}
			}
			
			> a {
				display: block;
				padding: 8px 0;
				color: @color-white;
				background-color: @color-grey-light;

				&:hover {
					text-decoration: none;
				}
				&.link-fn{
					cursor: pointer;
					color: @color-grey-darker;
					background-color: @color-white;
				}
			}
		}
	}
}
