.order {
	table {
		width: 100%;
	}

	.orderaction-container {
		text-align: center;
		margin-top: 30px;

		>.btn {
			display: block;
		}
	}

	&.order-receiver {
		.pickuptime {
			margin-top: 10px;
			border-top: 1px solid @color-black;
		}
	}

	&.order-confirm {
		.payment-box {
			> div {

				> h4 {
					border-top: 1px solid @color-black;
					padding-top: 15px;
					margin-top: 15px;
				}
				&:first-child {
					> h4 {
						border-top-width: 0;
						margin-top: 0;
					}
				}

				&.invoice {
					.invoice-sub {
						margin-left: 15px;

						.invoice-inputs {
							margin-top: 15px;
						}
					}
				}

				&.orderconfirm-promotion,
				&.ordersourcecode {
					input {
						width: 60%;
					}
				}
				&.ordersourcecode {
					display: none;
				}

				ul.payment-platform {
					padding-left: 0;
					overflow: hidden;

					> li {
			            list-style: none;
			            float: left;
			            width: 50%;
			            text-align: center;
					}
				}
			}
		}
	}

	.order-summary {
		table {
			td{
				&.name {
					width: 50%;
				}
				&.number-price {
					width: 50%;
				}
			}

		}
	}
}

.popup-changedeliveryaddress{
  > .changedeliveryaddress-action{
    margin-top: 15px;
  }
}