.payment {
	h3 {
		text-align: center;
	}
    .paymentaction-container {
        margin-top: 15px;

        span {
            font-size: @fontsize-4xl;
            color: @color-error;
            vertical-align: middle;
            margin-right: 15px;
        }
    }
}
ul.banklist {
	padding-left: 0;

	> li {
		list-style: none;
		width: 98%;
        margin-left: auto;
        margin-right: auto;
        float: none;
	}

}
.payment-result {
    margin: 0;
}