/*
// - @vcleanse.com
*/

.v-popup-container {
  background-color: @color-white;
  padding: 20px;
  margin: 0 auto;
  border-radius: @border-radius;
}
.popupbox
{
	.popupbox-content {
		width: 100%;
	}
	.popupbox-close
	{
		width: 32px;
		height: 32px;
		right: 0;
		top: 0;
		border-radius: @border-radius;
		overflow: hidden;
		color: @color-white;
		background-color: @color-black;
		text-align: center;
		line-height: 28px;
		font-size: 18px;
		font-weight: bolder;

	    &:hover
	    {
	      text-decoration: none;
	      color: @color-grey-light;
	    }
	}
}

.infobox {
	background-color: @color-white;
	overflow: hidden;
	padding: 30px;
}