.setting {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0, 0, 0, .5);
    z-index:2;
    transition:background-color 300ms ease-in-out;

    > ul {
        width:100%;
        position:absolute;
        left:0;
        bottom:-250px;
        text-align:center;
        transition:all ease-in-out 300ms;
        transform:translate3d(0, 0, 0);
        padding-left: 0;

        > li {
            border-radius:3px;
            width:auto;
            margin:0 15px 5px;
            overflow:hidden;
            background:@color-white;

            > .setting-blocklink {
                display: block;
                width:100%;
                text-decoration:none;
                cursor:pointer;
                line-height: 2;
                padding: 8px 0;
                border-top: 1px solid @color-grey;

                &:first-child {
                    border-top-width: 0;
                }

                a {
                    display: block;
                }
            }
        }
    }
}
