.stores {

	h1 {
		text-align: center;
	}

	> div {
		margin-top: 20px;
		border-top: 2px solid @color-black;
		padding-top: 20px;

		&.stores-first {
			padding-top: 0;
			border-top-width: 0;
		}
	}

	.stores-content {

		> h2 {
			> strong {
				font-weight: lighter;
				margin-right: 10px;
			}
			> span {
				margin-left: 10px;
			}
		}

		> p {			
			.glyphicon {
				margin-top: 2px;
				margin-right: 5px;
				vertical-align: top;
			}
		}

		> .stores-map {
			padding-left: 22px;
			margin-top: 30px;
		}

	}
}