.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;

	.swipe-wrap {
	    overflow: hidden;
	    position: relative;

		> div {
		    float:left;
		    width:100%;
		    position: relative;

		    > a {
		    	display: block;
		    	
			    > img {
			    	width: 100%;
			    }
		    }
		    > img {
		    	width: 100%;
		    }
		}
	}
}
