/*
// - @vcleanse.com
*/

.tag
{	
    position: absolute;
    top: -24px;
    left: auto;
    right: -10px;
    z-index: 2;
	width: 30px;
	height: 30px;
	padding: 0;
	line-height: 0;
    background-color: transparent;

	> img
	{
		width: 30px;
		height: 30px;
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
}

.tips {
	text-decoration: none;
	text-align: left;
	line-height: 1.2;

	&:hover {
		text-decoration: none;
	}
	.tips-text {
		display: inline-block;
		padding: 0 2px;
		color: @color-white;
		font-size: 12px;
		line-height: 1.2;
		font-weight: 400;
		background: @color-sales;
		font-family: @fontfamily-tag;
	}	
}
