
.wechatshare-cover {
	background: rgba(0, 0, 0, .8) url(../bg/wechatshare.png) right top no-repeat;
	background-size: 320px 280px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1051;
}