<%
    var categories = data.categories;

    var i = 0;
    var iLens = categories.length;

    var j = 0;
    var jLens = categories.length;
%>
<ul class="nav nav-tabs" data-weave="widget/basic/bootstrap-tab">
    <%
        for(i = 0; i < iLens; i++){
            appendCategory(categories[i], i+1, iLens);
        }
    %>
</ul>
<div class="tab-content">
    <%
        for(j = 0; j < jLens; j++){
            appendJuices(categories[j]);
        }
    %>
</div>

<% function appendCategory(category, sequence, lens) { %>
    <li class="<% if (category.IsDefault) { %>active<% } %> <% if (sequence === lens) { %>last<% } %>">
        <% if (category.Id === 0) { %>
            <a href="#category_<%= category.Id %>" data-id="<%= category.Id %>" data-toggle="tab" data-action="customize"><%= category.Name %></a>
        <% } else { %>
            <a href="#category_<%= category.Id %>" data-id="<%= category.Id %>" data-toggle="tab"><%= category.Name %></a>
        <% } %>
    </li>
<% } %>

<% function appendJuices(category) { %>
    <div class="tab-pane <% if (category.IsDefault) { %>active<% } %>" id="category_<%= category.Id %>">
        <div class="cleanse-about">
            <%=(category.Description || "&nbsp;")%>
        </div>
        <div class="cleanse-cols cf" data-weave="widget/juice/juices/main(categoryId)" data-category-id="<%= category.Id %>"></div>
    </div>
<% } %>
