<%
  var CACHE_SERVER = data.cacheServer;
  var PATH_CHECKLIST = "/download/VCLEANSE-checklist.pdf";
%>
<div class="download-content download-checklist cf float-abs">
  <div class="download-thumbnail col-l"></div>
  <div class="download-main col-l">
    <h3 data-weave="widget/blurb/main(1227)">VCLEANSE Checklist</h3>
    <p data-weave="widget/blurb/main(1231)">Click to download:</p>
    <p>
        <span>&rsaquo;</span>
        <a href="<%=CACHE_SERVER + PATH_CHECKLIST%>" target="_blank" data-action="download">
          <span data-weave="widget/blurb/main(1230)">VCLEANSE checklist</span>
        </a>
    </p>
  </div>
</div>
