<div class="popupbox-cover" style="
    position: <%= (data.position || "fixed") %>;
    z-index: <%= (data.zIndex || 1) %>;
    background-color: <%= (data.bgColor || "#000") %>;
    opacity: <%= (data.opacity || 0.8) %>;
    _filter: alpha(opacity=<%= (data.opacity || 0.8) * 100 %>);
    margin-top: <%= (data.top || 0) %>px;
">
    <% if (data.keySupport) { %>
        <style>
            input.popupbox-keysupport
            {
                width: 1px;
                height: 1px;
                border-width: 0;
                overflow: hidden;
                background-color: transparent;
                outline: none;
                position: absolute;
                top: -1px;
            }
        </style>
        <input class="popupbox-keysupport" type="text" />
    <% } %>
</div>
<div class="popupbox" style="
    position: <%= (data.position || "fixed") %>;
    z-index: <%= (data.zIndex || 1) %>;
    margin-top: <%= (data.top || 0) %>px;
">
    <div class="popupbox-main" <% if(data.closeble){ %>data-action="closepopupbox"<% } %> style="
        height: 100%;
        <% if(!data.fullSize) { %>
            text-align: center;
        <% } %>
    ">
        <% if(!data.isInnerClose) { closeButton(data.hasCloseButton); } %>
        <div class="popupbox-content popupbox-out" style="
            <% if(!data.fullSize) { %>
                text-align: left;
                display: inline-block;
                *display: inline;
                *zoom: 1;
            <% } %>
        ">
            <% if(data.isInnerClose) { closeButton(data.hasCloseButton); } %>
        </div>
    </div>
</div>

<% function closeButton(exist) { %>
    <% if (exist) { %>
        <style>
            .popupbox-close
            {
                position: absolute;
                right: 0;
                top: 0;
                cursor: pointer;
            }
        </style>
        <a class="popupbox-close hidden-print" title="Close">&times;</a>
    <% } %>
<% } %>
<style>
    style
    {
        display: none;
    }
    /*
    * Animation for pop effect
    */
    /* No animation */
    .popupbox-in
    {
        visibility: visible;
    }
    .popupbox-out
    {
        visibility: hidden;
    }
    /* With animation */
    .popupbox-pop {
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
    }
    .popupbox-pop.popupbox-in {
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0 30px #666;
        -webkit-transform: scale(1);

        -webkit-animation-name: popin;
        -moz-animation-name: popin;
        -webkit-animation-duration: 200ms;
        -moz-animation-duration: 200ms;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
    }
    .popupbox-pop.popupbox-out {
        visibility: visible;
        opacity: 0;
        -webkit-transform: scale(.8);

        -webkit-animation-name: popout;
        -moz-animation-name: popout;
        -webkit-animation-duration: 100ms;
        -moz-animation-duration: 100ms;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
    }
    @-webkit-keyframes popin {
        from {
            -webkit-transform: scale(.8);
            opacity: 0;
        }
        to {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
    @-webkit-keyframes popout {
        from {
            -webkit-transform: scale(1);
            opacity: 1;
        }
        to {
            -webkit-transform: scale(.8);
            opacity: 0;
        }
    }
    /* evc style */
    .popupbox-cover,
    .popupbox
    {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .popupbox-main,
    .popupbox-content
    {
        position: relative;
    }
    .popupbox-main
    {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .popupbox-content
    {
        -webkit-transition: margin-top .3s ease-out;
        -moz-transition: margin-top .3s ease-out;
        -o-transition: margin-top .3s ease-out;
        transition: margin-top .3s ease-out;
    }
</style>
