﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner subscription" data-weave="widget/subscription/main"></div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {清体计划,长期预订【真正的冷压清体果汁】}
@section meta_keywrods {清体计划,果汁预订,长期预订,冷压系列,暖体系列,特制清体,单品购买}
@section meta_description {冷压果汁周周伴，三个方案助您美食健康两不误！现在，通过维果清全新订购系统，轻松定制自己的果汁套餐，让吃素变得简单美味！将冷压果汁融入您的生活，成为你健康时尚的Lifestyle！什么样的健康方案更适合您呢？先来看看维果清的三个搭配吧！}
@section blurb {
	_.BLURB = {
		"p1001": {
			"en": "Start Your Healthy Lifestyle!",
			"cn": "开始规划您的健康生活方式吧！"
		},
    "p1002": {
      "en": "You will receive <span class=\"subscription-summary-fill\">{0} ({5}) {1}</span> days a week for next <span class=\"subscription-summary-fill\">{2}</span> weeks, starting <span class=\"subscription-summary-fill\">{3}</span> and ending <span class=\"subscription-summary-fill\">{4}</span>.",
      "cn": "您选择了从 <span class=\"subscription-summary-fill\">{3}</span> 至 <span class=\"subscription-summary-fill\">{4}</span>，为期 <span class=\"subscription-summary-fill\">{2}</span> 周，每周 <span class=\"subscription-summary-fill\">{1}</span> 天的 <span class=\"subscription-summary-fill\">{0}（{5}）</span> 清体计划。"
    },
    "p1003": {
      "en": "You will receive <span class=\"subscription-summary-fill\">{0} {1}</span> days a week for next <span class=\"subscription-summary-fill\">{2}</span> weeks, starting <span class=\"subscription-summary-fill\">{3}</span> and ending <span class=\"subscription-summary-fill\">{4}</span>.",
      "cn": "您选择了从 <span class=\"subscription-summary-fill\">{3}</span> 至 <span class=\"subscription-summary-fill\">{4}</span>，为期 <span class=\"subscription-summary-fill\">{2}</span> 周，每周 <span class=\"subscription-summary-fill\">{1}</span> 天的 <span class=\"subscription-summary-fill\">{0}</span> 清体计划。"
    },
    "p1004": {
      "en": "Individual juices",
      "cn": "自选果汁"
    },
    "p1005": {
      "en": "Select gender",
      "cn": "您的性别是？"
    },
    "p1006": {
      "en": "Select days you'd like to receive juice",
      "cn": "品尝"
    },
    "p1007": {
      "en": "Select duration",
      "cn": "您想将健康生活方式持续多久？"
    },
    "p1008": {
      "en": "Need help making your juice plan? See our top recommendations!",
      "cn": "什么样的健康生活方式更适合您呢？点击查看维果清的三个经典方案吧！"
    },
    "p1009": {
      "en": "Mon",
      "cn": "周一"
    },
    "p1010": {
      "en": "Tue",
      "cn": "周二"
    },
    "p1011": {
      "en": "Wed",
      "cn": "周三"
    },
    "p1012": {
      "en": "Thu",
      "cn": "周四"
    },
    "p1013": {
      "en": "Fri",
      "cn": "周五"
    },
    "p1014": {
      "en": "Sat",
      "cn": "周六"
    },
    "p1015": {
      "en": "Sun",
      "cn": "周日"
    },
    "p1016": {
      "en": "Classic and Slim contain 6 bottles for females and 8 bottles for males. Juice plus a meal contains 4 bottles for females and 5 bottles for males.",
      "cn": "经典套餐、纤体套餐中，男士8瓶/天，女士6瓶/天；清体代餐中，男士5瓶/天，女士4瓶/天。"
    },
    "p1017": {
      "en": "Select a Cleanse or Select Individual Juices",
      "cn": "您是选择现有套餐，还是用单品蔬果汁自行搭配？"
    },
    "p1018": {
      "en": "Order Information",
      "cn": "您亲自制定的健康生活方案如下："
    },
    "p1019": {
      "en": "",
      "cn": ""
    },
    "p1020": {
      "en": "",
      "cn": ""
    },
    "p1021": {
      "en": "",
      "cn": ""
    },
    "p1022": {
      "en": "Add extra hydration",
      "cn": "椰子水和柠檬水是清体的好搭档哦！"
    },
    "p1023": {
      "en": "",
      "cn": ""
    },
    "p1024": {
      "en": "",
      "cn": ""
    },
    "p1025": {
      "en": "",
      "cn": ""
    },
    "p1026": {
      "en": "",
      "cn": ""
    },
    "p1027": {
      "en": "",
      "cn": ""
    },
    "p1028": {
      "en": "<strong>VCLEANSE new 5:2 juice package contains 7 bottles of juices for the female package. The package contains 3 green juices, 2 lemonades, 1 cranberry nut milk and 1 coconut water. The male version contains a total of 9 bottles – with one extra cranberry nut milk and one extra coconut water.</strong>",
      "cn": "新版冷压纤体果汁女生版将从原先的6瓶升级为7瓶，分别是：3瓶各色小绿，2瓶柠檬水，1瓶椰子水，1瓶蔓越莓果奶。其中，椰子水可以在全天任何时间灵活饮用。<br>男生版将从原先的8瓶升级为9瓶，分别是：3瓶各色小绿，2瓶柠檬水，2瓶椰子水，2瓶蔓越莓果奶。其中，一瓶椰子水可以在一天中任何时间解体渴。"
    },
    "p1029": {
      "en": "Created especially for 5:2 dieters, the new 5:2 package is strictly calculated in nutrition and calories. It contains even more colorful choices, yet lower calories than slim package (520 versus 823 for female package, and 730 versus 1250 for male package), making your weekly cleanse easier and flexible.",
      "cn": "新版冷压纤体套餐具有更合理的热量和营养配比，热量控制更低，减脂神器大师清体柠檬水全力加盟，补水好手芬芳椰子水的倾情巨献。柠檬水喝椰子水更可以当零食来喝，让你具有更灵活的清体体验！不仅适合原版冷压纤体的粉丝，且适合5:2轻断食的你！"
    },
    "p1030": {
      "en": "You should at least choose one day to start a subscription!",
      "cn": "预订清体套餐，至少需要选择一天。"
    },
    "p1031": {
      "en": "You should at least choose one product to start a subscription!",
      "cn": "预订清体套餐，至少需要选择一个产品。"
    },
    "p1032": {
      "en": "1 month",
      "cn": "一个月"
    },
    "p1033": {
      "en": "2 months",
      "cn": "两个月"
    },
    "p1034": {
      "en": "3 months",
      "cn": "三个月"
    },
    "p1035": {
      "en": "4 months",
      "cn": "四个月"
    },
    "p1036": {
      "en": "5 months",
      "cn": "五个月"
    },
    "p1037": {
      "en": "6 months",
      "cn": "六个月"
    },
    "p1038": {
      "en": "9 months",
      "cn": "九个月"
    },
    "p1039": {
      "en": "12 months",
      "cn": "一年"
    },
    "p1040": {
      "en": "5:2 dieter",
      "cn": "5:2 轻断食"
    }
	};
}
</div>

@section seo {
  <p>开始规划您的健康生活方式吧！</p><p>1 您每周的哪几天想收到冷压蔬果汁呢？</p><p>周一 周二 周三 周四 周五 周六 周日</p><p>2 您想将健康生活方式持续多久？</p><p>从  至  </p><p>什么样的健康生活方式更适合您呢？点击查看维果清的三个经典方案吧！</p><p>3 您是选择现有套餐，还是用单品蔬果汁自行搭配？</p><p>经典系列</p><p>/</p><p>暖体系列</p><p>/</p><p>特制清体</p><p>/</p><p>单品购买</p><p>冷压经典</p><p>冷压经典</p><p>简单易行的清体入门基础套餐</p><p>- 适合初次体验清体的你</p><p>- 在清体过程中仍希望保持一定健身强度的你</p><p>选择</p><p>冷压纤体</p><p>冷压纤体</p><p>更具挑战的清体套餐</p><p>- 适合经常清体且喜爱小绿口感的你</p><p>- 已有着健康饮食结构的你</p><p>- 想要更纤细身材的你</p><p>选择</p><p>冷压清体代餐</p><p>冷压清体代餐</p><p>简单易行的健康饮食</p><p>- 适合孕期和哺乳期的妈妈们</p><p>- 需要高质量营养和蔬菜补充的成人和孩子们</p><p>- 血压和胆固醇偏高人群</p><p>选择</p> <p>您的性别是？</p><p>男 女  </p> <p>椰子水和柠檬水是清体的好搭档哦！</p> <p>每次配送加一瓶芳香椰子水</p> <p>每次配送加一瓶大师清体柠檬水</p><p>您亲自制定的健康生活方案如下：</p><p>您选择了从 2014/11/10 至 2014/12/15，为期 6 周，每周 1 天的 冷压经典（女） 清体计划。</p><p>总价： ¥ 1800</p><p>暖体经典 V2.0 暖体新品</p><p>暖体经典 V2.0</p><p>经典清体套餐的温暖版</p><p>- 适合初次体验清体，且更爱暖饮的你</p><p>- 体寒胃寒的你</p><p>女士：一日6瓶，男士：一日8瓶</p><p>选择</p><p>暖体纤体 V2.0 暖体新品</p><p>暖体纤体 V2.0</p><p>咸鲜美味的纤体套餐</p><p>- 适合经常清体，但更爱暖饮的你</p><p>- 现有相对轻盈的饮食结构的你</p><p>女士：一日6瓶，男士：一日8瓶</p><p>选择</p><p>暖体清体代餐 V2.0 暖体新品</p><p>暖体清体代餐 V2.0</p><p>简单易行的暖身餐品，</p><p>半断食：代替一日三餐中的两餐</p><p>- 适合孕期和哺乳期的妈妈们</p><p>- 想要用高营养的蔬果汁来补充日常饮食的你</p><p>女士：一日4瓶，男士：一日5瓶</p><p>选择</p> <p>您的性别是？</p><p>男 女  </p> <p>椰子水和柠檬水是清体的好搭档哦！</p> <p>每次配送加一瓶芳香椰子水</p> <p>每次配送加一瓶大师清体柠檬水</p> <p>全绿系列</p><p>全绿系列</p><p>全绿的强化套餐</p><p>- 适合热爱小绿的你</p><p>- 已是清体达人的你</p><p>选择</p><p>大师清体柠檬水</p><p>大师清体柠檬水</p><p>最古老的果汁清体法</p><p>- 适合想要急速强化清体效果的你</p><p>- 我们不推荐一次使用五天以上的大师清体柠檬水清体</p><p>选择</p> <p>您的性别是？</p><p>男 女  </p> <p>椰子水和柠檬水是清体的好搭档哦！</p> <p>每次配送加一瓶芳香椰子水</p> <p>每次配送加一瓶大师清体柠檬水</p><p>翠绿女神汤</p><p>翠绿女神汤</p><p>¥ 50</p><p>+ 更多信息</p><p>经典绿</p><p>经典绿</p><p>¥ 50</p><p>+ 更多信息</p><p>醇厚绿</p><p>醇厚绿</p><p>¥ 50</p><p>+ 更多信息</p><p>芳香绿</p><p>芳香绿</p><p>¥ 50</p><p>+ 更多信息</p><p>加强绿</p><p>加强绿</p><p>¥ 50</p><p>+ 更多信息</p><p>奇亚绿</p><p>奇亚绿</p><p>¥ 50</p><p>+ 更多信息</p><p>抹茶奶</p><p>抹茶奶</p><p>¥ 50</p><p>+ 更多信息</p><p>洛神美颜特饮</p><p>洛神美颜特饮</p><p>¥ 50</p><p>+ 更多信息</p><p>紫甘蓝靓汤</p><p>紫甘蓝靓汤</p><p>¥ 50</p><p>+ 更多信息</p><p>芳香红</p><p>芳香红</p><p>¥ 50</p><p>+ 更多信息</p><p>蔓越莓奶</p><p>蔓越莓奶</p><p>¥ 50</p><p>+ 更多信息</p><p>甜菜根汤</p><p>甜菜根汤</p><p>¥ 50</p><p>+ 更多信息</p><p>甘薯南瓜汤</p><p>甘薯南瓜汤</p><p>¥ 50</p><p>+ 更多信息</p><p>大师清体柠檬水</p><p>大师清体柠檬水</p><p>¥ 25</p><p>+ 更多信息</p><p>醇厚黄</p><p>醇厚黄</p><p>¥ 50</p><p>+ 更多信息</p><p>百香果特饮</p><p>百香果特饮</p><p>¥ 50</p><p>+ 更多信息</p><p>挚爱黄</p><p>挚爱黄</p><p>¥ 50</p><p>+ 更多信息</p><p>热梨生姜特饮</p><p>热梨生姜特饮</p><p>¥ 50</p><p>+ 更多信息</p><p>生姜红萝卜汤</p><p>生姜红萝卜汤</p><p>¥ 50</p><p>+ 更多信息</p><p>柿子养生特饮</p><p>柿子养生特饮</p><p>¥ 50</p><p>+ 更多信息</p><p>印度风味坚果奶</p><p>印度风味坚果奶</p><p>¥ 50</p><p>+ 更多信息</p><p>芳香椰子水</p><p>芳香椰子水</p><p>¥ 35</p><p>+ 更多信息</p><p>经典白</p><p>经典白</p><p>¥ 50</p><p>+ 更多信息</p><p>醇厚白</p><p>醇厚白</p><p>¥ 50</p><p>+ 更多信息</p><p>维老吉</p><p>维老吉</p><p>¥ 50</p><p>+ 更多信息</p><p>经典黑</p><p>经典黑</p><p>¥ 50</p><p>+ 更多信息</p><p>蘑菇“奶油”汤</p><p>蘑菇“奶油”汤</p><p>¥ 50</p>
}
</div>