<div class="row fivetwo">
    <div class="col-md-4">
        <h4 data-weave="widget/blurb/main(p1023)">A more challengeing cleanse for</h4>
        <ul>
            <li data-weave="widget/blurb/main(p1024)">5:2 dieter</li>
            <li data-weave="widget/blurb/main(p1025)">Experienced cleansers</li>
            <li data-weave="widget/blurb/main(p1026)">Light eaters</li>
            <li data-weave="widget/blurb/main(p1027)">Serious dieters (weight loss)</li>
        </ul>
        <br>
        <div>
            <h4><span class="glyphicon glyphicon-play"></span><span data-weave="widget/blurb/main(p1005)">Gender?</span></h4>
            <div data-weave="widget/subscription/gender/main"></div>
        </div>
        <br>
        <div>
            <h4><span class="glyphicon glyphicon-play"></span><span data-weave="widget/blurb/main(p1022)">Want more juice? Add to your package?</span></h4>
            <div data-weave="widget/subscription/addon/main"></div>
        </div>
    </div>
    <div class="col-md-4">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/subscription/52.jpg" alt="5:2" width="100%">
    </div>
    <div class="col-md-4">
        <p data-weave="widget/blurb/main(p1028)">
            VCLEANSE new 5:2 juice package contains 7 bottles of juices for the female package. The package contains 3 green juices, 2 lemonades, 1 cranberry nut milk and 1 coconut water. The male version contains a total of 9 bottles – with one extra cranberry nut milk and one extra coconut water.
        </p>
        <p data-weave="widget/blurb/main(p1029)">
            Created especially for 5:2 dieters, the new 5:2 package is strictly calculated in nutrition and calories. It contains even more colorful choices, yet lower calories than slim package (520 versus 823 for female package, and 730 versus 1250 for male package), making your weekly cleanse easier and flexible.
        </p>
    </div>
</div>
