<div class="option-addon">
    <label>
        <input type="checkbox" data-id="22" data-price="50" class="icheck" data-action="changeaddon">
        <span data-weave="widget/blurb/main(1292)">Purchase Coconut Water</span>
    </label>
</div>
<div class="option-addon">
    <label>
        <input type="checkbox" data-id="20" data-price="25" class="icheck" data-action="changeaddon">
        <span data-weave="widget/blurb/main(1291)">Purchase Spicy Lemonade</span>
    </label>
</div>
