<div class="form-section address-section form-deliveryaddress form-adddeliveryaddress">
	<div class="form-group">
        <label class="col-sm-3 control-label" for="signup-firstname" data-weave="widget/blurb/main(1395)">Receiver name:</label>
	    <div class="col-sm-8">
	        <input type="text" class="form-control" id="signup-firstname" name="signup-firstname" placeholder="Type receiver name here" required autofocus data-weave="widget/blurb/main(1396, 'placeholder')">
	    </div>
	</div>
	
	<div class="form-group">
        <label class="col-sm-3 control-label" for="signup-phonenumber" data-weave="widget/blurb/main(1056)">Mobile:</label>
	    <div class="col-sm-8">
	        <input type="text" class="form-control" id="signup-phonenumber" name="signup-phonenumber" placeholder="Your Contact Number" required data-weave="widget/blurb/main(1134, 'placeholder')">
	    </div>
	</div>
	<div class="form-group">
	    <label class="col-sm-3 control-label" data-weave="widget/blurb/main(1057)">Delivery address:</label>
        <div class="col-sm-8">
	        <div data-action="updateregion" class="region" data-weave="widget/select/region/main(provinceId, cityId, areaId)" data-province-id="0" data-city-id="0" data-area-id="0"></div>
        </div>
	</div>
	<div class="form-group">
        <label class="col-sm-3 control-label" for=""></label>
	    <div class="col-sm-8">
			<input class="form-control" type="text" name="signup-line1" placeholder="Shipping address" required data-weave="widget/blurb/main(1136, 'placeholder')">
		</div>
	</div>
    <div class="form-group">
		<label class="col-sm-3 control-label" for="signup-zipcode" data-weave="widget/blurb/main(1207)">Zip code:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="signup-zipcode" name="signup-zipcode" placeholder="Zip code" data-weave="widget/blurb/main(1208, 'placeholder')">
        </div>
    </div>
</div>
