<%
    var i = 0;
    var iLens = data.length;
    for(i = 0; i < iLens; i++){
        renderAddress(data[i], i);
    }
%>
<form class="form-horizontal" role="form" data-action="addnewaddress">
    <% if (iLens > 0) { %>
        <div class="form-account-addaddress cf text-right" data-action="addaddressvisiblecontrol">
            <button class="btn btn-default btn-lg" data-action="addaddress">
                <i class="glyphicon glyphicon-plus"></i>
                <span data-weave="widget/blurb/main(1067)">Add Another Address</span>
            </button>
        </div>
    <% } %>
    <div class="form-submit hid cf text-right" data-action="submitvisiblecontrol">
        <button type="submit" class="btn btn-default btn-lg btn-action">
            <span data-weave="widget/blurb/main(1079)">SAVE</span>
        </button>
    </div>
</form>
<% function renderAddress(address, index) { %>
<form class="form-horizontal" role="form" data-action="editaddress">
    <div class="form-section address-section form-deliveryaddress" data-id="<%=address.Id%>">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-firstname-<%=index%>" data-weave="widget/blurb/main(1395)">Receiver name:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="signup-firstname-<%=index%>" name="signup-firstname" placeholder="Type receiver name here" required value="<%=address.FirstName%>" <% if (index === 0) {%>autofocus<% } %> data-weave="widget/blurb/main(1396, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-phonenumber-<%=index%>" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="signup-phonenumber-<%=index%>" name="signup-phonenumber" placeholder="Your Contact Number" required value="<%=address.Mobile%>" data-weave="widget/blurb/main(1134, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" data-weave="widget/blurb/main(1057)">Delivery address:</label>
            <div class="col-sm-8">
                <div data-action="updateregion" class="region" data-weave="widget/select/region/main(provinceId, cityId, areaId)" data-province-id="<%=(address.ProvinceId||0)%>" data-city-id="<%=(address.CityId||0)%>" data-area-id="<%=(address.AreaId||0)%>"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for=""></label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="signup-line1" placeholder="Shipping address" required value="<%=address.Line1%>" data-weave="widget/blurb/main(1136, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-zipcode-<%=index%>" data-weave="widget/blurb/main(1207)">Zip code:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="signup-zipcode-<%=index%>" name="signup-zipcode" placeholder="Zip code" value="<%=(address.ZipCode||'')%>" data-weave="widget/blurb/main(1208, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for=""></label>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-default form-deliveryaddress-updateaddress" data-action="updateaddress">
                    <span data-weave="widget/blurb/main(1069)">Update</span>
                </button>
                <a class="btn btn-default form-deliveryaddress-deleteaddress" data-action="deleteaddress" data-weave="widget/blurb/main(1070)">Delete</a>
                <% if (!address.IsDefault) { %>
                    <a class="btn btn-default form-deliveryaddress-setaddressdefault" data-action="setaddressdefault" data-weave="widget/blurb/main(1071)">Set as default</a>
                <% } else { %>
                    <a class="btn btn-default form-deliveryaddress-setaddressdefault disabled" disabled data-weave="widget/blurb/main(1072)">Default address</a>
                <% } %>
            </div>
        </div>
    </div>
</form>
<% } %>
