﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/banner.css?322232"> 
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/index.css"> 
    
    
        <!-- slider banner -->
        <div class="banner">
            <ul>
                <li><img src="/Areas/MobileSite/Assets/images/index/banner1.jpg"></li>
                <li><img src="/Areas/MobileSite/Assets/images/index/banner2.jpg"></li>
                <li><img src="/Areas/MobileSite/Assets/images/index/banner3.jpg"></li>
            </ul>
        </div>
        <div id="content">

        </div>
        <!-- series -->
        @*<div class='series'>
            <h1>入门套餐</h1>
            <h2>Intro Cleanses</h2>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/warming_package.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>暖体系列入门套餐</span></h1>
            <div class='desc'>精心甄选了坚果、草本等滋养成分，缤纷的色彩，美味的口感，维果清温润呵护您的每一个秋冬日。</div>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/classic_package.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>冷压经典入门套餐</span></h1>
            <div class='desc'>经典中的经典，以多种蔬菜、水果及坚果来源的植物营养帮助您实现清体、纤体的目标，养成良好健康的饮食习惯。</div>
        </div>
        
        <div class='series'>
            <h1>大师套餐</h1>
            <h2>Advanced Cleanses</h2>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/warming_health.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>暖体系列大师套餐</span></h1>
            <div class='desc'>基于入门装的全面营养，大师套装特别融入更多绿色，为您带来更彻底的清体体验。</div>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/warming_deto.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>冷压经典大师套餐</span></h1>
            <div class='desc'>专为清体达人设计的冷压套餐，含有更多清新爽口的绿色蔬果汁，为您的身体提供更纯粹、更天然的蔬果营养！</div>
        </div>
        
        <div class='series'>
            <h1>清体计划</h1>
            <h2>Subscriptions and Custom Plans</h2>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/recommend_package.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>清体推荐计划</span></h1>
            <div class='desc'>我们精心奉上定制化的美味蔬果汁组合，为您开启通往健康生活方式的大门。清体由此开始，给您焕然一新的清爽体验。</div>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/static/img/cleanse/freedom_choose.jpg" alt="">
                <div class='price'>￥300.00</div>                
            </div>
            
            <h1><span>单品自由选择</span></h1>
            <div class='desc'>如果您有处女座般的固执偏好，特定的组合、特定的口味、特定的颜色，维果清的缤纷蔬果汁一样能够满足挑剔的您。</div>
        </div>*@
        
        
        <div class='series'>
            <h1>品质与承诺</h1>
            <h2>Recommend</h2>
        </div>
        <div class='package'>
            <div class='package-img'>
                <img src="/Areas/MobileSite/Assets/images/index/recommend.jpg" alt="">
            </div>
        </div>
        
        
        <div class='series'>
            <h1>品牌使命</h1>
            <h2>Mission</h2>
        </div>
        <div class='package'>
             <div class='desc'>我们专注于创造能让消费者可以更方便的吃到更健康的美味、颜值高、超有营养的果汁和食物。研究显示长期使用新鲜蔬菜和水果会对健康非常有益并能够帮助减少得心脏疾病、糖尿病和癌症的几率。</div>
        </div>
    
    <script src="/Areas/MobileSite/Assets/js/velocity.min.js"></script>
    <script src="/Areas/MobileSite/Assets/js/jquery.event.move.js"></script>
    <script src="/Areas/MobileSite/Assets/js/jquery.event.swipe.js"></script>
    <script src="/Areas/MobileSite/Assets/js/unslider-min.js"></script>
    
    <script src="/Areas/MobileSite/Assets/js/index.js?333" type="text/javascript"charset="utf-8"></script>