﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/clndr.css"> 
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/banner.css?33"> 
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/packageDetail.css">
    
    
        <!-- slider banner -->
        <div class="banner" id="banner">
          
        </div>
        
        <!-- package set info -->
        <div class='set'>
            <h1><span id="date_Title"></span></h1>
            <div class='price'>￥:<span id="date_PackagePrice"></span> / 套</div>
            <div class='sex-selector'><span class='male'>男士</span> <span class="female active">女士</span></div>
            <div class='date-selector'>
                清体时间: <select id='cleanse-dates'></select><button id='btn-dates'>+</button><span class='drink'>共饮用<span id='drink-days'>6</span>天</span>
            </div>
             
        </div>  
        
        <ul class='detail-tab'>
            <li class='tab-desc active' data-tab='product-list'>详情介绍</li>
            <li class='tab-recm'  data-tab='recommend'>清体建议</li>
        </ul>
        <div class='product-list'>
            <p class='package-desc' id="date_Description"></p>
            <h1 class='package-menu'><span>套餐菜单</span></h1>

            <div id="products">

            </div>
            @*<div class='product'>
                <img src="/static/products/cold/intro/ingredients/chiagreen.jpg" alt="">
                <div class='no'><div>01</div></div>
                <h2 class='name'><span>奇亚绿</span></h2>
                <div class='desc'>
                    <label>介绍：</label>
                    <p>她也许是您最需要的一款清体健康蔬果饮品。这款310ml的小绿给你带来百分百的纯蔬果汁清爽口感，喝下一口倍感能量满满，仿佛沉浸在田园清香的氛围中，你焕然一新的一天由奇亚绿为你打开。</p>
                    <label>营养成份：</label>
                    <p>热量129k</p>
                </div>
            </div>
           
           <div class='product'>
                <img src="/static/products/cold/intro/ingredients/chiagreen.jpg" alt="">
                <div class='no'><div>02</div></div>
                <h2 class='name'><span>奇亚绿</span></h2>
                <div class='desc'>
                    <label>介绍：</label>
                    <p>她也许是您最需要的一款清体健康蔬果饮品。这款310ml的小绿给你带来百分百的纯蔬果汁清爽口感，喝下一口倍感能量满满，仿佛沉浸在田园清香的氛围中，你焕然一新的一天由奇亚绿为你打开。</p>
                    <label>营养成份：</label>
                    <p>热量129k</p>
                </div>
            </div>
            
            <div class='product'>
                <img src="/static/products/cold/intro/ingredients/chiagreen.jpg" alt="">
                <div class='no'><div>03</div></div>
                <h2 class='name'><span>奇亚绿</span></h2>
                <div class='desc'>
                    <label>介绍：</label>
                    <p>她也许是您最需要的一款清体健康蔬果饮品。这款310ml的小绿给你带来百分百的纯蔬果汁清爽口感，喝下一口倍感能量满满，仿佛沉浸在田园清香的氛围中，你焕然一新的一天由奇亚绿为你打开。</p>
                    <label>营养成份：</label>
                    <p>热量129k</p>
                </div>
            </div>*@
        </div>
        <div class='recommend'>
            <img src="/Areas/MobileSite/Assets/images/recommond.jpg">
        </div>
        <div class='lay-order-frm fixed'>
            <div class="order-frm">
                <div class='total'>总计金额： ￥ <span id='price'>1800.00</span></div>
                <button id="Buy">立即购买</button>
            </div>
        </div>
        <div class='lay-cal'>
            <div class='cal-close'>X</div>
            <div class="cal-selection"></div>
            <button id='btn-calconfirm'>确认</button>
        </div>
    
        <script src="/Areas/MobileSite/Assets/js/velocity.min.js"></script>
    <script src="/Areas/MobileSite/Assets/js/jquery.event.move.js"></script>
    <script src="/Areas/MobileSite/Assets/js/jquery.event.swipe.js"></script>
    <script src="/Areas/MobileSite/Assets/js/unslider-min.js"></script>
    <script src="/Areas/MobileSite/Assets/js/moment.min.js"></script>
    <script src="/Areas/MobileSite/Assets/js/clndr.js"></script>
    
    <script src="/Areas/MobileSite/Assets/js/packageDetail.js?222" type="text/javascript"charset="utf-8"></script>