<h3>
    <strong data-weave="widget/blurb/main(1031)">Confirm</strong>
    <span data-weave="widget/blurb/main(1032)">Your Order</span>
</h3>
<div class="billlist">
    <table>
        <tr>
            <td data-weave="widget/blurb/main(1033)">Product:</td>
            <td class="number-price">&yen;<%=data.product%></td>
        </tr>
    </table>
</div>
<div class="line-hor"></div>
<div class="billlist billlist-amount">
    <table>
        <tr>
            <td><strong data-weave="widget/blurb/main(1040)">Total:</strong></td>
            <td class="number-price"><strong>&yen;<%=data.total%></strong></td>
        </tr>
    </table>
</div>
<div class="line-hor"></div>
<div class="orderconfirm-action">
    <a class="btn btn-lg btn-default" data-action="submitorder" data-weave="widget/blurb/main(1114)">NEXT</a>
</div>
