<div class="subscribe-form">
    <form class="form-inline cf" role="form" data-action="anonymous-subscribe-email">
        <div class="form-group">
            <input name="subscribe-email" id="subscribe-email" data-action="subscribe-email" type="email" class="form-control input-email" placeholder="Subscribe to VCLEANSE" required value="" data-weave="widget/blurb/main(1411, 'placeholder')">
        </div>
        <button type="submit" class="btn btn-default" data-weave="widget/blurb/main(1403)">Subscribe</button>
    </form>
    <div class="subscribe-success slide hid" data-action="emailsubscribe-success">
        <p class="text-success">
            <span class="glyphicon glyphicon-ok-sign"></span>
            <span data-weave="widget/blurb/main(1412)"></span>
        </p>
    </div>
</div>
