﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
  <div class="page-banner" data-weave="widget/banner/main"></div>
  <div class="col-l page-width-l">
      <div class="page-main">
        <article class="article-cn">
          <h1>关于维果清</h1>
<p>
          <div class="item active">
                <img src="/images/workshop/office_banner_01.jpg?v=6.8.3" data-src="images/workshop/office_banner_01.jpg" alt=""  width="700" >
                <div class="carousel-caption">
                </div>
            </div>
            </p>
          <p>维果清致力于打造全新的健康饮食风尚。我们严格甄选顶级原料，并通过科学严谨的精心细作，为您奉上焕然一新的健康餐饮。研究表明，多吃水果和素菜与多种慢性疾病，包括癌症和心血管疾病的得病几率下降有一定的相关性*。通过我们精心设计的饮食可对健康产生由内而外持久的影响，唤醒健康肤色，让您焕发青春光彩！</p>
          

          <p>维果清将全心为您呈现：</p>
          <p><strong>美味</strong></p>
          <p>在维果清中您不仅尝到健康更能品到美味。为满足您的味蕾，我们的秘密配方就是对新鲜的优质食材不懈的追求和对品质决不妥协的专注。</p>
          <p><strong>营养</strong></p>
          <p>富含多种维他命和矿物质的维果清用满溢的营养助您对抗体内垃圾，让您彻底摆脱束缚。一顿吃下整整一公斤的蔬菜水果去补充营养，这听起来一定是天方夜谭，而维果清仅仅一瓶绿色的果蔬汁既可以帮您实现这个不可思议的目标。每一瓶维果清果汁均在1-4摄氏度的低温环境中采用液压机冷压制成，比其他果汁店常见的果汁多出50%到100%的汁液和营养物质。</p>
          <p><strong>高效</strong></p>
          <p>俗话说吃什么补什么，您饮食的摄入必然会影响您身体的感觉，您的外貌当然还有您的健康。而一次果汁清体不仅仅是帮助您恢复元气的上佳捷径，更有助您长期保持健康。</p>
          <p><strong>便捷</strong></p>
          <p>也许您已经在繁忙的生活和工作中难以抽身，就连顾及平衡的饮食也成为奢侈。维果清全心为忙碌的您定制精美果汁和全面套餐，让您轻松畅饮，享受生活。</p>
          <p><strong>实惠</strong></p>
          <p>维果清严选优质食材、倾心研发、尽心制作，只为向您呈现最完美的健康美食，以非常优惠的价格满足您的味蕾，打造您的健康。对于多人团购，维果清还有更多惊喜奉上。</p>
          <p>*注释：信息来源于<a href='http://www.cdc.gov/nccdphp/dnpa/nutrition/pdf/rtp_practitioner_10_07.pdf' target='_blank'>美国疾病控制与预防中心 </a></p>
<p>
          <div class="item active">
                <img src="/images/workshop/aboutus.jpg?v=6.8.3" data-src="images/workshop/aboutus.jpg?v=6.8.3" alt=""  width="700" >
                <div class="carousel-caption">
                </div>
            </div>
            </p>
          <h1>联系我们</h1>
          
          <p>上海维果清餐饮管理有限公司</p>
          <p>联系地址：上海市徐汇区枫林路485号</p>
          <p>联系电话：4001842779 </p>
        </article>
        <article class="article-en">
          <h1>About VCLEANSE</h1>
          <p>We are a company dedicated to the art of purposeful eating. To eat purposefully is to nourish your body deliberately with foods that help you reach your health goals. Notable benefits of purposeful eating include weight-loss, improved digestion and circulation, greater energy, rejuvenated complexion, and lower blood pressure – just to name a few!</p>
          <p>All of our food and juices are based on these five fundamentals:</p>
          <p><strong>Delicious</strong></p>
          <p>We make sure our healthy nourishment is worth savoring. Our secret? Start with only the freshest and most premium of ingredients, and then unwaveringly dedicate ourselves to pleasing your palate.</p>
          <p><strong>Nutritious</strong></p>
          <p>Our products are created to nourish you with vitamins, nutrients, and minerals while getting rid of all the junk that holds you back. Imagine eating over 1 kg of vegetables and fruits in a sitting - that’s the amount you’ll get in just one bottle of Green juice. All juices are cold-pressed in under a cold-room kept around 4 degrees Celsius with a hydraulic press, so our juices contain up to 50-100% more nutrients than juices from an average juice store juicer.</p> 
          <p><strong>Effective</strong></p>
          <p>You may not be what you eat, but what you eat will certainly affect how you feel, how you look, and your health. A cleanse is the most effective way to feeling and looking good that we know, and it’s good for your long-term health, with research showing that a diet high in fresh vegetables and fruits may reduce your risk of a variety of chronic and systemic diseases, from diabetes, to heart disease, to cancer.</p>
          <p><strong>Convenient</strong></p>
          <p>You are busy living life to the fullest, and we are here to help you. We’ve put a lot of thought and work into our juices and cleanses, so that at the end of the day, all you’ll need to do is drink and enjoy.</p>
          <p><strong>Affordable</strong></p>
          <p>We source premium ingredients and take tremendous care to make our products the best they can be – both for your taste-buds and for you health. We reward volume and group purchases so you can integrate these benefits into your life.</p>
        </article>
      </div>
  </div>
  <div class="col-l page-width-m line-ver-page" data-weave="widget/pageverticalline/main"></div>
  <div class="col-l page-width-r" data-weave="widget/autofollower/main">
      <div class="page-action-ordernow" data-weave="widget/ordernow/main"></div>
      <!--div class="download download-ver">
        <div class="page-r-ver-gap" data-weave="widget/download/brochure/main"></div>
        <div class="page-r-ver-gap" data-weave="widget/download/checklist/main"></div>
      </div-->
  </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {关于维果清【真正的冷压清体果汁】}
@section meta_keywrods {美味,营养,高效,便捷,实惠}
@section meta_description {维果清致力于打造全新的健康饮食风尚。我们严格甄选顶级原料，并通过科学严谨的精心细作，为您奉上焕然一新的健康餐饮。}
</div>