﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="col-l page-width-l">
        <div class="page-main">
            <article>
            <h1>维果清劳动节放假通知</h1> 
            <p>劳动人民最光荣！维果清的员工们也想光荣一下！不过考虑到正在清体的亲们。。。我们还是咬咬牙加班吧！您的清体依旧不会断档哦！但是要注意一下送货时间！节日期间，客服电话繁忙，各位可以通过维果清微信服务号的炫酷人工客服功能抢先咨询哦！（微信公众号搜索：维果清-添加维果清服务号-输入“人工客服”激活一对一咨询、下单服务）</p>
            <p><strong>上海配送：</strong></p>
            <p>配送照旧，不受影响，但是4月30日上午8点起，网站会关闭5月1日、5月2日的订购通道，亲们可以订购5月2日以后的日期；5月2日上午8点起，网站会关闭5月3日、5月4日的订购通道，亲们可以订购5月4日以后的日期。</p>
            <p><strong>北京试运行配送：</strong></p>
            <p>5月1日，亲们会收到<strong>1号、2号两天的果汁</strong>。</p>
            <p>5月3日，亲们会收到<strong>3号、4号两天的果汁</strong>。</p>
            <p><strong>不用担心，使用冷榨液压方法制作的果汁，其中的营养可以保存3-5天之久！</strong></p>
            <p>5月2日、5月4日开始第一天清体的亲们，也会分别在1号、3号收到一天的量，请记得先保存在冰箱中，第二天吃点简单的早餐，让胃部适应一下，中午果汁来了以后在中午开始喝3号果汁，然后按顺序大约每2小时一瓶，睡前3小时喝完6号。把1、2号留到明天早上。</p>
            <p>北京已经开始试运行了？是否可以订购了呢？请登录我们的网站<a href="http://www.vcleanse.com">www.vcleanse.com</a>
            看看，会有惊喜哦！</p>
            <p>5月5日开始都会进行正常配送咯！</p>
            <p><strong>小贴士：</strong>4号周日是工作日哦，亲们的送货地址都填写正确了吗？有没有送到家里去了呢？赶紧检查一下吧！需要更改配送地址的亲，请在5月2号中午前发送邮件到<a href="mailto:question@vcleanse.com">question@vcleanse.com</a>进行更改哦！</p>
          </article>
        </div>
    </div>
    <div class="col-l page-width-m line-ver-page" data-weave="widget/pageverticalline/main"></div>
    <div class="col-l page-width-r" data-weave="widget/autofollower/main">
        <div class="page-action-ordernow" data-weave="widget/ordernow/main"></div>
        <!--div class="download download-ver">
          <div class="page-r-ver-gap" data-weave="widget/download/brochure/main"></div>
          <div class="page-r-ver-gap" data-weave="widget/download/checklist/main"></div>
        </div-->
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>
