﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="col-l page-width-l">
        <div class="page-main" style="text-align: center;">
            <div class="howitworks article-cn">
                <article class="howitworks-list">
                    <h1 class="howitworks-sep-container cf">
                        <div class="howitworks-sep">
                            <span class="howitworks-hollowdrop">何为冷榨液压？</span>
                        </div>
                    </h1>
                    <ul>
                        <li class="howitworks-sep-container cf">
                            <div class="howitworks-sep">
                                <p>
                                    冷榨液压技术是一种在低温环境下以高强度液压萃取纯正果蔬汁的全新技术，所有压榨萃取工艺均在低温环境下完成，保持果汁的冷鲜。维果清全不锈钢冷榨液压机通过高强液压，通过缓慢挤压，将蔬果汁与果渣完美分离。而我们见过的高级别的橄榄油正是通过这种技术萃取的。
                                </p>
                                <p>
                                    普通果汁店中使用的榨汁机一般都为离心式榨汁机，这种依靠高速旋转打榨果汁的机器在运行中会产生大量的热量，暴露在氧气之中的果汁会在热量催化下迅速氧化，营养成分也会随之流失。塑料外壳的普通榨汁机应付普通的家用尚可，但是果汁的营养成分与高强液压机出品的果汁却完全无法相比。
                                </p>
                                <p>
                                    除此以外，维果清果汁生产的所有环节均在4摄氏度左右的低温冷库中完成。这不仅完全符合美国鲜榨果蔬汁的安全标准，并能更好的留存果汁的精细口感和丰富营养。
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="howitworks-list">
                    <h1 class="howitworks-sep-container cf">
                        <div class="howitworks-sep">
                            <span class="howitworks-hollowdrop">为什幺要选择冷榨液压？</span>
                        </div>
                    </h1>
                    <ul>
                        <li class="howitworks-sep-container cf">
                            <div class="howitworks-sep">
                                <p>
                                    <strong>营养满溢</strong><br>
                                    冷榨液压果汁的营养含量绝非普通果汁可同日而语。冷榨液压技术可最大程度避免果蔬汁与空气接触而发生氧化，为您展现果蔬汁精制口感的同时完美留存果蔬中的多种有益酶和丰富营养成分。利用冷榨液压技术萃取出的无残渣果汁比离心式榨汁机和其他果汁店常见的果汁多50%到100%的汁液和营养物质。国际领先的癌症替代治疗中心给患者服用的顶级营养果汁正是采用同类型的技术制成。以普通工艺榨取的果汁必须在1小时内饮用，否则将快速氧化，营养大量流失，而采用冷榨液压技术萃取的维果清果汁可在冷藏环境中保存3天之久。
                                </p>
                                <p>
                                    <strong>精致口感</strong><br>
                                    冷榨液压所萃取的果蔬汁口感是普通工艺下出产的果汁所完全无法比拟的，精致的口感和细腻的味触都在这种缓慢的萃取工艺中被完美留存。无果渣留存的果蔬汁口感顺滑醇厚，细腻无比。
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="howitworks article-en">
                <article class="howitworks-list">
                    <h1 class="howitworks-sep-container cf">
                        <div class="howitworks-sep">
                            <span class="howitworks-hollowdrop">What is Cold-Pressed? </span>
                        </div>
                    </h1>
                    <ul>
                        <li class="howitworks-sep-container cf">
                            <div class="howitworks-sep">
                                <p>
                                    "Cold-press" is a method of making juice that uses high pressure to extract juice so the temperature during juicing remains cold. A true cold-press machine must have a press, so immense pressure can be exerted to separate juice from pulp. Our stainless steel hydraulic press uses high pressure to slowly squeeze out juice from the pulp of vegetables and fruits. This is the same method used to make premium olive oil.
                                </p>
                                <p>
                                    The typical juicer found in a juice store is a centrifugal juicer, which spins at high speeds, exposing juices to greater heat and oxygen. Plastic "slow-juicers" are fine for home use, but do not provide the nutrient and juice extraction strength of an industrial hydraulic press.
                                </p>
                                <p>
                                    In addition to using a hydraulic press, we also press our juices in a refrigerated cold room kept around 4 degrees Celsius. This conforms to US standards for fresh juice safety, and helps us preserve the delicate flavors and nutrients in juices.
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="howitworks-list">
                    <h1 class="howitworks-sep-container cf">
                        <div class="howitworks-sep">
                            <span class="howitworks-hollowdrop">Why is Cold-Pressed Important?</span>
                        </div>
                    </h1>
                    <ul>
                        <li class="howitworks-sep-container cf">
                            <div class="howitworks-sep">
                                <p>
                                    <strong>Nutrition</strong><br>
                                    Cold-pressed juices are more nutrient-dense juices. There is a minimum of heat and mixing of air with juices during a hydraulic cold-press process. Enzymes and nutrients are thus better preserved, and juices are subject to minimal oxidation. Up to 100% more juice and nutrients are extracted. This is the same type of technology used by leading alternative cancer treatment centers to provide the most nutrient-dense juice to patients. Juices made using other types of juicers should be consumed within the hour or there is significant oxidation and nutrient loss. Juices made via a hydraulic cold-press method will last up to 3 days.
                                </p>
                                <p>
                                    <strong>Taste</strong><br>
                                    Cold-pressed juices taste better. Delicate and subtle flavors are preserved during the slow extraction. The texture of the juice is denser and more refined with less chunk.
                                </p>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
    <div class="col-l page-width-m line-ver-page" data-weave="widget/pageverticalline/main"></div>
    <div class="col-l page-width-r" data-weave="widget/autofollower/main">
        <div class="page-action-ordernow" data-weave="widget/ordernow/main"></div>
        <!--div class="download download-ver">
            <div class="page-r-ver-gap" data-weave="widget/download/brochure/main"></div>
            <div class="page-r-ver-gap" data-weave="widget/download/checklist/main"></div>
        </div-->
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {什么是冷榨液压果汁【真正的冷压清体果汁】}
@section meta_keywrods {冷榨液压,冷榨液压技术,营养满溢,精致口感}
@section meta_description {冷榨液压技术是一种在低温环境下以高强度液压萃取纯正果蔬汁的全新技术，所有压榨萃取工艺均在低温环境下完成，保持果汁的冷鲜。维果清全不锈钢冷榨液压机通过高强液压，通过缓慢挤压，将蔬果汁与果渣完美分离。而我们见过的高级别的橄榄油正是通过这种技术萃取的。}
