
// Shared
@import "../_shared/normalize/normalize.less";
@import "../_shared/font-awesome/font-awesome.less";

body,html {
	background: #EEEEEE;
	font-weight: "黑体", "微软雅黑", Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

@border-color: #ddd;
@bg-color: #EEEEEE;
@bg-header-color: #F8F8F8;
@font-color: #333333;
@font-color-highlight: #BF322F;
@button-color: #71A974;

//Utilities
.none {
	display: none;
}

.red {
	color: #f00;
}

.gray {
	color: #666;
}

.gray-light {
	color: #999;
}

.green {
	color: #83B403;
}

.bold {
	font-weight: bold;
}

.tcenter {
	text-align: center;
}

.tright {
	text-align: right;
}


.cf:before,
.cf:after {
  display: table;
  content: " ";
}
.cf:after {
  clear: both;
}

.clear {
	clear: both;
}


.wrap {
	margin: 0 auto;
	padding: 0;
}

.page {
	border-top: 2px solid #57AF75;
	font-size: 16px;
	color: #333;
}

.header {
	background: #F8F8F8;
	border-bottom: 1px solid #ccc;
	padding: 12px 15px;
}

.link-back {
	color: @font-color;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	float: left;
}

.link-home {
	color: @font-color;
	float: right;
	font-size: 20px;
}

.body {
	padding: 5px;
}

.banner {
	margin-bottom: 5px;
	img {
		width: 100%;
	}
}

.order-wrap {
	margin-bottom: 15px;
	
}

table.order {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	th, td {
		padding: 8px 10px;
		text-align: left;
	}
	th {
		background: #eee;
		border-bottom: 1px solid #ddd;
		&.tright {
			text-align: right;
		}
	}
	td {
		background: #fff;
		border-bottom: 1px solid #ddd;
		&.value {
			text-align: right;
		}
	}
}

table.suborder {
	width: 100%;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	tbody {
		display: none;
	}
	th, td {
		padding: 8px 10px;
		text-align: left;
	}
	th {
		background: #fff;
		border-bottom: 1px solid #ddd;
		&.tright {
			text-align: right;
		}
	}
	td {
		background: #fff;
		border-bottom: 1px solid #ddd;
		&.value {
			text-align: right;
		}
	}
}


.order-action {
	padding: 10px;
}

.shipping-hd {
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 3px;
}

.shipping-routers {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	list-style: none;
}

.shipping-router {
	padding: 10px;
	margin: 0;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 3px;
	list-style: none;
}

.router-point {
	float: left;
	width: 8%;
}

.router-info {
	color: #666;
	float: left;
	font-size: 15px;
	width: 92%;
}

.router-time {
	font-size: 13px;
	color: #999;
}

.btn {
	padding: 12px 30px;
	color: #fff;
	background: #57AF75;
	border-radius: 3px;
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	&:hover,
	&:active {
		background-color: #75BD8E;
	}

}

.btn-block {
	display: block;
}