// account.less
// Account styles
//================================================================

.account-view {
  padding: 30px 0;

  .nav-tabs {
    padding-bottom: 10px;
    border-bottom: 2px solid @color-black;
    li {
      margin-right: 20px;
      a {
        padding: 5px 15px;
        border: none;
        border-radius: @border-radius;
        font-size: @fontsize-5xl;
        color: @color-grey-dark;
      }

      &.active {
        a {
          border: none;
          background: @color-black;
          color: @color-white;
        }
      }
    }
  }

  .account-main {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .address-section {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid @color-grey-darker;
  }

  .the-form {
    width: 50%;
  }

  .order-details {
    .order-summary {
      padding: 10px 20px;
      background: @color-grey-thin;
      margin: 0 0 20px auto;
      width: 40%;
      .subtotal,
      .total {
        table {
          width: 100%;
          td {
            padding: 5px 10px;
          }
          td.name {
            width: 60%;
            text-align: right;
          }
          td.value {
            width: 40%;
            text-align: left;
          }
        }

        padding: 5px 0;
      }
      .total {
        border-top: 1px dotted @color-grey-light;
      }
    }
  }
}