/*
// - @vcleanse.com
*/

ul.banklist {
	margin-left: -1%;
	margin-right: -1%;

	> li {
		text-align: center;
		width: 31.33%;
		overflow: hidden;
		margin-top: 10px;
		margin-left: 1%;
		margin-right: 1%;
		line-height: 50px;
		padding: 0;
		border: 2px solid @color-grey-thin;
		transition: border .4s;
		border-radius: @border-radius;

		&:hover {
			border-color: @color-hover;
		}
		&.active {
			border-color: @color-black;
		}

		> label,
		> img {
			vertical-align: middle;
			margin-bottom: 0;
		}
		> label {
			&.bank-cmbchina,
			&.bank-cmbc,
			&.bank-bankcomm,
			&.bank-ccb,
			&.bank-icbc,
			&.bank-cgbchina,
			&.bank-abchina,
			&.bank-cib,
			&.bank-pingan,
			&.bank-boc,
			&.bank-psbc,
			&.bank-jsbank,
			&.bank-cebbank,
			&.bank-ecitic,
			&.bank-spdb,
			&.bank-srcb,
			&.bank-bankofshanghai,
			&.bank-nbcb,
			&.bank-hccb,
			&.bank-bankofbeijing,
			&.bank-bjrcb,
			&.bank-wzcb {
				background: url("../bg/payment/banklist.png") no-repeat 0 0;
				width: 135px;
				height: 35px;
				overflow: hidden;
			}
			&.bank-icbc {
				background-position: -150px 0;
			}
			&.bank-ccb {
				background-position: -300px 0;
			}
			&.bank-abchina {
				background-position: 0 -40px;
			}
			&.bank-psbc {
				background-position: -150px -40px;
			}
			&.bank-bankcomm {
				background-position: -300px -40px;
			}
			&.bank-cmbchina {
				background-position: 0 -80px;
			}
			&.bank-boc {
				background-position: -150px -80px;
			}
			&.bank-jsbank {
				background-position: 0 -280px;
			}
			&.bank-cebbank {
				background-position: -300px -80px;
			}
			&.bank-ecitic {
				background-position: 0 -120px;
			}
			&.bank-spdb {
				background-position: -150px -120px;
			}
			&.bank-cmbc {
				background-position: -300px -120px;
			}
			&.bank-cib {
				background-position: 0 -160px;
			}
			&.bank-pingan {
				background-position: -150px -160px;
			}
			&.bank-cgbchina {
				background-position: -300px -160px;
			}
			&.bank-srcb {
				background-position: 0 -200px;
			}
			&.bank-bankofshanghai {
				background-position: -150px -200px;
			}
			&.bank-nbcb {
				background-position: -300px -200px;
			}
			&.bank-hccb {
				background-position: 0 -240px;
			}
			&.bank-bankofbeijing {
				background-position: -150px -240px;
			}
			&.bank-bjrcb {
				background-position: -300px -240px;
			}
			&.bank-wzcb {
				background-position: -150px -280px;
			}
		}
	}
}
.payment-showmorebank {
    font-size: @fontsize-xxl;
    color: @color-link;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
}