.home-character{
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	padding: 10px 0 5px;
	background-color: @color-white;

	ul.character {

		min-height: 120px;

		li {
			width: 25%;
			display: block;
			text-align: center;
		}
	}	
}
