// checkout.less
// Checkout styles
//================================================================

.checkout-view {
  padding: 30px 0;

  nav {
    .nav-tabs {
      padding-bottom: 10px;
      border-bottom: 2px solid @color-black;

      li {
        margin-right: 20px;
        a {
          padding: 5px 15px;
          border: none;
          border-radius: @border-radius;
          font-size: @fontsize-5xl;
          color: @color-grey-dark;
          cursor: default;

          &:hover,
          &:focus {
            background-color: transparent;
          }
        }

        &.active {
          a {
            border: none;
            background: @color-black;
            color: @color-white;
          }
        }
      }
    }
  }

  .order-receiver {
    margin-top: 20px;

    .receiver-box {
      padding: 20px;
      border: 2px solid @color-black;
      margin-bottom: 30px;
      border-radius: @border-radius;
      vertical-align: top;

      h4 {
        text-align: center;
        border-bottom: 2px solid @color-black;
        padding: 15px 0;
        margin: 0 30px 15px;
        font-weight: bold;

        &:first-child {
        }
      }

      .the-form {
        width: 60%;
        margin: 0 auto;
      }
      .form-section {
        margin-bottom: 20px;
        border-bottom: 1px solid @color-grey-light;
        &.no-border,
        &.last {
          border-bottom: none;
        }
      }
    }
  }

  .order-payment {
    margin-top: 20px;

    .payment-box {
      width: 60%;
      margin: 0 auto;
      border: 2px solid @color-black;
      padding: 20px;
      margin-bottom: 30px;
      border-radius: @border-radius;

      h4 {
        padding: 0 0 15px 0;
        margin: 0 0 15px;
        border-bottom: 2px solid @color-black;
        text-align: center;
      }
    }

    .payment-row {
      margin-bottom: 20px;
    }

    .order-summary {
      padding: 10px 20px;
      width: 100%;
      .subtotal,
      .total {
        table {
          width: 100%;
          td {
            padding: 5px 10px;
          }
          td.name {
            width: 70%;
            text-align: right;
          }
          td.value {
            width: 30%;
            text-align: left;
          }
        }

        padding: 5px 0;
      }
      .total {
        border-top: 1px dotted @color-grey-light;
      }
    }
  }

  .order-confirm {
    margin-top: 20px;

    .confirm-box,
    .payresult-box {
      width: 60%;
      margin: 0 auto 30px;
    }

    .payresult-box {
      a {
        &:hover {
          text-decoration: none;
        }
      }
      form {
        input[type=email] {
          width: 300px;
        }
      }
      .survey-container {
        margin-top: 30px;
      }

      .payresult-share {
        margin-top: 30px;
      }
      .payresult-checklist {
        margin-top: 30px;
        border-radius: @border-radius;
        border: 1px solid @color-black;
        padding: 10px 30px;
      }
    }
  }
}



