/*
// - @vcleanse.com
*/

.order
{
    .line-hor
    {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .calendar
    {
        .calendar-date
        {
            width: 60%;
            margin-left: 20px;
            border: 1px solid @color-grey-lighter;
            border-radius: 15px;
        }
    }

    .ordercalendar-control
    {
        margin-bottom: 15px;
        text-align: right;

        > a
        {
            margin: 0 10px;
        }
    }
    .ordercalendar
    {
        overflow: hidden;
        border: 1px solid @color-grey-lighter;
        border-radius: @border-radius;

        > table
        {
            width: 100%;
            table-layout: fixed;

            tr
            {
                td
                {
                    width: 14.2857%;

                    .ordercalendar-day
                    {
                        border-top: 1px solid @color-grey-lighter;
                        border-left: 1px solid @color-grey-lighter;
                        text-align: center;

                        .ordercalendar-day-date
                        {
                            padding: 8px 0;
                            color: @color-black;
                        }
                        .ordercalendar-day-main
                        {
                            cursor: pointer;
                            min-height: 160px;
                            padding: 8px 0;
                            border-top: 1px solid @color-grey-lighter;
                            vertical-align: middle;
                            position: relative;

                            .ordercalendar-day-gap
                            {
                                margin-top: 5px;
                            }
                            .ordercalendar-day-sep
                            {
                                width: 10px;
                                height: 1px;
                                overflow: hidden;
                                border-bottom: 1px solid @color-grey-lighter;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            > div.ordercalendar-day-late
                            {
                                margin-top: 40px;

                                > a 
                                {
                                    width: 26px;
                                    height: 26px;
                                    display: inline-block;
                                    *display: inline;
                                    background: url(../bg/icon_forbid.png) center center no-repeat;
                                }
                            }
                            > div.ordercalendar-day-shoppingcart
                            {
                                margin-top: 55px;

                                > a 
                                {
                                    width: 35px;
                                    height: 25px;
                                    display: inline-block;
                                    *display: inline;
                                    background: url(../bg/icon_shoppingcart.png) center center no-repeat;
                                }
                            }
                            > div.ordercalendar-day-linkadd
                            {
                                position: absolute;
                                width: 100%;
                                bottom: 10px;
                                left: 0;
                            }
                            > div.ordercalendar-day-order
                            {
                                > .ordercalendar-day-order-products
                                {
                                    font-size: @fontsize-5xl;

                                    > span 
                                    {
                                        vertical-align: text-bottom;
                                    }
                                }
                                > .ordercalendar-day-delivery-time,
                                > .ordercalendar-day-delivery-address
                                {
                                    width: 100%;
                                    height: 3em;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    &.ordercalendar-day-no-delivery-address
                                    {
                                        color: @color-info;
                                    }

                                    &.ordercalendar-day-delivery-time
                                    {
                                        height: 1.5em;
                                        white-space: nowrap;
                                        word-wrap: break-word;
                                    }
                                }
                            }
                        }

                        &.ordercalendar-day-disable
                        {
                            color: @color-grey;

                            .ordercalendar-day-date
                            {
                                color: @color-grey;
                            }
                            .ordercalendar-day-main
                            {
                                cursor: default;
                            }

                            &:hover
                            {
                                background-color: transparent;
                            }
                        }
                        &:hover
                        {
                            background-color: @color-brand-light;
                        }
                        &.ordercalendar-day-active
                        {
                            background-color: @color-grey-thin;

                            &:hover
                            {
                                background-color: @color-brand-light;
                            }
                        }
                    }

                    &:first-child
                    {
                        .ordercalendar-day
                        {
                            border-left-width: 0;
                        }
                    }
                }

                &:first-child
                {
                    td
                    {
                        .ordercalendar-day
                        {
                            border-top-width: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .order
    {
        .calendar 
        {
            .calendar-date
            {
                margin-left: 0;
                margin-top: 70px;
            }
        }
        .ordercalendar
        {
            overflow: scroll;

            > table
            {
                width: 600px;
            }
        }
    }
}
