// cleanse.less
// Cleanse styles
//================================================================

.cleanse-view {
  padding: 20px 0 0;
  margin-bottom: 30px;

  .cleanse-extinfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 0 0 0 22px;
    font-size: @fontsize-m;
  }

  .nav-tabs {
    border-bottom: 2px solid @color-black;
    padding-bottom: 0;
    margin-bottom: 20px;

    li {
      margin-bottom: 0;
      margin-right: 0;

      a {
        display: block;
        border: 1px solid @color-grey-light;
        padding: 5px 15px;
        color: @color-grey-light;
        text-transform: uppercase;
        text-align: center;
        font-size: @fontsize-10xl;
        font-weight: 300;
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
        border-bottom-width: 0;
        margin-right: -1px;
      }
      &.last a {
        margin-right: 0;
      }
      &.active {
        position: relative;
        z-index: 1;

        a {
          border: 2px solid @color-black;
          border-bottom-width: 0;
          background-color: @color-black;
          color: @color-white;
        }
      }
    }
  }

  .tab-pane {
    .cleanse-about {
      margin: 0 auto;
      color: @color-black;
      font-weight: 300;
      line-height: 1.8;
      min-height: 46px;
      width: 90%;
      text-align: left;
      font-size: 120%;
    }

    .cleanse-cols {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      text-align: center;
      white-space: nowrap;
    }

    .cleanse-col {
      text-align: center;
      width: 32%;
      margin-left: -4px;
      margin-right: 2%;
      display: inline-block;
      white-space: normal;

      &.first {
        margin-left: 0;
      }
      &.last {
        margin-right: 0;
      }
      &.active {
        .inner {
          border: 2px solid @color-black;
        }
      }
      .inner {
        width: 100%;
        border: 2px solid transparent;
        padding: 20px;
        border-radius: @border-radius;
        transition: border .4s;
        cursor: default;

        h2 {
          margin-top: 0;
          position: relative;

          .tag {
            > img {
            }
          }
        }
      }
      .option-days {
        .btn-option {
          .package-days-promotion {
            display: none;
          }
          &.active{
            position: relative;

            .package-days-promotion {
              display: block;
              position: absolute;
              bottom: -2px;
              left: 100%;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
