// detail.less
// Detail styles
//================================================================

.detail-view {
	padding: 30px 0;
    .detail-action-ordernow {
      margin: 30px 0 0;

      &.detail-action-ordernow-cleanse{
        > a {
          margin-left: 25%;
        }
      }
    }
}

.detail-side {
	width: 35%;
	float: left;
    .detail-product-image {
      text-align: center;
      img {
      }

      padding: 50px 0;
      ul.juicebottle-list
      {
        display: inline-block;
      }
    }
}

.detail-main {
	width: 63%;
	float: right;

    .detail-hd {
      h1 {
        font-weight: 300;
        margin: 0 0 15px;
        color: @color-black;
        font-size: 28px;
        text-transform: uppercase;
      }
      p {
        color: @color-grey-dark;
      }
    }
    .detail-groups {
      margin-top: 30px;
    }
    .detail-bd {
      margin-top: 20px;
      h3 {
        color: @color-black;
        margin-top: 0;
        font-size: @fontsize-4xl;
        text-transform: uppercase;
      }
      .nav-tabs {
        width: 20%;
        float: left;
        border: none;
        li {
          float: none;
          margin: 0;

          a {
            background-color: transparent;
          }
          &.active {
            a {
              background: @color-hover;
              border: 0;
              color: @color-white;
            }
          }
        }
        a {
          border: 0;
          color: @color-black;
          text-align: left;
          border-radius: @border-radius;
          margin: 0;
          padding: 10px;
        }
      }

      .tab-content {
        width: 75%;
        float: right;
      }

    }
}


.detail-ingredients {
	margin-bottom: 30px;
}

.detail-description {
	margin-bottom: 30px;
	li {
		list-style: disc inside;
		margin-left: 10px;
	}
}

.detail-nutrition {
	.table-bordered {
		width: 400px;
	}
	.table {
		> tbody > tr > td,
		> thead > tr > th,
		> thead > tr > td {
			line-height: 1.4;
			padding: 2px 5px;
		}
		> tbody > tr > td {
			text-align: right;
		}
		> thead > tr > th strong {
			font-size: 110%;
			font-weight: bold;
			display: block;
			margin-bottom: 8px;
		}
		> thead > tr > th p {
			margin: 0;
		}
		> tbody > tr:first-child > td {
			font-weight: bold;
		}
		> tbody > tr > td:first-child {
			text-align: left;
		}
	}
}