.download
{
  > ul
  {     
    > li 
    {
      margin-top: 30px;
      width: 43%;
      padding-right: 3%;
    }
  }

  &.download-ver
  {
    padding-bottom: 30px;
    
    .download-content
    {
      .download-thumbnail
      {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        height: 88px;
        background-size: 100%;
      }
      .download-main
      {
        h3
        {
          margin-bottom: 0;
        }
      }
    }
    .download-brochure
    {
      .download-thumbnail
      {
        background-image: url(../bg/cover_brochure_m.png);
      }
    }
    .download-checklist
    {
      .download-thumbnail
      {
        background-image: url(../bg/cover_checklist_m.png);
      }
    }
  }

  .download-content
  {
    background-color: @color-grey-thin;
    padding: 10px;

    .download-thumbnail
    {
      margin-right: 15px;
      width: 180px;
      height: 120px;
      background-size: 180px 120px;
      background-positon: left top;
      background-repeat: no-repeat;
    }
    .download-main
    {
      h3
      {
        margin-bottom: 10px;
      }
      p
      {
      }
    }
  }

  .download-brochure
  {
    .download-thumbnail
    {
      background-image: url(../bg/cover_brochure.png);
    }
  }
  .download-checklist
  {
    .download-thumbnail
    {
      background-image: url(../bg/cover_checklist.png);
    }
  }
}