.footer {
    background: @color-grey-thin;
    border-top: 1px solid @color-grey-lighter;
    
    .footer-menu {
        width: 61.5%;
        float: left;
        padding: 40px 0;

        .col {
            width: 33%;
            padding: 0 5%;
            float: left;
            &.nth-2 {
                border-left: 1px solid @color-grey-lighter;
            }
            h5 {
                color: @color-grey-darker;
                margin: 0 0 20px 0;
                white-space: nowrap;
                text-transform: uppercase;
            }
            li {
                line-height: 2;
                font-weight: 300;
                a {
                    color: @color-grey;
                    &:hover {
                        text-decoration: none;
                        color: @color-grey-dark;
                    }
                }
            }
        }
    }
    .footer-contact {
        font-weight: 300;
        float: right;
        width: 38%;
        border-left: 1px solid @color-grey-lighter;

        .contact-info {
            padding: 40px 0 40px 50px;
            color: @color-grey-dark;
            font-size: 12px;
            h3 {
                color: @color-grey-darker;
                font-size: 13px;
                margin: 0 0 20px 0;
            }
            p {
                line-height: 1.6;
                margin-bottom: 15px;
            }
            a {
                color: @color-grey-dark;
                &:hover {
                    text-decoration: none;
                    color: @color-grey-darker;
                }
                &.link-map {
                    color: @color-grey-darker;
                    margin-left: 10px;
                }
            }
        }
    }
}
.copyright {
    padding: 10px 0;
    background: @color-black;
    color: @color-grey;
    text-align: center;
    font-size: 90%;
    margin-bottom: -19px;
    a {
        color: @color-grey;
    }
}
