/*
// - @vcleanse.com
*/

.imagesecuritycode, .imageverificationcode {
    > label {
        display: block;

        &.error {
            clear: both;
        }
    }
    > input {
        width: 70%;
        vertical-align: middle;
        float: left;
        clear: both;
    }
    > img {
        vertical-align: middle;
        cursor: pointer;
        margin-left: 5px;
    }
}

@media screen and (max-width: 480px) {
}