.giftcard-banner {
    width: 100%;
    overflow: hidden;
    text-align: center;

    > img {
        width: 100%;
        height: auto;
        max-width: 1388px;
    }
}
.giftcard-content {
    text-align: center;
    .giftcard-content-title {
        font-size: @fontsize-12xl;
        display: inline-block;
        margin-top: 50px;
        padding: 0 30px;
        border-top:solid 1px @color-grey-lighter;
        border-bottom:solid 1px @color-grey-lighter;
    }
    .giftcard-content-description {
        margin: 5px 0 0 0;
        font-size: @fontsize-4xl;
        color: @color-brown;
    }
    .giftcard-content-info{
      font-size: @fontsize-xxl;
    }
    .giftcard-main {
        margin: 30px 0 100px;
        position: relative;

        .carousel {
          margin-top: 30px;
        }

        .giftcard-item {
          h5 {
              margin-bottom: 20px;
          }
          p {
              position: relative;

              .giftcard-price {
                  position: absolute;
                  display: block;
                  text-align: center;
                  top: 50%;
                  width: 100%;
                  color: @color-golden;
                  font-size: @fontsize-10xl;
                  margin-top: 10px;
              }
              &.buyButton {
                  margin: 15px auto;
                  width: 234px;
                  a {
                      background: none;
                      color: @color-black;
                      border: solid 1px @color-black;
                      &:hover {
                          color: @color-white;
                          background: @color-hover;
                      }
                  }
              }
          }
        }
        .carousel-inner {
            margin: 20px 80px 0;
            width: auto;
            .row{
              margin-top: 40px;
              div p {
                &:last-child {
                  width: 234px;
                  margin: 0 auto;
                  text-align: left;
                  font-size: @fontsize-xxl;
                }
              }
            }
        }

        .carousel-indicators {
            position: static;
            margin-left: auto;
            margin-right: auto;

            li {
                border: solid 1px @color-black;
                border-radius: @border-radius;
                text-indent: 0;
                width: auto;
                min-width: 95px;
                height: auto;
                padding: 8px;
                font-size: @fontsize-6xl;
                color: @color-grey-dark;
                background: @color-white;
                &.active {
                    color: @color-white;
                    background: @color-black;
                }
                &:first-child {
                    margin-right: 50px;
                }
            }
        }
        .carousel-control {
            width: 80px;
            top: 127px;

            &.left {
                background: url('/images/giftcard/icon_left_slim.png') no-repeat left center;
            }
            &.right {
                background: url('/images/giftcard/icon_right_slim.png') no-repeat right center;
            }
        }
    }
}
