.topbar {
    background: @color-black;
    padding: 10px 0;
    color: @color-white;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    
    a {
        color: @color-white;
        &:hover {
            text-decoration: none;
        }
    }
    .follow-us {
        font-weight: 300;
        text-align: center;
        padding: 0 15px 0 0;
        float: left;
        min-height: 22px;
        ul li {
            float: left;
            margin-right: 10px;
        }
        span {
            font-style: italic;
        }
    }
    .info {
        >div {
            margin-left: 30px;
            ul.seplist > li {
                padding-left: 8px;
                padding-right: 8px;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .ico-weixin, .ico-facebook, .ico-weibo, .ico-instagram {
        width: 16px;
        height: 16px;
        display: block;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    .ico-weixin {
        background-image: url(../bg/icon-weixin.png);
    }
    .ico-facebook {
        background-image: url(../bg/icon-facebook.png);
    }
    .ico-weibo {
        background-image: url(../bg/icon-weibo.png);
    }
    .ico-instagram {
        background-image: url(../bg/icon-instagram.png);
    }
}
.header {
    padding: 15px 0 20px;

    .logo {
        padding: 0;
        // margin-top: 0;
        text-align: center;
    }
    .navi {
        padding: 0;
        margin-top: 15px;
        .navi-menu {
            li {
                padding: 0 13px;
                float: left;
                //min-width: 165px;
                text-align: center;
                a {
                    color: @color-black;
                    padding: 5px 15px;
                    text-transform: uppercase;
                    font-size: @fontsize-4xl;
                    letter-spacing: 1px;
                    background-color: transparent;
                    border-radius: @border-radius;
                    white-space: nowrap;
                    &:hover {
                        text-decoration: none;
                        background-color: @color-black;
                        transition: background .2s;
                        color: @color-white;
                    }
                }
            }
        }
    }
}
