// homepage.less
// Homepage styles
//================================================================

.home-slides {
}
.home-event {
  margin-top: 5px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  .col-xs-3 {
    padding-left: 2px;
    padding-right: 2px;

    a {
      display: block;
    }
  }
}
.home-major {
  margin-top: 30px;
  > a {
    display: block;
  }
}
.home-bottles {
  position: relative;
  height: 395px;
  height: auto;
  margin-top: 15px;

  .bottle-list {
    width: 100%;
    text-align: center;
    line-height: 0;

    li {
      display: inline-block;
      padding: 0 0px;
      cursor: pointer;

      > a {
        display: block;
        overflow: hidden;

        > img {
          position: relative;
          bottom: -15px;
          transition: bottom .2s;
        }

        &:hover {
          > img {
            bottom: 0;
          }
        }
        &:active {
          > img {
          }
        }
      }
    }
  }

  .bottle-details {
    background: @color-white;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 360px;
    width: 100%;
    height: auto;

    .nav-tabs {
      float: left;
      width: 15%;
      border: none;
      li {
        display: block;
        float: none;
        margin: 0 auto;
        border: 0;
        padding: 0;
        width: 24px;
        border-bottom: 1px solid @color-grey-light;
        a {
          border: 0;
          display: block;
          width: 24px;
          height: 80px;
          padding: 5px 0;
          background: url(../bg/home-bottle-colors.png) 0 0 no-repeat;
        }
        &:hover,
        &.active {
          a {
            border: 0;
          }
        }
        &.tab-black {
          a {
            background-position: 0 0;
            &:hover {
              background-position: -56px 0;
            }
          }
        }
        &.tab-green {
          a {
            background-position: 0 -80px;
            &:hover {
              background-position: -56px -80px;
            }
          }
        }
        &.tab-white {
          a {
            background-position: 0 -160px;
            &:hover {
              background-position: -56px -160px;
            }
          }
        }
        &.tab-red {
          a {
            background-position: 0 -240px;
            &:hover {
              background-position: -56px -240px;
            }
          }
        }
        &.tab-yellow {
          a {
            background-position: 0 -320px;
            &:hover {
              background-position: -56px -320px;
            }
          }
        }
        &.last {
          border: 0;
        }
        &.active {
          display: none;
        }
      }
    }

    .nav-content {
      float: right;
      width: 80%;
    }

    .tab-pane {
      width: 100%;
      .side {
        float: left;
        text-align: center;
      }
      .main {
        width: 60%;
        float: right;
        padding-right: 5%;
        line-height: 1.8em;
      }
      &.tab-pane-black {
        h3, h5 {
          color: #4D4D4D;
        }
      }
      &.tab-pane-green {
        h3, h5 {
          color: #238C00;
        }
      }
      &.tab-pane-white {
        h3, h5 {
          color: @color-grey-dark;
        }
      }
      &.tab-pane-red {
        h3, h5 {
          color: #C63F53;
        }
      }
      &.tab-pane-yellow {
        h3, h5 {
          color: #E78F4E;
        }
      }
    }

    .btn-back {
      opacity: 0.8;
      position: absolute;
      top: 10px;
      right: 5%;
      font-size: @fontsize-11xl;
      outline: none;
      &:hover {
        opacity: 1;
      }
    }
  }
}
