.hotline
{
  color: @color-black;
  bottom: 0;
  right: 0;

  h5
  {
    text-align: right;
    margin-bottom: 5px;
    white-space: nowrap;
  }
  
  > div
  {
    margin-top: 5px;
    text-align: left;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  
    div.hotline-name
    {
      display: inline-block;
      vertical-align: top;
      min-width: 84px;
      text-align: right;
    }
    div.hotline-val
    {
      display: inline-block;
      min-width: 137px;
      text-align: left;
    }

    .link-tel-help
    {
      font-size: @fontsize-m;
    }
  }
}

@media screen and (max-width: 480px) {
  .hotline
  {
    position: static;

    h5
    {
      text-align: left;
    }
    
    > div
    {
      text-align: left;
    }
  }
}