/*
// - @vcleanse.com
*/

.howitworks
{
  text-align: left;
  padding: 0 30px;

  .howitworks-tips
  {
    text-align: center;
    margin-top: 30px;
  }

  ul.howitworks-whydetox
  {
    > li
    {
      width: 40%;
      margin-top: 5px;
      padding-left: 12px;
      padding-right: 10px;
      background-image: url(../bg/icon_tick.png);
      background-repeat: no-repeat;
      background-position: left 6px;
      font-size: @fontsize-xl;
    }
  }

  article
  {
    font-size: @fontsize-m;
    line-height: 1.6;
    margin-top: 30px;

    h1
    {
      color: @color-black;
      text-align: left;
      font-size: @fontsize-8xl;

      small
      {
        font-size: @fontsize-xxs;
      }
    }

    &.howitworks-list
    {
      h1{
        span{
          padding-top: 7px;
          display: block;

          &.howitworks-hollowdrop
          {
            padding-left: 35px;
            background-image: url(../bg/icon_hollowdrop.png);
            background-repeat: no-repeat;
            background-position: left top;
          }          
        }
      }
    }

    p
    {
      margin: 0;
      text-indent: 0;
    }

    > ul
    {
      li
      {
        margin-top: 15px;
      }
    }
  }

  table
  {
    width: 100%;

    tr 
    {
      td, th 
      {
        padding: 7px;
        vertical-align: top;
        border-left: 1px solid @color-black;

        &:first-child
        {
          border-left-width: 0;
        }
      }
    }
    thead
    {
      tr 
      {
        td, th 
        {
          color: @color-black;
          font-size: @fontsize-l;
        }
      }
    }
    tbody
    {
      tr
      {
        border-top: 1px solid @color-black;

        &:first-child
        {
          border-top-width: 2px;
        }

        td
        {
          &:last-child
          {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .howitworks
  {
    padding: 0 0 220px;

    ul.howitworks-whydetox
    {
      > li
      {
        width: 100%;
      }
    }

    .howitworks-sep-container
    {
      > .howitworks-sep
      {
        width: 100%;
        float: none;
        margin-left: 0;
      }
    }

    article
    {
      &.howitworks-list
      {
        h1{
          span{
              padding-left: 35px;
          }
        }
      }
    }

    table {
      overflow-x: scroll;
    }
  }
}
