/*
// - @vcleanse.com
*/

.invoice
{
	color: @color-black;

	.linebox
	{
		margin-top: 15px;
	}

	.invoice-sub
	{
		margin-left: 27px;

		.invoice-inputs
		{
			margin-top: -6px;
			
			> input
			{
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.invoice
	{
		.linebox
		{
			margin-right: 0;
		}
	}
}