.job {
	padding-bottom: 50px;

	.job-banner {
		> img {
			width: 100%;
		}
	}

	h1 {
		font-size: 30px;
	}

	ul.list-style {
		padding-left: 0;
	}
	ul.list-style,
	ul.list-style > li {
		list-style-type: disc;
		list-style-position: inside;
	}
	ul.list-style > li {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.jobs-list {
		margin-top: 30px;
	}
}
