.juicelist
{
    margin-bottom: 30px;

    ul
    {
        margin-top: 0;
        border-top: 1px solid @color-grey-thin;

        &:first-child {
            margin-top: 0;
            border-top-width: 0;
        }

        > li 
        {
            width: 50%;
            padding: 15px;

            > div {
                white-space: normal;
                text-align: left;
                padding: 15px;
                border: 2px solid transparent;
                transition: border .4s;
                cursor: default;
                border-radius: @border-radius;
                
                .btn {
                    visibility: hidden;
                }

                &:hover {
                    border-color: #000;

                    .btn {
                        visibility: visible;
                    }
                }

                &.juicelist-juice {
                    position: relative;

                    .juicebottle {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        width: 100px;
                        text-align: center;

                    }
                    &:hover {
                        .juicebottle {
                            > a {
                            }
                        }
                    }
                }

                .orderedit-products-text
                {
                    min-height: 120px;
                    padding-left: 100px;

                    a.link-text {
                        color: @color-black;

                        &:hover {
                            color: @color-black;
                            text-decoration: none;
                        }
                    }
                    strong {
                        font-weight: bold;
                        font-size: @fontsize-3xl;
                    }

                    .orderedit-products-name
                    {
                        color: @color-black;

                    }
                    .orderedit-products-price
                    {
                        margin-left: 15px;
                        font-size: @fontsize-m;
                    }
                    .orderedit-products-des
                    {
                        color: @color-grey;
                    }
                }
            }
        }
    }
    > .orderedit-products-seemore
    {
        text-align: center;
    }
}
