/*
// - @vcleanse.com
*/

.juicebottle
{
	line-height: 0;
	display: inline-block;
	*display: inline;
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;

	&.juicebottle-100 {
		width: 44px;
	}

	> a {
		display: block;
		
		> img
		{
			border: none;
			display: inline-block;
		}

		&:hover {
		}
	}
}

.juicebottle-generic
{
	width: 14px;
	height: 48px;
	display: inline-block;
	*display: inline;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../bg/icon_bottle.png);
}

ul.juicebottle-list
{	
  > li 
  {
    line-height: 0;

    &:first-child
    {
      margin-left: 0;
    }
  }
}
