.lng-cn {
    body {
        font-family:"微软雅黑", "黑体", Helvetica, Arial, sans-serif;
    }
    .cleanse-view .tab-pane .cleanse-col .cleanse-intro .cleanse-intro-des {
        min-height: 10em;
    }
    .see-all a {
        font-style: normal;
    }
    .navi .navi-menu li {
        padding: 0 33px;
    }
    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 44%;
    }
}
.lng-en {
    .hotline > div div.hotline-name {
        min-width: 110px;
    }
}
