/*
// - @vcleanse.com
*/

.line-hor
{
	display: block;
	clear: both;
	height: 1px;
	margin: 0;
	overflow: hidden;
	background: url(../bg/line_hor.png) center top no-repeat;
	background-size: 100% 1px;
}

.line-ver-page
{
	background: url(../bg/line_ver.png) 57% 50% no-repeat;
	background-size: 1px 100%;
	min-height: 300px;
}