/*
// - @vcleanse.com
*/

.loading-spinner {
  padding: 20px 0;

  > p 
  {
    color: @color-error;
    text-align: center;
    margin-top: 20px;
    display: none;
  }

  &.error
  {
    > .loading-spinner-logo{

      > .loading-spinner-icon {

        border-top-color:  @color-error;
        border-left-color: @color-error;

        -webkit-animation-play-state: paused;
        -moz-animation-play-state:    paused;
        -ms-animation-play-state:     paused;
        -o-animation-play-state:      paused;
        animation-play-state:         paused;
      }
    }
    > p 
    {
      display: block;
    }
  }

  > .loading-spinner-logo{
    width: 48px;
    height: 48px;
    .horizontal-center;
    background: url(../bg/loading_logo.png) center center no-repeat;

    > .loading-spinner-icon {
      width: 48px;
      height: 48px;
      box-sizing: border-box;

      border:  solid 1px transparent;
      border-top-color:  @color-brand;
      border-left-color: @color-brand;
      border-radius: 100px;

      -webkit-animation: loading-spinner 800ms linear infinite;
      -moz-animation:    loading-spinner 800ms linear infinite;
      -ms-animation:     loading-spinner 800ms linear infinite;
      -o-animation:      loading-spinner 800ms linear infinite;
      animation:         loading-spinner 800ms linear infinite;
    }
  }
}

@-webkit-keyframes loading-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
