/*
// - @vcleanse.com
*/

nav
{	
	min-height: 44px;
	
	.line-hor
	{
		max-width: 690px;
		margin-left: -30px;
	}

	ul.menu-main
	{
		li
		{
			padding: 0 23px 0 24px;
			background: url(../bg/line_ver_nav.png) left center no-repeat;
			
			&:first-child
			{
				padding-left: 0;
				background: none;
			}
			&:last-child
			{
				padding-right: 0;
			}
			a
			{
				display: block;
				color: @color-grey-dark;
				font-size: @fontsize-3xl;
				line-height: @pixel-lineheight-nav;
				border-bottom: 3px solid transparent;

				&:hover
				{
					text-decoration: none;
				}
			}
			&.active a
			{
				font-size: @fontsize-12xl;
				font-weight: bold;
				color: @color-brand;
				border-bottom-color: @color-brand;
			}
		}
	}
	ul.menu-sub
	{
		padding: 8px 0;

		li
		{			
			a
			{
				display: block;
				color: @color-grey-dark;
			}
			strong
			{
				margin-right: 5px;
			}
			&.active a
			{
				color: @color-primary;
			}
		}
		&.menu-sub-step
		{
			li 
			{
				padding: 0 10px 0 24px;
				background: url(../bg/arrow_double_right.png) left center no-repeat;
				
				&:first-child
				{
					padding-left: 0;
					background: none;
				}
				&:last-child
				{
					padding-right: 0;
				}
			}
		}
	}
}