.newsletter {
	padding: 40px 0;
	background-color: @color-grey-thin;
	border-top: 1px solid @color-grey-lighter;

	.subscribe-form {
		width: 640px;
		margin: 0 auto;
		overflow: hidden;

		form {
			.form-group {
				display: block;
				float: left;
				width: 74%;

				> input {
					width: 100%;
					border: 1px solid @color-grey-light;
					border-radius: 0;
					box-shadow: none;
					line-height: 24px;
					height: 36px;
				}
			}
			button {
				display: block;
				float: left;
				width: 25%;
				text-align: center;
				padding: 6px 20px;
				color: @color-white;
				background: @color-grey-light;
				border-radius: 0;
				line-height: 24px;
				height: 36px;

				&:hover {
					background: @color-grey;
				}
			}
		}
		.subscribe-success {
			padding: 6px 20px;
			line-height: 24px;
			height: 36px;
			font-size: @fontsize-xxl;
		}
	}
}
