.notify {
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 154px;
  background: url(../bg/notify/bg_xintiandi.jpg) left bottom repeat-x;
  position: relative;
  display: none;

  .homepage & {
    display: block;
  }

  &.alert {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-radius: 0;
  }

  > .notify-adorn-l {
    width: 143px;
    height: 154px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background: url(../bg/notify/bg_xintiandi_l.png) left bottom no-repeat;
  }
  > .notify-adorn-r {
    width: 271px;
    height: 154px;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    background: url(../bg/notify/bg_xintiandi_r.png) left bottom no-repeat;
  }
  > .notify-link {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    margin-left: -600px;
    line-height: 0;

    > img {
    }
  }

  > button.close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    opacity: 1;
  }
}
