.numbercontroller {
    margin-top: 10px;
    margin-bottom: 10px;

    .numbercontroller-title {
    	font-size: @fontsize-3xl;
    	line-height: 2em;
    }
    .numbercontroller-number {
    	margin-top: 10px;

        .numbercontroller-plus,
        .numbercontroller-minus {
        	display: inline-block;
        	cursor: pointer;
        	background-color: @color-grey-thin;
        	padding: 6px 12px;
        	vertical-align: middle;

        	.glyphicon {
        		color: @color-black;
        	}
        }
        .numbercontroller-input {
        	vertical-align: middle;
        	display: inline-block;
			height: 34px;
			padding: 6px 12px;
			font-size: @fontsize-xxl;
			background-color: @color-white;
			border: 1px solid @color-grey-light;
			border-radius: @border-radius;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		}
    }
    .numbercontroller-total {
    	margin-top: 10px;
    	font-size: @fontsize-3xl;

        .numbercontroller-amount {
        	font-size: @fontsize-4xl;
        }
    }
}
