/*
// - @vcleanse.com
*/

.orderconfirm
{
	margin-left: 2%;
	margin-right: 8%;
	color: @color-black;

	h3
	{
		line-height: @pixel-lineheight-nav;
		margin-bottom: 20px;
	}
	.line-hor
	{
		margin: 15px 0;
	}
	.orderconfirm-action
	{
		margin-top: 20px;
		text-align: right;
	}
	.orderconfirm-help
	{
		margin-top: 20px;
	}
	.orderconfirm-payment
	{
		margin-bottom: 20px;
		text-align: left;

		.orderconfirm-payment-sub
		{
			margin-top: 10px;
			margin-left: 27px;
			
			input[type=radio] {
				margin-right: 5px;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.orderconfirm
	{
		margin-left: 0;
		margin-right: 0;
	}
}