/*
// - @vcleanse.com
*/

.orderdetail
{
	.reminder
	{
		margin-bottom: 30px;
	}
	.orderdetail-topic
	{
		margin-left: 15px;
	}
	.orderdetail-list
	{
		margin-top: 30px;

		ul
		{
			padding: 15px 0;
			border-top: 1px solid @color-grey-thin;

			li 
			{
				width: 50%;

				> div.orderdetail-order
				{
					padding-left: 30px;

					> p.orderdetail-date
					{
						font-size: @fontsize-l;
						color: @color-black;
					}
					&.orderdetail-delivered
					{
						.orderdetail-change
						{
							a 
							{
								color: @color-grey-light;
							}
						}
					}
					.orderdetail-status
					{
						background-color: @color-black;
						display: inline-block;
						*display: inline;
						padding: 0 6px;
						margin-left: 10px;
						color: @color-white;
						font-size: @fontsize-xs;
						vertical-align: middle;
						-webkit-text-size-adjust: none;
					}
				}
				> div.line-hor
				{
					margin: 15px 0;
					width: 90%;
				}

			}
			&:first-child
			{
				padding-top: 0;
				border-top-width: 0;

				li {
					> div.line-hor
					{
						display: none;
					}
				}
			}
		}
	}
	> .line-hor
	{
		margin: 15px 0 20px;
	}
	> .orderdetail-action
	{
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 480px) {
	.orderdetail
	{
		.orderdetail-list
		{
			margin-top: 30px;

			ul
			{
				li 
				{
					&:nth-last-child(2)
					{
						> div.line-hor
						{
							display: block;
						}
					}
				}
			}
		}
		> .orderdetail-action
		{
			button
			{
				margin-top: 15px;
			}
		}
	}
}
