// order.less
// Order styles
//================================================================

.order-view {
  border-top: 1px solid @color-grey-light;
  padding: 30px 50px;
  .order-headline {
    text-align: center;
    h1 {
      line-height: 2;
      width: 60%;
      margin: 0 auto;
      font-weight: 300;
    }
    p {
      width: 60%;
      margin: 0 auto;
      color: @color-grey;
      font-weight: 300;
      line-height: 1.8;
    }
  }
  .order-main {
    margin-top: 30px;
    .order-section {
      border: 1px solid @color-black;
      border-radius: @border-radius;
      margin-bottom: 20px;

      table {
        width: 100%;
        td {
          width: 50%;
        }
      }

      .details {
        width: 48.5%;
        text-align: center;
        vertical-align: middle;
        p {
          width: 80%;
          margin: 0 auto;
          .btn-shopping {
            visibility: hidden;
            position: relative;
            top: 10px;
          }
        }
      }

      &:hover {
        .btn-shopping {
          visibility: visible;
        }
      }
    }
  }
}


