/*
// - @vcleanse.com
*/

.popup-changedeliveryaddress {
	width: 600px;
	padding: 30px 80px;

	h4 {
		text-align: center;
		border-top: 2px solid #000;
		border-bottom: 2px solid #000;
		padding: 15px 0;
		margin-bottom: 15px;
		font-weight: bold;
		margin-top: 30px;

		&:first-child {
			margin-top: 5px;
		}
	}

	.changedeliveryaddress-action {
		margin-top: 30px;
		text-align: center;
	}
}

