/*
// - @vcleanse.com
*/

.orderedit
{
	width: 980px;
	box-sizing: border-box;
	border-width: 2px;
	overflow-y: scroll;

	&.linebox {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	> h5 {
		font-size: @fontsize-4xl;
		text-align: center;
		padding: 15px 0;
		margin: 0;
		border-bottom: 2px solid @color-black;
	}

	> p
	{
		margin-top: 0;
	}

	.orderedit-shopping
	{
		position: relative;

		.orderedit-products-category {
			border-top: 1px solid @color-grey-lighter;

			&:first-child {
				border-top-width: 0;
			}
		}

		.tab
		{
			width: 68%;
		}

		.orderedit-verline
		{
			width: 3.5%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 68%;
			background: url(../bg/line_ver.png) left center no-repeat;
			background-size: 1px 100%;
			min-height: 200px;
		}
		.orderedit-delivery
		{
			width: 100%;
			margin-top: 10px;

			> div
			{
				.standardform
				{
					> div
					{
						margin-top: 20px;
					}
					.orderedit-delivery-address-edit
					{
						margin-top: 10px;
					}
					.btn-group 
					{
						text-align: right;
						margin-top: 10px;
						/*white-space: nowrap;*/
					}

					select,
					input[type=text]
					{
						width: 94%;
					}
					p
					{
						margin-top: 0;
					}

					.orderedit-delivery-title
					{
						color: @color-primary;
						font-size: @fontsize-xl;
						margin-top: 20px;

						&:first-child
						{
							margin-top: 0;
						}
					}
					.orderedit-delivery-content
					{
						margin-top: 10px;
					}
					.form-pickuporder-contact
					{
						> div
						{
							margin-top: 10px;

							> label {
								display: inline-block;
								width: 35%;
								text-align: right;
								vertical-align: top;
								padding-right: 3px;
							}
							> div {
								width: 60%;
								display: inline-block;
								vertical-align: top;
							}

							&:first-child
							{
								margin-top: 0;
							}
						}
					}

					&.form-delivery
					{
					}
					&.form-updateaddress
					{
						ul.updateaddress-addresslist
						{
							> li 
							{
								margin-top: 20px;
								
								ul.updateaddress-action
								{
									float: right;

									> li 
									{
										padding-right: 5px;
										padding-left: 19px;
									}
								}
							}
						}
					}
					&.form-editaddress
					{
						input[type=text],
						select
						{
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
	.orderedit-products-cover
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 66%;
		height: 100%;
		background: rgba(0, 0, 0, .5);
		border-radius: 14px 0 0 14px;
	}
}

@media screen and (max-width: 480px) {
	.orderedit
	{
		width: 360px;

		.orderedit-shopping
		{
			.orderedit-products
			{
				> ul
				{
					> li 
					{
						width: 50%;
						
						.orderedit-products-text
						{
							max-width: 100px;
						}
					}
				}
			}
			.orderedit-verline
			{
				position: static;
				width: 100%;
				min-height: 1px;
				display: block;
				height: 1px!important;
				margin: 20px 0;
				overflow: hidden;
				background: url(../bg/line_hor.png) center top no-repeat;
				background-size: 100% 1px;
			}
		}
		.orderedit-products-cover
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 449px;
			background: rgba(0, 0, 0, .5);
			border-radius: 14px 14px 0 0;
		}
	}
}

@media screen and (max-width: 768px) {
	.orderedit
	{
		width: auto;
		
		ul
		{
			&.hor:not(.float-abs)
			{
				> li
				{
					float: none!important;
					width: auto!important;
				}
			}
		}
		.cf
		{
			&:not(.float-abs)
			{
				> .col-l,
				> .col-r
				{
					float: none!important;
					width: auto!important;
				}
			}
		}

		.orderedit-shopping
		{
			.orderedit-products
			{
				> ul
				{
					> li 
					{
						width: 50%;
					}
				}
			}
			.orderedit-verline
			{
				position: static;
				width: 100%;
				min-height: 1px;
				display: block;
				height: 1px!important;
				margin: 20px 0;
				overflow: hidden;
				background: url(../bg/line_hor.png) center top no-repeat;
				background-size: 100% 1px;
			}
		}
		.orderedit-products-cover
		{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 449px;
			background: rgba(0, 0, 0, .5);
			border-radius: 14px 14px 0 0;
		}
	}
}
