.orderedit-products
{
    margin-top: 10px;
    
    .juice-view {
        padding-top: 0;
    }
    ul
    {
        padding: 10px 0;

        > li 
        {
            width: 20%;

            .numbercontrol
            {
                position: relative;
                min-height: 72px;
                line-height: 72px;
                margin-top: 15px;
                text-align: center;
                width: 16px;

                .numbercontrol-plus,
                .numbercontrol-minus
                {
                    position: absolute;
                    padding: 2px;
                    line-height: 0;
                    left: 50%;
                    margin-left: -6px;

                    .caret-5
                    {
                        border-width: 4px;
                    }

                    &:hover
                    {
                        margin-left: -8px;

                        .caret-5
                        {
                            border-width: 6px;
                        }
                    }
                }
                .numbercontrol-plus
                {
                    top: 0;

                    .caret-5
                    {
                        border-bottom-color: @color-grey-dark;
                    }
                    &:hover
                    {
                        top: -4px;
                    }
                }
                .numbercontrol-minus
                {
                    bottom: 0;

                    .caret-5
                    {
                        border-top-color: @color-grey-dark;
                    }
                    &:hover
                    {
                        bottom: -4px;
                    }
                }
                .numbercontrol-number
                {
                    font-size: @fontsize-xl;
                    color: @color-grey-dark;
                    cursor: default;
                    white-space: nowrap;
                }
            }

            .orderedit-products-times
            {
                margin-top: 15px;
                line-height: 72px;
            }
            .orderedit-products-text
            {
                max-width: 110px;
                margin-top: 15px;

                > p {
                    margin-bottom: 5px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                .orderedit-products-name
                {
                    color: @color-black;
                }
                .orderedit-products-des
                {
                    color: @color-grey;
                }
            }
        }
    }
    > .orderedit-products-seemore
    {
        text-align: center;
    }
}
