/*
// - @vcleanse.com
*/

.cleanse-img {
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	border-radius: @border-radius;

	.cleanse-img-cover
	{
		display: none;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: @color-black;
		opacity: 0.3;
		filter: alpha(opacity=30);
	
		> span
		{
			display: block;
			text-align: center;
			font-size: 300%;
			position: absolute;
			width: 100%;
			top: 50%;
			margin-top: -1em;
			line-height: 2em;
			color: @color-white;
		}
	}

	img {
		width: 100%;
	}
}

.cleanse-intro {
	color: @color-grey-dark;
	text-align: left;
	margin-top: 10px;
	font-size: 12px;
	line-height: 1.6em;

	.cleanse-intro-des {
		min-height: 9em;
		font-size: 110%;

		> ul {
			margin: 0 10px;
			
			> li {
				list-style-type: disc;
				list-style-position: inside;
			}
		}
	}
}
