/*
// - @vcleanse.com
*/

.pagination {
  border-radius: 0;
  li {
    a {
      border-radius: 0 !important;
      color: @color-grey-dark;
      &:hover {
        color: @color-black;
      }
    }
    &.active {
      a {
        background: @color-black;
        color: @color-white;
        border: 1px solid @color-black;
        &:hover {
          background: @color-black;
          border: 1px solid @color-black;
        }
      }
    }
  }
}