/*
// - @vcleanse.com
*/

.payment
{
    h5
    {
        margin-bottom: 15px;

        strong
        {
          color: @color-primary;
        }
    }

    .payment-highlight
    {
        color: @color-primary;
    }

    .line-hor
    {
        max-width: 280px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    ul.payment-platform
    {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .paymentaction-container {
        margin-top: 30px;

        span {
            font-size: @fontsize-4xl;
            color: @color-error;
            vertical-align: middle;
            margin-right: 15px;
        }
    }
}
ul.payment-platform
{
    margin-left: -10px;
    margin-right: -10px;

    li
    {
        margin: 10px;
        margin-top: 0;
    }
    .payment-platform-link
    {
      display: inline-block;
      width: 180px;
      height: 50px;
      overflow: hidden;
      border: 1px solid @color-grey-lighter;
      border-radius: @border-radius;
    }
    span.payment-platform-link {
      width: 108px;
      height: 30px;
    }
    a.payment-platform-link {
      border-width: 2px;

      &:hover {
        background-color: @color-white;
        border-color: @color-hover;
      }
    }
}

.payment-result {
    width: 400px;
    margin: 0;
}