.form-selfpickup-info {
	border-top: 1px solid @color-grey-lighter;
	margin-top: 5px;
	padding-top: 5px;
}

.selfpicupstore {
	label.selfpicupstore-single {
		margin-top: 15px;
	}
	.selfpickupstore-name {
		margin-left: 4px;
	}
	.selfpickupstore-gap {
		margin-left: 30px;
		margin-bottom: 0;
	}
}

.map-container {
	border-radius: @border-radius;
	background-color: @color-white;
	text-align: center;
}