/*
// - @vcleanse.com
*/

.popupbox
{
	.popupbox-close
	{
		width: 32px;
		height: 32px;
		right: 0;
		top: 0;
		overflow: hidden;
		color: @color-white;
		text-align: center;
		line-height: 28px;
		font-size: 18px;
		font-weight: bolder;
		background-color: @color-grey;
		
	    &:hover
	    {
			text-decoration: none;
			color: @color-white;
			background-color: @color-grey-dark;
	    }
	    &:active
	    {
			color: @color-white;
			background-color: @color-grey-darker;
	    }
	}
}

@media screen and (max-width: 768px) {
	.popupbox
	{
		.popupbox-close
		{
			border: none;
			right: 0;
			top: 0;
			background-color: transparent;
		}
	}
}