.order-applypromotion
{
    margin-top: 15px;

    form.form-promotioncode
    {
        > div
        {
            > input
            {
                width: 36%;
                float: left;
            }
            > button 
            {
                height: 2em;
                line-height: 2em;
                margin-left: 10px;
            }
            .order-promotioncode-msg
            {
                font-size: @fontsize-m;
                text-decoration: underline;
                color: @color-error;

                &.order-promotioncode-valid
                {
                    color: @color-black;
                    padding-left: 20px;
                    background: url(../bg/icon_tick_success.png) left center no-repeat;
                }
            }
        }
    }
}