// retrieve-password.less
// Retrieve password styles
//================================================================

.retrieve-password-view {
  padding: 30px 0;
  h2 {
    margin: 0 0 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid @color-black;
    font-size: @fontsize-11xl;
    text-transform: uppercase;
  }

  .the-form {
    padding: 20px;
    width: 40%;
    margin: 0 auto;

  }

  .form-section {
    margin-bottom: 40px;
  }
}