
.search-view {
	background: url(../bg/bg-signup.jpg) center 0 no-repeat;
	padding: 100px 0;
    .searchbox {
      width: 60%;
      background: @color-white;
      padding: 50px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 0 30px #888;
      border-radius: @border-radius;

      form {

        > div {
          margin-top: 50px;
        }

        .the-form {
          float: right;
          width: 100%;
          text-align: left;

          .input-search,
          button {
            font-size: 120%;
          }

          .input-search {
            border: 1px solid #000;
            float: left;
            width: 75%;
            padding: 6px 20px;
            border-radius: 0;
            box-shadow: none;
          }
          button {
            width: 25%;
            text-align: center;
            float: left;
            color: #fff;
            background: #000;
            border-width: 0;
            line-height: 2.6;
            &:hover {
              background: #000;
            }
          }
          .hint {
            color: #000;
            font-size: 12px;
            padding: 10px 0;
            font-style: italic;
          }
        }
      }
    }
}

form.search-verification {
	width: 360px;
	margin: 100px auto;

	.input-group {
		> .input-group-btn {
			> .btn {
				padding-top: 7px;
				padding-bottom: 7px;

				&:not(:last-child):not(.dropdown-toggle) {
					border-top-right-radius: @border-radius;
					border-bottom-right-radius: @border-radius;
				}

				&:hover {
					background-color: @color-black;
				}
			}
		}
	}
}


