// signup.less
// Sign up styles
//================================================================

.signup-view {
  background: url(../bg/bg-signup.jpg) center 0 no-repeat;
  padding: 50px 0;

  h3 {
    padding-bottom: 15px;
    margin: 0 0 15px;
    border-bottom: 2px solid @color-black;
    font-size: @fontsize-11xl;
    text-transform: uppercase;
  }

  .the-form {
    width: 360px;
    background: @color-white;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    left: 20%;
    box-shadow: 0 0 30px @color-grey;
    border-radius: @border-radius;

    &.the-form-success {
      width: 440px;

      .form-inline {
        input {
          width: 200px;
        }
      }
    }
  }

  .form-section {
    margin-bottom: 20px;
  }
}

div.popup-signin {
  max-width: 800px;
  padding: 60px 30px;

  h3 {
    margin-bottom: 30px;
  }
  .popup-signin-new {
    padding-left: 50px;
    padding-right: 50px;

    > p {
      margin-bottom: 15px;
    }
  }
  .popup-signin-form {
    padding-left: 50px;
    padding-right: 50px;
    border-left: 1px solid @color-grey-lighter;
  }
}
