.sociallink {
    a {
        display: inline-block;
        margin: 0 3px;

        > span 
        {
            display: inline-block;
            width: 20px;
            height: 20px;
            overflow: hidden;
            background-position: left center;
            background-repeat: no-repeat;
            vertical-align: middle;

            &.sociallink-wechat {
                background-image: url(../bg/logo_wechat.png);
            }
            &.sociallink-weibo {
                background-image: url(../bg/logo_weibo.png);
            }
            &.sociallink-instagram {
                background-image: url(../bg/logo_instagram.png);
            }
            &.sociallink-facebook {
                background-image: url(../bg/logo_facebook.png);
            }
        }
    }
}
