.stores {
	width: 85%;
	padding-bottom: 50px;
	.horizontal-center();

	> .row {
		margin-top: 40px;
		border-top: 2px solid @color-black;
		padding-top: 40px;

		&.stores-first {
			margin-top: 20px;
			padding-top: 0;
			border-top-width: 0;
		}
	}

	.stores-content {
		> h2 {
			margin-top: 10px;
			margin-bottom: 20px;
			white-space: nowrap;

			> strong {
				font-weight: lighter;
				font-size: @fontsize-xxl;
				margin-right: 10px;
			}
			> span {
				margin-left: 10px;
			}
		}

		> p {
			white-space: nowrap;
			
			.glyphicon {
				margin-top: 2px;
				margin-right: 5px;
				vertical-align: top;
			}
			.stores-content-text {
				display: inline-block;
			}
		}

		> .stores-map {
			padding-left: 22px;
			margin-top: 30px;
		}
	}
}