@border-radius-subscription: @border-radius;

.subscription {
	margin-bottom: 50px;

	> div {
		margin-top: 50px;
	}
		
	.subscription-heading {
		border-bottom: 2px solid @color-black;
	}
	.subscription-heading > h2,
	.subscription-heading > h3,
	.subscription-body {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-group{
		&.option-gender{
			> .btn {
				min-width: 74px;
			}
		}

		> .btn {
			color: @color-black;
			background-color: @color-white;
			border: 1px solid @color-grey-lighter;
			margin: 10px 5px 0;
			border-radius: @border-radius-subscription;
			min-width: 56px;

			&.active {
				background-color: @color-black;
				border-color: @color-black;
				color: @color-white;
			}

			&:not(.dropdown-toggle) {
				&:last-child:not(:first-child),
				&:not(:last-child):not(:first-child),
				&:not(:last-child):first-child {
					border-top-left-radius: @border-radius-subscription;
					border-bottom-left-radius: @border-radius-subscription;
					border-top-right-radius: @border-radius-subscription;
					border-bottom-right-radius: @border-radius-subscription;
				}
			}
		}
	}
	input.form-control,
	select.form-control {
		border-radius: @border-radius-subscription;
		border-color: @color-black;
	}
	.btn {
		border-radius: @border-radius-subscription;
	}

	h3 {
		.badge {
			vertical-align: middle;
			padding-top: 4px;
			padding-bottom: 4px;
			background-color: @color-black;
			margin-right: 5px;
		}
		.subscription-plan-step-title {
			vertical-align: middle;
		}
	}
	h4 {
		.glyphicon {
			&.glyphicon-play {
				margin-right: 5px;
				font-size: @fontsize-s;
			}
		}
	}

	.gender-question {
		color: @color-black;
	}

	/* ----------------------------------------- */
	.subscription-plan {
		margin-top: 0;

		.subscription-body {
			> .row {
				margin-left: -15px;
				margin-right: -15px;

				.subscription-plan-single {
					margin: 10px 5px 0;
					display: inline-block;
				}
			}
		}
	}

	.subscription-package{
		ul.nav-tabs {
			border-bottom-width: 0;

			> li {
				a {
					border-radius: 0;
					border-width: 0;
					border-top: 3px solid transparent;
					font-size: @fontsize-3xl;
					color: @color-grey-dark;

					&:hover,
					&:focus {
						border-width: 0;
						border-top: 3px solid transparent;
						background-color: transparent;
					}
				}
				&.active {
					a {
						color: @color-black;
						border-top: 3px solid @color-black;
						font-weight: bold;
					}
				}

				&.nav-tabs-sep {
				}
			}
		}

		.subscription-packagecategory {
			margin-top: 20px;

			.packagecontainer {
				.packagemain {
					border: 2px solid @color-white;
					border-radius: @border-radius;
					padding: 20px;
					transition: all .4s;
					text-align: center;

					> h2 {
						margin-top: 0;
						position: relative;

						.tag {
						}
					}
				}
				&:hover {
					.packagemain {
						border-color: @color-grey-lighter;
					}
				}
				&.active {
					.packagemain {
						border-color: @color-grey-darker;
						box-shadow: 2px 2px 5px @color-grey;

						.btn {
							background: @color-hover;
							cursor: default;

							&:active {
								box-shadow: none;
							}
						}
					}
				}
			}
		}
		.subscription-subsidiary {
			margin-top: 20px;
		}

		.customize {
			.customize-products-single {
				border: 2px solid @color-white;
				border-radius: @border-radius;
				transition: all .4s;
				padding: 5px;
				margin: 0 5px;

				&:hover {
					border-color: @color-grey-lighter;
				}
				&.active {
					border-color: @color-grey-darker;
					box-shadow: 2px 2px 5px @color-grey-dark;
				}

				.orderedit-products-text {
					max-width: 100px;
				}
			}
		}
	}

	.subscription-result {
		.subscription-summary {
			margin-top: 30px;
			font-size: @fontsize-xl;

			.subscription-summary-fill {
				text-decoration: underline;
			}
		}
		.subscription-total {
			font-size: @fontsize-3xl;

			.subscription-total-money {
				font-size: @fontsize-8xl;
				margin-left: 10px;
			}
		}
	}
}