.bwtab {
	ul.nav-tabs {
		border-bottom: 2px solid @color-black;

		> li {
			margin-bottom: 0;
			
			> a {
				border-width: 0;
				color: @color-black;
				background-color: @color-grey-thin;
				font-size: @fontsize-l;

				&:hover {
					background-color: transparent;
				}
			}
			&.active {
				> a {
					color: @color-white;
					border-width: 0;
					background-color: @color-black;

					&:hover {
						border-width: 0;
					}
				}
			}
		}
	}
}