<%
    var order = data;
%>
<div class="checklist">
    <h5><strong data-weave="widget/blurb/main(1060)">Order details</strong></h5>
    <p>
        <span data-weave="widget/blurb/main(1061)">Order number: </span>
        <span class="text-striking"><strong><%=order.OrderID%></strong></span>
    </p>
    <p>
        <span data-weave="widget/blurb/main(1235)">Total price: </span>
        <span class="text-striking number-price"><strong>&yen;<%=order.Subtotal%></strong></span>
    </p>
    <p class="">
        <span class="" data-weave="widget/blurb/main(1236)">Payment method: </span>
        <span>
            <% renderOrderPayments(order.Id, order.OrderPayments); %>
        </span>
    </p>
    <% if (order.InvoiceInfo.InvoiceType) { %>
        <div class="line-hor"></div>
        <p>
            <span data-weave="widget/blurb/main(1038)">Payment amount:</span>
            <span class="text-striking"><%=order.InvoiceInfo.Amount%></span>
        </p>
        <p>
            <span data-weave="widget/blurb/main(1039)">Payment title:</span>
            <span class="text-striking"><%=order.InvoiceInfo.Title%></span>
        </p>
    <% } %>
    <%
        (function(){
            var i = 0;
            var iLens = order.DeliverList.length;
            for(i = 0; i < iLens; i++){
                renderDailyOrder(order.DeliverList[i]);
            }
        })();
    %>
</div>

<% function renderDailyOrder(dailyOrder) { %>
    <div class="checklist-gap">
        <p>
            <strong><%=dailyOrder.DeliverDate%>,</strong>
            <span><%=dailyOrder.DeliverTime%></span>
        </p>
        <%
            (function(){
                var i = 0;
                var iLens = dailyOrder.ProductList.length;
                for(i = 0; i < iLens; i++){
                    renderDailyProduct(dailyOrder.ProductList[i]);
                }
            })();
        %>
        <% if(dailyOrder.IsSelfPickUp) { %>
            <p>
                <strong data-weave="widget/blurb/main(1058)">Pick up in store</strong>
                <span><%=dailyOrder.StoreInfo.StoreName %></span>
            </p>
            <p>
                <strong data-weave="widget/blurb/main(1128)">Store address:</strong>
                <span><%=dailyOrder.StoreInfo.StoreAddress %></span>
                <% if (dailyOrder.StoreInfo.StoreMapUrl) { %>
                    [<a class="link-fn" data-url="<%=dailyOrder.StoreInfo.StoreMapUrl%>" data-weave="widget/map/main widget/blurb/main(1381)">View map</a>]
                <% } %>
            </p>
        <% } else { %>
            <p><strong data-weave="widget/blurb/main(1066)">To:</strong> <%=dailyOrder.FirstName%> <%=dailyOrder.LastName%>, <%=dailyOrder.Address%></p>
        <% } %>
        <p><strong data-weave="widget/blurb/main(1116)">Tel:</strong> <%=dailyOrder.Mobile%></p>
        <% if(!dailyOrder.IsSelfPickUp && dailyOrder.TrackingNumber) { %>
            <p><strong data-weave="widget/blurb/main(1093)">Tracking number:</strong> <%=dailyOrder.TrackingNumber%></p>
        <% } %>
    </div>
<% } %>
<% function renderDailyProduct(dailyProduct) { %>
    <p>
        <span title="&yen;<%=dailyProduct.TotalPrice%>">
            <strong><%=dailyProduct.Count%></strong> * <%=dailyProduct.ProductName%>
        </span>
    </p>
<% } %>

<%   function renderOrderPayments(orderId,payments){
        for(var i = 0; i< payments.length; i++) { 
            var obj = payments[i];
            var type = obj.PaymentType;
            var typeId = obj.PaymentTypeId;          
            var payment = obj.Payment;
            var isPaid = obj.IsPaid;
            var isOnline = obj.IsOnlinePay;
%>
                <strong><%=type%></strong>&nbsp;
                <strong class="number-price">&yen;<%=payment%></strong>
                <span>
                    <%  if(isPaid===true){%>
                        <strong class="text-status-completed" data-weave="widget/blurb/main(1619)">已 付</strong>
                    <%}else if(isPaid===false){%>
                        <strong class="text-status-unpaid" data-weave="widget/blurb/main(1618)">未 付</strong>
                    <%}%>
                </span>
<% }
    }
%>