﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/juicemonday.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/juicemonday.min.css" />
    }
}
<div class="inner juicemonday">
    <div class="juicemonday-banner">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/banner.jpg" alt="" height="380">
    </div>
    <div class="juicemonday-intro">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/01.jpg" alt="" height="145">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/02.jpg" alt="" height="165">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/03.jpg" alt="" height="165">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/04.jpg" alt="" height="165">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/05.jpg" alt="" height="165">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/06.jpg" alt="" height="165">
    </div>
    <div>
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/07.jpg" alt="" height="50">
    </div>
    <div class="juicemonday-main">
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/08.jpg" alt="" height="100">
        </div>
        <div data-weave="widget/juicemonday/main"></div>
        <div class="juicemonday-text">
            如果您想自由选择配送日期以及套餐口味，请 <a href="/subscription" data-weave="widget/href/main">点击这里</a> 自行搭配<br>
            有任何问题，可拨打热线：<a href="tel:4001842779">4001-842-779</a> 进行咨询
        </div>
    </div>
    <div class="juicemonday-knowledge">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/09.jpg" alt="" height="328">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/10.jpg" alt="" height="213" usemap="#btnworkshop">
        <map name="btnworkshop" id="btnworkshop">
            <area shape="rect" coords="710,60,930,145" href="/workshop" data-weave="widget/href/main" alt="" />
        </map>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {悦己呵护套餐 - 果味悦心，美丽源自内在}
@section meta_keywrods {蔓越莓，坚果奶，石榴，奇亚籽，可可，枸杞}
@section meta_description {悦己呵护套餐 - 果味悦心，美丽源自内在}
@section blurb {
    _.BLURB = {
        "p1001": {
            "en": "女士全断食套餐",
            "cn": "女士全断食套餐"
        },
        "p1002": {
            "en": "女士半断食套餐",
            "cn": "女士半断食套餐"
        },
        "p1003": {
            "en": "男士全断食套餐",
            "cn": "男士全断食套餐"
        },
        "p1004": {
            "en": "男士半断食套餐",
            "cn": "男士半断食套餐"
        },
    };
}
</div>
