<%
var PIC_URL = data.cacheServer + "/images/juice/33x130/";

var byWeek = data.byWeek;
var rules = data.rules;

var products = rules[0].Products;
var i = 0;
var iLens = products.length;
var product;
var count = 0;
%>
<ul class="hor float-abs juicebottle-list list-unstyled">
    <%
        for (i = 0; i < iLens; i++) { 
            product = products[i];
            count = product.Count;
            do {
    %>
        <li>
            <div class="juicebottle">
                <img src="<%=PIC_URL + product.Image%>" alt="<%=product.Name%>" title="<%=product.Name%>" width="33" height="130">
            </div>
        </li>
    <%
                count--;
            } while (count > 0)
        }
    %>
</ul>
