.banner { 
	position: relative; 
	overflow: auto; 
	/*margin-bottom: 4%;*/
}

.banner ul { 
	margin: 0;
	padding:0; 
}

.banner ul li { 
	float: left; 
}
.banner ul li img{
	width:100%;
}
.unslider-nav{
position: relative;
    top: -25px;
    left: 0;
    height: auto;
    overflow: hidden;
}
.unslider-nav ol{
	padding: 0;
    bottom: 0%;
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
}


.unslider-nav ol li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #282e3a;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;
}

.unslider-nav ol li.unslider-active {
    background: #282e3a;
    opacity: 1;
}