

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
h4 {
  width: 75%;
  text-align: center;
  font-family: 'Droid Sans Mono';
  font-weight: normal;
  color: white;
  font-size: 14px;
  margin: 0 auto 1em auto;
  padding: 1em;
  background: #b63642;
}
h5 {
  font-size: 1em;
  font-weight: bold;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.cal-selection {
	margin: 60px auto;
    max-width: 600px;
    font-family: 'Droid Sans Mono';
    font-size: 14px;
    border: 1px solid #bdbebf;
}
.cal-selection .clndr .clndr-controls {
      display: inline-block;
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #bdbebf;
}
.cal-selection .clndr .clndr-controls .month {
  float: left;
  width: 33%;
  text-align: center;
}
.cal-selection .clndr .clndr-controls .clndr-control-button {
  float: left;
  width: 33%;
  text-align: right;
	font-size: 28px;
}
.cal-selection .clndr .clndr-controls .clndr-control-button.rightalign {
  text-align: left;
  width: 34%;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-next-button:hover {
  background: #ddd;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive {
  opacity: 0.5;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-previous-button:hover {
  background: #ddd;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive {
  opacity: 0.5;
}
.cal-selection .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
  background: none;
  cursor: default;
}
.cal-selection .clndr .clndr-table {
  table-layout: fixed;
  width: 100%;
}
.cal-selection .clndr .clndr-table .header-days {
  height: 30px;
  font-size: 10px;
  /*background: #0D70A6;*/
}
.cal-selection .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  /*border-left: 1px solid #000000;
  border-top: 1px solid #000000;*/
  color: #fff;
}
.cal-selection .clndr .clndr-table .header-days .header-day:last-child {
  border-right: 1px solid #000000;
}
.cal-selection .clndr .clndr-table tr {
      height: 52px;
}
.cal-selection .clndr .clndr-table tr td {
  /*vertical-align: top;*/
}
.cal-selection .clndr .clndr-table tr .day {
  /*border-left: 1px solid #000000;
  border-top: 1px solid #000000;*/
  width: 100%;
  height: inherit;
}
.cal-selection .clndr .clndr-table tr .day:hover div {
  /*background: #91c656;*/
}
.cal-selection .clndr .clndr-table tr .day.today div,
.cal-selection .clndr .clndr-table tr .day.my-today div{
  color: #91c656;
    font-size: 18px;
}
.cal-selection .clndr .clndr-table tr .day.today:hover div,
.cal-selection .clndr .clndr-table tr .day.my-today:hover div{
  background: #72c6d8;
}
.cal-selection .clndr .clndr-table tr .day.today.event,
.cal-selection .clndr .clndr-table tr .day.my-today.event {
  /*background: #a7dbc1;*/
}
.cal-selection .clndr .clndr-table tr .day.event div,
.cal-selection .clndr .clndr-table tr .day.my-event div{
  /*background: #B4E09F;*/
 border: 1px solid #b4e09f;
}
.cal-selection .clndr .clndr-table tr .day.event:hover div,
.cal-selection .clndr .clndr-table tr .day.my-event:hover div{
  background: #96d478;
}
.cal-selection .clndr .clndr-table tr .day.inactive,
.cal-selection .clndr .clndr-table tr .day.my-inactive {
  	text-decoration: line-through;
    color: #666;
}
.cal-selection .clndr .clndr-table tr .day:last-child {
  border-right: 1px solid #000000;
}
.cal-selection .clndr .clndr-table tr .day .day-contents {
      box-sizing: border-box;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin: auto;
    line-height: 22px;
}
.cal-selection .clndr .clndr-table tr .empty,
.cal-selection .clndr .clndr-table tr .adjacent-month,
.cal-selection .clndr .clndr-table tr .my-empty,
.cal-selection .clndr .clndr-table tr .my-adjacent-month {
      /* border-left: 1px solid #000000; */
    /* border-top: 1px solid #000000; */
    width: 100%;
    height: inherit;
    /* background: #eee; */
    color: #484d59;	
}
.cal-selection .clndr .clndr-table tr .empty:hover,
.cal-selection .clndr .clndr-table tr .adjacent-month:hover,
.cal-selection .clndr .clndr-table tr .my-empty:hover,
.cal-selection .clndr .clndr-table tr .my-adjacent-month:hover {
  /*background: #ddd;*/
}
.cal-selection .clndr .clndr-table tr .empty:last-child,
.cal-selection .clndr .clndr-table tr .adjacent-month:last-child,
.cal-selection .clndr .clndr-table tr .my-empty:last-child,
.cal-selection .clndr .clndr-table tr .my-adjacent-month:last-child {
  border-right: 1px solid #000000;
}
.cal-selection .clndr .clndr-table tr:last-child .day,
.cal-selection .clndr .clndr-table tr:last-child .my-day {
  border-bottom: 1px solid #000000;
}
.cal-selection .clndr .clndr-table tr:last-child .empty,
.cal-selection .clndr .clndr-table tr:last-child .my-empty {
  border-bottom: 1px solid #000000;
}

.clndr-next-button,
.clndr-previous-button,
.clndr-next-year-button,
.clndr-previous-year-button {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.clndr-next-button.inactive,
.clndr-previous-button.inactive,
.clndr-next-year-button.inactive,
.clndr-previous-year-button.inactive {
  opacity: 0.5;
  cursor: default;
}
