body{
	font-family: "PingFangSC-Regular", sans-serif;
}
li{
	list-style: none;
}

.content{ 
	position:absolute;
	width:100%;
	height:92%;
	top:8%;
	overflow: scroll;
	z-index:97;
}

button{
	color: #fff;
    background-color: #91c656;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 5px;
    border: 0;
    margin: auto 10px;
    width: 80%;
}
button[disabled]{
	background-color: #ccc;
}
.footer{
	height: 120px;
    width: 100%;
    background-color: #2b313e;
    color:#fff;
}

.footer div{
	position: absolute;
    width: 50%;
    height: 50px;
	text-align: center;
        padding: 10px;
    margin: 12px 0;
}
.footer .left{
	border-right:1px solid #666
}

.footer .right{
	right:0;
}

.footer .copyright{
    height: 96px;
    line-height: 132px;
    width: 100%;
}

.welcome{
	position: fixed;
    background-image: url(../images/index/welcome-bg.jpg);
    width: 100%;
    height: 100%;
	top: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
	z-index: 200;
	display:none;
}

.welcome .logo{
	position: absolute;
    top: 35%;
    left: 34%;
    width: 32%;
}

.welcome .mask{
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: #282f3c;
    opacity: .8;
}


