


.series{
	text-align: center;
    padding: 10px 0;
    background-image: url(../images/index/head-fream.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 94px;
    background-size: 60%;
}
 
.series h1, .series h2{
    background-color: #fff;
    width: 40%;
    margin: auto;
    font-size: 22px;
    padding-top: 12px;
    color: #262c38;
    font-weight: bold;
}

.series h2{
	padding-top: 10px;
    font-size: 18px;
    color: #A2A2A2;
    /*width: 35%;*/
    font-weight: normal;
}	

.package{
	width: 92%;
    margin: 4%;
    border: 1px solid #ccc;
}

.package .package-img{
	position: relative;
}
.package img{
	width:100%;
}

.package .package-img .price{
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 30%;
    color: #fff;
    padding: 8px;
    text-align: right;
    background-image: url(../images/index/price-mask.png);
    background-size: 100% 100%;
}

.package h1{
	width: 100%;
    text-align: center;
	font-size: 20px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    background-image: url(../images/index/line.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
	margin-bottom: 0;
}
.package h1 span{
	background-color: #fff;
	padding: 0 10px;
}
	
.package .desc{
	padding: 3% 5%;
	color:#666666;
	padding-bottom: 10%;
}




