.top-bar{
	position: fixed;
    width: 100%;
    height: 8%;
	top: 0;
    background-color: #2a313d;
    background-image: url(../images/logo-text.png); 
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 25%;
	z-index: 98;
}

.top-bar .tap-nav{
	background-image: url(../images/ico-nav.png);
    position: absolute;
    width: 15%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
}

.top-bar .center-hover{
	    position: absolute;
    height: 100%;
    width: 40%;
    left: 30%;
}

nav {
	position: fixed;
    top: 8%;
    opacity: .9;
    width: 100%;

    padding-right: 0;
    height: 92%;
    left: -100%;
	color: #fff;
	overflow: scroll;
	z-index: 98;
}
nav .nav-space{
	position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
}
nav .nav-main{
	background-color: #292f3d;
    width: 85%;
    position: absolute;
    padding: 5%;
    height: 100%;
    overflow: scroll;
}
nav .nav-header{
	border-bottom: 1px solid #fff;
    font-size: 18px;
    padding-bottom: 2%;
}

nav .nav-header span{
	float: right;
    background-image: url(../images/ico-user.png);
    background-repeat: no-repeat;
    padding: 0 4% 0 12%;
    background-size: auto 100%;
    background-position: 0 50%;
    font-size: 16px;
}

#btn-login{}
#btn-login a{
	color:#fff;
}
nav .nav-menu{
	padding-left: 0;
    line-height: 40px;
    font-size: 18px;
}
nav .nav-menu .nav-menu-item{ 
	border-bottom: 1px solid #73777f;
	    background-image: url(../images/ico-expand-sub.png);
	    background-repeat: no-repeat;
    background-position: 95% top;
}

nav a{ 
	color: #fff;
}
nav a:hover{
    color: #fff;
    text-decoration: none;
} 
nav .nav-menu .has-sub{
	background-image: url(../images/ico-expand.png);
    background-repeat: no-repeat;
    background-position: 93% top;
    height: 40px;
    overflow: hidden;
    background-size: 11%;
}

nav .nav-menu .has-sub.expanded{
	background-image: url(../images/ico-collapse.png);
	height:auto;
}



nav .nav-submenu{

}

nav .nav-submenu .nav-submenu-item{
	
}
nav .nav-submenu .nav-submenu-item.has-sub{
	background-image: url(../images/ico-expand-sub.png);
}

nav .nav-submenu .nav-submenu-item.has-sub.expanded{
	background-image: url(../images/ico-collapse-sub.png);
}

nav .nav-subsonmenu{
	
}
nav .nav-subsonmenu .nav-subsonmenu-item{
}


.space{
position: relative;
    margin-top: 12%;
}
	