.switch-button{
	    height: 30px;
}
.switch-button .base{
	border: 1px solid #ccc;
    height: 26px;
    border-radius: 4px;
    position: relative;
    width: 100%;
}
.switch-button .off,.switch-button .on{
	position: relative;
    top: -27px;
	width: 80%;
    text-align: center;
    background-color: #9ccc65;
    height: 28px;
    border-radius: 4px;
    color: #fff;
    line-height: 28px;
}
.switch-button .off{
	float: left;
	background-color: #cccccc;
}
.switch-button .on{
	float: right;
}

.switch-button.on .off{
	display: none;
}
.switch-button.off .on{
	display: none;
}
.address-list{
	
}
.address-list.closed .address-box{
	display:none;
}
.address-list.closed .address-box:first-child{
	display:block;
}
.address-list.expended .address-box{
	display:block;
}


.address-list .address-expend{
	text-align: center;
    color: #ccc;
    background-image: url(../images/ico-arrowdown.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 35px;
    border-bottom: 1px solid #ccc;
}
.address-list.expended .address-expend{
	background-image: url(../images/ico-arrowup.png);
}
.address-box{
	padding: 18px 0 18px 60px;
    background-image: url(../images/ico-location.png);
    background-position: 15px center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    background-size: 30px;
    width: 100%;
}
    

.address-box .line1{
	width: 100%;
}

.address-box .line1 label{
	    width: 24%;
}

.address-box #delivery-name{
	    width: 25%;
	    font-weight: normal;
}

.address-box #delivery-phone{
    text-align: right;
    width: 43%;
    font-weight: normal;
}

.address-box .line2{
	width: 100%;
	
    padding-right: 20px;
    background-image: url("../images/ico-arrowright.png");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: 27px;
}

.address-box .line2 label{
    width: 25%;
}

.address-box .line2 #delivery-address{
    
}
.address-form{
	padding: 0 2%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: none;
}
.address-form .add-close{
	    position: absolute;
    right: 6%;
    top: -6%;
    font-size: 26px;
    color: #fff;
}
.address-form .region{
	
}
.address-form .region select{
	width: 22%;
    margin-right: 8px;
    border: 0;
    font-size: 12px;
}
.address-form .button-bar{
	margin: 20px auto;
	text-align: center;
}

.address-box#btn-newaddress{
	background-image: url(../images/ico-plus.png);
}
.order-info{
	padding: 0 2%;
}

.order-info .header,.address-form .header{
	border-bottom: 1px solid #ccc;
    
    line-height: 45px;
}

.order-info .header label{
        width: 48%;
            font-size: 16px;
            margin: 0;
}

.order-info .header .order-no{
	font-weight: normal;
	text-align: right;
	color:#999999;
	    
}
.order-info .package{
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    height: 200px;
}

.order-info .package .package-img{
	    width: 40%;
    border: 1px solid #ccc;
    float: left;
        margin-right: 10px;
}


.order-info .package h1{
	font-size: 20px;
    width: 100%;
}

.order-info .package .set-info{
	
}

.order-info .package .set-info .set-line{
	
}

.order-info .package .set-info .set-line label{
	
}

.order-info .package .set-info .set-line div{
	
}

.order-info .package .set-price{
	
}

.order-info .package .set-price .set-line{
	
}

.order-info .package .set-price .set-line label{
}

.order-info .package .set-price .set-line .package-price{
}

.order-info .package .set-price .set-line .package-price div{
}

.order-info .coupon{
    line-height: 45px;
    
}
#coupon-box input{
	width: 50%;
}
#coupon-box button{
	width: 10%;
    padding: 0;
    margin: 0;
    position: relative;
    top: 0px;
    font-size: 14px;
    height: 31px;
    line-height: 30px;
}
#coupon-box .tips{
	    width: 36%;
}

.simple-line{
	border-bottom: 1px solid #ccc;
	    line-height: 45px;
}

.simple-line label{
	color: #999;
}
.simple-line textarea{
    width: 100%;
    padding: 0 2%;
}
.simple-line .switch-button{
	    width: 30%;
    float: right;
    margin: 10px 0;  
}
.simple-line input{
	    border: 0;
    width: 50%;
    margin: 1px 0;
}
.simple-line .tips{
	float: right;
    width: 40%;
    text-align: right;
} 

.order-info .set-total{
	line-height: 45px;
    text-align: right; 
    border-bottom: 1px solid #ccc;
} 

.order-info  .set-total label{
	 
}

.order-info  .set-total #set-total{
	
}

.simple-line select{
	float: right;
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.order-frm{
	width: 92%;
    margin: 4%;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.order-frm .total{
    width: 70%;
    float: left;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    color: #91c656;
}

.order-frm .price{
	
}

.order-frm button{
	width: 30%;
    font-size: 18px;
    margin: auto 0px;
    padding: 10px;
    border-radius: 0px 5px 5px 0;
}



#txt-wechat{
	height: 50px;
}


.pay-list{
	padding: 0;
	overflow: hidden;
}

.pay-list li{
	background-image: url(../images/ico-pays.png);
    height: 90px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    padding: 0 20px 0 100px;
    line-height: 90px;
    font-size: 20px;
    color: #666;
    font-weight: bold;
}
.pay-list li .pay-selector{
	width: 50px;
    height: 100%;
    background-image: url(../images/ico-payselector.png);
    background-repeat: no-repeat;
    float: right;
    background-position: 0 -66px;
}

.pay-list li.active .pay-selector{
	background-position: 0 25px;
}
.pay-list #alipay{
	background-position: -2px -7px;;
}
.pay-list #wxpay{
	background-position: -2px -107px;
}
.pay-list #quickpay{
	background-position: -2px -207px;
}
.pay-list #dilpay{
	background-position: -2px -307px;
}

.switch-otherpay{
	text-align: center;
    color: #ccc;
    background-image: url(../images/ico-arrowdown.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 64px;
}

.order-finish-box{
	position: absolute;
	top:8%;
	height:92%;
	width: 100%;
	padding:10px;
	z-index: 100;
	background-color: #fff;
}

.order-finish-box .fream{
	position: relative;
	width:100%;
	height:100%;
	border:1px solid #000;
		text-align: center;
    padding-top: 70px;
}	

.order-finish-box h2{
	    font-size: 22px;
}
.order-finish-box h1{
	    font-size: 24px;
}

.order-finish-box .tips{
	        bottom: 15px;
    position: absolute;
}
.order-finish-box .tips h1{
	    font-size: 20px;
}
.order-finish-box .tips p{
    font-size: 18px;
    color: #C1C2C3;
    padding: 0 10%;
}

.order-finish-box .qr{
	border: 1px solid #ccc;
}


#coupon-box,#swh-invoice-type,#invoice-title{
	display:none;
}
