.set{
	border-bottom:6px solid rgba(212, 215, 220, 0.50);    
}
.set h1,.product-list h1,.product-list h2{
	width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    background-image: url(../images/index/line.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
	margin: 0;  
}
.set h1 span,.product-list h1 span,.product-list h2 span{
	background-color: #fff;
	padding: 0 10px;
}
.set .price{
	color: #91c656;
    width: 100%;
    text-align: center;
    padding: 10px 0 ;
    font-size: 24px;
}

.set .sex-selector{
	text-align: center;
    padding: 10px 0 ;
    font-size: 14px;
    color: #7d7d86;
    height: 40px;
}
.set .sex-selector span{
	background-repeat: no-repeat;
    opacity: .4;
    padding: 6px 20px 6px 30px;
}
.set .sex-selector span.active{
	opacity: 1;
}
.set .sex-selector span.male{
	background-image: url(../images/ico-male.png);
    background-size:26px;
}
.set .sex-selector span.female{
	background-image: url(../images/ico-female.png);
    background-size:26px;
}
.set .date-selector{
	text-align: center;
    padding: 10px 0px 14px 0;
    font-size: 14px;
    font-family:SimHei;
    border-top: 1px solid #bfc1c5;     
    margin: 0 10px;
    line-height: 50px;
}
.set .date-selector span{
	color: #91c656;
}
.set .date-selector select{
	padding: 5px 5px;
}
.set .date-selector #btn-dates{
       position: relative;
       top: 5px;
	width: 30px;
    height: 28px;
    line-height:30px;
    padding: 0;
    /*background-image: url("../images/ico-expand.png");*/
}
.set .date-selector .drink{
	display: none;
} 

.detail-tab{
	width: 100%;
    padding: 0;
    margin-bottom: 20px;
    float: left;
}
.detail-tab li{
	    float: left;
    width: 50%;
    text-align: center;
    border: 1px solid #91c656;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

.detail-tab li.active{
	background-color: #91c656;
    color: #fff;
}

.recommend{
	display: none;	
}

.recommend img{
	width:100%;
}
.product-list{
	
}

.product-list .package-desc{
	padding: 20px;
    color: #666666;
    font-size: 14px;
    font-family:YouYuan;
}

.product-list .package-menu{
	
}

.product-list .product{
	width: 92%;
    margin: 4%;
    border: 1px solid #ccc;
    text-align: center;
}

.product-list .product img{
	width: 100%;
	
}
.product-list .product .no{
    color: #fff;
    border-radius: 40px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid #2a303e;
	margin: 10px auto;
    margin-bottom: 0;
}
.product-list .product .no div{
	border-radius: 40px;
    background-color: #2a303e;
    width: 100%;
    height: 100%;
    font-size: 30px;
    line-height: 68px;
}
.product-list .product .name{
	
}
.product-list .product .desc{
	    padding: 0 30px;
    text-align: left;
}

.product-list .product .desc label{
	float: left;
    padding-right: 10px;
    margin: 0;
}
.product-list .product .desc p{
	
}

.lay-order-frm{
	
	width: 100%;
    background-color: #FFF;
    bottom: 0px;
    z-index: 97;
}

.lay-order-frm.fixed{
	border-top: 1px solid #ccc;
	position: fixed;
}
.order-frm{
	width: 92%;
    margin: 4%;
    border: 1px solid #ccc;
    border-radius: 7px;
    
    bottom: 0px;
    background-color: #fff;
}

.order-frm .total{
    width: 70%;
    float: left;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    color: #91c656;
}

.order-frm .price{
	
}

.order-frm button{
	width: 30%;
    font-size: 18px;
    margin: auto 0px;
    padding: 10px;
    border-radius: 0px 5px 5px 0;
}


.lay-cal{
	display:none;
	position: fixed;
    top: 0;
    background-color: #292f3d;
    opacity: .9;
    width: 100%;
	padding: 0 5%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    z-index: 98;
    text-align: center;
}

.lay-cal .cal-close{
	    position: absolute;
    right: 6%;
    top: 2%;
    font-size: 26px;
}
