
.welcome{
	z-index:0;
}
.top-bar{
	display: none;
}
.footer{
	display:none;
}

#frm-signin{
	opacity: 0;
	position: absolute;
    width: 100%;
    text-align: center;
    top: 28%;
    z-index: 1;
}
#frm-signin input{
	width: 80%;
    border: 0;
    background-color: transparent !important;
    border-bottom: 1px solid #A0A0A0;
    padding: 5px;
    margin: 0 0 15px 0;
    color: #A0A0A0;
    font-size: 18px;
    border-radius: 0;
}

#frm-signin button{
	margin-top: 5%;
}


#frm-signin #verificationcode,#frm-signin #smscode{
	width: 47%;
}
#frm-signin #img-verificationcode{
	width: 32%;
}
#frm-signin #btn-smscode{
	    width: 33%;
    margin: 0;
    padding: 8px 0;
    font-size: 14px;
}
.linkbar{
	padding: 0 10%;
}
.linkbar a{
	color:#ccc;
	text-decoration: underline;
}
.linkbar #foget{
	float:left;
}
.linkbar #register{
	float:right;
}
.underlink{
	opacity: 0;
	position: absolute;
    bottom: 18px;
    z-index: 100;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.welcome .logo {
	
}

.tips{
	color: #FAFFBD;
    text-align: left;
    width: 80%;
    padding: 0px 10% 10px 10%;
}    