@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="checkout-view">
        <nav data-weave="widget/navigation/main"></nav>
        <div class="payment order-confirm" data-weave="widget/payment/payresult/main(paySuccess)" data-pay-success="false"></div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {};
}
</div>