﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="checkout-view">
        <nav data-weave="widget/navigation/main"></nav>
        <div class="payment order-confirm" data-weave="widget/payment/topay/main"></div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {
		"p1001": {
			"en": "Scan to pay",
			"cn": "扫码支付"
		},
		"p1002": {
			"en": "E-currency payment",
			"cn": "网银支付"
		},
		"p1003": {
			"en": "Scan QRcode via Alipay Application",
			"cn": "使用支付宝钱包扫一扫即可付款"
		},
        "p1004": {
            "en": "Please select payment method",
            "cn": "请选择支付方式"
        },
        "p1005": {
            "en": "Attention: you cannot choose a new payment method once you have committed to one. If you still want to change, please cancel you order and place a new one!",
            "cn": "注意：选择银行卡支付以后，不能更换支付方式。如需更换，请重新下单！"
        },
	};
}
</div>