﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="">
    <div class="page-main">
        <div class="earthday align-c">
			<p>
			    <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/event/earthday/01.jpg" width="" height="" alt="">
			</p>
			<p>
			    <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/event/earthday/02.jpg" width="" height="" alt="">
			</p>
			<div data-weave="widget/quickorder/main" data-code="EarthDay"></div>
			<p>
			    <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/event/earthday/03.jpg" width="" height="" alt="">
			</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {};
}
</div>