<%
    var orderId = data.orderId || 0;
    var sourceCode = data.sourceCode || "";
%>
<div class="payment-box">
    <div class="payment-row row-methed orderconfirm-payment" data-weave="widget/order/paymenttype/main(sourceCode)" data-source-code="<%=sourceCode%>"></div>
    <div class="payment-row row-invoice invoice" data-weave="widget/order/invoice/main"></div>
    <!-- TODO: HARD -->
    <% if (sourceCode.toUpperCase() === "WARM") { %>
        <div class="payment-row row-gift gift" data-weave="widget/order/gift/main"></div>
    <% } %>
    <div class="payment-row orderconfirm-promotion" data-weave="widget/order/promotion/main(orderId)" data-order-id="<%=orderId%>"></div>
    <div class="payment-row ordersourcecode hidden">
        <p>
            <small data-weave="widget/blurb/main(1318)">Type group purchase code if you're group purchase customer!</small>
        </p>
        <div class="the-form">
            <form class="standardform">
                <div>
                    <input type="text" id="order-sourcecode" placeholder="" <% if (sourceCode) { %>value="<%=sourceCode%>" disabled<% } %>>
                </div>
            </form>
        </div>
    </div>
    <div class="payment-row row-confirm">
        <h4>
            <strong data-weave="widget/blurb/main(1031)">Confirm</strong>
            <span data-weave="widget/blurb/main(1032)">Your Order</span>
        </h4>
        <div class="order-summary" data-weave="widget/order/summary/main(orderId)" data-order-id="<%=orderId%>"></div>
    </div>
    <div class="cf text-center orderaction-container">
        <a class="btn btn-lg btn-default btn-action" data-action="confirmorder" data-weave="widget/blurb/main(1115)">CONFIRM</a>
    </div>
</div>
