<%
var MAX = 999;
var COLUMN = 5;
var PIC_URL = data.cacheServer + "/images/juice/25x100/";

var products = data.products;
// Products
var i = 0;
var iLens = products.length > MAX ? MAX : products.length;
// Row
var j = 0;
var jLens = Math.ceil(iLens/COLUMN);
// Rroducts in Row
var k = 0;
var kLens = 0;
%>
<% for (j = 0; j < jLens; j++) { %>
    <ul class="hor float-abs">
        <%
            k = COLUMN * j;
            kLens = COLUMN + k;
            kLens = kLens > iLens ? iLens : kLens;
            for(i = k; i < kLens; i++) {
                renderProduct(products[i]);
            }
        %>
    </ul>
<% } %>
<% if (products.length > MAX) { %>
    <p class="orderedit-products-seemore">
        <a class="link-fn" data-weave="widget/blurb/main(1096)">+ See more</a>
    </p>
<% } %>
 
<% function renderProduct(product) { %>
    <li>
        <div class="cf float-abs customize-products-single" data-action="productcontainer" data-id="<%=product.Id%>">
            <div class="col-l" data-weave="widget/customize/numbercontrol/main(id, name, count, max, price, disable)" data-count="<%=(product.Count || 0)%>" data-max="<%=product.MaxCount%>" data-id="<%=product.Id%>" data-name="<%=product.Name%>" data-price="<%=product.Price%>" data-disable="<%=!product.DayActive%>"></div>
            <div class="juicebottle juicebottle-100 col-l"><img src="<%=PIC_URL + product.Image%>" width="25" height="100" alt="<%=product.Name%>" title="<%=product.Name%>"></div>
            <div class="col-l orderedit-products-text">
                <p class="orderedit-products-name"><strong><%=product.Name%></strong></p>
                <p class="orderedit-products-price number-price"><strong>&yen; <%=product.Price%></strong></p>
                <p>
                    <a href="/juice/<%=(product.Url || '')%>" data-weave="widget/href/main widget/blurb/main(1097)" target="_blank" class=""></a>
                </p>
                <% if(!product.DayActive) { %>
                    <em data-weave="widget/blurb/main(1605)">No supply</em>
                <% } %>
            </div>
        </div>
    </li>
<% } %>