﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>Vote</title>
    <link href="/Areas/Mobile/Css/Feedback/bootstrap.css" rel="stylesheet" />
    <link href="/Areas/Mobile/Css/Feedback/animate.css" rel="stylesheet" />
    <link href="/Areas/Mobile/Css/Feedback/style.css" rel="stylesheet" />
    <script src="/Areas/Mobile/Js/Base/jquery-2.1.1.min.js"></script>
    <script src="/Areas/Mobile/Js/Feedback/main.js"></script>
    <script type="text/javascript">

        $(function () {
            var ID = getUrlParam('ID');

            $("#orderID").val(ID);
        })

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
    </script>
</head>
<body>
    <div class='head'><a href='http://weidian.com/?userid=283874191'>微店官网</a></div>
    <h1 class='title'>告诉我们您的清体体验吧</h1>
    <div class='star-selection' id='taste' data-value=0>
        <h1>口感</h1>
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=1 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=2 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=3 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=4 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=5 />


    </div>
    <div class='star-selection' id='effect' data-value=0>
        <h1>效果</h1>
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=1 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=2 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=3 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=4 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=5 />
    </div>
    <div class='star-selection' id='delivery' data-value=0>
        <h1>配送</h1>
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=1 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=2 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=3 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=4 />
        <img src="/Areas/Mobile/Images/Feedback/star-gray.svg" data-value=5 />
    </div>
    <div class='order-selection' id="again" data-value="1">
        <h1>会再订吗？</h1><button class='active' data-value="1">会</button><button data-value="0">不会</button>
    </div>
    <textarea id="commit" clos="100" rows="5" maxlength='140' value="" placeholder="填写您的体验反馈..."></textarea>
        <input id="orderID" value="" type="hidden" />

        <button id='submit-button' class='btn-default'>提交</button>
        <div class='lay-message'>
            <div id='message-text'>消息内容</div>
        </div>
</body>
</html>
