﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>Vote</title>

    <link href="/Areas/Mobile/Css/Feedback/bootstrap.css" rel="stylesheet" />
    <link href="/Areas/Mobile/Css/Feedback/animate.css" rel="stylesheet" />
    <link href="/Areas/Mobile/Css/Feedback/style.css" rel="stylesheet" />
    <script src="/Areas/Mobile/Js/Base/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">

        $(function () {
            var code = getUrlParam('Code');
        
            $("#code").text(code);
        })

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
    </script>
</head>
<body class="step2">
    <div class='lay-code'>
        <h1>恭喜您！获得了限量10元优惠码！</h1>
        <div class='code-line'>优惠码：<span id='code'></span></div>
        <div class='code-tips'>在官网购买果汁时输入您的优惠码，立减<span>10元</span>！优惠码只能使用1次有效期至2016年12月31号</div>
    </div>

    <button id='btn-save' class='btn-default'>请截屏保存优惠码</button>
</body>
</html>
