<%
  var CACHE_SERVER = data.cacheServer;
  var LANGUAGE = data.language;
  var PATH_BROCHURE = "/download/" + LANGUAGE + "/VCLEANSE-brochure.pdf";
  var PATH_BROCHURE_INSERT = "/download/" + LANGUAGE + "/VCLEANSE-brochure-insert.pdf";
%>
<div class="download-content download-brochure cf float-abs">
  <div class="download-thumbnail col-l"></div>
  <div class="download-main col-l">
    <h3 data-weave="widget/blurb/main(1226)">VCLEANSE Brochure</h3>
    <p data-weave="widget/blurb/main(1231)">Click to download:</p>
    <p>
        <span>&rsaquo;</span>
        <a href="<%=CACHE_SERVER + PATH_BROCHURE%>" target="_blank" data-action="download">
          <span data-weave="widget/blurb/main(1228)">VCLEANSE brochure</span>
        </a>
    </p>
  </div>
</div>
