<h4><strong data-weave="widget/blurb/main(1041)">Your tax invoice (fapiao)</strong></h4>
<p>
    <small data-weave="widget/blurb/main(1043)">VCLEANSE will issue an invoice for products, for delivery fees, please contact Yamato Express.</small>
</p>
<div class="the-form">
    <div class="form-group">
        <input type="checkbox" class="icheck" id="invoice-needinvoice" data-action="needinvoice" value="">
        <label for="invoice-needinvoice" data-weave="widget/blurb/main(1044)">Yes, I would like invoice</label>
    </div>
    <div class="form-group invoice-sub hid row">
        <div class="col-sm-12 col-md-4">
            <input type="radio" class="icheck" id="invoice-personal" data-action="personalinvoice" name="invoice-type" value="2" checked>
            <label for="invoice-personal" data-weave="widget/blurb/main(1045)">Personal invoice</label>
        </div>
    </div>
    <div class="form-group invoice-sub hid row">
        <div class="col-sm-12 col-md-4">
            <input type="radio" class="icheck" id="invoice-company" data-action="companyinvoice" name="invoice-type" value="1" data-weave="widget/checkmyradio-listener/main">
            <label for="invoice-company" data-weave="widget/blurb/main(1046)">Company invoice</label>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="invoice-inputs">
                <input type="text" class="form-control" data-for="invoice-company" id="invoice-companyname" placeholder="Company title" data-weave="widget/checkmyradio/main">
            </div>
        </div>
    </div>
    <div class="invoice-sub hid">
        <p class="help-block" data-weave="widget/blurb/main(1201)">Your invoice will be issued on the juice package together, please note that check!</p>
    </div>
</div>
