<%
  var cacheServer = data.cacheServer;
  var orderId = data.orderId;
  var hasOnlinePay = data.hasOnlinePay;
  var onlinePayment = data.onlinePayment;

  var url_qr = cacheServer+"/payment/pay?orderid="+ orderId + "&paymentplatform=1&bank=&qr=0";
%>
<% if (hasOnlinePay) { %>
<div class="topay confirm-box">
    <h3>
        <strong data-weave="widget/blurb/main(1108)">Pay online</strong>
    </h3>
    <p>
        <span class="payment-highlight" data-weave="widget/blurb/main(1141)">Order successful submit, payment as soon as possible please!</span>
        <br>
        <span data-weave="widget/blurb/main(1061)" data-action="orderid" data-id="<%=orderId%>">Order number:</span>
        <strong>
            <%=orderId%>
        </strong>
        <br>
        <span data-weave="widget/blurb/main(1142)">Amount Due (RMB):</span>
        <strong>&yen;
            <%=onlinePayment%>
        </strong>
        <br>
        <span data-weave="widget/blurb/main(1143)" data-format="<%=onlinePayment%>">Please complete payment within 24 hours. Orders will be cancelled after 24 hours with no payment.</span>
    </p>
    <hr>
    <h6>
        <strong data-weave="widget/blurb/main(1109)">Finish your payment by click following payment platform!</strong>
    </h6>
    <p class="text-warning">
        <small>
          <b>支付宝快捷支付（含信用卡、储蓄卡）</b>已开通大额支付。<a href="https://cshall.alipay.com/lab/help_detail.htm?help_id=245345" target="_blank">支付限额详见&gt;&gt;</a>
        </small>
    </p>
    <ul class="hor banklist">
      <li data-action="selectbank" data-id="ALIPAY">
          <img src="<%=cacheServer%>/images/payment/alipay.jpg" width="126" height="35" alt="ALIPAY">
      </li>
      <li data-action="selectbank" data-id="UCFPAY">
          <img src="<%=cacheServer%>/images/payment/ucfpay.jpg" width="126" height="35" alt="UCFPAY">
      </li>
    </ul>
    <h6><strong data-weave="widget/blurb/main(p1001)">扫码支付：</strong></h6>
    <p>
      <small data-weave="widget/blurb/main(p1003)">使用支付宝钱包扫一扫即可付款</small>
    </p>
    <iframe class="payment-qrmap" src="<%=url_qr%>" frameborder="0" align="middle" width="600" height="272" class="map-container"></iframe>
    <h6><strong data-weave="widget/blurb/main(p1002)">网银支付：</strong></h6>
    <p>
      <small data-weave="widget/blurb/main(p1005)">Attention: you cannot choose a new payment method once you have committed to one. If you still want to change, please cancel you order and place a new one!</small>
    </p>
    <ul class="hor banklist">
        <li data-action="selectbank" data-id="CMB">
            <label class="bank-cmbchina"></label>
        </li>
        <li data-action="selectbank" data-id="BOCB2C">
            <label class="bank-boc"></label>
        </li>
        <li data-action="selectbank" data-id="ICBCB2C">
            <label class="bank-icbc"></label>
        </li>
        <li data-action="selectbank" data-id="COMM">
            <label class="bank-bankcomm"></label>
        </li>
        <li data-action="selectbank" data-id="CCB">
            <label class="bank-ccb"></label>
        </li>
        <li data-action="selectbank" data-id="CIB">
            <label class="bank-cib"></label>
        </li>
    </ul>
    <div id="banklist-more" class="banklist collapse">
      <ul class="hor banklist banklist-more">
          <li data-action="selectbank" data-id="CMBC">
              <label class="bank-cmbc"></label>
          </li>
          <li data-action="selectbank" data-id="GDB">
              <label class="bank-cgbchina"></label>
          </li>
          <li data-action="selectbank" data-id="SPDB">
              <label class="bank-spdb"></label>
          </li>
          <li data-action="selectbank" data-id="ABC">
              <label class="bank-abchina"></label>
          </li>
          <li data-action="selectbank" data-id="SPABANK">
              <label class="bank-pingan"></label>
          </li>
          <li data-action="selectbank" data-id="POSTGC">
              <label class="bank-psbc"></label>
          </li>
          <li data-action="selectbank" data-id="CITIC">
              <label class="bank-ecitic"></label>
          </li>
          <li data-action="selectbank" data-id="SHRCB">
              <label class="bank-srcb"></label>
          </li>
          <li data-action="selectbank" data-id="SHBANK">
              <label class="bank-bankofshanghai"></label>
          </li>
          <li data-action="selectbank" data-id="NBBANK">
              <label class="bank-nbcb"></label>
          </li>
          <li data-action="selectbank" data-id="HZCBB2C">
              <label class="bank-hccb"></label>
          </li>
          <li data-action="selectbank" data-id="BJBANK">
              <label class="bank-bankofbeijing"></label>
          </li>
          <li data-action="selectbank" data-id="BJRCB">
              <label class="bank-bjrcb"></label>
          </li>
          <li data-action="selectbank" data-id="WZCBB2C-DEBIT">
              <label class="bank-wzcb"></label>
          </li>
      </ul>
    </div>
    <div class="text-right">
      <a class="link-fn payment-showmorebank" data-toggle="collapse" data-action="collapsebanks" data-target="#banklist-more">
        <span data-weave="widget/blurb/main(1096)">See more</span>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
    <div class="text-center paymentaction-container">
        <span data-weave="widget/blurb/main(p1004)" data-action="confirmpayment-tip" class="in">Select payment method</span>
        <button class="btn btn-lg btn-default btn-action" data-action="confirmpayment" data-weave="widget/blurb/main(1458)">Pay</button>
    </div>
</div>
<% } else { %>
<div class="success payresult-box" style="overflow: hidden;">
    <h3>
        <span class="text-danger glyphicon glyphicon-remove"></span>
        <strong data-weave="widget/blurb/main(1377)">Sorry!</strong>
        <span data-weave="widget/blurb/main(1481)">Invalid payment request!</span>
    </h3>
    <hr>
    <div class="payresult-checklist" data-weave="widget/checklist/main"></div>
</div>
<% } %>
