<%
    var signin = data.signin||false;
%>
<div class="modal-dialog payment-result">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" data-weave="widget/blurb/main(1456)">Comfirm</h4>
        </div>
        <div class="modal-body">
            <% if (signin) { %>
                <a href="/account/orders" class="btn btn-link btn-lg" data-weave="widget/href/main">
                    <span data-weave="widget/blurb/main(1454)">Finish Payment</span>
                </a>
            <% } else { %>
                <a href="/" class="btn btn-link btn-lg" data-weave="widget/href/main">
                    <span data-weave="widget/blurb/main(1454)">Finish Payment</span>
                </a>
            <% } %>
            <button class="btn btn-link btn-lg" data-weave="widget/blurb/main(1455)" data-action="close" data-dismiss="modal">Issue with payment</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-action="close" data-dismiss="modal" data-weave="widget/blurb/main(1457)">Close</button>
        </div>
    </div>
</div>
