<%
	var cityId = data.cityId;
	var provinceId = data.provinceId;
    var areaId = data.areaId;
    var disabled = data.disabled;
%>
<div class="row">
    <div class="col-sm-4" data-weave="widget/select/region/provincepicker/main(provinceId, disabled)" data-province-id="<%=provinceId%>" data-value="<%=provinceId%>" data-disabled="<%=disabled%>"></div>
    <div class="col-sm-4" data-weave="widget/select/region/citypicker/main(cityId, disabled)" data-city-id="<%=cityId%>" data-value="<%=cityId%>" data-disabled="<%=disabled%>"></div>
    <div class="col-sm-4" data-action="updatecityarea" data-weave="widget/select/region/districtpicker/main(areaId, disabled)" data-area-id="<%=areaId%>" data-value="<%=areaId%>" data-disabled="<%=disabled%>"></div>
</div>