﻿@using VCleanse.Shop.Host.Context;
<!DOCTYPE html>
<html class="no-js mobi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>维果清 VCLEANSE @if(IsSectionDefined("meta_title")){
            @RenderSection("meta_title")
        }else{
            @Html.Raw("健康生活领袖，食品创新先锋【真正的冷压排毒果汁】")
        }</title>
    <meta name="keywords" content="@if(IsSectionDefined("meta_keywrods")){
            @RenderSection("meta_keywrods")
        }else{
            @Html.Raw("排毒果汁,排毒,纤体,冷压蔬果汁,低卡路里,detox,slim,cold-pressed juices,master cleanse,juice detox")
        }">
    <meta name="description" content="@if(IsSectionDefined("meta_description")){
            @RenderSection("meta_description")
        }else{
            @Html.Raw("健康生活领袖，食品创新先锋！维果清以纯天然食物，排毒清体果蔬汁为本，结合中西营养学精华，倡导健康饮食的全新生活方式。")
        }">
    <meta name="ROBOTS" content="INDEX, FOLLOW">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">

    <meta name="baidu-site-verification" content="nA5wFaYJdL" />

    <!-- Favicon for bookmark -->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="Bookmark" href="/favicon.ico" />
    <!-- Add to home screen icon for iOS -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon_57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon_72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon_114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon_144x144.png" />
    
    <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/bootstrap/css/bootstrap.min.css" />

    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/mobile/main.less" />
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/@VcleanseContext.Current.ClientCacheKey/page/share.js"></script>
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/mobile/main.min.css" />
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/@VcleanseContext.Current.ClientCacheKey/page/share.min.js"></script>
    }
    @RenderSection("header", false)
   



    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body>
    <script language="C#" runat="server">
        string siteId = "d28c20fb342bd2a4b91450bf5ef3f60d";
    </script>

    <img src="@VCleanse.Shop.Host.BaiduMobileTracking.TrackPageView()" width="0" height="0" alt="baidu tracking" style="position: absolute;" />
    <div class="wrap container">
        @RenderBody()
    </div>
    <footer class="bottombar">
        <div class="copyright">
            <span data-weave="widget/blurb/main(1622)">Hotline:</span><br />
            <a href="tel:4001842779" class="link-tel">4001-8-42779</a>&nbsp;<span class="link-tel-help">(4001-V-HAPPY)</span>
        </div>
    </footer>
    <div class="tabs tabs-icon-top">        
        <a class="tab-item" href="/cleanse" data-weave="widget/href/main widget/bottomnavbar/main(path)" data-path="/order/cleanse/payment">
            <i class="icon ion-home"></i>
            <span data-weave="widget/blurb/main(1312)">在线选购</span>
        </a>
        @*<a class="tab-item" href="/giftcard" data-weave="widget/href/main widget/bottomnavbar/main(path)" data-path="giftcard">
            <i class="icon ion-compose"></i>
            <span data-weave="widget/blurb/main(1285)">礼品卡</span>
        </a>*@
        <!--a class="tab-item" href="/account/orders" data-weave="widget/href/main widget/bottomnavbar/main(path)" data-path="account">
            <i class="icon ion-person"></i>
            <span data-weave="widget/blurb/main(1473)">我的</span>
        </a-->
        <a class="tab-item" data-target="#setting" data-weave="widget/bottomnavbar/main()">
            <i class="icon ion-gear-a"></i>
            <span data-weave="widget/blurb/main(1474)">设置</span>
        </a>
    </div>
    <div id="setting" class="setting hid">
        <ul>
            <li>
                <a class="setting-blocklink" href="/" data-weave="widget/href/main">
                    <img class="logo" data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/logo/standard/logo_60x60.png" width="34" height="34" alt="VCLEANSE">
                </a>
                <a class="setting-blocklink" href="http://news.vcleanse.com/campaign/stars/">明星也爱维果清</a>
                <a class="setting-blocklink" href="http://news.vcleanse.com/campaign/green/">小绿诞生记</a>
                @*<a class="setting-blocklink" href="/stores" data-weave="widget/href/main widget/blurb/main(1459)">V Station</a>*@
                <a class="setting-blocklink" href="/jobs" data-weave="widget/href/main widget/blurb/main(1304)">Join US</a>
            </li>
            <li>
                <div class="setting-blocklink info-language" data-weave="widget/language/main">English | 中文</div>
                <div class="setting-blocklink" data-action="cancelsetting" data-weave="widget/account/mobile/main">登录</div>
            </li>
            <li>
                <a class="setting-blocklink" data-action="cancelsetting">Cancel</a>
            </li>
        </ul>
    </div>

    <script type="text/javascript">
        (function (_) {
            _.DOMAIN = "@VcleanseContext.Current.Domain";
            _.CACHESERVER = "@VcleanseContext.Current.CacheServer";
            _.CACHEKEY = "@VcleanseContext.Current.ClientCacheKey";
            _.SERVICECACHEKEY = "@VCleanse.Shop.Biz.Shared.Config.CacheKey";
            _.ISDEBUG = @VcleanseContext.Current.IsDebug.ToString().ToLower();
            _.ISMOBILE = true;

            @RenderSection("blurb", false)
        })(window);
    </script>

    @if (VcleanseContext.Current.ClientCacheKey == "snapshot" || VcleanseContext.Current.ClientCacheKey == "release")
    {
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/_shared/requirejs/2.1.8/require.js"></script>
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/@VcleanseContext.Current.ClientCacheKey/page/boot.js"></script>
    }
    else
    {
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/_shared/requirejs/2.1.8/require.min.js"></script>
        <script type="text/javascript" src="@VcleanseContext.Current.CacheServer/scripts/@VcleanseContext.Current.ClientCacheKey/page/boot.min.js"></script>
    }
        
    <script>
        window.attachWeixinJSBridgeReady();
    </script>

    <!--script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 958294434;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/958294434/?value=0&guid=ON&script=0"/>
        </div>
    </noscript-->

    <!--script type="text/javascript" name="baidu-tc-cerfication" data-appid="5128351" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></!--script>
</body>
</html>
