﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
<link rel="stylesheet" href="/Areas/MobileSite/Assets/css/order.css">

<!-- address -->

<div class="address-form" id='address-form' data-value=''>
    <div class='add-close'>X</div>
    <div class='header'>
        <label>收货人信息</label>
    </div>
    
        <div class='simple-line'>
            <label>收货人姓名：</label>
            <input id='FirstName' />
        </div> 
        <div class='simple-line'>
            <label>手机号码：</label>
            <input id='Mobile' maxlength="11" />
        </div>
        <div class='simple-line region'>
            <label>省、市、区：</label>

            
            <select id='district' ><option value="">请选择</option></select>
            <select id='city' ><option value="">请选择</option></select>
            <select id='province'><option value="">请选择</option></select>

        </div>
        <div class='simple-line'>
            <label>详细地址：</label>
            <input id='Line1' />
        </div>
        <div class='simple-line'>
            <label>邮政编码：</label>
            <input id='ZipCode' />
        </div>
        <div class='button-bar'>
            <button id='btn-addconfirm' >确认并选择</button>
        </div>
    
</div>
<div class='address-list closed'>
    @if (ViewBag.IsSuccess)
    {
        foreach (var item in ViewBag.Receivers)
        {
            <div class='address-box' id="delivery-id" data-value="@(item.Id)">
                <div class='line1'>
                    <label>收货人：</label>
                    <label id='delivery-name'>@(item.FirstName)</label>
                    <label id='delivery-phone'>@(item.Mobile)</label>
                    <input type="hidden" id="cityID" value="@(item.CityId)" />
                    <input type="hidden" id="areaID" value="@(item.AreaId)" />
                    <input type="hidden" id="delivery-zipCode" value="@(item.ZipCode)" />
                    <input type="hidden" id="ExpressCompanyId" value="@(item.ExpressCompanyId)">
                </div>
                <div class='line2'>
                    <label>收货地址：</label>

                    @if (item.IsActive)
                    {
                        <span id='delivery-address'>@(item.Line1)</span>
                    }
                    else
                    {
                        <span id='delivery-address'>@(item.Line1) (该地址暂时无法配送)</span>
                    }


                </div>
            </div>
        }
    }
    else
    {


    }
    <div class='address-box' id='btn-newaddress' data-value='new'>

        <div class='line2'>
            <label></label>
            <span id='delivery-address'>新增收货地址</span>

        </div>
    </div>
    <div class='address-expend'></div>
</div>

<div class='order-info'>
    <div class='header'>
        <label>订单信息</label>
        <label class='order-no'>
            <span>订单号：</span><span id='order-no'></span>
        </label>
    </div>

    <div class='package'>
        <img src="/static/products/cold/intro/set/f.jpg" id='package-img' class='package-img'>
        <h1 id="set-Name">暖体系列大师套餐</h1>
        <div class='set-info'>
            <div class='set-line'><label>套餐类型：</label><span id='set-type'></span></div>
            <div class='set-line'><label>饮用时间：</label><span id='set-dates'></span></div>
        </div>

        <div class='set-price'>
            <div class='set-line'>
                <label>单价：</label>
                <span class='package-price'>
                    ￥<span id='price'></span>/套
                    x<span id="daycount"></span>
                </span>
            </div>
            <div class='set-line'>
                <label>邮费共：</label>
                <span class='package-price'>
                    ￥<span id='delivery-price'>0</span>元
                </span>
            </div>
        </div>
    </div>

    <div class='coupon'>
        <div class='simple-line'>
            <label>优惠码</label>
            <div class='switch-button off' id="swc-coupon">
                <div class='base'></div>
                <div class='off'>不使用</div>
                <div class='on'>使用</div>
            </div>
        </div>
        <div class='simple-line' id="coupon-box">
            <input id='coupon' placeholder="请在此处输入您的优惠码">
            <button id='btn-coupon'>OK</button>
            <div class="tips" id="tips">-￥0</div>
        </div>


    </div>
    <div class='set-total'>
        <label>总计：</label>
        ￥<span id='set-total'></span>
    </div>
</div>
<div class='order-info'>
    <div class='header'>
        <label>送货清单</label>
    </div>

    <div class='simple-line'>
        <label>配送方式</label>

        <div class='switch-button on disabled' id='swc-delivery'>
            <div class='base'></div>
            <div class='off'>自提</div>
            <div class='on'>快递配送</div>
        </div>

    </div>

    <div class='simple-line' id='delivery-express'>
        <label>理想送达时段</label>
        <select id="DeliverTimeByArea"></select>
    </div>

    <div class='simple-line'>
        <label>开具发票</label>
        <div class='switch-button off' id='swh-invoice'>
            <div class='base'></div>
            <div class='off'>无需发票</div>
            <div class='on'>开具发票</div>
        </div>
    </div>
    <div class='simple-line' id='swh-invoice-type'>
        <label>发票类型</label>
        <select id='sle-invoice-type'>
            <option value="0">个人</option>
            <option value="1">公司</option>
        </select>
    </div>
    <div class='simple-line' id='invoice-title'>
        <input id='tax-title' placeholder="请在此处输入发票抬头">
    </div>
</div>

<div class="order-frm">
    <div class="total">总计金额： ￥ <span id="total_price"></span></div>
    <button id="btn-order-step1">立即购买</button>
</div>

<script src="/Areas/MobileSite/Assets/js/order.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "../Order/OrderInfo",
            data: "OrderID=" + getQueryString("OrderID"),
            dataType: 'json',
            type: 'get',
            async: false,
            success: function (data) {
                if (data.IsSuccess) {
                    LoadDate(data);
                }
            }, failure: function () {

            }
        })
        summary(getQueryString("OrderID"), $("#coupon").val(), $("#areaID").val());

        LoadDeliverTimeByArea($("#areaID").val());

    })


    function LoadDate(data) {
        $("#package-img").attr('src', "/Areas/MobileSite/Assets/images/OrderBuy/" + data.OrderInfo.ImageName);
        $("#set-Name").html(data.OrderInfo.Name);
        $("#order-no").html(data.OrderInfo.OrderID);
        $("#set-type").html(data.OrderInfo.PackageType);
        $("#set-total").html(data.OrderInfo.OrderPrice + ".00");
        $("#total_price").html(data.OrderInfo.OrderPrice + ".00");
        $("#price").html(data.OrderInfo.PackagePrice);
        $("#daycount").html(data.OrderInfo.DayCount);
        $("#set-dates").html(getQueryString("DeliverData"));
    }
    $("#btn-order-step1").click(
        function () {

            var postValue = {
                //TODO:数据不准确
                "OrderID": getQueryString("OrderID"),
                "PersonName": $("#delivery-name").html(),
                "Telephone": $("#delivery-phone").html(),
                "CityID": $("#cityID").val(),
                "AreaID": $("#areaID").val(),
                "Address": $("#delivery-address").html(),
                "ReceiveID": $("#delivery-id").data("value"),
                "ZipCode": $("#delivery-zipCode").html(),
                "PromotionCode": $("#coupon").val(),
                "IsSelfPickUp": 0,
                "DeliverTimeID": $("#DeliverTimeByArea").val(),
                "StoreID": 0,
                "InvoiceType": $("#sle-invoice-type").val(),
                "Title": $("#tax-title").val()
            }
            $.ajax({
                url: "../Order/OrderConfirm",
                data: postValue,
                dataType: 'json',
                type: 'post',
                async: false,
                success: function (data) {
                    if (data.IsSuccess) {
                        window.location.href = "../order/orderconfirm?OrderID=" + data.OrderID;
                    } else {
                        alert(data.Description);
                    }
                }, failure: function () {

                }
            })
        })



</script>