﻿@{
    Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";
}

<style type=text/css>
    .welcome{
        display: block;
    }
    #title{
        position:absolute;
        width:100%;
        text-align: center;
        font-size:16px;
        top:54%;
        z-index: 201;
        color:#fff;
    }
</style>
<div id='title'>正在跳转至支付平台，请稍后...</div>
<form id='frmPay' action="http://campaign.vcleanse.com/wxpay/pay" method="post" >
    <input name='wx_pay_id' value="999">
    <input name='prdname' value="冷压">
    <input name='detail' value="详情">
    <input name='attach' value="维果清官网手机端支付">
    <input name='price' value="@ViewBag.Price">
    <input name='openid' value="@ViewBag.openid">
    <input name='success_url' id="success_url" value="">
</form>



<script type="text/javascript">
    
    $(document).ready(function () {
        if(@ViewBag.ResultId==0){
            var success_url="http://www.vcleanse.com/mobilesite/order/orderfinished?orderID="+@ViewBag.orderID;
            $("#success_url").val(success_url);
            $("#frmPay").submit();
        }else{
            alert(@ViewBag.Result);
        }
    });


</script>