﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
<link rel="stylesheet" href="/Areas/MobileSite/Assets/css/order.css">


<div class='order-info'>
    <div class='simple-line'>
        <label>备注留言</label>
        <textarea placeholder="特殊需求，建议反馈请在此给我们留言，我们会尽量满足" id='txt-comments'></textarea>
        <textarea placeholder="留下您的微信号，更多维果清资讯不会错过" id='txt-wechat'></textarea>
    </div>

    <div class='simple-line'>
        <label>支付方式</label>
        <ul class='pay-list'>
            
            <li id='wxpay' class='active'>微信支付<div class='pay-selector'></div></li>
            <li id='alipay' >支付宝<div class='pay-selector'></div></li>
        
        </ul>
        @*<div class='switch-otherpay'>使用其它支付方式</div>*@
    </div>
</div>

<div class="order-frm">
    <div class="total">总计金额： ￥ <span id="price">@ViewBag.Price</span></div>
    <button id="btn-order-step2">立即购买</button>
</div>

<script src="/Areas/MobileSite/Assets/js/order.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(
        function () {
            ///微信浏览器下
            var ua = window.navigator.userAgent.toLowerCase();
            if (ua.match(/MicroMessenger/i) == 'micromessenger') {
                $("#alipay").css("dispaly", "none");
            }
           
        })



    $("#btn-order-step2").click(
           
        function () {
            var OrderID = getQueryString("OrderID");
          
            var Comments = $("#txt-comments").val();
            var Weixin = $("#txt-wechat").val();
            var postValue = {               
                "Comments": Comments,
                "OrderID": OrderID,
                "Weixin": Weixin
            }
            //留言
            $.ajax({
                url: "../order/OrderMessage",
                data: postValue,
                dataType: 'json',
                type: 'get',
                async: false,
                success: function (data) {                

                }, failure: function () {

                }
            });
            //支付方式选择
            
            if ($(".pay-list li.active").attr("id") == "alipay") {
                var topay={
                    "orderId": OrderID,
                    "paymentPlatform":4
                    
                }
                ///调用支付宝接口
                $.ajax({
                    url: "/Payment/pay",
                    data: topay,
                    dataType: 'html',
                    type: 'get',
                    async: false,
                    success: function (data) {
                        document.write(data);                       

                    }, failure: function () {

                    }
                })
            } else {
                ///调用微信接口
                window.location.href = "http://wechat.social-touch.com/oauth/oauth?relation_id=169&snsapi_type=snsapi_base&callback_url=http://www.vcleanse.com/mobilesite/order/orderPayForWX?OrderID=" + OrderID;
            }
            

        })
   
</script>


