﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
<link rel="stylesheet" href="/Areas/MobileSite/Assets/css/order.css">
<div class='order-finish-box'>
    <div class='fream'>
        <h2>恭喜你购买成功</h2>
        <h1>赶紧开启清体之旅吧</h1>
        <div class='tips'>
            <h1>维果清贴心提示您</h1>
            <p>清体套餐购买后请按照维果清的引用建议服用哦</p>
            <h1>您也可以扫描二维码</h1>
            <img class='qr' src="/Areas/MobileSite/Assets/images/qr.jpg">
            <h1>分享有壕礼！</h1>
        </div>
        
    </div>
</div>
<script src="/Areas/MobileSite/Assets/js/order.js" type="text/javascript"charset="utf-8"></script>