/*!
 * Copyright 2014 Drifty Co.
 * http://drifty.com/
 *
 * Ionic, v1.0.0-beta.13
 * A powerful HTML5 mobile app framework.
 * http://ionicframework.com/
 *
 * By @maxlynch, @benjsperry, @adamdbradley <3
 *
 * Licensed under the MIT license. Please see LICENSE for more information.
 *
 */
/*!
  Ionicons, v1.5.2
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons
*/
@font-face {
  font-family: "Ionicons";
  src: url("../../fonts/ionicons.eot?v=1.5.2");
  src: url("../../fonts/ionicons.eot?v=1.5.2#iefix") format("embedded-opentype"), url("../../fonts/ionicons.ttf?v=1.5.2") format("truetype"), url("../../fonts/ionicons.woff?v=1.5.2") format("woff"), url("../../fonts/ionicons.svg?v=1.5.2#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.ion, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading, .ionicons, .ion-alert:before, .ion-alert-circled:before, .ion-android-add:before, .ion-android-add-contact:before, .ion-android-alarm:before, .ion-android-archive:before, .ion-android-arrow-back:before, .ion-android-arrow-down-left:before, .ion-android-arrow-down-right:before, .ion-android-arrow-forward:before, .ion-android-arrow-up-left:before, .ion-android-arrow-up-right:before, .ion-android-battery:before, .ion-android-book:before, .ion-android-calendar:before, .ion-android-call:before, .ion-android-camera:before, .ion-android-chat:before, .ion-android-checkmark:before, .ion-android-clock:before, .ion-android-close:before, .ion-android-contact:before, .ion-android-contacts:before, .ion-android-data:before, .ion-android-developer:before, .ion-android-display:before, .ion-android-download:before, .ion-android-drawer:before, .ion-android-dropdown:before, .ion-android-earth:before, .ion-android-folder:before, .ion-android-forums:before, .ion-android-friends:before, .ion-android-hand:before, .ion-android-image:before, .ion-android-inbox:before, .ion-android-information:before, .ion-android-keypad:before, .ion-android-lightbulb:before, .ion-android-locate:before, .ion-android-location:before, .ion-android-mail:before, .ion-android-microphone:before, .ion-android-mixer:before, .ion-android-more:before, .ion-android-note:before, .ion-android-playstore:before, .ion-android-printer:before, .ion-android-promotion:before, .ion-android-reminder:before, .ion-android-remove:before, .ion-android-search:before, .ion-android-send:before, .ion-android-settings:before, .ion-android-share:before, .ion-android-social:before, .ion-android-social-user:before, .ion-android-sort:before, .ion-android-stair-drawer:before, .ion-android-star:before, .ion-android-stopwatch:before, .ion-android-storage:before, .ion-android-system-back:before, .ion-android-system-home:before, .ion-android-system-windows:before, .ion-android-timer:before, .ion-android-trash:before, .ion-android-user-menu:before, .ion-android-volume:before, .ion-android-wifi:before, .ion-aperture:before, .ion-archive:before, .ion-arrow-down-a:before, .ion-arrow-down-b:before, .ion-arrow-down-c:before, .ion-arrow-expand:before, .ion-arrow-graph-down-left:before, .ion-arrow-graph-down-right:before, .ion-arrow-graph-up-left:before, .ion-arrow-graph-up-right:before, .ion-arrow-left-a:before, .ion-arrow-left-b:before, .ion-arrow-left-c:before, .ion-arrow-move:before, .ion-arrow-resize:before, .ion-arrow-return-left:before, .ion-arrow-return-right:before, .ion-arrow-right-a:before, .ion-arrow-right-b:before, .ion-arrow-right-c:before, .ion-arrow-shrink:before, .ion-arrow-swap:before, .ion-arrow-up-a:before, .ion-arrow-up-b:before, .ion-arrow-up-c:before, .ion-asterisk:before, .ion-at:before, .ion-bag:before, .ion-battery-charging:before, .ion-battery-empty:before, .ion-battery-full:before, .ion-battery-half:before, .ion-battery-low:before, .ion-beaker:before, .ion-beer:before, .ion-bluetooth:before, .ion-bonfire:before, .ion-bookmark:before, .ion-briefcase:before, .ion-bug:before, .ion-calculator:before, .ion-calendar:before, .ion-camera:before, .ion-card:before, .ion-cash:before, .ion-chatbox:before, .ion-chatbox-working:before, .ion-chatboxes:before, .ion-chatbubble:before, .ion-chatbubble-working:before, .ion-chatbubbles:before, .ion-checkmark:before, .ion-checkmark-circled:before, .ion-checkmark-round:before, .ion-chevron-down:before, .ion-chevron-left:before, .ion-chevron-right:before, .ion-chevron-up:before, .ion-clipboard:before, .ion-clock:before, .ion-close:before, .ion-close-circled:before, .ion-close-round:before, .ion-closed-captioning:before, .ion-cloud:before, .ion-code:before, .ion-code-download:before, .ion-code-working:before, .ion-coffee:before, .ion-compass:before, .ion-compose:before, .ion-connection-bars:before, .ion-contrast:before, .ion-cube:before, .ion-disc:before, .ion-document:before, .ion-document-text:before, .ion-drag:before, .ion-earth:before, .ion-edit:before, .ion-egg:before, .ion-eject:before, .ion-email:before, .ion-eye:before, .ion-eye-disabled:before, .ion-female:before, .ion-filing:before, .ion-film-marker:before, .ion-fireball:before, .ion-flag:before, .ion-flame:before, .ion-flash:before, .ion-flash-off:before, .ion-flask:before, .ion-folder:before, .ion-fork:before, .ion-fork-repo:before, .ion-forward:before, .ion-funnel:before, .ion-game-controller-a:before, .ion-game-controller-b:before, .ion-gear-a:before, .ion-gear-b:before, .ion-grid:before, .ion-hammer:before, .ion-happy:before, .ion-headphone:before, .ion-heart:before, .ion-heart-broken:before, .ion-help:before, .ion-help-buoy:before, .ion-help-circled:before, .ion-home:before, .ion-icecream:before, .ion-icon-social-google-plus:before, .ion-icon-social-google-plus-outline:before, .ion-image:before, .ion-images:before, .ion-information:before, .ion-information-circled:before, .ion-ionic:before, .ion-ios7-alarm:before, .ion-ios7-alarm-outline:before, .ion-ios7-albums:before, .ion-ios7-albums-outline:before, .ion-ios7-americanfootball:before, .ion-ios7-americanfootball-outline:before, .ion-ios7-analytics:before, .ion-ios7-analytics-outline:before, .ion-ios7-arrow-back:before, .ion-ios7-arrow-down:before, .ion-ios7-arrow-forward:before, .ion-ios7-arrow-left:before, .ion-ios7-arrow-right:before, .ion-ios7-arrow-thin-down:before, .ion-ios7-arrow-thin-left:before, .ion-ios7-arrow-thin-right:before, .ion-ios7-arrow-thin-up:before, .ion-ios7-arrow-up:before, .ion-ios7-at:before, .ion-ios7-at-outline:before, .ion-ios7-barcode:before, .ion-ios7-barcode-outline:before, .ion-ios7-baseball:before, .ion-ios7-baseball-outline:before, .ion-ios7-basketball:before, .ion-ios7-basketball-outline:before, .ion-ios7-bell:before, .ion-ios7-bell-outline:before, .ion-ios7-bolt:before, .ion-ios7-bolt-outline:before, .ion-ios7-bookmarks:before, .ion-ios7-bookmarks-outline:before, .ion-ios7-box:before, .ion-ios7-box-outline:before, .ion-ios7-briefcase:before, .ion-ios7-briefcase-outline:before, .ion-ios7-browsers:before, .ion-ios7-browsers-outline:before, .ion-ios7-calculator:before, .ion-ios7-calculator-outline:before, .ion-ios7-calendar:before, .ion-ios7-calendar-outline:before, .ion-ios7-camera:before, .ion-ios7-camera-outline:before, .ion-ios7-cart:before, .ion-ios7-cart-outline:before, .ion-ios7-chatboxes:before, .ion-ios7-chatboxes-outline:before, .ion-ios7-chatbubble:before, .ion-ios7-chatbubble-outline:before, .ion-ios7-checkmark:before, .ion-ios7-checkmark-empty:before, .ion-ios7-checkmark-outline:before, .ion-ios7-circle-filled:before, .ion-ios7-circle-outline:before, .ion-ios7-clock:before, .ion-ios7-clock-outline:before, .ion-ios7-close:before, .ion-ios7-close-empty:before, .ion-ios7-close-outline:before, .ion-ios7-cloud:before, .ion-ios7-cloud-download:before, .ion-ios7-cloud-download-outline:before, .ion-ios7-cloud-outline:before, .ion-ios7-cloud-upload:before, .ion-ios7-cloud-upload-outline:before, .ion-ios7-cloudy:before, .ion-ios7-cloudy-night:before, .ion-ios7-cloudy-night-outline:before, .ion-ios7-cloudy-outline:before, .ion-ios7-cog:before, .ion-ios7-cog-outline:before, .ion-ios7-compose:before, .ion-ios7-compose-outline:before, .ion-ios7-contact:before, .ion-ios7-contact-outline:before, .ion-ios7-copy:before, .ion-ios7-copy-outline:before, .ion-ios7-download:before, .ion-ios7-download-outline:before, .ion-ios7-drag:before, .ion-ios7-email:before, .ion-ios7-email-outline:before, .ion-ios7-expand:before, .ion-ios7-eye:before, .ion-ios7-eye-outline:before, .ion-ios7-fastforward:before, .ion-ios7-fastforward-outline:before, .ion-ios7-filing:before, .ion-ios7-filing-outline:before, .ion-ios7-film:before, .ion-ios7-film-outline:before, .ion-ios7-flag:before, .ion-ios7-flag-outline:before, .ion-ios7-folder:before, .ion-ios7-folder-outline:before, .ion-ios7-football:before, .ion-ios7-football-outline:before, .ion-ios7-gear:before, .ion-ios7-gear-outline:before, .ion-ios7-glasses:before, .ion-ios7-glasses-outline:before, .ion-ios7-heart:before, .ion-ios7-heart-outline:before, .ion-ios7-help:before, .ion-ios7-help-empty:before, .ion-ios7-help-outline:before, .ion-ios7-home:before, .ion-ios7-home-outline:before, .ion-ios7-infinite:before, .ion-ios7-infinite-outline:before, .ion-ios7-information:before, .ion-ios7-information-empty:before, .ion-ios7-information-outline:before, .ion-ios7-ionic-outline:before, .ion-ios7-keypad:before, .ion-ios7-keypad-outline:before, .ion-ios7-lightbulb:before, .ion-ios7-lightbulb-outline:before, .ion-ios7-location:before, .ion-ios7-location-outline:before, .ion-ios7-locked:before, .ion-ios7-locked-outline:before, .ion-ios7-loop:before, .ion-ios7-loop-strong:before, .ion-ios7-medkit:before, .ion-ios7-medkit-outline:before, .ion-ios7-mic:before, .ion-ios7-mic-off:before, .ion-ios7-mic-outline:before, .ion-ios7-minus:before, .ion-ios7-minus-empty:before, .ion-ios7-minus-outline:before, .ion-ios7-monitor:before, .ion-ios7-monitor-outline:before, .ion-ios7-moon:before, .ion-ios7-moon-outline:before, .ion-ios7-more:before, .ion-ios7-more-outline:before, .ion-ios7-musical-note:before, .ion-ios7-musical-notes:before, .ion-ios7-navigate:before, .ion-ios7-navigate-outline:before, .ion-ios7-paper:before, .ion-ios7-paper-outline:before, .ion-ios7-paperplane:before, .ion-ios7-paperplane-outline:before, .ion-ios7-partlysunny:before, .ion-ios7-partlysunny-outline:before, .ion-ios7-pause:before, .ion-ios7-pause-outline:before, .ion-ios7-paw:before, .ion-ios7-paw-outline:before, .ion-ios7-people:before, .ion-ios7-people-outline:before, .ion-ios7-person:before, .ion-ios7-person-outline:before, .ion-ios7-personadd:before, .ion-ios7-personadd-outline:before, .ion-ios7-photos:before, .ion-ios7-photos-outline:before, .ion-ios7-pie:before, .ion-ios7-pie-outline:before, .ion-ios7-play:before, .ion-ios7-play-outline:before, .ion-ios7-plus:before, .ion-ios7-plus-empty:before, .ion-ios7-plus-outline:before, .ion-ios7-pricetag:before, .ion-ios7-pricetag-outline:before, .ion-ios7-pricetags:before, .ion-ios7-pricetags-outline:before, .ion-ios7-printer:before, .ion-ios7-printer-outline:before, .ion-ios7-pulse:before, .ion-ios7-pulse-strong:before, .ion-ios7-rainy:before, .ion-ios7-rainy-outline:before, .ion-ios7-recording:before, .ion-ios7-recording-outline:before, .ion-ios7-redo:before, .ion-ios7-redo-outline:before, .ion-ios7-refresh:before, .ion-ios7-refresh-empty:before, .ion-ios7-refresh-outline:before, .ion-ios7-reload:before, .ion-ios7-reloading:before, .ion-ios7-reverse-camera:before, .ion-ios7-reverse-camera-outline:before, .ion-ios7-rewind:before, .ion-ios7-rewind-outline:before, .ion-ios7-search:before, .ion-ios7-search-strong:before, .ion-ios7-settings:before, .ion-ios7-settings-strong:before, .ion-ios7-shrink:before, .ion-ios7-skipbackward:before, .ion-ios7-skipbackward-outline:before, .ion-ios7-skipforward:before, .ion-ios7-skipforward-outline:before, .ion-ios7-snowy:before, .ion-ios7-speedometer:before, .ion-ios7-speedometer-outline:before, .ion-ios7-star:before, .ion-ios7-star-half:before, .ion-ios7-star-outline:before, .ion-ios7-stopwatch:before, .ion-ios7-stopwatch-outline:before, .ion-ios7-sunny:before, .ion-ios7-sunny-outline:before, .ion-ios7-telephone:before, .ion-ios7-telephone-outline:before, .ion-ios7-tennisball:before, .ion-ios7-tennisball-outline:before, .ion-ios7-thunderstorm:before, .ion-ios7-thunderstorm-outline:before, .ion-ios7-time:before, .ion-ios7-time-outline:before, .ion-ios7-timer:before, .ion-ios7-timer-outline:before, .ion-ios7-toggle:before, .ion-ios7-toggle-outline:before, .ion-ios7-trash:before, .ion-ios7-trash-outline:before, .ion-ios7-undo:before, .ion-ios7-undo-outline:before, .ion-ios7-unlocked:before, .ion-ios7-unlocked-outline:before, .ion-ios7-upload:before, .ion-ios7-upload-outline:before, .ion-ios7-videocam:before, .ion-ios7-videocam-outline:before, .ion-ios7-volume-high:before, .ion-ios7-volume-low:before, .ion-ios7-wineglass:before, .ion-ios7-wineglass-outline:before, .ion-ios7-world:before, .ion-ios7-world-outline:before, .ion-ipad:before, .ion-iphone:before, .ion-ipod:before, .ion-jet:before, .ion-key:before, .ion-knife:before, .ion-laptop:before, .ion-leaf:before, .ion-levels:before, .ion-lightbulb:before, .ion-link:before, .ion-load-a:before, .ion-loading-a:before, .ion-load-b:before, .ion-loading-b:before, .ion-load-c:before, .ion-loading-c:before, .ion-load-d:before, .ion-loading-d:before, .ion-location:before, .ion-locked:before, .ion-log-in:before, .ion-log-out:before, .ion-loop:before, .ion-looping:before, .ion-magnet:before, .ion-male:before, .ion-man:before, .ion-map:before, .ion-medkit:before, .ion-merge:before, .ion-mic-a:before, .ion-mic-b:before, .ion-mic-c:before, .ion-minus:before, .ion-minus-circled:before, .ion-minus-round:before, .ion-model-s:before, .ion-monitor:before, .ion-more:before, .ion-mouse:before, .ion-music-note:before, .ion-navicon:before, .ion-navicon-round:before, .ion-navigate:before, .ion-network:before, .ion-no-smoking:before, .ion-nuclear:before, .ion-outlet:before, .ion-paper-airplane:before, .ion-paperclip:before, .ion-pause:before, .ion-person:before, .ion-person-add:before, .ion-person-stalker:before, .ion-pie-graph:before, .ion-pin:before, .ion-pinpoint:before, .ion-pizza:before, .ion-plane:before, .ion-planet:before, .ion-play:before, .ion-playstation:before, .ion-plus:before, .ion-plus-circled:before, .ion-plus-round:before, .ion-podium:before, .ion-pound:before, .ion-power:before, .ion-pricetag:before, .ion-pricetags:before, .ion-printer:before, .ion-pull-request:before, .ion-qr-scanner:before, .ion-quote:before, .ion-radio-waves:before, .ion-record:before, .ion-refresh:before, .ion-refreshing:before, .ion-reply:before, .ion-reply-all:before, .ion-ribbon-a:before, .ion-ribbon-b:before, .ion-sad:before, .ion-scissors:before, .ion-search:before, .ion-settings:before, .ion-share:before, .ion-shuffle:before, .ion-skip-backward:before, .ion-skip-forward:before, .ion-social-android:before, .ion-social-android-outline:before, .ion-social-apple:before, .ion-social-apple-outline:before, .ion-social-bitcoin:before, .ion-social-bitcoin-outline:before, .ion-social-buffer:before, .ion-social-buffer-outline:before, .ion-social-designernews:before, .ion-social-designernews-outline:before, .ion-social-dribbble:before, .ion-social-dribbble-outline:before, .ion-social-dropbox:before, .ion-social-dropbox-outline:before, .ion-social-facebook:before, .ion-social-facebook-outline:before, .ion-social-foursquare:before, .ion-social-foursquare-outline:before, .ion-social-freebsd-devil:before, .ion-social-github:before, .ion-social-github-outline:before, .ion-social-google:before, .ion-social-google-outline:before, .ion-social-googleplus:before, .ion-social-googleplus-outline:before, .ion-social-hackernews:before, .ion-social-hackernews-outline:before, .ion-social-instagram:before, .ion-social-instagram-outline:before, .ion-social-linkedin:before, .ion-social-linkedin-outline:before, .ion-social-pinterest:before, .ion-social-pinterest-outline:before, .ion-social-reddit:before, .ion-social-reddit-outline:before, .ion-social-rss:before, .ion-social-rss-outline:before, .ion-social-skype:before, .ion-social-skype-outline:before, .ion-social-tumblr:before, .ion-social-tumblr-outline:before, .ion-social-tux:before, .ion-social-twitter:before, .ion-social-twitter-outline:before, .ion-social-usd:before, .ion-social-usd-outline:before, .ion-social-vimeo:before, .ion-social-vimeo-outline:before, .ion-social-windows:before, .ion-social-windows-outline:before, .ion-social-wordpress:before, .ion-social-wordpress-outline:before, .ion-social-yahoo:before, .ion-social-yahoo-outline:before, .ion-social-youtube:before, .ion-social-youtube-outline:before, .ion-speakerphone:before, .ion-speedometer:before, .ion-spoon:before, .ion-star:before, .ion-stats-bars:before, .ion-steam:before, .ion-stop:before, .ion-thermometer:before, .ion-thumbsdown:before, .ion-thumbsup:before, .ion-toggle:before, .ion-toggle-filled:before, .ion-trash-a:before, .ion-trash-b:before, .ion-trophy:before, .ion-umbrella:before, .ion-university:before, .ion-unlocked:before, .ion-upload:before, .ion-usb:before, .ion-videocamera:before, .ion-volume-high:before, .ion-volume-low:before, .ion-volume-medium:before, .ion-volume-mute:before, .ion-wand:before, .ion-waterdrop:before, .ion-wifi:before, .ion-wineglass:before, .ion-woman:before, .ion-wrench:before, .ion-xbox:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(359deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(359deg); } }

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }

  100% {
    -o-transform: rotate(359deg); } }

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }

  100% {
    -ms-transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(359deg); } }

.ion-loading-a {
  -webkit-animation-timing-function: steps(8, start);
  -moz-animation-timing-function: steps(8, start);
  animation-timing-function: steps(8, start); }

.ion-alert:before {
  content: "\f101"; }

.ion-alert-circled:before {
  content: "\f100"; }

.ion-android-add:before {
  content: "\f2c7"; }

.ion-android-add-contact:before {
  content: "\f2c6"; }

.ion-android-alarm:before {
  content: "\f2c8"; }

.ion-android-archive:before {
  content: "\f2c9"; }

.ion-android-arrow-back:before {
  content: "\f2ca"; }

.ion-android-arrow-down-left:before {
  content: "\f2cb"; }

.ion-android-arrow-down-right:before {
  content: "\f2cc"; }

.ion-android-arrow-forward:before {
  content: "\f30f"; }

.ion-android-arrow-up-left:before {
  content: "\f2cd"; }

.ion-android-arrow-up-right:before {
  content: "\f2ce"; }

.ion-android-battery:before {
  content: "\f2cf"; }

.ion-android-book:before {
  content: "\f2d0"; }

.ion-android-calendar:before {
  content: "\f2d1"; }

.ion-android-call:before {
  content: "\f2d2"; }

.ion-android-camera:before {
  content: "\f2d3"; }

.ion-android-chat:before {
  content: "\f2d4"; }

.ion-android-checkmark:before {
  content: "\f2d5"; }

.ion-android-clock:before {
  content: "\f2d6"; }

.ion-android-close:before {
  content: "\f2d7"; }

.ion-android-contact:before {
  content: "\f2d8"; }

.ion-android-contacts:before {
  content: "\f2d9"; }

.ion-android-data:before {
  content: "\f2da"; }

.ion-android-developer:before {
  content: "\f2db"; }

.ion-android-display:before {
  content: "\f2dc"; }

.ion-android-download:before {
  content: "\f2dd"; }

.ion-android-drawer:before {
  content: "\f310"; }

.ion-android-dropdown:before {
  content: "\f2de"; }

.ion-android-earth:before {
  content: "\f2df"; }

.ion-android-folder:before {
  content: "\f2e0"; }

.ion-android-forums:before {
  content: "\f2e1"; }

.ion-android-friends:before {
  content: "\f2e2"; }

.ion-android-hand:before {
  content: "\f2e3"; }

.ion-android-image:before {
  content: "\f2e4"; }

.ion-android-inbox:before {
  content: "\f2e5"; }

.ion-android-information:before {
  content: "\f2e6"; }

.ion-android-keypad:before {
  content: "\f2e7"; }

.ion-android-lightbulb:before {
  content: "\f2e8"; }

.ion-android-locate:before {
  content: "\f2e9"; }

.ion-android-location:before {
  content: "\f2ea"; }

.ion-android-mail:before {
  content: "\f2eb"; }

.ion-android-microphone:before {
  content: "\f2ec"; }

.ion-android-mixer:before {
  content: "\f2ed"; }

.ion-android-more:before {
  content: "\f2ee"; }

.ion-android-note:before {
  content: "\f2ef"; }

.ion-android-playstore:before {
  content: "\f2f0"; }

.ion-android-printer:before {
  content: "\f2f1"; }

.ion-android-promotion:before {
  content: "\f2f2"; }

.ion-android-reminder:before {
  content: "\f2f3"; }

.ion-android-remove:before {
  content: "\f2f4"; }

.ion-android-search:before {
  content: "\f2f5"; }

.ion-android-send:before {
  content: "\f2f6"; }

.ion-android-settings:before {
  content: "\f2f7"; }

.ion-android-share:before {
  content: "\f2f8"; }

.ion-android-social:before {
  content: "\f2fa"; }

.ion-android-social-user:before {
  content: "\f2f9"; }

.ion-android-sort:before {
  content: "\f2fb"; }

.ion-android-stair-drawer:before {
  content: "\f311"; }

.ion-android-star:before {
  content: "\f2fc"; }

.ion-android-stopwatch:before {
  content: "\f2fd"; }

.ion-android-storage:before {
  content: "\f2fe"; }

.ion-android-system-back:before {
  content: "\f2ff"; }

.ion-android-system-home:before {
  content: "\f300"; }

.ion-android-system-windows:before {
  content: "\f301"; }

.ion-android-timer:before {
  content: "\f302"; }

.ion-android-trash:before {
  content: "\f303"; }

.ion-android-user-menu:before {
  content: "\f312"; }

.ion-android-volume:before {
  content: "\f304"; }

.ion-android-wifi:before {
  content: "\f305"; }

.ion-aperture:before {
  content: "\f313"; }

.ion-archive:before {
  content: "\f102"; }

.ion-arrow-down-a:before {
  content: "\f103"; }

.ion-arrow-down-b:before {
  content: "\f104"; }

.ion-arrow-down-c:before {
  content: "\f105"; }

.ion-arrow-expand:before {
  content: "\f25e"; }

.ion-arrow-graph-down-left:before {
  content: "\f25f"; }

.ion-arrow-graph-down-right:before {
  content: "\f260"; }

.ion-arrow-graph-up-left:before {
  content: "\f261"; }

.ion-arrow-graph-up-right:before {
  content: "\f262"; }

.ion-arrow-left-a:before {
  content: "\f106"; }

.ion-arrow-left-b:before {
  content: "\f107"; }

.ion-arrow-left-c:before {
  content: "\f108"; }

.ion-arrow-move:before {
  content: "\f263"; }

.ion-arrow-resize:before {
  content: "\f264"; }

.ion-arrow-return-left:before {
  content: "\f265"; }

.ion-arrow-return-right:before {
  content: "\f266"; }

.ion-arrow-right-a:before {
  content: "\f109"; }

.ion-arrow-right-b:before {
  content: "\f10a"; }

.ion-arrow-right-c:before {
  content: "\f10b"; }

.ion-arrow-shrink:before {
  content: "\f267"; }

.ion-arrow-swap:before {
  content: "\f268"; }

.ion-arrow-up-a:before {
  content: "\f10c"; }

.ion-arrow-up-b:before {
  content: "\f10d"; }

.ion-arrow-up-c:before {
  content: "\f10e"; }

.ion-asterisk:before {
  content: "\f314"; }

.ion-at:before {
  content: "\f10f"; }

.ion-bag:before {
  content: "\f110"; }

.ion-battery-charging:before {
  content: "\f111"; }

.ion-battery-empty:before {
  content: "\f112"; }

.ion-battery-full:before {
  content: "\f113"; }

.ion-battery-half:before {
  content: "\f114"; }

.ion-battery-low:before {
  content: "\f115"; }

.ion-beaker:before {
  content: "\f269"; }

.ion-beer:before {
  content: "\f26a"; }

.ion-bluetooth:before {
  content: "\f116"; }

.ion-bonfire:before {
  content: "\f315"; }

.ion-bookmark:before {
  content: "\f26b"; }

.ion-briefcase:before {
  content: "\f26c"; }

.ion-bug:before {
  content: "\f2be"; }

.ion-calculator:before {
  content: "\f26d"; }

.ion-calendar:before {
  content: "\f117"; }

.ion-camera:before {
  content: "\f118"; }

.ion-card:before {
  content: "\f119"; }

.ion-cash:before {
  content: "\f316"; }

.ion-chatbox:before {
  content: "\f11b"; }

.ion-chatbox-working:before {
  content: "\f11a"; }

.ion-chatboxes:before {
  content: "\f11c"; }

.ion-chatbubble:before {
  content: "\f11e"; }

.ion-chatbubble-working:before {
  content: "\f11d"; }

.ion-chatbubbles:before {
  content: "\f11f"; }

.ion-checkmark:before {
  content: "\f122"; }

.ion-checkmark-circled:before {
  content: "\f120"; }

.ion-checkmark-round:before {
  content: "\f121"; }

.ion-chevron-down:before {
  content: "\f123"; }

.ion-chevron-left:before {
  content: "\f124"; }

.ion-chevron-right:before {
  content: "\f125"; }

.ion-chevron-up:before {
  content: "\f126"; }

.ion-clipboard:before {
  content: "\f127"; }

.ion-clock:before {
  content: "\f26e"; }

.ion-close:before {
  content: "\f12a"; }

.ion-close-circled:before {
  content: "\f128"; }

.ion-close-round:before {
  content: "\f129"; }

.ion-closed-captioning:before {
  content: "\f317"; }

.ion-cloud:before {
  content: "\f12b"; }

.ion-code:before {
  content: "\f271"; }

.ion-code-download:before {
  content: "\f26f"; }

.ion-code-working:before {
  content: "\f270"; }

.ion-coffee:before {
  content: "\f272"; }

.ion-compass:before {
  content: "\f273"; }

.ion-compose:before {
  content: "\f12c"; }

.ion-connection-bars:before {
  content: "\f274"; }

.ion-contrast:before {
  content: "\f275"; }

.ion-cube:before {
  content: "\f318"; }

.ion-disc:before {
  content: "\f12d"; }

.ion-document:before {
  content: "\f12f"; }

.ion-document-text:before {
  content: "\f12e"; }

.ion-drag:before {
  content: "\f130"; }

.ion-earth:before {
  content: "\f276"; }

.ion-edit:before {
  content: "\f2bf"; }

.ion-egg:before {
  content: "\f277"; }

.ion-eject:before {
  content: "\f131"; }

.ion-email:before {
  content: "\f132"; }

.ion-eye:before {
  content: "\f133"; }

.ion-eye-disabled:before {
  content: "\f306"; }

.ion-female:before {
  content: "\f278"; }

.ion-filing:before {
  content: "\f134"; }

.ion-film-marker:before {
  content: "\f135"; }

.ion-fireball:before {
  content: "\f319"; }

.ion-flag:before {
  content: "\f279"; }

.ion-flame:before {
  content: "\f31a"; }

.ion-flash:before {
  content: "\f137"; }

.ion-flash-off:before {
  content: "\f136"; }

.ion-flask:before {
  content: "\f138"; }

.ion-folder:before {
  content: "\f139"; }

.ion-fork:before {
  content: "\f27a"; }

.ion-fork-repo:before {
  content: "\f2c0"; }

.ion-forward:before {
  content: "\f13a"; }

.ion-funnel:before {
  content: "\f31b"; }

.ion-game-controller-a:before {
  content: "\f13b"; }

.ion-game-controller-b:before {
  content: "\f13c"; }

.ion-gear-a:before {
  content: "\f13d"; }

.ion-gear-b:before {
  content: "\f13e"; }

.ion-grid:before {
  content: "\f13f"; }

.ion-hammer:before {
  content: "\f27b"; }

.ion-happy:before {
  content: "\f31c"; }

.ion-headphone:before {
  content: "\f140"; }

.ion-heart:before {
  content: "\f141"; }

.ion-heart-broken:before {
  content: "\f31d"; }

.ion-help:before {
  content: "\f143"; }

.ion-help-buoy:before {
  content: "\f27c"; }

.ion-help-circled:before {
  content: "\f142"; }

.ion-home:before {
  content: "\f144"; }

.ion-icecream:before {
  content: "\f27d"; }

.ion-icon-social-google-plus:before {
  content: "\f146"; }

.ion-icon-social-google-plus-outline:before {
  content: "\f145"; }

.ion-image:before {
  content: "\f147"; }

.ion-images:before {
  content: "\f148"; }

.ion-information:before {
  content: "\f14a"; }

.ion-information-circled:before {
  content: "\f149"; }

.ion-ionic:before {
  content: "\f14b"; }

.ion-ios7-alarm:before {
  content: "\f14d"; }

.ion-ios7-alarm-outline:before {
  content: "\f14c"; }

.ion-ios7-albums:before {
  content: "\f14f"; }

.ion-ios7-albums-outline:before {
  content: "\f14e"; }

.ion-ios7-americanfootball:before {
  content: "\f31f"; }

.ion-ios7-americanfootball-outline:before {
  content: "\f31e"; }

.ion-ios7-analytics:before {
  content: "\f321"; }

.ion-ios7-analytics-outline:before {
  content: "\f320"; }

.ion-ios7-arrow-back:before {
  content: "\f150"; }

.ion-ios7-arrow-down:before {
  content: "\f151"; }

.ion-ios7-arrow-forward:before {
  content: "\f152"; }

.ion-ios7-arrow-left:before {
  content: "\f153"; }

.ion-ios7-arrow-right:before {
  content: "\f154"; }

.ion-ios7-arrow-thin-down:before {
  content: "\f27e"; }

.ion-ios7-arrow-thin-left:before {
  content: "\f27f"; }

.ion-ios7-arrow-thin-right:before {
  content: "\f280"; }

.ion-ios7-arrow-thin-up:before {
  content: "\f281"; }

.ion-ios7-arrow-up:before {
  content: "\f155"; }

.ion-ios7-at:before {
  content: "\f157"; }

.ion-ios7-at-outline:before {
  content: "\f156"; }

.ion-ios7-barcode:before {
  content: "\f323"; }

.ion-ios7-barcode-outline:before {
  content: "\f322"; }

.ion-ios7-baseball:before {
  content: "\f325"; }

.ion-ios7-baseball-outline:before {
  content: "\f324"; }

.ion-ios7-basketball:before {
  content: "\f327"; }

.ion-ios7-basketball-outline:before {
  content: "\f326"; }

.ion-ios7-bell:before {
  content: "\f159"; }

.ion-ios7-bell-outline:before {
  content: "\f158"; }

.ion-ios7-bolt:before {
  content: "\f15b"; }

.ion-ios7-bolt-outline:before {
  content: "\f15a"; }

.ion-ios7-bookmarks:before {
  content: "\f15d"; }

.ion-ios7-bookmarks-outline:before {
  content: "\f15c"; }

.ion-ios7-box:before {
  content: "\f15f"; }

.ion-ios7-box-outline:before {
  content: "\f15e"; }

.ion-ios7-briefcase:before {
  content: "\f283"; }

.ion-ios7-briefcase-outline:before {
  content: "\f282"; }

.ion-ios7-browsers:before {
  content: "\f161"; }

.ion-ios7-browsers-outline:before {
  content: "\f160"; }

.ion-ios7-calculator:before {
  content: "\f285"; }

.ion-ios7-calculator-outline:before {
  content: "\f284"; }

.ion-ios7-calendar:before {
  content: "\f163"; }

.ion-ios7-calendar-outline:before {
  content: "\f162"; }

.ion-ios7-camera:before {
  content: "\f165"; }

.ion-ios7-camera-outline:before {
  content: "\f164"; }

.ion-ios7-cart:before {
  content: "\f167"; }

.ion-ios7-cart-outline:before {
  content: "\f166"; }

.ion-ios7-chatboxes:before {
  content: "\f169"; }

.ion-ios7-chatboxes-outline:before {
  content: "\f168"; }

.ion-ios7-chatbubble:before {
  content: "\f16b"; }

.ion-ios7-chatbubble-outline:before {
  content: "\f16a"; }

.ion-ios7-checkmark:before {
  content: "\f16e"; }

.ion-ios7-checkmark-empty:before {
  content: "\f16c"; }

.ion-ios7-checkmark-outline:before {
  content: "\f16d"; }

.ion-ios7-circle-filled:before {
  content: "\f16f"; }

.ion-ios7-circle-outline:before {
  content: "\f170"; }

.ion-ios7-clock:before {
  content: "\f172"; }

.ion-ios7-clock-outline:before {
  content: "\f171"; }

.ion-ios7-close:before {
  content: "\f2bc"; }

.ion-ios7-close-empty:before {
  content: "\f2bd"; }

.ion-ios7-close-outline:before {
  content: "\f2bb"; }

.ion-ios7-cloud:before {
  content: "\f178"; }

.ion-ios7-cloud-download:before {
  content: "\f174"; }

.ion-ios7-cloud-download-outline:before {
  content: "\f173"; }

.ion-ios7-cloud-outline:before {
  content: "\f175"; }

.ion-ios7-cloud-upload:before {
  content: "\f177"; }

.ion-ios7-cloud-upload-outline:before {
  content: "\f176"; }

.ion-ios7-cloudy:before {
  content: "\f17a"; }

.ion-ios7-cloudy-night:before {
  content: "\f308"; }

.ion-ios7-cloudy-night-outline:before {
  content: "\f307"; }

.ion-ios7-cloudy-outline:before {
  content: "\f179"; }

.ion-ios7-cog:before {
  content: "\f17c"; }

.ion-ios7-cog-outline:before {
  content: "\f17b"; }

.ion-ios7-compose:before {
  content: "\f17e"; }

.ion-ios7-compose-outline:before {
  content: "\f17d"; }

.ion-ios7-contact:before {
  content: "\f180"; }

.ion-ios7-contact-outline:before {
  content: "\f17f"; }

.ion-ios7-copy:before {
  content: "\f182"; }

.ion-ios7-copy-outline:before {
  content: "\f181"; }

.ion-ios7-download:before {
  content: "\f184"; }

.ion-ios7-download-outline:before {
  content: "\f183"; }

.ion-ios7-drag:before {
  content: "\f185"; }

.ion-ios7-email:before {
  content: "\f187"; }

.ion-ios7-email-outline:before {
  content: "\f186"; }

.ion-ios7-expand:before {
  content: "\f30d"; }

.ion-ios7-eye:before {
  content: "\f189"; }

.ion-ios7-eye-outline:before {
  content: "\f188"; }

.ion-ios7-fastforward:before {
  content: "\f18b"; }

.ion-ios7-fastforward-outline:before {
  content: "\f18a"; }

.ion-ios7-filing:before {
  content: "\f18d"; }

.ion-ios7-filing-outline:before {
  content: "\f18c"; }

.ion-ios7-film:before {
  content: "\f18f"; }

.ion-ios7-film-outline:before {
  content: "\f18e"; }

.ion-ios7-flag:before {
  content: "\f191"; }

.ion-ios7-flag-outline:before {
  content: "\f190"; }

.ion-ios7-folder:before {
  content: "\f193"; }

.ion-ios7-folder-outline:before {
  content: "\f192"; }

.ion-ios7-football:before {
  content: "\f329"; }

.ion-ios7-football-outline:before {
  content: "\f328"; }

.ion-ios7-gear:before {
  content: "\f195"; }

.ion-ios7-gear-outline:before {
  content: "\f194"; }

.ion-ios7-glasses:before {
  content: "\f197"; }

.ion-ios7-glasses-outline:before {
  content: "\f196"; }

.ion-ios7-heart:before {
  content: "\f199"; }

.ion-ios7-heart-outline:before {
  content: "\f198"; }

.ion-ios7-help:before {
  content: "\f19c"; }

.ion-ios7-help-empty:before {
  content: "\f19a"; }

.ion-ios7-help-outline:before {
  content: "\f19b"; }

.ion-ios7-home:before {
  content: "\f32b"; }

.ion-ios7-home-outline:before {
  content: "\f32a"; }

.ion-ios7-infinite:before {
  content: "\f19e"; }

.ion-ios7-infinite-outline:before {
  content: "\f19d"; }

.ion-ios7-information:before {
  content: "\f1a1"; }

.ion-ios7-information-empty:before {
  content: "\f19f"; }

.ion-ios7-information-outline:before {
  content: "\f1a0"; }

.ion-ios7-ionic-outline:before {
  content: "\f1a2"; }

.ion-ios7-keypad:before {
  content: "\f1a4"; }

.ion-ios7-keypad-outline:before {
  content: "\f1a3"; }

.ion-ios7-lightbulb:before {
  content: "\f287"; }

.ion-ios7-lightbulb-outline:before {
  content: "\f286"; }

.ion-ios7-location:before {
  content: "\f1a6"; }

.ion-ios7-location-outline:before {
  content: "\f1a5"; }

.ion-ios7-locked:before {
  content: "\f1a8"; }

.ion-ios7-locked-outline:before {
  content: "\f1a7"; }

.ion-ios7-loop:before {
  content: "\f32d"; }

.ion-ios7-loop-strong:before {
  content: "\f32c"; }

.ion-ios7-medkit:before {
  content: "\f289"; }

.ion-ios7-medkit-outline:before {
  content: "\f288"; }

.ion-ios7-mic:before {
  content: "\f1ab"; }

.ion-ios7-mic-off:before {
  content: "\f1a9"; }

.ion-ios7-mic-outline:before {
  content: "\f1aa"; }

.ion-ios7-minus:before {
  content: "\f1ae"; }

.ion-ios7-minus-empty:before {
  content: "\f1ac"; }

.ion-ios7-minus-outline:before {
  content: "\f1ad"; }

.ion-ios7-monitor:before {
  content: "\f1b0"; }

.ion-ios7-monitor-outline:before {
  content: "\f1af"; }

.ion-ios7-moon:before {
  content: "\f1b2"; }

.ion-ios7-moon-outline:before {
  content: "\f1b1"; }

.ion-ios7-more:before {
  content: "\f1b4"; }

.ion-ios7-more-outline:before {
  content: "\f1b3"; }

.ion-ios7-musical-note:before {
  content: "\f1b5"; }

.ion-ios7-musical-notes:before {
  content: "\f1b6"; }

.ion-ios7-navigate:before {
  content: "\f1b8"; }

.ion-ios7-navigate-outline:before {
  content: "\f1b7"; }

.ion-ios7-paper:before {
  content: "\f32f"; }

.ion-ios7-paper-outline:before {
  content: "\f32e"; }

.ion-ios7-paperplane:before {
  content: "\f1ba"; }

.ion-ios7-paperplane-outline:before {
  content: "\f1b9"; }

.ion-ios7-partlysunny:before {
  content: "\f1bc"; }

.ion-ios7-partlysunny-outline:before {
  content: "\f1bb"; }

.ion-ios7-pause:before {
  content: "\f1be"; }

.ion-ios7-pause-outline:before {
  content: "\f1bd"; }

.ion-ios7-paw:before {
  content: "\f331"; }

.ion-ios7-paw-outline:before {
  content: "\f330"; }

.ion-ios7-people:before {
  content: "\f1c0"; }

.ion-ios7-people-outline:before {
  content: "\f1bf"; }

.ion-ios7-person:before {
  content: "\f1c2"; }

.ion-ios7-person-outline:before {
  content: "\f1c1"; }

.ion-ios7-personadd:before {
  content: "\f1c4"; }

.ion-ios7-personadd-outline:before {
  content: "\f1c3"; }

.ion-ios7-photos:before {
  content: "\f1c6"; }

.ion-ios7-photos-outline:before {
  content: "\f1c5"; }

.ion-ios7-pie:before {
  content: "\f28b"; }

.ion-ios7-pie-outline:before {
  content: "\f28a"; }

.ion-ios7-play:before {
  content: "\f1c8"; }

.ion-ios7-play-outline:before {
  content: "\f1c7"; }

.ion-ios7-plus:before {
  content: "\f1cb"; }

.ion-ios7-plus-empty:before {
  content: "\f1c9"; }

.ion-ios7-plus-outline:before {
  content: "\f1ca"; }

.ion-ios7-pricetag:before {
  content: "\f28d"; }

.ion-ios7-pricetag-outline:before {
  content: "\f28c"; }

.ion-ios7-pricetags:before {
  content: "\f333"; }

.ion-ios7-pricetags-outline:before {
  content: "\f332"; }

.ion-ios7-printer:before {
  content: "\f1cd"; }

.ion-ios7-printer-outline:before {
  content: "\f1cc"; }

.ion-ios7-pulse:before {
  content: "\f335"; }

.ion-ios7-pulse-strong:before {
  content: "\f334"; }

.ion-ios7-rainy:before {
  content: "\f1cf"; }

.ion-ios7-rainy-outline:before {
  content: "\f1ce"; }

.ion-ios7-recording:before {
  content: "\f1d1"; }

.ion-ios7-recording-outline:before {
  content: "\f1d0"; }

.ion-ios7-redo:before {
  content: "\f1d3"; }

.ion-ios7-redo-outline:before {
  content: "\f1d2"; }

.ion-ios7-refresh:before {
  content: "\f1d6"; }

.ion-ios7-refresh-empty:before {
  content: "\f1d4"; }

.ion-ios7-refresh-outline:before {
  content: "\f1d5"; }

.ion-ios7-reload:before, .ion-ios7-reloading:before {
  content: "\f28e"; }

.ion-ios7-reverse-camera:before {
  content: "\f337"; }

.ion-ios7-reverse-camera-outline:before {
  content: "\f336"; }

.ion-ios7-rewind:before {
  content: "\f1d8"; }

.ion-ios7-rewind-outline:before {
  content: "\f1d7"; }

.ion-ios7-search:before {
  content: "\f1da"; }

.ion-ios7-search-strong:before {
  content: "\f1d9"; }

.ion-ios7-settings:before {
  content: "\f339"; }

.ion-ios7-settings-strong:before {
  content: "\f338"; }

.ion-ios7-shrink:before {
  content: "\f30e"; }

.ion-ios7-skipbackward:before {
  content: "\f1dc"; }

.ion-ios7-skipbackward-outline:before {
  content: "\f1db"; }

.ion-ios7-skipforward:before {
  content: "\f1de"; }

.ion-ios7-skipforward-outline:before {
  content: "\f1dd"; }

.ion-ios7-snowy:before {
  content: "\f309"; }

.ion-ios7-speedometer:before {
  content: "\f290"; }

.ion-ios7-speedometer-outline:before {
  content: "\f28f"; }

.ion-ios7-star:before {
  content: "\f1e0"; }

.ion-ios7-star-half:before {
  content: "\f33a"; }

.ion-ios7-star-outline:before {
  content: "\f1df"; }

.ion-ios7-stopwatch:before {
  content: "\f1e2"; }

.ion-ios7-stopwatch-outline:before {
  content: "\f1e1"; }

.ion-ios7-sunny:before {
  content: "\f1e4"; }

.ion-ios7-sunny-outline:before {
  content: "\f1e3"; }

.ion-ios7-telephone:before {
  content: "\f1e6"; }

.ion-ios7-telephone-outline:before {
  content: "\f1e5"; }

.ion-ios7-tennisball:before {
  content: "\f33c"; }

.ion-ios7-tennisball-outline:before {
  content: "\f33b"; }

.ion-ios7-thunderstorm:before {
  content: "\f1e8"; }

.ion-ios7-thunderstorm-outline:before {
  content: "\f1e7"; }

.ion-ios7-time:before {
  content: "\f292"; }

.ion-ios7-time-outline:before {
  content: "\f291"; }

.ion-ios7-timer:before {
  content: "\f1ea"; }

.ion-ios7-timer-outline:before {
  content: "\f1e9"; }

.ion-ios7-toggle:before {
  content: "\f33e"; }

.ion-ios7-toggle-outline:before {
  content: "\f33d"; }

.ion-ios7-trash:before {
  content: "\f1ec"; }

.ion-ios7-trash-outline:before {
  content: "\f1eb"; }

.ion-ios7-undo:before {
  content: "\f1ee"; }

.ion-ios7-undo-outline:before {
  content: "\f1ed"; }

.ion-ios7-unlocked:before {
  content: "\f1f0"; }

.ion-ios7-unlocked-outline:before {
  content: "\f1ef"; }

.ion-ios7-upload:before {
  content: "\f1f2"; }

.ion-ios7-upload-outline:before {
  content: "\f1f1"; }

.ion-ios7-videocam:before {
  content: "\f1f4"; }

.ion-ios7-videocam-outline:before {
  content: "\f1f3"; }

.ion-ios7-volume-high:before {
  content: "\f1f5"; }

.ion-ios7-volume-low:before {
  content: "\f1f6"; }

.ion-ios7-wineglass:before {
  content: "\f294"; }

.ion-ios7-wineglass-outline:before {
  content: "\f293"; }

.ion-ios7-world:before {
  content: "\f1f8"; }

.ion-ios7-world-outline:before {
  content: "\f1f7"; }

.ion-ipad:before {
  content: "\f1f9"; }

.ion-iphone:before {
  content: "\f1fa"; }

.ion-ipod:before {
  content: "\f1fb"; }

.ion-jet:before {
  content: "\f295"; }

.ion-key:before {
  content: "\f296"; }

.ion-knife:before {
  content: "\f297"; }

.ion-laptop:before {
  content: "\f1fc"; }

.ion-leaf:before {
  content: "\f1fd"; }

.ion-levels:before {
  content: "\f298"; }

.ion-lightbulb:before {
  content: "\f299"; }

.ion-link:before {
  content: "\f1fe"; }

.ion-load-a:before, .ion-loading-a:before {
  content: "\f29a"; }

.ion-load-b:before, .ion-loading-b:before {
  content: "\f29b"; }

.ion-load-c:before, .ion-loading-c:before {
  content: "\f29c"; }

.ion-load-d:before, .ion-loading-d:before {
  content: "\f29d"; }

.ion-location:before {
  content: "\f1ff"; }

.ion-locked:before {
  content: "\f200"; }

.ion-log-in:before {
  content: "\f29e"; }

.ion-log-out:before {
  content: "\f29f"; }

.ion-loop:before, .ion-looping:before {
  content: "\f201"; }

.ion-magnet:before {
  content: "\f2a0"; }

.ion-male:before {
  content: "\f2a1"; }

.ion-man:before {
  content: "\f202"; }

.ion-map:before {
  content: "\f203"; }

.ion-medkit:before {
  content: "\f2a2"; }

.ion-merge:before {
  content: "\f33f"; }

.ion-mic-a:before {
  content: "\f204"; }

.ion-mic-b:before {
  content: "\f205"; }

.ion-mic-c:before {
  content: "\f206"; }

.ion-minus:before {
  content: "\f209"; }

.ion-minus-circled:before {
  content: "\f207"; }

.ion-minus-round:before {
  content: "\f208"; }

.ion-model-s:before {
  content: "\f2c1"; }

.ion-monitor:before {
  content: "\f20a"; }

.ion-more:before {
  content: "\f20b"; }

.ion-mouse:before {
  content: "\f340"; }

.ion-music-note:before {
  content: "\f20c"; }

.ion-navicon:before {
  content: "\f20e"; }

.ion-navicon-round:before {
  content: "\f20d"; }

.ion-navigate:before {
  content: "\f2a3"; }

.ion-network:before {
  content: "\f341"; }

.ion-no-smoking:before {
  content: "\f2c2"; }

.ion-nuclear:before {
  content: "\f2a4"; }

.ion-outlet:before {
  content: "\f342"; }

.ion-paper-airplane:before {
  content: "\f2c3"; }

.ion-paperclip:before {
  content: "\f20f"; }

.ion-pause:before {
  content: "\f210"; }

.ion-person:before {
  content: "\f213"; }

.ion-person-add:before {
  content: "\f211"; }

.ion-person-stalker:before {
  content: "\f212"; }

.ion-pie-graph:before {
  content: "\f2a5"; }

.ion-pin:before {
  content: "\f2a6"; }

.ion-pinpoint:before {
  content: "\f2a7"; }

.ion-pizza:before {
  content: "\f2a8"; }

.ion-plane:before {
  content: "\f214"; }

.ion-planet:before {
  content: "\f343"; }

.ion-play:before {
  content: "\f215"; }

.ion-playstation:before {
  content: "\f30a"; }

.ion-plus:before {
  content: "\f218"; }

.ion-plus-circled:before {
  content: "\f216"; }

.ion-plus-round:before {
  content: "\f217"; }

.ion-podium:before {
  content: "\f344"; }

.ion-pound:before {
  content: "\f219"; }

.ion-power:before {
  content: "\f2a9"; }

.ion-pricetag:before {
  content: "\f2aa"; }

.ion-pricetags:before {
  content: "\f2ab"; }

.ion-printer:before {
  content: "\f21a"; }

.ion-pull-request:before {
  content: "\f345"; }

.ion-qr-scanner:before {
  content: "\f346"; }

.ion-quote:before {
  content: "\f347"; }

.ion-radio-waves:before {
  content: "\f2ac"; }

.ion-record:before {
  content: "\f21b"; }

.ion-refresh:before, .ion-refreshing:before {
  content: "\f21c"; }

.ion-reply:before {
  content: "\f21e"; }

.ion-reply-all:before {
  content: "\f21d"; }

.ion-ribbon-a:before {
  content: "\f348"; }

.ion-ribbon-b:before {
  content: "\f349"; }

.ion-sad:before {
  content: "\f34a"; }

.ion-scissors:before {
  content: "\f34b"; }

.ion-search:before {
  content: "\f21f"; }

.ion-settings:before {
  content: "\f2ad"; }

.ion-share:before {
  content: "\f220"; }

.ion-shuffle:before {
  content: "\f221"; }

.ion-skip-backward:before {
  content: "\f222"; }

.ion-skip-forward:before {
  content: "\f223"; }

.ion-social-android:before {
  content: "\f225"; }

.ion-social-android-outline:before {
  content: "\f224"; }

.ion-social-apple:before {
  content: "\f227"; }

.ion-social-apple-outline:before {
  content: "\f226"; }

.ion-social-bitcoin:before {
  content: "\f2af"; }

.ion-social-bitcoin-outline:before {
  content: "\f2ae"; }

.ion-social-buffer:before {
  content: "\f229"; }

.ion-social-buffer-outline:before {
  content: "\f228"; }

.ion-social-designernews:before {
  content: "\f22b"; }

.ion-social-designernews-outline:before {
  content: "\f22a"; }

.ion-social-dribbble:before {
  content: "\f22d"; }

.ion-social-dribbble-outline:before {
  content: "\f22c"; }

.ion-social-dropbox:before {
  content: "\f22f"; }

.ion-social-dropbox-outline:before {
  content: "\f22e"; }

.ion-social-facebook:before {
  content: "\f231"; }

.ion-social-facebook-outline:before {
  content: "\f230"; }

.ion-social-foursquare:before {
  content: "\f34d"; }

.ion-social-foursquare-outline:before {
  content: "\f34c"; }

.ion-social-freebsd-devil:before {
  content: "\f2c4"; }

.ion-social-github:before {
  content: "\f233"; }

.ion-social-github-outline:before {
  content: "\f232"; }

.ion-social-google:before {
  content: "\f34f"; }

.ion-social-google-outline:before {
  content: "\f34e"; }

.ion-social-googleplus:before {
  content: "\f235"; }

.ion-social-googleplus-outline:before {
  content: "\f234"; }

.ion-social-hackernews:before {
  content: "\f237"; }

.ion-social-hackernews-outline:before {
  content: "\f236"; }

.ion-social-instagram:before {
  content: "\f351"; }

.ion-social-instagram-outline:before {
  content: "\f350"; }

.ion-social-linkedin:before {
  content: "\f239"; }

.ion-social-linkedin-outline:before {
  content: "\f238"; }

.ion-social-pinterest:before {
  content: "\f2b1"; }

.ion-social-pinterest-outline:before {
  content: "\f2b0"; }

.ion-social-reddit:before {
  content: "\f23b"; }

.ion-social-reddit-outline:before {
  content: "\f23a"; }

.ion-social-rss:before {
  content: "\f23d"; }

.ion-social-rss-outline:before {
  content: "\f23c"; }

.ion-social-skype:before {
  content: "\f23f"; }

.ion-social-skype-outline:before {
  content: "\f23e"; }

.ion-social-tumblr:before {
  content: "\f241"; }

.ion-social-tumblr-outline:before {
  content: "\f240"; }

.ion-social-tux:before {
  content: "\f2c5"; }

.ion-social-twitter:before {
  content: "\f243"; }

.ion-social-twitter-outline:before {
  content: "\f242"; }

.ion-social-usd:before {
  content: "\f353"; }

.ion-social-usd-outline:before {
  content: "\f352"; }

.ion-social-vimeo:before {
  content: "\f245"; }

.ion-social-vimeo-outline:before {
  content: "\f244"; }

.ion-social-windows:before {
  content: "\f247"; }

.ion-social-windows-outline:before {
  content: "\f246"; }

.ion-social-wordpress:before {
  content: "\f249"; }

.ion-social-wordpress-outline:before {
  content: "\f248"; }

.ion-social-yahoo:before {
  content: "\f24b"; }

.ion-social-yahoo-outline:before {
  content: "\f24a"; }

.ion-social-youtube:before {
  content: "\f24d"; }

.ion-social-youtube-outline:before {
  content: "\f24c"; }

.ion-speakerphone:before {
  content: "\f2b2"; }

.ion-speedometer:before {
  content: "\f2b3"; }

.ion-spoon:before {
  content: "\f2b4"; }

.ion-star:before {
  content: "\f24e"; }

.ion-stats-bars:before {
  content: "\f2b5"; }

.ion-steam:before {
  content: "\f30b"; }

.ion-stop:before {
  content: "\f24f"; }

.ion-thermometer:before {
  content: "\f2b6"; }

.ion-thumbsdown:before {
  content: "\f250"; }

.ion-thumbsup:before {
  content: "\f251"; }

.ion-toggle:before {
  content: "\f355"; }

.ion-toggle-filled:before {
  content: "\f354"; }

.ion-trash-a:before {
  content: "\f252"; }

.ion-trash-b:before {
  content: "\f253"; }

.ion-trophy:before {
  content: "\f356"; }

.ion-umbrella:before {
  content: "\f2b7"; }

.ion-university:before {
  content: "\f357"; }

.ion-unlocked:before {
  content: "\f254"; }

.ion-upload:before {
  content: "\f255"; }

.ion-usb:before {
  content: "\f2b8"; }

.ion-videocamera:before {
  content: "\f256"; }

.ion-volume-high:before {
  content: "\f257"; }

.ion-volume-low:before {
  content: "\f258"; }

.ion-volume-medium:before {
  content: "\f259"; }

.ion-volume-mute:before {
  content: "\f25a"; }

.ion-wand:before {
  content: "\f358"; }

.ion-waterdrop:before {
  content: "\f25b"; }

.ion-wifi:before {
  content: "\f25c"; }

.ion-wineglass:before {
  content: "\f2b9"; }

.ion-woman:before {
  content: "\f25d"; }

.ion-wrench:before {
  content: "\f2ba"; }

.ion-xbox:before {
  content: "\f30c"; }

/**
 * Tabs
 * --------------------------------------------------
 * A navigation bar with any number of tab items supported.
 */
.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: horizontal;
  -moz-flex-direction: horizontal;
  -ms-flex-direction: horizontal;
  flex-direction: horizontal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #444;
  position: absolute;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 49px;
  border-style: solid;
  border-top-width: 1px;
  background-size: 0;
  line-height: 49px; }
  .tabs .tab-item .badge {
    background-color: #444;
    color: #f8f8f8; }
  @media (min--moz-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .tabs {
      padding-top: 2px;
      border-top: none !important;
      border-bottom: none;
      background-position: top;
      background-size: 100% 1px;
      background-repeat: no-repeat; } }

/* Allow parent element of tabs to define color, or just the tab itself */
.tabs-light > .tabs, .tabs.tabs-light {
  border-color: #ddd;
  background-color: #fff;
  background-image: linear-gradient(0deg, #ddd, #ddd 50%, transparent 50%);
  color: #444; }
  .tabs-light > .tabs .tab-item .badge, .tabs.tabs-light .tab-item .badge {
    background-color: #444;
    color: #fff; }

.tabs-stable > .tabs, .tabs.tabs-stable {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #444; }
  .tabs-stable > .tabs .tab-item .badge, .tabs.tabs-stable .tab-item .badge {
    background-color: #444;
    color: #f8f8f8; }

.tabs-positive > .tabs, .tabs.tabs-positive {
  border-color: #145fd7;
  background-color: #4a87ee;
  background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
  color: #fff; }
  .tabs-positive > .tabs .tab-item .badge, .tabs.tabs-positive .tab-item .badge {
    background-color: #fff;
    color: #4a87ee; }

.tabs-calm > .tabs, .tabs.tabs-calm {
  border-color: #1aacc3;
  background-color: #43cee6;
  background-image: linear-gradient(0deg, #1aacc3, #1aacc3 50%, transparent 50%);
  color: #fff; }
  .tabs-calm > .tabs .tab-item .badge, .tabs.tabs-calm .tab-item .badge {
    background-color: #fff;
    color: #43cee6; }

.tabs-assertive > .tabs, .tabs.tabs-assertive {
  border-color: #cc2311;
  background-color: #ef4e3a;
  background-image: linear-gradient(0deg, #cc2311, #cc2311 50%, transparent 50%);
  color: #fff; }
  .tabs-assertive > .tabs .tab-item .badge, .tabs.tabs-assertive .tab-item .badge {
    background-color: #fff;
    color: #ef4e3a; }

.tabs-balanced > .tabs, .tabs.tabs-balanced {
  border-color: #498f24;
  background-color: #66cc33;
  background-image: linear-gradient(0deg, #498f24, #498f24 50%, transparent 50%);
  color: #fff; }
  .tabs-balanced > .tabs .tab-item .badge, .tabs.tabs-balanced .tab-item .badge {
    background-color: #fff;
    color: #66cc33; }

.tabs-energized > .tabs, .tabs.tabs-energized {
  border-color: #d39211;
  background-color: #f0b840;
  background-image: linear-gradient(0deg, #d39211, #d39211 50%, transparent 50%);
  color: #fff; }
  .tabs-energized > .tabs .tab-item .badge, .tabs.tabs-energized .tab-item .badge {
    background-color: #fff;
    color: #f0b840; }

.tabs-royal > .tabs, .tabs.tabs-royal {
  border-color: #552bdf;
  background-color: #8a6de9;
  background-image: linear-gradient(0deg, #552bdf, #552bdf 50%, transparent 50%);
  color: #fff; }
  .tabs-royal > .tabs .tab-item .badge, .tabs.tabs-royal .tab-item .badge {
    background-color: #fff;
    color: #8a6de9; }

.tabs-dark > .tabs, .tabs.tabs-dark {
  border-color: #111;
  background-color: #444;
  background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%);
  color: #fff; }
  .tabs-dark > .tabs .tab-item .badge, .tabs.tabs-dark .tab-item .badge {
    background-color: #fff;
    color: #444; }

.tabs-striped .tabs {
  background-color: white;
  background-image: none;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  padding-top: 2px; }
.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated {
  margin-top: -2px;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #444; }
.tabs-striped.tabs-light .tabs {
  background-color: #444; }
.tabs-striped.tabs-light .tab-item {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-light .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-light .tab-item.tab-item-active, .tabs-striped.tabs-light .tab-item.active, .tabs-striped.tabs-light .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #fff; }
    .tabs-striped.tabs-light .tab-item.tab-item-active .badge, .tabs-striped.tabs-light .tab-item.active .badge, .tabs-striped.tabs-light .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-stable .tabs {
  background-color: #444; }
.tabs-striped.tabs-stable .tab-item {
  color: rgba(248, 248, 248, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-stable .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {
    margin-top: -2px;
    color: #f8f8f8;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #f8f8f8; }
    .tabs-striped.tabs-stable .tab-item.tab-item-active .badge, .tabs-striped.tabs-stable .tab-item.active .badge, .tabs-striped.tabs-stable .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-positive .tabs {
  background-color: #fff; }
.tabs-striped.tabs-positive .tab-item {
  color: rgba(74, 135, 238, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-positive .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-positive .tab-item.tab-item-active, .tabs-striped.tabs-positive .tab-item.active, .tabs-striped.tabs-positive .tab-item.activated {
    margin-top: -2px;
    color: #4a87ee;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #4a87ee; }
    .tabs-striped.tabs-positive .tab-item.tab-item-active .badge, .tabs-striped.tabs-positive .tab-item.active .badge, .tabs-striped.tabs-positive .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-calm .tabs {
  background-color: #fff; }
.tabs-striped.tabs-calm .tab-item {
  color: rgba(67, 206, 230, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-calm .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-calm .tab-item.tab-item-active, .tabs-striped.tabs-calm .tab-item.active, .tabs-striped.tabs-calm .tab-item.activated {
    margin-top: -2px;
    color: #43cee6;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #43cee6; }
    .tabs-striped.tabs-calm .tab-item.tab-item-active .badge, .tabs-striped.tabs-calm .tab-item.active .badge, .tabs-striped.tabs-calm .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-assertive .tabs {
  background-color: #fff; }
.tabs-striped.tabs-assertive .tab-item {
  color: rgba(239, 78, 58, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-assertive .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-assertive .tab-item.tab-item-active, .tabs-striped.tabs-assertive .tab-item.active, .tabs-striped.tabs-assertive .tab-item.activated {
    margin-top: -2px;
    color: #ef4e3a;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #ef4e3a; }
    .tabs-striped.tabs-assertive .tab-item.tab-item-active .badge, .tabs-striped.tabs-assertive .tab-item.active .badge, .tabs-striped.tabs-assertive .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-balanced .tabs {
  background-color: #fff; }
.tabs-striped.tabs-balanced .tab-item {
  color: rgba(102, 204, 51, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-balanced .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-balanced .tab-item.tab-item-active, .tabs-striped.tabs-balanced .tab-item.active, .tabs-striped.tabs-balanced .tab-item.activated {
    margin-top: -2px;
    color: #66cc33;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #66cc33; }
    .tabs-striped.tabs-balanced .tab-item.tab-item-active .badge, .tabs-striped.tabs-balanced .tab-item.active .badge, .tabs-striped.tabs-balanced .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-energized .tabs {
  background-color: #fff; }
.tabs-striped.tabs-energized .tab-item {
  color: rgba(240, 184, 64, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-energized .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-energized .tab-item.tab-item-active, .tabs-striped.tabs-energized .tab-item.active, .tabs-striped.tabs-energized .tab-item.activated {
    margin-top: -2px;
    color: #f0b840;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #f0b840; }
    .tabs-striped.tabs-energized .tab-item.tab-item-active .badge, .tabs-striped.tabs-energized .tab-item.active .badge, .tabs-striped.tabs-energized .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-royal .tabs {
  background-color: #fff; }
.tabs-striped.tabs-royal .tab-item {
  color: rgba(138, 109, 233, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-royal .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-royal .tab-item.tab-item-active, .tabs-striped.tabs-royal .tab-item.active, .tabs-striped.tabs-royal .tab-item.activated {
    margin-top: -2px;
    color: #8a6de9;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #8a6de9; }
    .tabs-striped.tabs-royal .tab-item.tab-item-active .badge, .tabs-striped.tabs-royal .tab-item.active .badge, .tabs-striped.tabs-royal .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-dark .tabs {
  background-color: #fff; }
.tabs-striped.tabs-dark .tab-item {
  color: rgba(68, 68, 68, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-dark .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-dark .tab-item.tab-item-active, .tabs-striped.tabs-dark .tab-item.active, .tabs-striped.tabs-dark .tab-item.activated {
    margin-top: -2px;
    color: #444;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: #444; }
    .tabs-striped.tabs-dark .tab-item.tab-item-active .badge, .tabs-striped.tabs-dark .tab-item.active .badge, .tabs-striped.tabs-dark .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-top .tab-item.tab-item-active .badge, .tabs-striped.tabs-top .tab-item.active .badge, .tabs-striped.tabs-top .tab-item.activated .badge {
  top: 4%; }
.tabs-striped.tabs-background-light .tabs {
  background-color: #fff; }
.tabs-striped.tabs-background-stable .tabs {
  background-color: #f8f8f8; }
.tabs-striped.tabs-background-positive .tabs {
  background-color: #4a87ee; }
.tabs-striped.tabs-background-calm .tabs {
  background-color: #43cee6; }
.tabs-striped.tabs-background-assertive .tabs {
  background-color: #ef4e3a; }
.tabs-striped.tabs-background-balanced .tabs {
  background-color: #66cc33; }
.tabs-striped.tabs-background-energized .tabs {
  background-color: #f0b840; }
.tabs-striped.tabs-background-royal .tabs {
  background-color: #8a6de9; }
.tabs-striped.tabs-background-dark .tabs {
  background-color: #444; }
.tabs-striped.tabs-color-light .tab-item {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-light .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated {
    margin-top: -2px;
    color: #fff;
    border: 0 solid #fff;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-light .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-light .tab-item.active .badge, .tabs-striped.tabs-color-light .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-stable .tab-item {
  color: rgba(248, 248, 248, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-stable .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-stable .tab-item.tab-item-active, .tabs-striped.tabs-color-stable .tab-item.active, .tabs-striped.tabs-color-stable .tab-item.activated {
    margin-top: -2px;
    color: #f8f8f8;
    border: 0 solid #f8f8f8;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-stable .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-stable .tab-item.active .badge, .tabs-striped.tabs-color-stable .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-positive .tab-item {
  color: rgba(74, 135, 238, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-positive .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-positive .tab-item.tab-item-active, .tabs-striped.tabs-color-positive .tab-item.active, .tabs-striped.tabs-color-positive .tab-item.activated {
    margin-top: -2px;
    color: #4a87ee;
    border: 0 solid #4a87ee;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-positive .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-positive .tab-item.active .badge, .tabs-striped.tabs-color-positive .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-calm .tab-item {
  color: rgba(67, 206, 230, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-calm .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-calm .tab-item.tab-item-active, .tabs-striped.tabs-color-calm .tab-item.active, .tabs-striped.tabs-color-calm .tab-item.activated {
    margin-top: -2px;
    color: #43cee6;
    border: 0 solid #43cee6;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-calm .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-calm .tab-item.active .badge, .tabs-striped.tabs-color-calm .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-assertive .tab-item {
  color: rgba(239, 78, 58, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-assertive .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
    margin-top: -2px;
    color: #ef4e3a;
    border: 0 solid #ef4e3a;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-assertive .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-assertive .tab-item.active .badge, .tabs-striped.tabs-color-assertive .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-balanced .tab-item {
  color: rgba(102, 204, 51, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-balanced .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-balanced .tab-item.tab-item-active, .tabs-striped.tabs-color-balanced .tab-item.active, .tabs-striped.tabs-color-balanced .tab-item.activated {
    margin-top: -2px;
    color: #66cc33;
    border: 0 solid #66cc33;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-balanced .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-balanced .tab-item.active .badge, .tabs-striped.tabs-color-balanced .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-energized .tab-item {
  color: rgba(240, 184, 64, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-energized .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-energized .tab-item.tab-item-active, .tabs-striped.tabs-color-energized .tab-item.active, .tabs-striped.tabs-color-energized .tab-item.activated {
    margin-top: -2px;
    color: #f0b840;
    border: 0 solid #f0b840;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-energized .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-energized .tab-item.active .badge, .tabs-striped.tabs-color-energized .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-royal .tab-item {
  color: rgba(138, 109, 233, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-royal .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-royal .tab-item.tab-item-active, .tabs-striped.tabs-color-royal .tab-item.active, .tabs-striped.tabs-color-royal .tab-item.activated {
    margin-top: -2px;
    color: #8a6de9;
    border: 0 solid #8a6de9;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-royal .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-royal .tab-item.active .badge, .tabs-striped.tabs-color-royal .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }
.tabs-striped.tabs-color-dark .tab-item {
  color: rgba(68, 68, 68, 0.4);
  opacity: 1; }
  .tabs-striped.tabs-color-dark .tab-item .badge {
    opacity: 0.4; }
  .tabs-striped.tabs-color-dark .tab-item.tab-item-active, .tabs-striped.tabs-color-dark .tab-item.active, .tabs-striped.tabs-color-dark .tab-item.activated {
    margin-top: -2px;
    color: #444;
    border: 0 solid #444;
    border-top-width: 2px; }
    .tabs-striped.tabs-color-dark .tab-item.tab-item-active .badge, .tabs-striped.tabs-color-dark .tab-item.active .badge, .tabs-striped.tabs-color-dark .tab-item.activated .badge {
      top: 2px;
      opacity: 1; }

.tabs-top.tabs-striped {
  padding-bottom: 0; }
  .tabs-top.tabs-striped .tab-item {
    background: transparent;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease; }
    .tabs-top.tabs-striped .tab-item.tab-item-active, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.activated {
      margin-top: 0;
      margin-bottom: -2px;
      border-width: 0px 0px 2px 0px !important;
      border-style: solid; }
    .tabs-top.tabs-striped .tab-item .badge {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }

/* Allow parent element to have tabs-top */
/* If you change this, change platform.scss as well */
.tabs-top > .tabs, .tabs.tabs-top {
  top: 44px;
  padding-top: 0;
  background-position: bottom; }
  .tabs-top > .tabs .tab-item.tab-item-active .badge, .tabs-top > .tabs .tab-item.active .badge, .tabs-top > .tabs .tab-item.activated .badge, .tabs.tabs-top .tab-item.tab-item-active .badge, .tabs.tabs-top .tab-item.active .badge, .tabs.tabs-top .tab-item.activated .badge {
    top: 4%; }

.tabs-top ~ .bar-header {
  border-bottom-width: 0; }

.tab-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  overflow: hidden;
  max-width: 150px;
  height: 100%;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  opacity: 0.7; }
  .tab-item:hover {
    cursor: pointer; }
  .tab-item.tab-hidden {
    display: none; }

.tabs-item-hide > .tabs, .tabs.tabs-item-hide {
  display: none; }

.tabs-icon-top > .tabs .tab-item, .tabs-icon-top.tabs .tab-item, .tabs-icon-bottom > .tabs .tab-item, .tabs-icon-bottom.tabs .tab-item {
  font-size: 12px;
  line-height: 14px; }

.tab-item .icon {
  display: block;
  margin: 0 auto;
  height: 32px;
  font-size: 32px; }

.tabs-icon-left.tabs .tab-item, .tabs-icon-left > .tabs .tab-item, .tabs-icon-right.tabs .tab-item, .tabs-icon-right > .tabs .tab-item {
  font-size: 12px; }
  .tabs-icon-left.tabs .tab-item .icon, .tabs-icon-left > .tabs .tab-item .icon, .tabs-icon-right.tabs .tab-item .icon, .tabs-icon-right > .tabs .tab-item .icon {
    display: inline-block;
    vertical-align: top;
    margin-top: -0.1em; }
    .tabs-icon-left.tabs .tab-item .icon:before, .tabs-icon-left > .tabs .tab-item .icon:before, .tabs-icon-right.tabs .tab-item .icon:before, .tabs-icon-right > .tabs .tab-item .icon:before {
      font-size: 24px;
      line-height: 49px; }

.tabs-icon-left > .tabs .tab-item .icon, .tabs-icon-left.tabs .tab-item .icon {
  padding-right: 3px; }

.tabs-icon-right > .tabs .tab-item .icon, .tabs-icon-right.tabs .tab-item .icon {
  padding-left: 3px; }

.tabs-icon-only > .tabs .icon, .tabs-icon-only.tabs .icon {
  line-height: inherit; }

.tab-item.has-badge {
  position: relative; }

.tab-item .badge {
  position: absolute;
  top: 4%;
  right: 33%;
  right: calc(50% - 26px);
  padding: 1px 6px;
  height: auto;
  font-size: 12px;
  line-height: 16px; }

/* Navigational tab */
/* Active state for tab */
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  opacity: 1; }
  .tab-item.tab-item-active.tab-item-light, .tab-item.active.tab-item-light, .tab-item.activated.tab-item-light {
    color: #fff; }
  .tab-item.tab-item-active.tab-item-stable, .tab-item.active.tab-item-stable, .tab-item.activated.tab-item-stable {
    color: #f8f8f8; }
  .tab-item.tab-item-active.tab-item-positive, .tab-item.active.tab-item-positive, .tab-item.activated.tab-item-positive {
    color: #4a87ee; }
  .tab-item.tab-item-active.tab-item-calm, .tab-item.active.tab-item-calm, .tab-item.activated.tab-item-calm {
    color: #43cee6; }
  .tab-item.tab-item-active.tab-item-assertive, .tab-item.active.tab-item-assertive, .tab-item.activated.tab-item-assertive {
    color: #ef4e3a; }
  .tab-item.tab-item-active.tab-item-balanced, .tab-item.active.tab-item-balanced, .tab-item.activated.tab-item-balanced {
    color: #66cc33; }
  .tab-item.tab-item-active.tab-item-energized, .tab-item.active.tab-item-energized, .tab-item.activated.tab-item-energized {
    color: #f0b840; }
  .tab-item.tab-item-active.tab-item-royal, .tab-item.active.tab-item-royal, .tab-item.activated.tab-item-royal {
    color: #8a6de9; }
  .tab-item.tab-item-active.tab-item-dark, .tab-item.active.tab-item-dark, .tab-item.activated.tab-item-dark {
    color: #444; }

.item.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }
  .item.tabs .icon:before {
    position: relative; }

.tab-item.disabled, .tab-item[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none; }

/** Platform styles **/
.tab-item.tab-item-android {
  border-top: 2px solid inherit; }

/**
 * Badges
 * --------------------------------------------------
 */
.badge {
  background-color: transparent;
  color: #AAAAAA;
  z-index: 1;
  display: inline-block;
  padding: 3px 8px;
  min-width: 10px;
  border-radius: 10px;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px; }
  .badge:empty {
    display: none; }

.tabs .tab-item .badge.badge-light, .badge.badge-light {
  background-color: #fff;
  color: #444; }
.tabs .tab-item .badge.badge-stable, .badge.badge-stable {
  background-color: #f8f8f8;
  color: #444; }
.tabs .tab-item .badge.badge-positive, .badge.badge-positive {
  background-color: #4a87ee;
  color: #fff; }
.tabs .tab-item .badge.badge-calm, .badge.badge-calm {
  background-color: #43cee6;
  color: #fff; }
.tabs .tab-item .badge.badge-assertive, .badge.badge-assertive {
  background-color: #ef4e3a;
  color: #fff; }
.tabs .tab-item .badge.badge-balanced, .badge.badge-balanced {
  background-color: #66cc33;
  color: #fff; }
.tabs .tab-item .badge.badge-energized, .badge.badge-energized {
  background-color: #f0b840;
  color: #fff; }
.tabs .tab-item .badge.badge-royal, .badge.badge-royal {
  background-color: #8a6de9;
  color: #fff; }
.tabs .tab-item .badge.badge-dark, .badge.badge-dark {
  background-color: #444;
  color: #fff; }

.button .badge {
  position: relative;
  top: -1px; }
