<%
    var language = data.language;
    var iPackage = data.package;
    var defaultGroupId = data.defaultGroupId;
    var byWeek = data.byWeek;

    var packageGroups = iPackage.Groups;
    var j = 0;
    var jLens = packageGroups.length || 0;
%>
<div class="detail-side">
    <div class="detail-product-image">
        <!--img data-weave="widget/basic/imageswitch" width="332" alt="" src="/images/blank.png" data-src="images/cleanse/detail/<%=iPackage.ImageName%>"-->
        <div data-weave="widget/cleanse/display/main"></div>
    </div>
    <% if (byWeek) { %>
        <p data-weave="widget/blurb/main(p1710)"></p>
    <% } %>
</div>
<div class="detail-main">
    <div class="detail-hd">
        <h1><%=iPackage.Title%></h1>
        <p><%=iPackage.Introduction%></p>
    </div>
    <div role="tabpanel" class="bwtab detail-groups">
      <ul class="nav nav-tabs" role="tablist">
        <%
            for (j = 0; j < jLens; j++) {
        %>
            <li role="presentation" class="<%if(packageGroups[j].Id===defaultGroupId){%>active<%}%>">
                <a href="#pkg-group-<%=packageGroups[j].Id%>" aria-controls="home" role="tab" data-toggle="tab" data-group-id="<%=packageGroups[j].Id%>" data-action="reloaddisplay"><%=packageGroups[j].Name%></a>
            </li>
        <% } %>
      </ul>
      <div class="tab-content">
        <%
            for (j = 0; j < jLens; j++) {
        %>
            <div role="tabpanel" class="tab-pane <%if(packageGroups[j].Id===defaultGroupId){%>active<%}%>" id="pkg-group-<%=packageGroups[j].Id%>">
                <%
                renderProducts(packageGroups[j].Rules[0].Products, j);
                %>
            </div>
        <% } %>
      </div>
    </div>    
    <div class="detail-action-ordernow detail-action-ordernow-cleanse">
        <a class="btn btn-lg btn-default" href="/cleanse" data-weave="widget/href/main widget/blurb/main(1220)">
            SHOPPING NOW
        </a>
    </div>
</div>

<% function renderProducts(products, suffix) { 
    var i = 0;
    var iLens = products.length || 0;
%>
    <div class="detail-bd cf">
        <ul class="nav nav-tabs">
            <%
                for (i = 0; i < iLens; i++) {
            %>
                <li data-action="producttab" class="<% if (i === 0) { %>active<% } %>">
                    <a href="#pkg-<%=suffix%>-<%=i%>-product-<%=products[i].Id%>" data-toggle="tab" data-url="<%=products[i].Url%>" data-action="loadproduct">
                        <%=(i+1)%>.&nbsp;<%=products[i].Name%>
                    </a>
                </li>
            <% } %>
        </ul>
        <div class="tab-content">
            <%
                for (i = 0; i < iLens; i++) {
            %>
                <div class="tab-pane <% if (i === 0) { %>active<% } %>" id="pkg-<%=suffix%>-<%=i%>-product-<%=products[i].Id%>"></div>
            <% } %>
        </div>
    </div>
<% } %>
