<%
    var account = data.account;
    
    var stores = data.stores;
    var j = 0;
    var jLens = stores.length;

    var cities = data.cities;
    var i = 0;
    var iLens = cities.length;
%>
<div class="selfpicupstore">
    <ul class="nav nav-tabs">
        <%
            for (i = 0; i < iLens; i++) {
        %>
            <li class="<% if (i===0) { %>active<% } %>">
                <a href="#selfpicupstore-<%=cities[i].Id%>" data-toggle="tab"><%=cities[i].Name%></a>
            </li>
        <% } %>
    </ul>
    <div class="tab-content">
        <%
            for (i = 0; i < iLens; i++) {
        %>
            <div class="tab-pane <% if (i===0) { %>active<% } %>" id="selfpicupstore-<%=cities[i].Id%>">
                <% renderStore(cities[i].Id); %>
            </div>
        <% } %>
   </div>
</div>
<form class="standardform form-selfpickup-info form-horizontal">
    <%
        renderAddress();
    %>
</form>

<%
    function renderStore(cityId) {
        var store;
%>
    <%
        for (j = 0; j < jLens; j++) {
            store = stores[j];
            if (store.StoreCityId === cityId && store.IsActive) { 
    %>
                <label class="radio selfpicupstore-single">
                    <input type="radio" class="icheck" value="<%=store.StoreId%>" data-action="changeStore" name="selfpickup-store">
                    <strong class="selfpickupstore-name"><%=store.StoreName %></strong>
                </label>
                <p class="selfpickupstore-gap">
                    <span data-weave="widget/blurb/main(1128)">Store address:</span>
                    <%=store.StoreAddress %>
                    <% if (store.StoreMapUrl) { %>
                        [<a class="link-fn" data-url="<%=store.StoreMapUrl%>" data-weave="widget/map/main widget/blurb/main(1381)">View map</a>]
                    <% } %>
                </p>
                <% if (store.StoreBusinessHours) { %>
                    <p class="selfpickupstore-gap">
                        <span data-weave="widget/blurb/main(1382)">Business hours:</span>
                        <%=store.StoreBusinessHours %>
                    </p>
                <% } %>
                <% if (store.StoreTel) { %>
                    <p class="selfpickupstore-gap">
                        <span data-weave="widget/blurb/main(1387)">Contact tel:</span>
                        <%=store.StoreTel %>
                    </p>
                <% } %>
    <%
            }
        }
    %>
<% } %>

<% function renderAddress() { %>
    <p class="orderedit-delivery-title" data-weave="widget/blurb/main(1383)">Leave your contact information</p>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="selfpickup-firstname" data-weave="widget/blurb/main(1397)">Name:</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" id="selfpickup-firstname" name="selfpickup-firstname" placeholder="Pickup contactor's name is required" required value="<%=(account.FirstName || "")%>" data-weave="widget/blurb/main(1398, 'placeholder')">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="selfpickup-phonenumber" data-weave="widget/blurb/main(1056)">Mobile:</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" id="selfpickup-phonenumber" name="selfpickup-phonenumber" placeholder="Your Contact Number" required value="<%=(account.Mobile || "")%>" data-weave="widget/blurb/main(1134, 'placeholder')">
        </div>
    </div>
<% } %>