<form>
	<h2 class="txtalign-c" data-weave="widget/blurb/main(1350)">Find My Orders</h2>
	<div class="cf">
	    <div class="the-form">
	        <div>
	        	<input type="text" class="input-search" data-action="searchinput" required>
	        	<button type="submit" data-action="search" data-weave="widget/blurb/main(1353)">SEARCH</button>
	        </div>
	        <div class="hint clear" data-weave="widget/blurb/main(1354)">Receiver mobile</div>
	    </div>
	</div>
</form>