@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="cleanse-cols inner cf">
	<div class="col-l page-width-l">
	    <nav data-weave="widget/navigation/main"></nav>
	    <div class="page-main">
	        <div class="order" data-weave="widget/order/main"></div>
	    </div>
	</div>
	<div class="col-l page-width-m line-ver-page" data-weave="widget/pageverticalline/main"></div>
	<div class="col-l page-width-r" data-weave="widget/autofollower/main">
	    <div class="orderconfirm" data-weave="widget/order/confirm/main(step)" data-step="order"></div>
	</div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {};
}
</div>