@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="cf">
	<div class="search-view">
	    <div class="inner">
			<div class="searchbox" data-weave="widget/search/main"></div>
	    </div>
	</div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {};
}
</div>