﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="checkout-view">
        <nav data-weave="widget/navigation/main"></nav>
        <div class="payment order-confirm" data-weave="widget/payment/payresult/main(paySuccess)" data-pay-success="true"></div>
    </div>
</div>
<!-- Google Adwords 账户转化跟踪代码 -->
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" src="//www.googleadservices.com/pagead/conversion/958294434/?label=GltHCPfUkVgQotP5yAM&amp;guid=ON&amp;script=0"  />
	</div>
</noscript>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {};
}
</div>