<%
    var signin = data.signin;
    var paySuccess = data.paySuccess;
    var orderId = data.orderId;
%>
<div class="success payresult-box">
    <h3>
        <% if (paySuccess) { %>
            <span class="text-success glyphicon glyphicon-ok"></span>
            <strong data-weave="widget/blurb/main(1173)">Congrats!</strong>
            <span data-weave="widget/blurb/main(1224)">Your order has been successfully paid.</span>
        <% } else { %>
            <span class="text-danger glyphicon glyphicon-remove"></span>
            <strong data-weave="widget/blurb/main(1377)">Sorry!</strong>
            <span data-weave="widget/blurb/main(1376)">Your payment failed.</span>
        <% } %>
    </h3>
    <br>
    <p>
        <i class="glyphicon glyphicon-chevron-right"></i>
        <a href="/order" data-weave="widget/href/main">
            <strong data-weave="widget/blurb/main(1175)">Click here</strong>
        </a>
        <span data-weave="widget/blurb/main(1223)">to place a new order.</span>
    </p>
    <p>
        <i class="glyphicon glyphicon-chevron-right"></i>
        <% if (signin) { %>
            <span>更多订单服务，请添加维果清微信服务号：VCLEANSE。注册用户仅需绑定即可！</span>
        <% } else { %>
            <span>更多订单服务，请添加维果清微信服务号：VCLEANSE。注册下单，更多服务！</span>
        <% } %>
    </p>
</div>
<br>
<div class="payresult-checklist" data-weave="widget/checklist/main"></div>
