﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<link rel="stylesheet" href="/static/css/detail.css">
<style type="text/css">
    .lng-en .toggle-checkbox,
    .lng-en .toggle-radio span {
        width: 42px;
    }
    .lng-en .detail-list .item-content {
        height: 250px;
    }
</style>
<div class="detail-content" id="detail-content">
    <div class="loading"></div>
</div>
<script id="detailTemplate" type="text/html">
    <div class="detail">
        <div class="property">
            <div class="wrap">
                <h1 id="detailTitle">{{ Title }}</h1>
                <dl class="price">
                    <dt class="meta-title" data-weave="widget/blurb/main('p1001')">价格</dt>
                    <dd>
                        <em>&yen;</em> 
                        <span id="totalPrice">1800</span>
                    </dd>
                </dl>
                <dl id="gender" class="sex">
                    <dt class="meta-title" data-weave="widget/blurb/main('p1002')">性别</dt>
                    <dd>
                        {{each Groups as value index}}
                        <label class="toggle-radio">
                            <input type="radio" class="gender-radio" name="gender" value="{{index}}">
                            <span>{{value.Name}}</span>
                        </label>
                        {{/each}}
                    </dd>
                </dl>
                <dl class="week" id="daynum">
                    <dt class="meta-title" data-weave="widget/blurb/main('p1003')">选择天数</dt>
                    <dd>
                        {{each daynum as value}}
                        <label class="toggle-radio">
                            <input type="radio" class="daynum-radio" name="daynum" value="{{value}}">
                            <span>{{value}}<i style="font-style: normal;" data-weave="widget/blurb/main('p1004')">天</i></span>
                        </label>
                        {{/each}}
                    </dd>
                </dl>
                <div class="select-additions">
                    {{each additions as value index}}
                    <div>
                        <label class="checkbox">
                            <span>
                                <input class="additions-checkbox" data-price="{{value.price}}" value="{{value.id}}" type="checkbox">
                            </span>
                            {{value.text}}
                        </label>
                    </div>
                    {{/each}}
                </div>
                <div class="buy">
                    <a href="#" id="placeOrderBtn" class="btn" data-weave="widget/blurb/main('p1005')">立刻购买</a>
                </div>
            </div>
        </div>
        <div id="gallery" class="gallery">
            {{include 'productImgTemplate'}}
        </div>
    </div>
    <div class="detail-info">
        <h2 class="block-title" data-weave="widget/blurb/main('p1006')">套餐简介</h2>
        <p>
            {{#Introduction}}<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{#Tips}}
        </p>
    </div>
    <div id="detail-list" class="detail-list">
    {{include 'productListTemplate'}}
    </div>
</script> 
<script id="productImgTemplate" type="text/html">
    <div class="booth">
        <img id="boothImg" src="/static/products/{{showRules.Gallery[0].img}}" alt="">
    </div>
    <div class="thumb">
        <div class="thumb-wrap">
            <ul id="thumbImgList">
                {{each showRules.Gallery as value index}}
                <li>
                    <a href="#" {{if index==0}} class="selected" {{/if}}>
                        <img data-src="/static/products/{{value.img}}" src="/static/products/{{value.img}}" />
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        <button class="left-arrow icons-left-arrow"></button>
        <button class="right-arrow icons-right-arrow"></button>
    </div>
</script>
<script id="productListTemplate" type="text/html">
    <h2 class="block-title" data-weave="widget/blurb/main('p1007')">套餐产品</h2>
    <ul>
        {{each showRules.Products as product index}}
            <li {{if index%2!=0 }} style="margin-right:0" {{/if}} >
                <div class="item-indroduce">
                    <strong>{{index + 1}}</strong>
                    <div class="booth">
                        <img src="/static/products/{{product.Image}}" alt="">                           
                    </div>                      
                    <h3>{{product.Name}}</h3>
                </div>
                <div class="item-content">
                    <div class="item-content-list">
                        <span data-weave="widget/blurb/main('p1008')">介绍</span>
                        <p>
                            {{product.Description}}
                        </p>
                    </div>
                    
                    <div class="item-content-list">
                        <span data-weave="widget/blurb/main('p1009')">配料</span>
                        <p>
                            {{product.Ingredient}}
                        </p>
                    </div>

                    <div class="item-content-list">
                        <span data-weave="widget/blurb/main('p1010')">营养成分</span>
                        <p>
                            {{product.Nutrition}}
                        </p>
                    </div>
                </div>
                <div class="bottom-background"></div>
            </li>
        {{/each}}
    </ul>
</script> 
<script src="/static/js/lib/My97DatePicker/WdatePicker.js"></script>
<script src="/static/js/detail.js"></script>

<div class="razor-section" style="display: none;">
@section meta_title {套餐介绍【真正的冷压清体果汁】}
@section meta_keywrods {冷压经典,冷压纤体,冷压清体代餐,暖体经典,暖体纤体,暖体代餐,全绿系列,大师清体柠檬水,暖体大师清体,单瓶果汁,自助购买}
@section meta_description {健康生活领袖，食品创新先锋！维果清以纯天然食物，清体果蔬汁为本，结合中西营养学精华，倡导健康饮食的全新生活方式。}

@section blurb {
    _.BLURB = {
        "p1001": {
            "cn": "价格",
            "en": "Price"
        },
        "p1002": {
            "cn": "性别",
            "en": "Gender"
        },
        "p1003": {
            "cn": "选择天数",
            "en": "Days"
        },
        "p1004": {
            "cn": "天",
            "en": "days"
        },
        "p1005": {
            "cn": "立刻购买",
            "en": "Order Now"
        },
        "p1006": {
            "cn": "套餐简介",
            "en": "Introduction"
        },
        "p1007": {
            "cn": "套餐产品",
            "en": "Products"
        },
        "p1008": {
            "cn": "介绍",
            "en": "Introduction"
        },
        "p1009": {
            "cn": "配料",
            "en": "Ingredient"
        },
        "p1010": {
            "cn": "营养成分",
            "en": "Nutrition"
        },
    };
}
</div>
