﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<link rel="stylesheet" href="/static/css/cleanse.css">
<style type="text/css">
    .lng-en .cleanse-type-nav {
        text-align: center;
    }
    .lng-en .cleanse-type-nav ul {
        display: inline-block;
    }
    .lng-en .cleanse-type-nav li {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .lng-en .cleanse-info .cleanse-info-content {
    	text-align: left;
    	line-height: 1.4;
    	height: 120px;
    }
</style>
<div class="cleanse-content">
	<div class="subtitle">
		<h3 data-weave="widget/blurb/main('p1001')">开始规划您的健康生活方式吧！</h3>
	</div>
	<div id="cleanse-type-nav" class="cleanse-type-nav">
		<ul>
			<li class="active" data-weave="widget/blurb/main('p1003')">入门套餐</li>
			<li data-weave="widget/blurb/main('p1004')">大师套餐</li>
			<li class="last-child" data-weave="widget/blurb/main('p1005')">清体计划</li>
		</ul>
	</div>
	<div id="cleanse-type-content" class="cleanse-type-content">
		<ul class="active">
			<li>
				<div class="cleanse-img">
					<img src="/static/img/cleanse/warming_package.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1006')">
							暖体系列入门套餐
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1007')">
							精心甄选了坚果、草本等滋养成分，缤纷的色彩，美味的口感，维果清温润呵护您的每一个秋冬日。
						</div>
					</div>
				</div>
				<div class="go-look">
				    <a href="#" class="btn show-detail" style='background-color: #999;' data-weave="widget/blurb/main('p1002')">去看看</a>
					<!--<a href="#" class="btn show-detail" id="firstBuy-1" data-weave="widget/blurb/main('p1002')">去看看</a>-->
				</div>
			</li>
			<li class="last-child">
				<div class="cleanse-img">
					<img src="/static/img/cleanse/classic_package.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1008')">
							冷压经典入门套餐
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1009')">
							经典中的经典，以多种蔬菜、水果及坚果来源的植物营养帮助您实现清体、纤体的目标，养成良好健康的饮食习惯。
						</div>
					</div>
				</div>
				<div class="go-look">
					<a href="#" class="btn show-detail" id="firstBuy-2" data-weave="widget/blurb/main('p1002')">去看看</a>
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="cleanse-img">
					<img src="/static/img/cleanse/warming_health.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1010')">
							暖体系列大师套餐
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1011')">
							基于入门装的全面营养，大师套装特别融入更多绿色，为您带来更彻底的清体体验。
						</div>
					</div>
				</div>
				<div class="go-look">
				    <a href="#" class="btn show-detail" style='background-color: #999;' data-weave="widget/blurb/main('p1002')">去看看</a>
					<!--<a href="#" class="btn show-detail" id="againBuy-1" data-weave="widget/blurb/main('p1002')">去看看</a>-->
				</div>
			</li>
			<li class="last-child">
				<div class="cleanse-img">
					<img src="/static/img/cleanse/warming_deto.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1012')">
							冷压经典大师套餐
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1013')">
							专为清体达人设计的冷压套餐，含有更多清新爽口的绿色蔬果汁，为您的身体提供更纯粹、更天然的蔬果营养！
						</div>
					</div>
				</div>
				<div class="go-look">
				    <a href="#" class="btn show-detail" style='background-color: #999;' data-weave="widget/blurb/main('p1002')">去看看</a>
					<!--<a href="#" class="btn show-detail" id="againBuy-2" data-weave="widget/blurb/main('p1002')">去看看</a>-->
				</div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="cleanse-img">
					<img src="/static/img/cleanse/recommend_package.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1014')">
							清体推荐计划
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1015')">
							我们精心奉上定制化的美味蔬果汁组合，为您开启通往健康生活方式的大门。清体由此开始，给您焕然一新的清爽体验。
						</div>
					</div>
				</div>
				<div class="go-look">
					<a href="/subscription" target="_blank" class="btn" data-weave="widget/blurb/main('p1002')">去看看</a>
				</div>
			</li>
			<li class="last-child">
				<div class="cleanse-img">
					<img src="/static/img/cleanse/freedom_choose.jpg" alt="">
				</div>
				<div class="cleanse-info">
					<div class="rotate-block"></div>
					<div class="cleanse-info-box">
						<div class="cleanse-info-header" data-weave="widget/blurb/main('p1016')">
							单品自由选择
						</div>
						<div class="cleanse-info-content" data-weave="widget/blurb/main('p1017')">
							如果您有处女座般的固执偏好，特定的组合、特定的口味、特定的颜色，维果清的缤纷蔬果汁一样能够满足挑剔的您。
						</div>
					</div>
				</div>
				<div class="go-look">
					<a href="/cleanse/customize#category/0" target="_blank" class="btn" data-weave="widget/blurb/main('p1002')">去看看</a>
				</div>
			</li>
		</ul>
	</div>
</div>
<script src="/static/js/cleanse.js"></script>

<div class="razor-section" style="display: none;">
@section meta_title {在线选购【真正的冷压清体果汁】}
@section meta_keywrods {冷压系列,暖体系列,特制清体,单品购买}
@section meta_description {健康生活领袖，食品创新先锋！维果清以纯天然食物，清体果蔬汁为本，结合中西营养学精华，倡导健康饮食的全新生活方式。}
@section blurb {
	_.BLURB = {
        "p1001": {
            "cn": "开始规划您的健康生活方式吧！",
            "en": "Start your healthy lifestyle!"
        },
        "p1002": {
            "cn": "去看看",
            "en": "Detail"
        },
        "p1003": {
            "cn": "入门套餐",
            "en": "Intro Cleanses"
        },
        "p1004": {
            "cn": "大师套餐",
            "en": "Advanced Cleanses"
        },
        "p1005": {
            "cn": "清体计划",
            "en": "Subscriptions and Custom Plans"
        },
        "p1006": {
            "cn": "暖体系列入门套餐",
            "en": "Intro Warming Cleanse"
        },
        "p1007": {
            "cn": "精心甄选了坚果、草本等滋养成分，缤纷的色彩，美味的口感，维果清温润呵护您的每一个秋冬日。",
            "en": "Our Warming Cleanse consists of soups and infusions that are meant to be drunk hot, in addition to cold-pressed juices and nutmilks.  This cleanse is perfect when the weather is cold, or when you need something soothing and nourishing to warm you up."
        },
        "p1008": {
            "cn": "冷压经典入门套餐",
            "en": "Intro Classic Cleanse"
        },
        "p1009": {
            "cn": "经典中的经典，以多种蔬菜、水果及坚果来源的植物营养帮助您实现清体、纤体的目标，养成良好健康的饮食习惯。",
            "en": "Our Classic Cleanse is just as its name states: a classic. Our Intro Classic Cleanse is created for those who are relatively new to cleansing and want to experience the best that raw foods and juicing has to offer."
        },
        "p1010": {
            "cn": "暖体系列大师套餐",
            "en": "Advanced Warming Cleanse"
        },
        "p1011": {
            "cn": "基于入门装的全面营养，大师套装特别融入更多绿色，为您带来更彻底的清体体验。",
            "en": "Lighter than the Intro Warming Cleanse, this cleanse is suitable for more advanced juicers who are looking for a savory and hot option for the cold season."
        },
        "p1012": {
            "cn": "冷压经典大师套餐",
            "en": "Advanced Classic Cleanse"
        },
        "p1013": {
            "cn": "专为清体达人设计的冷压套餐，含有更多清新爽口的绿色蔬果汁，为您的身体提供更纯粹、更天然的蔬果营养！",
            "en": "Lighter and with more green juice than the Intro Classic Cleanse, this cleanse is suitable for more advanced juicers."
        },
        "p1014": {
            "cn": "清体推荐计划",
            "en": "Subscriptions "
        },
        "p1015": {
            "cn": "我们精心奉上定制化的美味蔬果汁组合，为您开启通往健康生活方式的大门。清体由此开始，给您焕然一新的清爽体验。",
            "en": "Book a daily green juice or a healthy lunch or dinner. Our recommended subscription juice plans offer a sustainable way to eat healthy."
        },
        "p1016": {
            "cn": "单品自由选择",
            "en": "Custom Plans"
        },
        "p1017": {
            "cn": "如果您有处女座般的固执偏好，特定的组合、特定的口味、特定的颜色，维果清的缤纷蔬果汁一样能够满足挑剔的您。",
            "en": "Mix and match your own favorites!"
        },
	};
}
@section seo {
}
</div>