<%
    var cacheServer = data.cacheServer || "";
    var language = data.language;

    var COLUMN = 2;
    var PIC_URL = cacheServer + "/images/juice/33x130/";

    var products = data.products;
    // Products
    var i = 0;
    var iLens = products.length;
    // Row
    var j = 0;
    var jLens = Math.ceil(iLens/COLUMN);
    // Products in Row
    var k = 0;
    var kLens = 0;
%>
<div class="juicelist">
    <% for (j = 0; j < jLens; j++) { %>
        <ul class="hor float-abs">
            <%
                k = COLUMN * j;
                kLens = COLUMN + k;
                kLens = kLens > iLens ? iLens : kLens;
                for(i = k; i < kLens; i++) {
                    renderProduct(products[i]);
                }
            %>
        </ul>
    <% } %>
</div>

<% function renderProduct(product) { %>
    <li>
        <div class="float-abs juicelist-juice">
            <div class="juicebottle juicebottle-47">
                <a href="/juice/<%=product.Url%>" data-weave="widget/href/main">
                    <img src="<%=PIC_URL + product.Image%>" width="33" height="130" alt="<%=product.Name%>" title="<%=product.Name%>">
                </a>
            </div>
            <div class="orderedit-products-text">
                <p class="orderedit-products-name">
                    <a href="/juice/<%=product.Url%>" data-weave="widget/href/main" class="link-text"><strong><%=product.Name%></strong></a>
                    <!--strong class="orderedit-products-price number-price">&yen; <%=product.Price%></strong-->
                </p>
                <p class="orderedit-products-des">
                    <a href="/juice/<%=product.Url%>" data-weave="widget/href/main" class="link-text"><%=(product.Description || "")%></a>
                    <br>
                    <a href="/juice/<%=product.Url%>" data-weave="widget/href/main widget/blurb/main(1097)" class="link-fn">+ Learn more</a>
                </p>
                <p class="orderedit-action">
                    <a class="btn btn-default" href="/cleanse" data-weave="widget/href/main widget/blurb/main(1220)" data-hash="category/0">ORDER NOW</a>
                </p>
            </div>
        </div>
    </li>
<% } %>