<%
    var arrData = data.options || [];
    var selectedId = data.selectedId;
    var disabled = data.disabled;
%>

<select class="form-control" data-action="changeoption" <%=(disabled ? "disabled" : "")%>>
    <% if ((!selectedId && arrData.length > 0 && arrData[0].Id !== 0) || arrData.length <= 0) { %>
        <option value="0">请选择</option>
    <% } %>
    <%
        var i = 0;
        var iLens = arrData.length;
        for (i=0; i < iLens; i++) {
    %>
            <option value="<%=arrData[i].Id%>" <% if (selectedId === arrData[i].Id) { %>selected<% } %>><%=arrData[i].Name%></option>  
    <%
        }
    %>
</select>