/* line 144, icons/*.png */
.icons-sprite, .icons-email, .icons-left-arrow, .icons-logo_wechat, .icons-logo_weibo, .icons-minus, .icons-phone, .icons-phone2, .icons-plus, .icons-right-arrow, .icons-share-facebook, .icons-share-instagram, .icons-share-weibo, .icons-share-weichat {
  background-image: url('../..//static/img/icons-se80e49f548.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 0;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -10px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_wechat {
  background-position: 0 -61px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_weibo {
  background-position: 0 -81px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-minus {
  background-position: 0 -101px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -121px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone2 {
  background-position: 0 -133px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -146px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -166px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-facebook {
  background-position: 0 -217px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-instagram {
  background-position: 0 -263px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weibo {
  background-position: 0 -309px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weichat {
  background-position: 0 -355px;
  height: 46px;
  width: 46px;
}

/* line 2, ../sass/cleanse.scss */
body {
  background-color: #f3f4f4;
}

/* line 5, ../sass/cleanse.scss */
.subtitle, .cleanse-type-nav, .cleanse-type-content {
  width: 786px;
  margin: 0 auto;
}

/* line 9, ../sass/cleanse.scss */
.subtitle {
  height: 172px;
  line-height: 172px;
  color: #231815;
  text-align: center;
}
/* line 15, ../sass/cleanse.scss */
.subtitle h3 {
  font-size: 32px;
  font-weight: normal;
  margin: 0;
  line-height: 172px;
}
/* line 19, ../sass/cleanse.scss */
.subtitle h4 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 26px;
}

/* line 25, ../sass/cleanse.scss */
.cleanse-type-nav {
  height: 76px;
}
/* line 28, ../sass/cleanse.scss */
.cleanse-type-nav ul {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.cleanse-type-nav ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 31, ../sass/cleanse.scss */
.cleanse-type-nav li {
  float: left;
  color: #231815;
  font-size: 28px;
  margin-right: 25px;
  padding: 22px 60px;
  text-align: center;
  font-weight: bold;
  border: 2px solid #231815;
  -moz-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  cursor: pointer;
}
/* line 43, ../sass/cleanse.scss */
.cleanse-type-nav .active {
  background: #494949;
  color: #ffffff;
  border: 2px solid transparent;
}
/* line 48, ../sass/cleanse.scss */
.cleanse-type-nav .last-child {
  margin-right: 0;
}

/* line 52, ../sass/cleanse.scss */
.cleanse-content {
  padding-bottom: 55px;
}

/* line 55, ../sass/cleanse.scss */
.cleanse-type-content {
  margin-top: 40px;
}
/* line 58, ../sass/cleanse.scss */
.cleanse-type-content ul {
  display: none;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.cleanse-type-content ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 62, ../sass/cleanse.scss */
.cleanse-type-content ul.active {
  display: block;
}
/* line 66, ../sass/cleanse.scss */
.cleanse-type-content li {
  width: 380px;
  margin-right: 26px;
  float: left;
  -moz-box-shadow: 0 2px 5px #cccccc;
  -webkit-box-shadow: 0 2px 5px #cccccc;
  box-shadow: 0 2px 5px #cccccc;
  overflow-x: hidden;
  background: #ffffff;
  padding-bottom: 25px;
}
.cleanse-type-content li .cleanse-img {
  margin-top: 0;
}
/* line 75, ../sass/cleanse.scss */
.cleanse-type-content img {
  width: 100%;
}
/* line 78, ../sass/cleanse.scss */
.cleanse-type-content .last-child {
  margin-right: 0;
}

/* line 82, ../sass/cleanse.scss */
.cleanse-info {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 87, ../sass/cleanse.scss */
.cleanse-info .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(-4deg);
  -ms-transform: rotateZ(-4deg);
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
  */
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #ffffff;
}
/* line 90, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-box {
  position: relative;
  z-index: 1;
  padding: 0 32px;
  top: -26px;
}
/* line 96, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #bbb7b7;
  text-align: center;
  font-size: 24px;
  color: #231815;
}
/* line 104, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-content {
    font-size: 14px;
    margin-top: 16px;
    line-height: 32px;
    color: #231815;
    height: 100px;
    overflow: auto;
    text-align: center;
}

/* line 113, ../sass/cleanse.scss */
.go-look {
  text-align: center;
}

/* line 116, ../sass/cleanse.scss */
.first-access-box {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: transparent;
}
/* line 125, ../sass/cleanse.scss */
.first-access-box ul {
  width: 466px;
  margin: 138px auto 0;
  *zoom: 1;
  position: relative;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.first-access-box ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 130, ../sass/cleanse.scss */
.first-access-box ul b {
  position: absolute;
  top: -80px;
  font-size: 40px;
  color: #9B9794;
  right: -70px;
  cursor: pointer;
}
/* line 139, ../sass/cleanse.scss */
.first-access-box li {
  width: 152px;
  border: 2px solid #ffffff;
  float: left;
  padding: 40px 18px;
  margin-right: 5px;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 146, ../sass/cleanse.scss */
.first-access-box li:hover {
  border-color: #72CC3E;
}
/* line 148, ../sass/cleanse.scss */
.first-access-box li:hover div {
  color: #454343;
  background-color: #ffffff;
}
/* line 153, ../sass/cleanse.scss */
.first-access-box li:hover .btn-small {
  border-color: transparent;
  background-color: #72CC3E;
}
/* line 159, ../sass/cleanse.scss */
.first-access-box .last-child {
  margin-right: 0;
}
/* line 163, ../sass/cleanse.scss */
.first-access-box .first-access-nav div {
  width: 74px;
  height: 74px;
  border: 2px solid #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 68px;
  font-size: 40px;
  color: #ffffff;
  -moz-transition: color 0.5s, border-color 0.5s;
  -o-transition: color 0.5s, border-color 0.5s;
  -webkit-transition: color 0.5s, border-color 0.5s;
  transition: color 0.5s, border-color 0.5s;
}
/* line 175, ../sass/cleanse.scss */
.first-access-box .first-access-nav p {
  font-size: 14px;
  color: #ffffff;
  margin-top: 18px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 2px;
    min-height: 96px;
}
/* line 183, ../sass/cleanse.scss */
.first-access-box .first-access-nav a {
  margin-top: 38px;
  margin-left: 4px;
  margin-right: -10px;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

/* line 192, ../sass/cleanse.scss */
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: auto;
  background-color: #282828;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 52, ../sass/cleanse.scss */
.cleanse-content {
  padding-bottom: 55px;
}

/* line 55, ../sass/cleanse.scss */
.cleanse-type-content {
  margin-top: 40px;
}
/* line 58, ../sass/cleanse.scss */
.cleanse-type-content ul {
  display: none;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.cleanse-type-content ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 62, ../sass/cleanse.scss */
.cleanse-type-content ul.active {
  display: block;
}
/* line 66, ../sass/cleanse.scss */
.cleanse-type-content li {
  width: 380px;
  margin-right: 26px;
  float: left;
  -moz-box-shadow: 0 2px 5px #cccccc;
  -webkit-box-shadow: 0 2px 5px #cccccc;
  box-shadow: 0 2px 5px #cccccc;
  overflow-x: hidden;
  background: #ffffff;
  padding-bottom: 25px;
}
.cleanse-type-content.map li {
  width: auto;
border: 1px solid #ccc;
}
.cleanse-type-content.map img{
      padding: 50px;
}
.cleanse-type-content.map .cleanse-info .cleanse-info-box{
  top:auto;
}

.cleanse-type-content.map .cleanse-info .cleanse-info-content{
      height: auto;
}

/* line 75, ../sass/cleanse.scss */
.cleanse-type-content img {
  width: 100%;
}
/* line 78, ../sass/cleanse.scss */
.cleanse-type-content .last-child {
  margin-right: 0;
}

/* line 82, ../sass/cleanse.scss */
.cleanse-info {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 10px;
}
/* line 87, ../sass/cleanse.scss */
.cleanse-info .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(-4deg);
  -ms-transform: rotateZ(-4deg);
  -webkit-transform: rotateZ(-4deg);
  transform: rotateZ(-4deg);
  */
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #ffffff;
}
/* line 90, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-box {
  position: relative;
  z-index: 1;
  padding: 0 32px;
  top: -26px;
}
/* line 96, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-header {
  height: 50px;
  line-height: 50px;
  border-bottom: 2px solid #bbb7b7;
  text-align: center;
  font-size: 24px;
  color: #231815;
}
/* line 104, ../sass/cleanse.scss */
.cleanse-info .cleanse-info-content {
    font-size: 14px;
    margin-top: 16px;
    line-height: 32px;
    color: #231815;
    height: 100px;
    overflow: auto;
    text-align: center;
}
