/* line 144, icons/*.png */
.icons-sprite, .icons-email, .icons-left-arrow, .icons-logo_wechat, .icons-logo_weibo, .icons-minus, .icons-phone, .icons-phone2, .icons-plus, .icons-right-arrow, .icons-share-facebook, .icons-share-instagram, .icons-share-weibo, .icons-share-weichat {
  background-image: url('/static/img/icons-se80e49f548.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 0;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -10px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_wechat {
  background-position: 0 -61px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_weibo {
  background-position: 0 -81px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-minus {
  background-position: 0 -101px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -121px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone2 {
  background-position: 0 -133px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -146px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -166px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-facebook {
  background-position: 0 -217px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-instagram {
  background-position: 0 -263px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weibo {
  background-position: 0 -309px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weichat {
  background-position: 0 -355px;
  height: 46px;
  width: 46px;
}

/* line 3, ../sass/customItem.scss */
body {
  background-color: #efefef;
}

/* line 6, ../sass/customItem.scss */
.item-content {
  width: 804px;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* line 12, ../sass/customItem.scss */
.page-title {
  margin-top: 42px;
  position: relative;
}
/* line 15, ../sass/customItem.scss */
.page-title h1 {
  width: 240px;
  font-size: 32px;
  color: #231815;
  position: relative;
  z-index: 2;
  background-color: #efefef;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
}
/* line 26, ../sass/customItem.scss */
.page-title .line {
  height: 2px;
  background-color: #8b8685;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  top: 18px\9;
}

/* line 36, ../sass/customItem.scss */
.product-type-nav {
  margin-top: 36px;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.product-type-nav:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 39, ../sass/customItem.scss */
.product-type-nav li {
  float: left;
  margin-right: 8px;
  margin-right: 6px\9;
}
/* line 44, ../sass/customItem.scss */
.product-type-nav :last-child {
  margin-right: 0;
}
/* line 47, ../sass/customItem.scss */
.product-type-nav a {
  display: block;
  font-size: 24px;
  color: #231815;
  width: 154px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  border: 1px solid #7e7977;
  -moz-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  -o-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  -webkit-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s;
}
/* line 57, ../sass/customItem.scss */
.product-type-nav a:hover {
  text-decoration: none;
}
/* line 61, ../sass/customItem.scss */
.product-type-nav .active a {
  border-color: transparent;
  background-color: #61cdd0;
  color: #ffffff;
}

/* line 67, ../sass/customItem.scss */
.product-list {
  margin-top: 40px;
}
/* line 69, ../sass/customItem.scss */
.product-list .product-type-list {
  display: none;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.product-list .product-type-list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 72, ../sass/customItem.scss */
.product-list .product-type-list.active {
  display: block;
}
/* line 76, ../sass/customItem.scss */
.product-list dl {
  width: 256px;
  float: left;
  margin: 0 6px 20px 6px;
}
/* line 82, ../sass/customItem.scss */
.product-list dt {
  font-size: 24px;
  color: #ffffff;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #000000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 92, ../sass/customItem.scss */
.product-list dd {
  font-size: 12px;
  color: #231815;
  background-color: #ffffff;
  padding: 16px 40px 32px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 0 5px 5px #cccccc;
  -webkit-box-shadow: 0 5px 5px #cccccc;
  box-shadow: 0 5px 5px #cccccc;
  border-top: none;

}
/* line 101, ../sass/customItem.scss */
.product-list dd h3, .product-list dd p {
  font-size: inherit;
  line-height: 16px;
  letter-spacing: 1px;
}
/* line 107, ../sass/customItem.scss */
.product-list .product-img {
  width: 225px;
    height: 225px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #ffffff;
}
/* line 114, ../sass/customItem.scss */
.product-list .product-img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/* line 120, ../sass/customItem.scss */
.product-list .product-ingredients {
  margin-top: 10px;
min-height: 60px;
}
.product-list .product-discription{
  min-height: 150px;
}
.product-list .go-look{
  text-align: center;
}
/* line 123, ../sass/customItem.scss */
.product-list .product-price-number {
  margin-top: 26px;
}
/* line 125, ../sass/customItem.scss */
.product-list .product-price-number strong {
  font-size: 16px;
  color: #000000;
  margin-right: 12px;
  display: inline-block;
  line-height: 20px;
  vertical-align: top;
}

/* line 135, ../sass/customItem.scss */
.create-order {
  text-align: right;
  margin-top: 38px;
}
/* line 138, ../sass/customItem.scss */
.create-order .order-price {
  display: inline-block;
  line-height: 40px;
  color: #000000;
}
/* line 143, ../sass/customItem.scss */
.create-order span, .create-order e {
  font-size: 12px;
}
/* line 146, ../sass/customItem.scss */
.create-order span {
  padding-right: 20px;
}
/* line 149, ../sass/customItem.scss */
.create-order strong {
  font-size: 26px;
  padding-right: 20px;
}

/* line 155, ../sass/customItem.scss */
.item-nutrition {
  width: 414px;
  height: 328px;
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 100px;
  z-index: 10;
  border: 1px solid #cccccc;
  display: none;
  margin-top: 40px;
  margin-left: 160px;
  opacity: 0;
  -moz-box-shadow: 0 0 5px #cccccc;
  -webkit-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
/* line 169, ../sass/customItem.scss */
.item-nutrition h3 {
  font-size: 14px;
  color: #231815;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-bottom: 1px solid #68605e;
}
/* line 177, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content {
  padding: 0 20px;
}
/* line 179, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content table {
  width: 100%;
}
/* line 182, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content thead tr {
  height: 27px;
  border-bottom: 1px solid #c8c5c4;
}
/* line 186, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content tr {
  height: 16px;
  font-size: 12px;
}
/* line 189, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content tr td:first-child {
  padding-left: 20px;
}
/* line 192, ../sass/customItem.scss */
.item-nutrition .item-nutrition-content tr td:last-child {
  text-align: right;
  padding-right: 20px;
}
/* line 198, ../sass/customItem.scss */
.item-nutrition:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 16px solid #cccccc;
  border-color: transparent #cccccc transparent transparent;
  left: -32px;
  top: 60px;
}
/* line 209, ../sass/customItem.scss */
.item-nutrition:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border: 16px solid #ffffff;
  border-color: transparent #ffffff transparent transparent;
  left: -30px;
  top: 60px;
}
/* line 220, ../sass/customItem.scss */
.item-nutrition.right {
  margin-left: -250px;
}
/* line 223, ../sass/customItem.scss */
.item-nutrition.right:before {
  border-color: transparent transparent transparent #cccccc;
  right: -32px;
  left: initial;
}
/* line 228, ../sass/customItem.scss */
.item-nutrition.right:after {
  border-color: transparent  transparent transparent #ffffff;
  right: -30px;
  left: initial;
}
