/* line 8, ../sass/_variable.scss */
.detail, .detail-info, .detail-list {
  width: 960px;
  margin: auto;
}

/* line 144, icons/*.png */
.icons-sprite, .icons-email, .icons-left-arrow, .icons-logo_wechat, .icons-logo_weibo, .icons-minus, .icons-phone, .icons-phone2, .icons-plus, .icons-right-arrow, .icons-share-facebook, .icons-share-instagram, .icons-share-weibo, .icons-share-weichat {
  background-image: url('../../static/img/icons-se80e49f548.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 0;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -10px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_wechat {
  background-position: 0 -61px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_weibo {
  background-position: 0 -81px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-minus {
  background-position: 0 -101px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -121px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone2 {
  background-position: 0 -133px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -146px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -166px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-facebook {
  background-position: 0 -217px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-instagram {
  background-position: 0 -263px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weibo {
  background-position: 0 -309px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weichat {
  background-position: 0 -355px;
  height: 46px;
  width: 46px;
}

/* line 3, ../sass/detail.scss */
body {
  background-color: #efefef;
}

/* line 6, ../sass/detail.scss */
.detail-content {
  padding-top: 60px;
  position: relative;
}

/* line 10, ../sass/detail.scss */
.detail {
  *zoom: 1;
  padding-bottom: 50px;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.detail:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 15, ../sass/detail.scss */
.gallery {
  margin-left: -100%;
  width: 318px;
  position: relative;
  float: left;
}
/* line 20, ../sass/detail.scss */
.gallery .booth {
  width: 318px;
  height: 318px;
  padding: 24px;
  border: 1px solid #d4d2d1;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
}
/* line 29, ../sass/detail.scss */
.gallery .booth img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/* line 35, ../sass/detail.scss */
.gallery .thumb {
  position: relative;
}
/* line 37, ../sass/detail.scss */
.gallery .thumb .thumb-wrap {
  width: 100%;
  height: 51px;
  margin-top: 18px;
  overflow: hidden;
}
/* line 43, ../sass/detail.scss */
.gallery .thumb .thumb-wrap.scroll {
  width: 296px;
  height: 51px;
  padding-left: 26px;
}
/* line 48, ../sass/detail.scss */
.gallery .thumb ul {
  width: 100%;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.gallery .thumb ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 51, ../sass/detail.scss */
.gallery .thumb ul li {
  float: left;
  margin-right: 6px;
  margin-right: 5px\9;
}
/* line 56, ../sass/detail.scss */
.gallery .thumb ul :last-child {
  margin-right: 0;
}
/* line 59, ../sass/detail.scss */
.gallery .thumb ul a {
  width: 48px;
  height: 48px;
  border: 1px solid #cac8c7;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
}
/* line 70, ../sass/detail.scss */
.gallery .thumb ul a.selected {
  border-color: red;
  background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
}
/* line 74, ../sass/detail.scss */
.gallery .thumb ul img {
  position: relative;
  max-width: 40px;
  max-height: 40px;
}
/* line 81, ../sass/detail.scss */
.gallery .thumb .left-arrow, .gallery .thumb .right-arrow {
  width: 16px;
  height: 51px;
  display: none;
  position: absolute;
  top: 0;
  cursor: pointer;
  border: none;
  background-color: #cfcfcf;
}
/* line 91, ../sass/detail.scss */
.gallery .thumb .left-arrow {
  margin-right: 4px;
  left: 0;
}
/* line 95, ../sass/detail.scss */
.gallery .thumb .right-arrow {
  margin-left: 4px;
  right: 0;
}

/* line 101, ../sass/detail.scss */
.property {
  float: left;
  width: 100%;
}
/* line 104, ../sass/detail.scss */
.property .wrap {
  margin: 0 0 0 344px;
}
/* line 107, ../sass/detail.scss */
.property .meta-title {
  width: 60px;
  font-size: 14px;
  margin-right: 20px;
}
/* line 112, ../sass/detail.scss */
.property h1 {
  font-size: 32px;
  color: #231815;
  font-weight: normal;
}
/* line 117, ../sass/detail.scss */
.property dl, .property .date, .property .select-additions, .property .buy {
  padding-left: 10px;
}
/* line 120, ../sass/detail.scss */
.property dt, .property dd {
  display: inline-block;
}
/* line 123, ../sass/detail.scss */
.property .price {
  color: #000000;
  background-color: #e7e7e7;
  margin-top: 8px;
  line-height: 52px;
}
/* line 128, ../sass/detail.scss */
.property .price em {
  font-size: 12px;
}
/* line 131, ../sass/detail.scss */
.property .price span {
  font-size: 26px;
  font-weight: bold;
}
/* line 136, ../sass/detail.scss */
.property .sex, .property .week {
  line-height: 52px;
}
/* line 138, ../sass/detail.scss */
.property .sex dt, .property .week dt {
  font-style: 14px;
}
/* line 142, ../sass/detail.scss */
.property .week {
  border-bottom: 1px solid #c9c7c6;
}
/* line 145, ../sass/detail.scss */
.property .date {
  border-bottom: 1px solid #c9c7c6;
  line-height: 52px;
}
/* line 148, ../sass/detail.scss */
.property .date span {
  font-size: 12px;
  color: #000000;
  padding-right: 10px;
}
/* line 153, ../sass/detail.scss */
.property .date .end {
  padding-left: 30px;
}
.property .date .totalweeks {
  padding-left: 30px;
}
/* line 158, ../sass/detail.scss */
.property .select-additions .checkbox {
  margin-top: 12px;
}
/* line 162, ../sass/detail.scss */
.property .buy {
  margin-top: 20px;
}

/* line 166, ../sass/detail.scss */
.detail-info {
  border-top: 1px solid #c9c7c6;
}
/* line 169, ../sass/detail.scss */
.detail-info p {
  font-size: 12px;
  color: #231815;
  padding: 18px 8px 50px;
  text-indent: 24px;
  line-height: 16px;
  letter-spacing: 1px;
}

/* line 178, ../sass/detail.scss */
.block-title {
  width: 142px;
  border-top: 3px solid #7fb624;
  color: #7fb624;
  font-size: 14px;
  padding: 4px 8px;
  font-weight: normal;
}

/* line 187, ../sass/detail.scss */
.item-title strong {
  font-size: 52px;
  color: #61cdd0;
  font-style: italic;
}
/* line 192, ../sass/detail.scss */
.item-title span {
  font-size: 16px;
  color: #000000;
  position: relative;
  top: -8px;
}

/* line 203, ../sass/detail.scss */
.detail-list ul {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.detail-list ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 206, ../sass/detail.scss */
.detail-list li {
  width: 446px;
  margin-right: 66px;
  float: left;
  margin-bottom: 44px;
}
/* line 212, ../sass/detail.scss */
.detail-list .item-indroduce {
  position: relative;
  padding: 0 30px;
  background-color: #ffffff;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.detail-list .item-indroduce:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 217, ../sass/detail.scss */
.detail-list .item-indroduce strong {
  width: 66px;
  height: 50px;
  line-height: 36px;
  padding-right: 12px;
  text-align: right;
  font-size: 20px;
  color: #ffffff;
  font-style: italic;
  position: absolute;
  right: -1px;
  top: 0;
  background: transparent url("../img/detail-number-background.png") left top no-repeat;
}
/* line 231, ../sass/detail.scss */
.detail-list .item-indroduce .booth {
  width: 386px;
  height: 296px;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 238, ../sass/detail.scss */
.detail-list .item-indroduce .booth img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
/* line 244, ../sass/detail.scss */
.detail-list .item-indroduce h3 {
  font-size: 18px;
  color: #595757;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #c9c6c5;
}
/* line 252, ../sass/detail.scss */
.detail-list .item-content {
  overflow: auto;
  height: 200px;
  padding: 20px 30px 0px;
  background-color: #ffffff;
}
/* line 257, ../sass/detail.scss */
.detail-list .item-content .item-content-list {
  font-size: 12px;
  margin-bottom: 10px;
  color: #727171;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.detail-list .item-content .item-content-list:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 262, ../sass/detail.scss */
.detail-list .item-content .item-content-list span {
  width: 72px;
  height: 26px;
  padding: 6px 0 6px 12px;
  float: left;
  background: transparent url("../img/detail-category-background.png") left top no-repeat;
}
/* line 269, ../sass/detail.scss */
.detail-list .item-content .item-content-list p {
  float: left;
  padding-left: 92px;
  margin-left: -72px;
  width: 100%;
  line-height: 1.3;
  padding-top: 6px;
}
/* line 278, ../sass/detail.scss */
.detail-list .bottom-background {
  width: 100%;
  height: 8px;
  background: transparent url("../img/detail-list-bottom-img.png") left top no-repeat;
}

#weeks{
  width: 40px;
  
}