/* line 8, ../sass/_variable.scss */
.banner, .recommend-box .box-content, .vcleanse-info-box .box-content, .workshop-box .box-content {
  width: 960px;
  margin: auto;
}

/* line 144, icons/*.png */
.icons-sprite, .icons-email, .icons-left-arrow, .icons-logo_wechat, .icons-logo_weibo, .icons-minus, .icons-phone, .icons-phone2, .icons-plus, .icons-right-arrow, .icons-share-facebook, .icons-share-instagram, .icons-share-weibo, .icons-share-weichat {
  background-image: url('../../static/img/icons-se80e49f548.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 0;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -10px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_wechat {
  background-position: 0 -61px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_weibo {
  background-position: 0 -81px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-minus {
  background-position: 0 -101px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -121px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone2 {
  background-position: 0 -133px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -146px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -166px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-facebook {
  background-position: 0 -217px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-instagram {
  background-position: 0 -263px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weibo {
  background-position: 0 -309px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weichat {
  background-position: 0 -355px;
  height: 46px;
  width: 46px;
}

/* line 3, ../sass/index.scss */
.bottle {
  width: 80px;
  height: 359px;
  z-index: 10;
  position: fixed;
  top: 98px;
  left: 50%;
  list-style: none;
  margin: 0 0 0 300px;
  padding: 0;
  background: transparent url("../img/bottle.png") left top no-repeat;
}

/* line 15, ../sass/index.scss */
.banner {
  position: relative;
}
/* line 18, ../sass/index.scss */
.banner ul {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.banner ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 20, ../sass/index.scss */
.banner ul li {
  float: left;
}
/* line 24, ../sass/index.scss */
.banner .dots {
  bottom: 50px;
}

/* line 28, ../sass/index.scss */
.vcleanse-info-box .box-content h3, .workshop-box .box-content h3 {
  font-size: 32px;
  color: #7fb624;
  font-weight: normal;
}

/* line 33, ../sass/index.scss */
.recommend-box {
  background-color: #f7f8fa;
  position: relative;
  z-index: 1;
}
/* line 37, ../sass/index.scss */
.recommend-box .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  -webkit-transform: rotateZ(2deg);
  transform: rotateZ(2deg);
  */
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #f7f8fa;
}
/* line 40, ../sass/index.scss */
.recommend-box .box-content {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 80px;
}
/* line 46, ../sass/index.scss */
.recommend-box .box-content img {
  display: block;
}
/* line 49, ../sass/index.scss */
.recommend-box .box-content .btn {
  margin-top: 20px;
}

/* line 54, ../sass/index.scss */
.vcleanse-info-box {
  background-color: #eeeeee;
  position: relative;
  z-index: 1;
}
/* line 58, ../sass/index.scss */
.vcleanse-info-box .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
  */
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #eeeeee;
}
/* line 61, ../sass/index.scss */
.vcleanse-info-box .box-content {
  position: relative;
  z-index: 1;
  padding-top: 58px;
  padding-bottom: 85px;
}
/* line 70, ../sass/index.scss */
.vcleanse-info-box .box-content div {
  margin-top: 50px;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.vcleanse-info-box .box-content div:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 74, ../sass/index.scss */
.vcleanse-info-box .box-content img {
  float: left;
  margin-right: 42px;
}
/* line 78, ../sass/index.scss */
.vcleanse-info-box .box-content .vcleanse-info-text {
  width: 516px;
  font-size: 14px;
  padding: 21px 0;
  float: left;
  color: #548778;
  line-height: 35px;
  letter-spacing: 1px;
}

/* line 89, ../sass/index.scss */
.workshop-box {
  background-color: #2c2c2c;
  position: relative;
  z-index: 1;
}
/* line 93, ../sass/index.scss */
.workshop-box .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);
  -webkit-transform: rotateZ(-2deg);
  transform: rotateZ(-2deg);
  */
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #2c2c2c;
}
/* line 96, ../sass/index.scss */
.workshop-box .box-content {
  position: relative;
  z-index: 1;
  padding-top: 30px;
  padding-bottom: 115px;
}
/* line 102, ../sass/index.scss */
.workshop-box .box-content h3 {
  color: #ffffff;
}
/* line 106, ../sass/index.scss */
.workshop-box .box-content .workshop-text {
  width: 690px;
  font-size: 14px;
  padding: 21px 0;
  margin-top: 34px;
  color: #ffffff;
  line-height: 35px;
  letter-spacing: 1px;
}
/* line 115, ../sass/index.scss */
.workshop-box .box-content .last-child {
  margin-left: 12px;
}

/* line 120, ../sass/index.scss */
.footer-box {
  position: relative;
  z-index: 1;
}
/* line 123, ../sass/index.scss */
.footer-box .rotate-block {
  width: 110%;
  height: 100px;
/*
  -moz-transform: rotateZ(2deg);
  -ms-transform: rotateZ(2deg);
  -webkit-transform: rotateZ(2deg);
  transform: rotateZ(2deg);
*/
  position: relative;
  top: -40px;
  left: -5%;
  right: -5%;
  position: absolute;
  z-index: 0;
  background: #ffffff;
}
