.w {
    width: 990px;
    margin: 0 auto;
}
.stepflex-header {
    height: 100px;
}
.stepflex {
    display: inline-block;
    display: block;
    border-top: 3px solid #ccc;
    text-align: center;
    margin: 35px 0 0;
    float: right;
    font-size: 16px;
}
.stepflex dl {
    float: left;
    position: relative;
    width: 330px;
    top: -3px;
    border-top: 3px solid #898987;
    line-height: 40px;
}
.stepflex dl.doing {
    border-top-color: #78ab30;
}
.stepflex .s-num {
    position: relative;
    margin: -20px auto 0;
    color: #fff;
    font-weight: 700;
    width: 68px;
    height: 38px;
    background-image: url(../img/order/step.png);
    line-height: 36px;
}
.stepflex dl.doing .s-num {
    background-position: -68px 0;
}
.stepflex
 :after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.stepflex .s-text {
    color: #898987;
}
.stepflex dl.doing .s-text {
    color: #78ab30;
}