﻿@charset "UTF-8";
/* line 144, icons/*.png */
.icons-sprite, .icons-email, .icons-left-arrow, .icons-logo_wechat, .icons-logo_weibo, .icons-minus, .icons-phone, .icons-phone2, .icons-plus, .icons-right-arrow, .icons-share-facebook, .icons-share-instagram, .icons-share-weibo, .icons-share-weichat {
  background-image: url('../../static/img/icons-se80e49f548.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-email {
  background-position: 0 0;
  height: 10px;
  width: 15px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-left-arrow {
  background-position: 0 -10px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_wechat {
  background-position: 0 -61px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo_weibo {
  background-position: 0 -81px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-minus {
  background-position: 0 -101px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone {
  background-position: 0 -121px;
  height: 12px;
  width: 12px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone2 {
  background-position: 0 -133px;
  height: 13px;
  width: 13px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-plus {
  background-position: 0 -146px;
  height: 20px;
  width: 20px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-right-arrow {
  background-position: 0 -166px;
  height: 51px;
  width: 16px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-facebook {
  background-position: 0 -217px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-instagram {
  background-position: 0 -263px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weibo {
  background-position: 0 -309px;
  height: 46px;
  width: 46px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-share-weichat {
  background-position: 0 -355px;
  height: 46px;
  width: 46px;
}

/* line 8, ../sass/_variable.scss */
.header .inner, .footer .inner, .footer-bottom p {
  width: 960px;
  margin: auto;
}

/* 清除内外边距 */
/* line 4, ../sass/reset.scss */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea,
th, td {
  /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/reset.scss */
html {
  box-sizing: border-box;
}

/* line 15, ../sass/reset.scss */
html, body {
  width: 100%;
  min-width: 960px;
}

/* line 20, ../sass/reset.scss */
* {
  box-sizing: inherit;
}

/* 设置默认字体 */
/* line 24, ../sass/reset.scss */
body,
button, input, select, textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  outline: none;
}

/* line 31, ../sass/reset.scss */
h1 {
  font-size: 18px;
  /* 18px / 12px = 1.5 */
}

/* line 32, ../sass/reset.scss */
h2 {
  font-size: 16px;
}

/* line 33, ../sass/reset.scss */
h3 {
  font-size: 14px;
}

/* line 34, ../sass/reset.scss */
h4, h5, h6 {
  font-size: 100%;
}

/* line 36, ../sass/reset.scss */
address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */
/* line 37, ../sass/reset.scss */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */
/* line 38, ../sass/reset.scss */
small {
  font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
/* line 41, ../sass/reset.scss */
ul, ol {
  list-style: none;
}

/* 重置文本格式元素 */
/* line 44, ../sass/reset.scss */
a {
  text-decoration: none;
}

/* line 45, ../sass/reset.scss */
a:hover {
  text-decoration: underline;
}

/* line 47, ../sass/reset.scss */
abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 52, ../sass/reset.scss */
q:before, q:after {
  content: '';
}

/* 重置表单元素 */
/* line 55, ../sass/reset.scss */
legend {
  color: #000;
}

/* for ie6 */
/* line 56, ../sass/reset.scss */
fieldset, img {
  border: none;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
/* line 58, ../sass/reset.scss */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
/* line 63, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
/* line 69, ../sass/reset.scss */
hr {
  border: none;
  height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
/* line 74, ../sass/reset.scss */
html {
  overflow-y: scroll;
}

/* line 76, ../sass/reset.scss */
.inline-block {
  display: inline-block;
}

/* line 79, ../sass/reset.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 82, ../sass/reset.scss */
.hide-x {
  overflow: hidden;
}

/* line 85, ../sass/reset.scss */
.loading {
  width: 75px;
  height: 123px;
  margin: 10px auto;
  background: transparent url("../img/loading.gif") left top no-repeat;
}

/* line 91, ../sass/reset.scss */
.banner .dots {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 10;
}

/* line 99, ../sass/reset.scss */
.banner .dots li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #333333;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  opacity: .4;
  filter: alpha(opacity=50);
  transition: background .5s, opacity .5s;
}

/* line 112, ../sass/reset.scss */
.banner .dots li.active {
  background: #333333;
  opacity: 1;
}

/* line 116, ../sass/reset.scss */
.btn, .btn-small {
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  padding: 12px 48px 12px 36px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #72CC3E url("../img/button.png") 90% center no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
  -moz-transition: top 0.5s, box-shadow 0.5s;
  -o-transition: top 0.5s, box-shadow 0.5s;
  -webkit-transition: top 0.5s, box-shadow 0.5s;
  transition: top 0.5s, box-shadow 0.5s;
}
/* line 127, ../sass/reset.scss */
.btn:hover, .btn-small:hover {
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  text-decoration: none;
}
/* line 131, ../sass/reset.scss */
.btn:active, .btn-small:active {
  top: 1px !important;
}

/* line 135, ../sass/reset.scss */
.btn-small {
  padding: 10px 40px 10px 28px;
}

/* line 139, ../sass/reset.scss */
.btn-transparent {
  border: 1px solid #ffffff;
  background-color: transparent;
}

/* line 143, ../sass/reset.scss */
.input {
  width: 112px;
  height: 30px;
  padding: 10px;
  color: #000000;
  font-size: 12px;
  border: 1px solid #cccac9;
  border-radius: 5px;
}

/* line 153, ../sass/reset.scss */
.toggle-checkbox, .toggle-radio span {
  display: inline-block;
  margin: 0 4px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  color: #000000;
  cursor: pointer;
  border: 1px solid #d3d0cf;
  font-size: 12px;
}
/* line 166, ../sass/reset.scss */
.toggle-checkbox input, .toggle-radio span input {
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 172, ../sass/reset.scss */
.toggle-checkbox.selected, .toggle-radio span.selected {
  border-color: red;
  background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
}

/* line 177, ../sass/reset.scss */
.toggle-radio {
  position: relative;
}
/* line 179, ../sass/reset.scss */
.toggle-radio.selected span {
  border-color: red;
  background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
}

/* line 184, ../sass/reset.scss */
.toggle-radio input {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 191, ../sass/reset.scss */
.checkbox {
  height: 22px;
  font-size: 12px;
  color: #000000;
  display: inline-block;
  position: relative;
}
/* line 197, ../sass/reset.scss */
.checkbox span {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid #8d8786;
  margin-right: 7px;
  margin-bottom: -6px;
  background-color: #ffffff;
  -moz-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
/* line 208, ../sass/reset.scss */
.checkbox input {
  position: absolute;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 213, ../sass/reset.scss */
.checkbox:hover span, .checkbox.checked span {
  border-color: #000000;
}

/* line 218, ../sass/reset.scss */
.checkbox.checked span {
  background: url(../img/checkbox-checked.png) left top no-repeat;
}

/* line 222, ../sass/reset.scss */
.number-control {
  display: inline-block;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.number-control:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 225, ../sass/reset.scss */
.number-control button, .number-control input {
  float: left;
  border: none;
  height: 20px;
  outline: none;
}
/* line 231, ../sass/reset.scss */
.number-control .number {
  width: 45px;
  background-color: #f3f4f4;
  text-align: center;
  line-height: 20px;
}
/* line 237, ../sass/reset.scss */
.number-control .number-plus, .number-control .number-minus {
  width: 20px;
  cursor: pointer;
}

/* line 243, ../sass/reset.scss */
.header {
  height: 100px;
  *zoom: 1;
  background-color: #ffffff;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 250, ../sass/reset.scss */
.header .logo {
  width: 170px;
  height: 40px;
  margin: 13px 0;
  background: transparent url("../img/logo.png") left top no-repeat;
  float: left;
}
/* line 256, ../sass/reset.scss */
.header .logo a {
  display: block;
  padding-top: 58px;
  width: 170px;
  height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 265, ../sass/reset.scss */
.header .header-nav {
  width: 660px;
  height: 100%;
  float: right;
}
/* line 270, ../sass/reset.scss */
.header .header-nav-top, .header .header-nav-bottom {
  margin-top: 14px;
  text-align: right;
  float: right;
  position: relative;
  clear: both;
}
.header .header-nav-top {
  margin-top: 0;
}
/* line 275, ../sass/reset.scss */
.header .header-nav-top li, .header .header-nav-bottom li {
  float: left;
}
/* line 280, ../sass/reset.scss */
.header .header-nav-top > li {
  margin-right: 32px;
  font-size: 12px;
}
.header .header-nav-top .seplist {
  padding-top: 0;
  padding-bottom: 0;
}
.header .header-nav-top .seplist > li {
}
/* line 284, ../sass/reset.scss */
.header .header-nav-top a {
  color: #231815;
}
/* line 287, ../sass/reset.scss */
.header .header-nav-top :last-child {
  margin-right: 0;
}
/* line 290, ../sass/reset.scss */
.header .header-nav-top .login, .header .header-nav-top .login a {
  color: #7fb624;
}
/* line 295, ../sass/reset.scss */
.header .header-nav-bottom li {
  margin-right: 32px;
}
/* line 298, ../sass/reset.scss */
.header .header-nav-bottom :last-child {
  margin-right: 0;
}
/* line 301, ../sass/reset.scss */
.header .header-nav-bottom a {
  color: #231815;
  display: block;
  width: 94px;
  text-align: center;
  font-size: 14px;
  padding: 4px 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 309, ../sass/reset.scss */
.header .header-nav-bottom a.active {
  background-color: #72CC3E;
  color: #ffffff;
}

/* line 317, ../sass/reset.scss */
.footer {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 324, ../sass/reset.scss */
.footer .inner {
  *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.footer .inner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 328, ../sass/reset.scss */
.footer dl {
  float: left;
  width: 224px;
  border-right: 1px solid #c8c5c4;
}
/* line 334, ../sass/reset.scss */
.footer .footer-center {
  width: 512px;
  text-align: center;
}
/* line 337, ../sass/reset.scss */
.footer .footer-center h4 {
  color: #231815;
  font-size: 16px;
}
/* line 341, ../sass/reset.scss */
.footer .footer-center ul {
  margin-top: 35px;
}
/* line 344, ../sass/reset.scss */
.footer .footer-center li {
  display: inline-block;
  margin-right: 24px;
  position: relative;
}
/* line 348, ../sass/reset.scss */
.footer .footer-center li a {
  display: block;
  height: 46px;
}
/* line 353, ../sass/reset.scss */
.footer .footer-center li:last-child {
  margin-right: 0;
}
/* line 356, ../sass/reset.scss */
.footer .footer-center i {
  display: inline-block;
}
/* line 359, ../sass/reset.scss */
.footer .footer-center .email {
  margin-top: 32px;
}
/* line 362, ../sass/reset.scss */
.footer .footer-center .phone {
  margin-top: 6px;
}
/* line 366, ../sass/reset.scss */
.footer .footer-center img {
  position: absolute;
  top: -130px;
  left: 0;
  display: none;
}
/* line 373, ../sass/reset.scss */
.footer dt {
  color: #231815;
  font-size: 16px;
  margin-bottom: 20px;
}
/* line 378, ../sass/reset.scss */
.footer dd {
  color: #6d6c6c;
  font-size: 12px;
  margin-bottom: 12px;
}
/* line 383, ../sass/reset.scss */
.footer .share {
  margin-bottom: -4px;
  margin-right: 5px;
  position: relative;
}
/* line 388, ../sass/reset.scss */
.footer .wechat-qrcode {
  position: absolute;
  display: none;
  width: 128px;
  height: 128px;
  top: -140px;
  left: -20px;
  border: 1px solid #cccccc;
  background: transparent url("http://www.vcleanse.com/images/qrcode_subscribe.png") left top no-repeat;
}
/* line 398, ../sass/reset.scss */
.footer a {
  color: inherit;
  font-size: inherit;
}
/* line 402, ../sass/reset.scss */
.footer .last-child {
  border: none;
}
/* line 404, ../sass/reset.scss */
.footer .last-child dd {
  width: 105px;
  margin-left: 110px;
}
/* line 408, ../sass/reset.scss */
.footer .last-child img {
  width: 105px;
  height: 105px;
  display: block;
  margin-bottom: 10px;
}
/* line 414, ../sass/reset.scss */
.footer .last-child span {
  display: block;
  text-align: center;
}
/* line 419, ../sass/reset.scss */
.footer img {
  vertical-align: top;
}

/* line 423, ../sass/reset.scss */
.footer-bottom {
  background-color: #030000;
}
/* line 425, ../sass/reset.scss */
.footer-bottom p {
  color: #9e9e9f;
  text-align: center;
  padding: 10px 0;
  color: #999999;
  font-size: 12px;
}
/* line 433, ../sass/reset.scss */
.footer-bottom a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
