<%
	if(!data){
		renderThanks();
	} else {
		var reports= data;
		var i = 0;
		var iLens= reports.length;
		 for(i=0;i< iLens;i++){
				renderItem(i,iLens,reports[i]);
			} 
	}
%>

<% function renderItem(index,iLens,item){
		var j = 0;
		var lists= item.ItemList;
		var jLens = lists.length;
		var total = item.ItemTotal;
		var badge="";
		if(iLens>1){
			badge=(index+1);
		}
	%>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<h3 class="panel-title"><span class="badge"><%=badge%></span>&nbsp;<%=item.ItemTitle%></h3>
			</div>
			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<% for(j = 0 ;j< jLens ; j++){
							renderProcess(lists[j],total);
						}%>
					</div>
				</form>
			</div>
		</div>
	</div>
<% } %>

<% function renderProcess(process,total){
		var result = (process.Count/total)*100;
	%>
	<span><%=process.Name%></span>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="<%=result%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=result%>%;
			">
			<%=process.Persent%>
		</div>
	</div>
<% } %>
<% function renderThanks(){%>
	 <span data-weave="widget/blurb/main(1611)"></span>
<%}%>