﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="stores">
	<h1>
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/title_vstation.jpg" alt="">
	</h1>
	<div class="stores-first">
	    <div class="stores-picture row-edges">
	        <div class="swipe" data-weave="widget/swipe/main" data-bullets-pos="right">
	            <div class="swipe-wrap">
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_yongjiaroad_01.jpg" alt="维果清永嘉庭店">
	                </div>
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_yongjiaroad_02.jpg" alt="维果清永嘉庭店">
	                </div>
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_yongjiaroad_03.jpg" alt="维果清永嘉庭店">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="stores-content">
	    	<h2><strong data-weave="widget/blurb/main(p1001)">上海</strong> | <span data-weave="widget/blurb/main(p1002)">永嘉庭店</span></h2>
	    	<p>
	    		<span class="glyphicon glyphicon-map-marker"></span>
	    		<span class="stores-content-text" data-weave="widget/blurb/main(p1003)">上海市徐汇区永嘉路570号312室</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-earphone"></span>
	    		<span class="stores-content-text">021-60823931</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-time"></span>
	    		<span class="stores-content-text stores-content-text-block" data-weave="widget/blurb/main(p1004)">周一 ~ 周五：8AM - 8PM<br>周六 ~ 周日：10AM - 8PM</span>
	    	</p>
	    	<div class="stores-map">
	    		<a class="link-fn" data-url="/StoreMap/Shanghai/yongjiaroad.html" data-weave="widget/map/main">
	            	<img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_yongjiaroad_map.jpg" alt="上海市徐汇区永嘉路570号312室">
	            </a>
	    	</div>
	    </div>
	</div>
	<!--div class="">
	    <div class="stores-picture row-edges">
	        <div class="swipe" data-weave="widget/swipe/main" data-bullets-pos="right">
	            <div class="swipe-wrap">
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/bj_centralpark_01.jpg" alt="维果清新城国际店">
	                </div>
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/bj_centralpark_02.jpg" alt="维果清新城国际店">
	                </div>
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/bj_centralpark_03.jpg" alt="维果清新城国际店">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="stores-content">
	    	<h2><strong data-weave="widget/blurb/main(p1005)">北京</strong> | <span data-weave="widget/blurb/main(p1006)">新城国际店</span></h2>
	    	<p>
	    		<span class="glyphicon glyphicon-map-marker"></span>
	    		<span class="stores-content-text" data-weave="widget/blurb/main(p1007)">北京市朝阳区朝外大街6号，新城国际26号楼103</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-earphone"></span>
	    		<span class="stores-content-text">010-65336396</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-time"></span>
	    		<span class="stores-content-text stores-content-text-block" data-weave="widget/blurb/main(p1004)">周一 ~ 周五：8AM - 8PM<br>周六 ~ 周日：10AM - 8PM</span>
	    	</p>
	    	<div class="stores-map">
	    		<a class="link-fn" data-url="/StoreMap/Beijing/centralpark.html" data-weave="widget/map/main">
		            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/bj_centralpark_map.jpg" alt="北京市朝阳区朝外大街6号，新城国际26号楼103">
		        </a>
	    	</div>
	    </div>
	</div-->
	<div class="">
	    <div class="stores-picture row-edges">
	        <div class="swipe" data-weave="widget/swipe/main" data-bullets-pos="right">
	            <div class="swipe-wrap">
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_zbfitness_01.jpg" alt="维果清 Z&amp;B Fitness Studio">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="stores-content">
	    	<h2><strong data-weave="widget/blurb/main(p1001)">上海</strong> | <span>Z&amp;B Fitness Studio</span></h2>
	    	<p>
	    		<span class="glyphicon glyphicon-map-marker"></span>
	    		<span class="stores-content-text" data-weave="widget/blurb/main(p1008)">长乐路1219号长鑫大厦14楼</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-earphone"></span>
	    		<span class="stores-content-text">4001-8-42779</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-time"></span>
	    		<span class="stores-content-text stores-content-text-block" data-weave="widget/blurb/main(p1009)">每天上午10:30 - 下午12:30</span>
	    	</p>
	    	<div class="stores-map">
	    		<a class="link-fn" data-url="/StoreMap/Shanghai/zbfitness.html" data-weave="widget/map/main">
		            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_xintiandi_map.jpg" alt="长乐路1219号长鑫大厦14楼">
		        </a>
	    	</div>
	    </div>
	</div>
	<div class="">
	    <div class="stores-picture row-edges">
	        <div class="swipe" data-weave="widget/swipe/main" data-bullets-pos="right">
	            <div class="swipe-wrap">
	                <div>
			            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_mahotakitchen_01.jpg" alt="维果清泰生厨房">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="stores-content">
	    	<h2><strong data-weave="widget/blurb/main(p1001)">上海</strong> | <span data-weave="widget/blurb/main(p1010)">泰生厨房</span></h2>
	    	<p>
	    		<span class="glyphicon glyphicon-map-marker"></span>
	    		<span class="stores-content-text" data-weave="widget/blurb/main(p1011)">上海市长宁区淮海西路680号新淮海坊一层<br>（地铁3,4,10号线虹桥路地铁站旁）</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-earphone"></span>
	    		<span class="stores-content-text">021-52679988</span>
	    	</p>
	    	<p>
	    		<span class="glyphicon glyphicon-time"></span>
	    		<span class="stores-content-text stores-content-text-block" data-weave="widget/blurb/main(p1012)">每天上午11：00 - 下午21：00</span>
	    	</p>
	    	<div class="stores-map">
	    		<a class="link-fn" data-url="/StoreMap/Shanghai/mahotakitchen.html" data-weave="widget/map/main">
		            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/stores/sh_xintiandi_map.jpg" alt="上海市长宁区淮海西路680号新淮海坊一层">
		        </a>
	    	</div>
	    </div>
	</div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
	_.BLURB = {
        "p1001": {
            "en": "Shanghai",
            "cn": "上海"
        },
        "p1002": {
            "en": "YongjiaRoad Store",
            "cn": "永嘉庭店"
        },
        "p1003": {
            "en": "Unit 312, 570 Yongjia Road Xuhui District Shanghai",
            "cn": "上海市徐汇区永嘉路570号312室"
        },
        "p1004": {
            "en": "Monday to Friday: 8AM - 8PM<br> Saturday to Sunday: 10AM - 8PM",
            "cn": "周一 ~ 周五：8AM - 8PM<br>周六 ~ 周日：10AM - 8PM"
        },
        "p1005": {
            "en": "Beijing",
            "cn": "北京"
        },
        "p1006": {
            "en": "VStation at Central Park",
            "cn": "新城国际店"
        },
        "p1007": {
            "en": "Unit 103, Tower 26 central park, 6 Chaowai Street, Chaoyang District Beijing",
            "cn": "北京市朝阳区朝外大街6号，新城国际26号楼103"
        },
        "p1008": {
            "en": "14th Floor, 1219 Changle Road",
            "cn": "长乐路1219号长鑫大厦14楼"
        },
        "p1009": {
            "en": "Everyday 10:30AM - 12:30PM",
            "cn": "每天上午10:30 - 下午12:30"
        },
        "p1010": {
            "en": "Mahota Kitchen",
            "cn": "泰生厨房"
        },
        "p1011": {
            "en": "1F M-Town, No.680 Huaihai West Road, Changning",
            "cn": "上海市长宁区淮海西路680号新淮海坊一层<br>（地铁3,4,10号线虹桥路地铁站旁）"
        },
        "p1012": {
            "en": "Everyday 11:00AM - 21:00PM",
            "cn": "每天上午11：00 - 下午21：00"
        }
	};
}
</div>