<%
    var cacheServer = data.cacheServer;
%>
<div class="checklist" style="overflow: hidden;">
    <h2><strong data-weave="widget/blurb/main(1165)">Dear new V-Cleanser</strong></h2>
    <p class="checklist-subtitle" data-weave="widget/blurb/main(1166)">Congrats! You are about to embark on a fun journey with us!</p>
    <div class="line-hor"></div>
    <h6><strong data-weave="widget/blurb/main(1167)">Who says living healthily is hard? In our eyes, it can be stylish, hip, and full of sparks.</strong></h6>
    <hr>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="email" class="form-control" id="signup-email" name="signup-email" placeholder="Subscribe to VCLEANSE" required value="" data-weave="widget/blurb/main(1404, 'placeholder')">
        </div>
        <button type="submit" class="btn btn-default" data-weave="widget/blurb/main(1403)">Subscribe</button>
    </form>
    <div class="checklist-link slide hid" data-action="enrollmentsuccess-link">
        <p class="text-success">
            <span class="glyphicon glyphicon-ok-sign"></span>
            <span data-weave="widget/blurb/main(1405)"></span>
		</p>
        <p class="checklist-link-recommend m-hidden">
            <span>&rsaquo;</span>
            <strong data-weave="widget/blurb/main(1168)">Finish your VCleanse profile.</strong>
        </p>
        <p class="m-hidden">
            <span>&rsaquo;</span>
            <span data-weave="widget/blurb/main(1374)">Learn about our juices here.</span>
        </p>
        <p>
            <span>&rsaquo;</span>
            <span data-weave="widget/blurb/main(1169)">Place your first order.</span>
        </p>
    </div>
    <hr>
    <div class="checklist-gap">
        <h6><strong data-weave="widget/blurb/main(1170)">Questions?</strong></h6>
        <p data-weave="widget/blurb/main(1171)">We are just one WeChat away!</p>
        <p>
            <img src="<%=cacheServer%>/images/qrcode_service.png" width="128" height="128" alt="">
        </p>
    </div>
    <div class="line-hor"></div>
    <p data-weave="widget/blurb/main(1172)">Green is the new black. Health is the priceless luxury. Staying fit is the ultimate sexy.</p>
</div>
