@import "variable.less";
@import "mixin.less";

html,
body
{
	display: block!important;
	font-size: 12px;
	line-height: 1.6;
	font-family: @fontfamily-general;
	color: @color-black;
}

/* Basic 基础样式*/
@import "helper.less";                    //所有页面的基础样式
@import "layout.less";
@import "animation.less";                 //所有基础的动画样式
@import "responsive.less";                //响应式样式

/* Elements 元件样式*/
@import "elements/form.less";             //form表单的基础样式
@import "elements/button.less";           //button按钮的基础样式
@import "elements/heading.less";          //H1-H6文章标题的基础样式
@import "elements/link.less";             //<a>的基础样式
@import "elements/text.less";             //字体及颜色的基础样式

/* Components 组件样式*/
@import "components/caret-5.less";
@import "components/linebox.less";
@import "components/infobox.less";
@import "components/tel.less";
@import "components/checklist.less";
@import "components/seplist.less";
@import "components/billlist.less";
@import "components/rimlesstable.less";
@import "components/pager.less";
@import "components/showmycontent.less";
@import "components/tab.less";
@import "components/errormessage.less";
@import "components/number.less";
@import "components/article.less";
@import "components/sending.less";
