/*========================================================
    File:        base.css
    Description: Base CSS Style for All Pages
    Author:      faceach@gmail.com
    Github:		 https://github.com/faceach
========================================================*/

/* + Base CSS - Begin */

/* - Keywords */
/* - Please do not use these keywords as a ordinary CSS Class name, they will be used in JavaScript as a dynamic CSS Class */
/*
*/

/* - Type Selector */
strong, strong em, .bold    {   font-weight: 700;   }
em, em strong, .italic      {   font-style: italic; }

/* - Clear Fix */
.cf:after,ul.hor:after      {   clear: both; content: "."; display: block; height: 0; visibility: hidden;   }
.cf,ul.hor                  {   *zoom: 1;       }
.clear                      {   clear: both;    }

/* - Float */
.col-l, ul.hor > li         {   float: left; _display: inline;    }
.col-r                      {   float: right; _display: inline;   }

/* - Position */
.pos-rel        {   position: relative;     }
.pos-abs        {   position: absolute;     }
.pos-fix        {   position: fixed;        }

/* - Align */
.rtl            {   direction: rtl;         }
.txtalign-c     {   text-align: center;     }
.txtalign-l     {   text-align: left;       }
.txtalign-r     {   text-align: right;      }
.align-c        {   margin-left: auto; margin-right: auto;		}
.valign-t       {   vertical-align: top;    }
.valign-m       {   vertical-align: middle; }
.valign-b       {   vertical-align: bottom; }
.vm:after,
.valign-m-help	{   display: inline-block; vertical-align: middle; font-size: 10px; text-indent: -5000px; overflow: hidden;	}

/* - Width Free/Flexible Button */
.flexwidth              {   display: inline-block; *display: inline; *zoom: 1;      }
.flexwidth .fw-l        {   display: block; _display: inline; _zoom: 1;             }
a.flexwidth             {   cursor: pointer; white-space: nowrap;                   }
a.flexwidth:hover       {   text-decoration: none;                                  }

/* - Others */
.ndr a,
.ndr a:hover,
a.ndr,
a.ndr:hover     {   text-decoration: none;  }
.hid         	{   display: none;          }
.hand           {   cursor: pointer;        }
.nohand         {   cursor: default;        }
.ltspacing      {   letter-spacing: -1px;   }
.txtindent      {   text-indent: -5000px; overflow: hidden;                         }
.inlineblock    {   display: inline-block; *display: inline; *zoom: 1;              }
.breakword      {   word-wrap: break-word; word-break: break-all; overflow:hidden;  }
.nowrap         {   white-space: nowrap;    }
.justify        {   text-align: justify;    }

/*水平翻转*/
.flipx  {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  /*IE*/
  filter: FlipH;
}

/* + Base CSS - End */