// from v2
.wrap {
    margin: 0 auto;
    .page {
        padding-top: 42px;
        background-color: @color-white;

        .homepage & {
            background-color: @color-white;
        }
    }
}
.page-width, .inner {
    width: @pixel-width-page;
    margin-left: auto;
    margin-right: auto;
    > .page-width-l {
        width: 72%;
    }
    > .page-width-m {
        width: 4%;
    }
    > .page-width-lm {
        width: 76%;
    }
    > .page-width-r {
        width: 24%;
        .page-r-ver-gap {
            margin-top: 30px;
        }
    }
    .page-main {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
