/*
// - @vcleanse.com
*/

.caret-5()
{
    border: 5px solid transparent;
    width: 0;
    height: 0;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
}

.horizontal-center()
{
    margin-left: auto;
    margin-right: auto;
}

.pattern-dotted()
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQIW2NkwAIY8Qq+e/duppCQUDpIEX6VyMYAANEwBAYYCxzHAAAAAElFTkSuQmCC);
  background-repeat: repeat;
}
.pattern-twill()
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQALv3r2byQjjgzhCQkLpYAEYB8RmROaABAD5UQ9oB9Gh8QAAAABJRU5ErkJggg==);
  background-repeat: repeat;
}
.pattern-square()
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAHElEQVQIW2N89+7dTAYcgBEkKSQklI5NftBJAgDlbRtr0S8Q/gAAAABJRU5ErkJggg==);
  background-repeat: repeat;
}
.pattern-flower()
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATklEQVQYV2P88OGDsYCAwFkGKADxQUx0MUaYAhCNrAndALhCdAl0jWCF6CYhWw2TY8SmCOYcmDtBaohXSLTVyMGCHCRYPYNNMUbwEBvgAEnLZBftHgrZAAAAAElFTkSuQmCC);
  background-repeat: repeat;
}

// Clearfix
// --------
.cf() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// inline-block
// ----------------
.inline-block() {
  display: inline-block;
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

// Size
// ----------------
.size(@width, @height) {
  width: @width;
  height: @height;
}

// Disable user select text
// ----------------
.disable-user-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Font
// ----------------
.bold() {
  font-weight: 700;
}

.italic() {
  font-style: italic;
}

// CSS3 PROPERTIES
// --------------------------------------------------
// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

// Box Sizing
.box-sizing(@size) {
  -webkit-box-sizing: @size;
  -moz-box-sizing: @size;
  box-sizing: @size;
}

//Background Sizing
.background-size(@width, @height) {
  -webkit-background-size: @width @height;
  -moz-background-size: @width @height;
  background-size: @width @height;
}

.border-top-left-radius(@radius) {
  -webkit-border-top-left-radius: @radius;
  -moz-border-top-left-radius: @radius;
  border-top-left-radius: @radius;
}

.border-top-right-radius(@radius) {
  -webkit-border-top-right-radius: @radius;
  -moz-border-top-right-radius: @radius;
  border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius) {
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-bottom-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius) {
  -webkit-border-bottom-right-radius: @radius;
  -moz-border-bottom-right-radius: @radius;
  border-bottom-right-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

//Multiple box shadow
.muti-box-shadow(@shadowA, @shadowB) {
  -webkit-box-shadow: @shadowA, @shadowB;
  -moz-box-shadow: @shadowA, @shadowB;
  box-shadow: @shadowA, @shadowB;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

.scale(@ratio) {
  -webkit-transform: scale(@ratio);
  -moz-transform: scale(@ratio);
  -ms-transform: scale(@ratio);
  -o-transform: scale(@ratio);
  transform: scale(@ratio);
}

.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
  -moz-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  transform: translate(@x, @y);
}

.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
  -moz-transform: skew(@x, @y);
  -ms-transform: skew(@x, @y);
  -o-transform: skew(@x, @y);
  transform: skew(@x, @y);
}

.translate3d(@x, @y, @z) {
  -webkit-transform: translate(@x, @y, @z);
  -moz-transform: translate(@x, @y, @z);
  -ms-transform: translate(@x, @y, @z);
  -o-transform: translate(@x, @y, @z);
  transform: translate(@x, @y, @z);
}

//Animation
.animation(@effect) {
  -webkit-animation: @effect;
  -moz-animation: @effect;
  -ms-animation: @effect;
  -o-animation: @effect;
  animation: @effect;
}