/*
// - @vcleanse.com
*/
@lt480-pixel-left-whitespace: 10px;
@lt480-pixel-right-whitespace: 10px;

.page-width {
    box-sizing: border-box;
    min-width: 360px;
    width: 100%;
    > .page-width-l {
        width: auto;
    }
    > .page-width-m {
        min-height: 1px;
        display: block;
        height: 1px!important;
        margin: 40px 0;
        overflow: hidden;
        background: url(../bg/line_hor.png) center top no-repeat;
        background-size: 100% 1px;
    }
    > .page-width-lm {
        width: auto;
    }
    > .page-width-r {
        width: auto;
    }
    &:not(header) {
        > .page-width-r {
            margin-top: 40px;
            margin-left: @lt480-pixel-left-whitespace;
            margin-right: @lt480-pixel-right-whitespace;
        }
    }
    .page-main {
        margin-left: 0;
        margin-left: @lt480-pixel-left-whitespace;
        margin-right: @lt480-pixel-right-whitespace;
    }
}
header {
    h1 {
        margin-left: @lt480-pixel-left-whitespace;
        margin-top: 10px;
    }
    .hotline {
        p {
            padding-right: @lt480-pixel-right-whitespace;
        }
    }
}
footer {
    margin-bottom: 50px;
    div {
        margin-left: @lt480-pixel-left-whitespace;
        margin-right: @lt480-pixel-right-whitespace;
    }
}
nav {
    ul.menu-main {
        margin-left: 0;
        li {
            float: none;
            background: none;
            padding: 0;
            a {
                padding-left: 10px;
                border-bottom-width: 0;
                border-left: 5px solid @color-grey-lighter;
            }
            &.active a {
                border-left-color: @color-brand;
            }
        }
    }
    ul.menu-sub {
        margin-left: 0;
        li {
            float: none;
            padding: 0;
            background: none;
            list-style: square inside;
            a {
                display: block;
                color: @color-grey-dark;
                line-height: 2.2em;
                padding-left: 15px;
            }
            strong {
                margin-right: 8px;
            }
            &.active a {
                color: @color-primary;
            }
        }
        &.menu-sub-step {
            li {
                background: none;
                &:first-child {
                    padding-left: 24px;
                    background: none;
                }
            }
        }
    }
}
ul {
    &.hor:not(.float-abs) {
        > li {
            float: none!important;
            width: auto!important;
        }
    }
}
.cf {
    &:not(.float-abs) {
        > .col-l, > .col-r {
            float: none!important;
            width: auto!important;
        }
    }
}
