//
// Variables
// --------------------------------------------------

// Brand color
// -------------------------
@color-brand: #000;
@color-brand-light: #f3eee5;
@color-brand-dark: #736856;

// Grays
// -------------------------
@color-white: #fff;
@color-grey-thin: #ececec;
@color-grey-lighter: #e5e5e5;
@color-grey-light: #ccc;
@color-grey: #999;
@color-grey-dark: #666;
@color-grey-darker: #333;
@color-black: @color-brand;

// Color by status
// -------------------------
@color-link: #0072bb;
@color-primary: @color-brand;
@color-info: #f05a25;
@color-success: #30bb15;
@color-warning: #c0262e;
@color-error: #fc4320;
@color-hover: #78C7B7;

// Other colors
// -------------------------
@color-golden: #a29060;
@color-brown: #57473d;
@color-warming: #c6183c;
@color-sales: #e4393c;

// Button color
// -------------------------
@color-green:#72cc31;
// Juice bottle color
// -------------------------
@color-juice-green: #424d23;
@color-juice-red: #941d3d;
@color-juice-yellow: #d58d21;
@color-juice-black: #4c433e;
@color-juice-white: #bfb9a3;

// Font size
// -------------------------
@fontsize-xxs : 70%; 
@fontsize-xs  : 78%; 
@fontsize-s   : 85%; 
@fontsize-m   : 90%; 
@fontsize-l   : 105%;
@fontsize-xl  : 113%;
@fontsize-xxl : 121%;
@fontsize-3xl : 130%;
@fontsize-4xl : 138%;
@fontsize-5xl : 146%;
@fontsize-6xl : 155%;
@fontsize-7xl : 163%;
@fontsize-8xl : 171%;
@fontsize-9xl : 180%;
@fontsize-10xl: 188%;
@fontsize-11xl: 196%;
@fontsize-12xl: 205%;
@fontsize-13xl: 213%;
@fontsize-14xl: 221%;
@fontsize-15xl: 230%;
@fontsize-16xl: 238%;
@fontsize-17xl: 246%;
@fontsize-18xl: 255%;
@fontsize-19xl: 263%;
@fontsize-20xl: 271%;
@fontsize-21xl: 300%;

// Font family
// -------------------------
@fontfamily-general: "Helvetica Neue", Helvetica, Arial, sans-serif, "Microsoft Yahei", SimHei; 
@fontfamily-cn: "微软雅黑","黑体",Helvetica,Arial,sans-serif;
@fontfamily-numeral: arial, Tahoma, sans-serif; 
@fontfamily-tag: sans-serif, arial, Tahoma; 

@border-radius: 4px;
@border-radius-small: 3px;
@border-radius-large: 8px;


// From v2
@pixel-width-page: 992px;
@pixel-lineheight-nav: 40px;