<%
  var cacheServer = data.cacheServer;
%>

<div class="v-popup-container">
  <h6>支付平台：</h6>
  <ul class="hor banklist">
    <li data-action="selectbank" data-id="ALIPAY">
        <img src="<%=cacheServer%>/images/payment/alipay.jpg" width="126" height="35">
    </li>
    <li data-action="selectbank" data-id="ALIPAY_QR">
        <img src="<%=cacheServer%>/images/payment/alipay_saomazhifu.jpg" width="126" height="35">
    </li>
    <li data-action="selectbank" data-id="UCFPAY">
        <img src="<%=cacheServer%>/images/payment/ucfpay.jpg" width="126" height="35">
    </li>
  </ul>

  <h6>支付网银：</h6>
  <ul class="hor banklist">
    <li data-action="selectbank" data-id="CMB">
        <label class="bank-cmbchina"></label>
    </li>
    <li data-action="selectbank" data-id="BOCB2C">
        <label class="bank-boc"></label>
    </li>
    <li data-action="selectbank" data-id="ICBCB2C">
        <label class="bank-icbc"></label>
    </li>
    <li data-action="selectbank" data-id="COMM">
        <label class="bank-bankcomm"></label>
    </li>
    <li data-action="selectbank" data-id="CCB">
        <label class="bank-ccb"></label>
    </li>
    <li data-action="selectbank" data-id="CIB">
        <label class="bank-cib"></label>
    </li>
  </ul>
  <ul class="hor banklist banklist-more">
      <li data-action="selectbank" data-id="CMBC">
          <label class="bank-cmbc"></label>
      </li>
      <li data-action="selectbank" data-id="GDB">
          <label class="bank-cgbchina"></label>
      </li>
      <li data-action="selectbank" data-id="SPDB">
          <label class="bank-spdb"></label>
      </li>
      <li data-action="selectbank" data-id="ABC">
          <label class="bank-abchina"></label>
      </li>
      <li data-action="selectbank" data-id="SPABANK">
          <label class="bank-pingan"></label>
      </li>
      <li data-action="selectbank" data-id="POSTGC">
          <label class="bank-psbc"></label>
      </li>
      <li data-action="selectbank" data-id="CITIC">
          <label class="bank-ecitic"></label>
      </li>
      <li data-action="selectbank" data-id="SHRCB">
          <label class="bank-srcb"></label>
      </li>
      <li data-action="selectbank" data-id="SHBANK">
          <label class="bank-bankofshanghai"></label>
      </li>
      <li data-action="selectbank" data-id="NBBANK">
          <label class="bank-nbcb"></label>
      </li>
      <li data-action="selectbank" data-id="HZCBB2C">
          <label class="bank-hccb"></label>
      </li>
      <li data-action="selectbank" data-id="BJBANK">
          <label class="bank-bankofbeijing"></label>
      </li>
      <li data-action="selectbank" data-id="BJRCB">
          <label class="bank-bjrcb"></label>
      </li>
      <li data-action="selectbank" data-id="WZCBB2C-DEBIT">
          <label class="bank-wzcb"></label>
      </li>
  </ul>
  <hr>
  <p class="text-center">
    <button type="button" class="btn btn-default" data-action="close" data-weave="widget/blurb/main(1452)">I got it</button>
  </p>
</div>

