
@import "compass/utilities";
@import "compass/css3";

@mixin clearfix() {
  @include legacy-pie-clearfix();
};

@mixin h-background($url, $background-color: transparent) {
	background: $background-color url($url) left top no-repeat;
};

@mixin rotate-block($rotate, $background-color) {
	width: 110%;
    height: 100px;
    @include transform(rotateZ($rotate));
    position: relative;
    top: -40px;
	left: -5%;
	right: -5%;
    position: absolute;
    z-index: 0;
    background: $background-color;
}