$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";

//可以使用 @extend 继承
%ellipsis {
	@include ellipsis;
}
%common-width {
	width: 960px;
	margin: auto;
}


$login-color: #7fb624;
$header-nav-active-background: #7fb624;
$header-nav-active-color: #ffffff;
$header-nav-color: #231815;

$recommend-box-background: #f7f8fa;

$vcleanse-info-box-background: #eeeeee;
$vcleanse-info-box-text-color: #548778;

$workshop-box-background: #2c2c2c;
$workshop-box-color: #ffffff;

$footer-dt-color: #231815;
$footer-dd-color: #6d6c6c;

$footer-bottom-background : #030000;
$footer-bottom-color: #9e9e9f;

// cleanse
$cleanse-page-background: #f3f4f4;
$subtitle-big-size: 32px;
$subtitle-small-size: 18px;
$subtitle-color: #231815;

$cleanse-nav-color: #231815;
$cleanse-nav-active-color: #494949;

$prodcut-list-header-color: #231815;
$prodcut-list-content-color: #231815;