@import "variable", "mixin", "compass/css3", "icons";
body {
	background-color: $cleanse-page-background;
}
%cleanse-width {
	width: 786px;
	margin: 0 auto;
}
.subtitle {
	@extend %cleanse-width;
	height: 172px;
	line-height: 172px;
	color: $subtitle-color;
	text-align: center;
	h3 {
		font-size: $subtitle-big-size;
		font-weight: normal;
	}
	h4 {
		font-size: $subtitle-small-size;
		font-weight: normal;
		margin-top: 26px;
	}
}
.cleanse-type-nav {
	@extend %cleanse-width;
	height: 76px;
	ul {
		@include clearfix();
	}
	li {
		float: left;
		color: $cleanse-nav-color;
		font-size: 28px;
		margin-right: 25px;
		padding: 22px 60px;
		text-align: center;
		font-weight: bold;
		border: 2px solid $cleanse-nav-color;
		@include transition(color .5s, border-color .5s, background-color .5s);
		cursor: pointer;
	}
	.active {
		background: $cleanse-nav-active-color;
		color: #ffffff;
		border: 2px solid transparent;
	}
	.last-child {
		margin-right: 0;
	}
}
.cleanse-content {
	padding-bottom: 55px;
}
.cleanse-type-content {
	margin-top: 40px;
	@extend %cleanse-width;
	ul {
		display: none;
		@include clearfix();
	}
	ul.active {
		display: block;
	}

	li {
		width: 380px;
		margin-right: 26px;
		float: left;
		@include box-shadow(0 2px 5px #cccccc);
		overflow-x: hidden; 
		background: #ffffff;
		padding-bottom: 25px;
	}
	img {
		width: 100%;
	}
	.last-child {
		margin-right: 0;
	}
}
.cleanse-info {
	width: 100%;
	position: relative;
	z-index: 1;
	padding-bottom: 10px;
	.rotate-block {
    	@include rotate-block(-4deg, #ffffff);
	}
	.cleanse-info-box {
		position: relative;
		z-index: 1;
		padding: 0 32px;
		top: -26px;
	}
	.cleanse-info-header {
		height: 50px;
		line-height: 50px;
		border-bottom: 2px solid #bbb7b7;
		text-align: center;
		font-size: 24px;
		color: $prodcut-list-header-color;
	}
	.cleanse-info-content {
		font-size: 14px;
		margin-top: 16px;
		line-height: 16px;
		color: $prodcut-list-content-color;
	    height: 100px;
    	overflow: auto;
	}
}
.go-look {
	text-align: center;
}
.first-access-box {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 101;
	background-color: transparent;
	ul {
		width: 466px;
		margin: 138px auto 0;
		@include clearfix();
		position: relative;
		b {
			position: absolute;
		    top: -80px;
		    font-size: 40px;
		    color: #9B9794;
		    right: -70px;
		    cursor: pointer;
		}
	}
	li {
		width: 152px;
		border: 2px solid #ffffff;
		float: left;
		padding: 40px 30px;
		margin-right: 5px;
		@include transition(border-color .5s);
		&:hover {
			border-color: #abd27e;
			div {
				color: #454343;
				background-color: #ffffff;
				//border-color: #abd27e;
			}
			.btn-small {
				border-color: transparent;
				background-color: #abd27e;
			}
		}
	}
	.last-child {
		margin-right: 0;
	}
	.first-access-nav{
		div {
			width: 74px;
			height: 74px;
			border: 2px solid #ffffff;
			@include border-radius(50%);
			margin: 0 auto;
			text-align: center;
			line-height: 68px;
			font-size: 40px;
			color: #ffffff;	
			@include transition(color .5s, border-color .5s);	
		}
		p {
			font-size: 16px;
			color: #ffffff;
			margin-top: 18px;
			text-align: center;
			line-height: 24px;
			letter-spacing: 2px;
		}
		a {
			margin-top: 38px;
	    	margin-left: -10px;
    		margin-right: -10px;
    		@include transition(background-color .5s);
		}
	}
}

.backdrop {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	overflow: auto;
	background-color: #282828;
	@include opacity(.8);
}