@import "mixin", "variable", "compass/css3", "icons";
$product-page-background: #efefef; 
body {
	background-color: $product-page-background;
}
.item-content {
	width: 804px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.page-title {
	margin-top: 42px;
	position: relative;
	h1 {
		width: 180px;
		font-size: 32px;
		color: #231815;
		position: relative;
		z-index: 2;
		background-color: $product-page-background;
		margin: 0 auto;
		text-align: center;
		font-weight: normal;
	}
	.line {
		height: 2px;
		background-color: #8b8685;
		position: absolute;
		top: 15px;
		left: 0;
		right: 0;
		top: 18px\9;
	}
}
.product-type-nav {
	margin-top: 36px;
	@include clearfix();
	li {
		float: left;
		margin-right: 8px;
		margin-right: 6px\9;
	}
	:last-child {
		margin-right: 0;
	}
	a {
		display: block;
		font-size: 24px;
		color: #231815;
		width: 154px;
		height: 68px;
		line-height: 68px;
		text-align: center;
		border: 1px solid #7e7977;
		@include transition(border-color .5s, color .5s, background-color .5s);
		&:hover {
			text-decoration: none;
		}
	}
	.active a {
		border-color:transparent;
		background-color: #61cdd0;
		color: #ffffff;
	}
}
.product-list {
	margin-top: 40px;
	.product-type-list {
		display: none;
		@include clearfix();
		&.active {
			display: block;
		}
	}	
	dl {
		width: 256px;
		float: left;
		margin: 0 6px 20px 6px;

	}
	dt {
		font-size: 24px;
		color: #ffffff;
		width: 100%;
		height: 80px;
		line-height: 80px;
		text-align: center;
		background-color: #83ccd2;
		@include border-radius(5px);
	}
	dd {
		font-size: 12px;
		color: #231815;
		background-color: #ffffff;
		padding: 16px 40px 32px;
		//border: 1px solid #e8e9e9;
		@include border-radius(0 0 5px 5px);
		@include box-shadow(0 5px 5px #cccccc);
		border-top: none;
		h3, p {
			font-size: inherit;
			line-height: 16px;
			letter-spacing: 1px;
		}
	}
	.product-img {
	    width: 172px;
	    height: 106px;
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    background-color: #ffffff;
	    img {
	    	vertical-align: middle;
		    max-width: 100%;
		    max-height: 100%;
		}
	}
	.product-ingredients {
		margin-top: 10px;
	}
	.product-price-number {
		margin-top: 26px;
		strong {
			font-size: 16px;
			color: #000000;
			margin-right: 12px;
			display: inline-block;
			line-height: 20px;
			vertical-align: top;
		}
	}
}
.create-order {
	text-align: right;
	margin-top: 38px;
	.order-price {
		display: inline-block;
		line-height: 40px;
		color: #000000;
	}
	span, e{
		font-size: 12px;
	}
	span {
		padding-right: 20px;
	}
	strong {
		font-size: 26px;
		padding-right: 20px;
	}
}

.item-nutrition {
	width: 414px;
	height: 328px;
	background: #ffffff;
	position: absolute;
	top: 0;
	left: 100px;
	z-index: 10;
	border: 1px solid #cccccc;
	display: none;
	margin-top: 40px;
    margin-left: 160px;
	opacity: 0;
	@include box-shadow(0 0 5px #cccccc);
	h3 {
		font-size: 14px;
		color: #231815;
		height: 45px;
		line-height: 45px;
		text-align: center;
		border-bottom: 1px solid #68605e;
	}
	.item-nutrition-content {
		padding: 0 20px;
		table {
			width: 100%;
		}
		thead tr {
			height: 27px;
			border-bottom: 1px solid #c8c5c4;
		}
		tr {
			height: 16px;
			font-size: 12px;
			td:first-child {
				padding-left: 20px;
			}
			td:last-child {
				text-align: right;
				padding-right: 20px;
			}
		}
	}
	&:before {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border: 16px solid #cccccc;
		border-color: transparent #cccccc transparent transparent;
	    left: -32px;
    	top: 60px;
	}
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		position: absolute;
		border: 16px solid #ffffff;
		border-color: transparent #ffffff transparent transparent;
		left: -30px;
		top: 60px;
	}
	&.right {
		margin-left: -250px;
	}
	&.right:before {
		border-color: transparent transparent transparent #cccccc;
	    right: -32px;
        left: initial;
	}
	&.right:after {
		border-color: transparent  transparent transparent #ffffff;
		right: -30px;
	    left: initial;
	}
}
