@import "mixin", "variable", "compass/css3", "icons";

body {
	background-color: #efefef;
}
.detail-content {
	padding-top: 60px;
	position: relative;
}
.detail {
	@extend %common-width;
	@include clearfix();
	padding-bottom: 50px;
}
.gallery {
    margin-left: -100%;
    width: 318px;
    position: relative;
	float: left;
	.booth {
	    width: 318px;
	    height: 318px;
	    padding: 24px;
	    border: 1px solid #d4d2d1;
	    display: table-cell;
	    vertical-align: middle;
	    text-align: center;
	    background-color: #ffffff;
	    img {
	    	vertical-align: middle;
		    max-width: 100%;
		    max-height: 100%;
		}
	}
	.thumb {
		position: relative;
		.thumb-wrap {
			width: 100%;
			height: 51px;
			margin-top: 18px;
			overflow: hidden;
		}
		.thumb-wrap.scroll {
			width: 296px;
		    height: 51px;
		    padding-left: 26px;
		}
		ul {
			width: 100%;
			@include clearfix();
			li {
				float: left;
				margin-right: 6px;
				margin-right: 5px\9;
			}
			:last-child {
				margin-right: 0;
			}
			a {
				width: 48px;
				height: 48px;
				border: 1px solid #cac8c7;
				//padding: 4px;
				display: table-cell;
	    		vertical-align: middle;
	    		text-align: center;
	    		background-color: #ffffff;
			}
			
			a.selected {
				border-color: red;
				background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
			}
			img {
			    position: relative;
			    max-width: 40px;
			    max-height: 40px;
			}
		}
		
		.left-arrow, .right-arrow {
			width: 16px;
			height: 51px;
			display: none;
			position: absolute;
			top: 0;
			cursor: pointer;
		    border: none;
		    background-color: #cfcfcf;
		}
		.left-arrow {
			margin-right: 4px;
			left: 0;
		}
		.right-arrow {
			margin-left: 4px;
			right: 0;
		}
	}
}
.property {
	float: left;
	width: 100%;
	.wrap {
	    margin: 0 0 0 344px;
	}
	.meta-title {
		width: 60px;
		font-size: 14px;
		margin-right: 20px;
	}
	h1 {
		font-size: 32px;
		color: #231815;
		font-weight: normal;
	}
	dl, .date, .select-additions, .buy {
		padding-left: 10px;
	}
	dt, dd {
		display: inline-block;
	}
	.price {
		color: #000000;
		background-color: #e7e7e7;
		margin-top: 8px;
		line-height: 52px;
		em {
			font-size: 12px;
		}
		span {
			font-size: 26px;
			font-weight: bold;
		}
	}
	.sex, .week {
		line-height: 52px;
		dt {
			font-style: 14px;
		}
	}
	.week {
		border-bottom: 1px solid #c9c7c6;
	}
	.date {
		border-bottom: 1px solid #c9c7c6;
		line-height: 52px;
		span {
			font-size: 12px;
			color: #000000;
			padding-right: 10px;
		}
		.end {
			padding-left: 30px;
		}
	}
	.select-additions {
		.checkbox {
			margin-top: 12px;
		}
	}
	.buy {
		margin-top: 20px;
	}
}
.detail-info {
	@extend %common-width;
	border-top: 1px solid #c9c7c6;
	p {
		font-size: 12px;
		color: #231815;
		padding: 18px 8px 50px;
		text-indent: 24px;
		line-height: 16px;
		letter-spacing: 1px;
	}
}
.block-title {
	width: 142px;
	border-top: 3px solid #7fb624;
	color: #7fb624;
	font-size: 14px;
	padding: 4px 8px;
	font-weight: normal;
}
.item-title {
	strong {
		font-size: 52px;
		color: #61cdd0;
		font-style: italic;
	}
	span {
		font-size: 16px;
		color:#000000;
		position: relative;
		top: -8px;
	}
}
.detail-list {
	$detail-list-background: #2c2c2c;

	@extend %common-width;
	ul {
		@include clearfix();
	}
	li {
		width: 446px;
		margin-right: 66px;
		float: left;
		margin-bottom: 44px;
	}
	.item-indroduce {
		position: relative;
		padding: 0 30px;
		background-color: #ffffff;
		@include clearfix();
		strong {
			width: 66px;
			height: 50px;
			line-height: 36px;
			padding-right: 12px;
			text-align: right;
			font-size: 20px;
			color: #ffffff;
			font-style: italic;
			position: absolute;
			right: -1px;
			top: 0;
			@include h-background("../img/detail-number-background.png");
		}
		.booth {
		    width: 386px;
		    height: 296px;
		    padding: 20px;
		    display: table-cell;
		    vertical-align: middle;
		    text-align: center;
		    img {
		    	vertical-align: middle;
			    max-width: 100%;
			    max-height: 100%; 
			}
		}
		h3 {
			font-size: 18px;
			color: #595757;
			text-align: center;
			padding-bottom: 20px;
		    border-bottom: 1px solid #c9c6c5;
		}
	}
	.item-content {
	    overflow: auto;
		height: 200px;
		padding: 20px 30px 0px;
		background-color: #ffffff;
		.item-content-list {
			font-size: 12px;
			margin-bottom: 10px;
			color: #727171;
			@include clearfix();
			span {
				width: 72px;
				height: 26px;
				padding: 6px 0 6px 12px;
				float: left;
				@include h-background("../img/detail-category-background.png");
			}
			p {
				float: left;
				padding-left: 92px;
			    margin-left: -72px;
			    width: 100%;
			    line-height: 1.3;
			}
		}
	}
	.bottom-background {
		width: 100%;
		height: 8px;
		@include h-background("../img/detail-list-bottom-img.png");
	}
}