@import "variable", "mixin", "compass/css3", "icons";

.bottle {
	width: 80px;
	height: 359px;
    z-index: 500;
    position: fixed;
    top: 98px;
    left: 50%;
    list-style: none;
    margin: 0 0 0 300px;
    padding: 0;
	@include h-background("../img/bottle.png")
}
.banner {
	@extend %common-width;
	position: relative;
	ul {
		@include clearfix();
		li {
			float: left;
		}
	}
	.dots {
		bottom: 50px;
	}
}
%box-contnet-h3 {
	font-size: 32px;
	color: #7fb624;
	font-weight: normal;
}
.recommend-box {
	background-color: $recommend-box-background;
	position: relative;
	z-index: 1;
	.rotate-block {
	    @include rotate-block(2deg, $recommend-box-background);
	}
	.box-content {
		position: relative;
		z-index: 1;
		padding-top: 20px;
		padding-bottom: 80px;
		@extend %common-width;
		img {
			display: block;
		}
		.btn {
			margin-top: 20px;
		}
	}
}
.vcleanse-info-box {
	background-color: $vcleanse-info-box-background;
	position: relative;
	z-index: 1;
	.rotate-block {
	    @include rotate-block(-2deg, $vcleanse-info-box-background);
	}
	.box-content {
		position: relative;
		z-index: 1;
		padding-top: 58px;
		padding-bottom: 85px;
		@extend %common-width;
		h3 {
			@extend %box-contnet-h3;
		}
		div {
			margin-top: 50px;
			@include clearfix();
		}
		img {
			float: left;
			margin-right: 42px;
		}
		.vcleanse-info-text {
			width: 516px;
			font-size: 14px;
			padding: 21px 0;
			float: left;
			color: $vcleanse-info-box-text-color;
			line-height: 35px;
			letter-spacing: 1px;
		}
	}
}
.workshop-box {
	background-color: $workshop-box-background;
	position: relative;
	z-index: 1;
	.rotate-block {
	    @include rotate-block(-2deg, $workshop-box-background);
	}
	.box-content {
		position: relative;
		z-index: 1;
		padding-top: 30px;
		padding-bottom: 115px;
		@extend %common-width;
		h3 {
			@extend %box-contnet-h3;
			color: #ffffff;
		}
		.workshop-text {
			width: 690px;
			font-size: 14px;
			padding: 21px 0;
			margin-top: 34px;
			color: $workshop-box-color;
			line-height: 35px;
			letter-spacing: 1px;
		}
		.last-child {
			margin-left: 12px;
		}
	}
}
.footer-box {
	position: relative;
	z-index: 1;
	.rotate-block {
	    @include rotate-block(2deg, #ffffff);
	}
}

