@import "mixin", "icons", "variable", "compass/css3";
$browser-minimum-versions: ("ie": "8");
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    min-width: 960px;
}


* {
    box-sizing: inherit;
}
/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1 "Microsoft Yahei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
    outline: none;    
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

.inline-block {
    display: inline-block;
}
.clearfix {
    @include clearfix();
}
.hide-x {
    overflow: hidden;
}
.loading {
    width: 75px;
    height: 123px;
    margin: 10px auto;
    @include h-background("../img/loading.gif");
}
.banner .dots {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 10;
}
.banner .dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #333333;
    @include border-radius(50%);
    cursor: pointer;
    opacity: .4;
    filter: alpha(opacity=50);
    transition: background .5s, opacity .5s;
}
.banner .dots li.active {
    background: #333333;
    opacity: 1;
}
.btn {
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    padding: 12px 48px 12px 36px;
    @include border-radius(5px);
    background: #72CC3E url("../img/button.png") 90% center no-repeat;
    border: none;
    cursor: pointer;
    position: relative;
    @include transition(top .5s, box-shadow .5s);
    &:hover {
        @include box-shadow(2px 2px 5px rgba(0,0,0,0.4));
        text-decoration: none;
    }
    &:active {
        top: 1px!important;
    }
}
.btn-small {
    @extend .btn;
    padding: 10px 40px 10px 28px;
}
.btn-transparent {
    border: 1px solid #ffffff;
    background-color: transparent;
}
.input {
    width: 112px;
    height: 30px;
    padding: 10px;
    color: #000000;
    font-size: 12px;
    border: 1px solid #cccac9;
    border-radius: 5px;
}

.toggle-checkbox {
    display: inline-block;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    position: relative;
    color: #000000;
    cursor: pointer;
    border: 1px solid #d3d0cf;
    font-size: 12px;
    input {
        position: absolute;
        top:0;
        left: 0;
        @include opacity(0);
    }
    &.selected {
        border-color: red;
        background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
    }
}
.toggle-radio {
    position: relative;
    &.selected span {
        border-color: red;
        background: #ffffff url(../img/selected-style.png) right bottom no-repeat;
    }
}
.toggle-radio input {
    position: absolute;
    @include opacity(0);
}
.toggle-radio span {
    @extend .toggle-checkbox;
}
.checkbox {
    height: 22px;
    font-size: 12px;
    color: #000000;
    display: inline-block;
    position: relative;
    span {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        border: 1px solid #8d8786;
        margin-right: 7px;
        margin-bottom: -6px;
        background-color: #ffffff;
        @include transition(border-color 0.5s)
    }
    input {
        position: absolute;
        top: 0;
        @include opacity(0);
    }
    &:hover span, &.checked span {
        border-color: #000000;
    }
}
.checkbox.checked {
    span {
        background: url(../img/checkbox-checked.png) left top no-repeat;
    }
}
.number-control {
    display: inline-block;
    @include clearfix();
    button, input {
        float: left;
        border: none;
        height: 20px;
        outline: none;
    }
    .number {
        width: 45px;
        background-color: #f3f4f4;
        text-align: center;
        line-height: 20px
    }
    .number-plus, .number-minus {
        width: 20px;
        cursor: pointer;
    }
}

.header {
    height: 74px;
    @include clearfix();
    background-color: #ffffff;
    .inner {
        @extend %common-width;
    }
    .logo {
        width: 170px;
        height: 40px;
        margin: 17px 0;
        @include h-background("../img/logo.png");
        float: left;
        a {
            display: block;
            padding-top: 58px;
            width: 170px;
            height: 0;
            overflow: hidden;
            text-indent: -9999px;
        }
    }
    .header-nav {
        width: 576px;
        height: 100%;
        float: right;
    }
    .header-nav-top, .header-nav-bottom {
        margin-top: 14px;
        text-align: right;
        float: right;
        position: relative;
        li {
            float: left;
        }
    }
    .header-nav-top {
        li {
            margin-right: 32px;
            font-size: 12px;
        }
        a {
            color: $header-nav-color;
        }
        :last-child {
            margin-right: 0;
        }
        .login , .login a{
            color: $login-color;
        }
    }
    .header-nav-bottom {
        li {
            margin-right: 32px;
        }
        :last-child {
            margin-right: 0;
        }
        a {
            color: $header-nav-color;
            display: block;
            width: 82px;
            text-align: center;
            font-size: 14px;
            padding: 4px 12px;
            @include border-radius(5px); 
            &.active {
                background-color: $header-nav-active-background;
                color: $header-nav-active-color;
            }
        }
    }
}

.footer {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    @include clearfix();
    .inner{
        @extend %common-width;
        @include clearfix();
    }
    dl {
        float: left;
        width: 224px;
        height: 166px;
        border-right: 1px solid #c8c5c4;
    }
    .footer-center {
        width: 512px;
        text-align: center;
        h4 {
            color: #231815;
            font-size: 16px;
        }
        ul {
            margin-top: 35px;
        }
        li {
            display: inline-block;
            margin-right: 24px;
            position: relative;
            a {
                display: block;
                height: 46px;
            }
        }
        li:last-child {
            margin-right: 0;
        }
        i {
            display: inline-block;
        }
        .email {
            margin-top: 32px;
        }
        .phone {
            margin-top: 6px;
        }
       
        img {
            position: absolute;
            top: -130px;
            left: 0;
            display: none;
        }
    }
    dt {
        color: $footer-dt-color;
        font-size: 16px;
        margin-bottom: 20px;
    }
    dd {
        color: $footer-dd-color;
        font-size: 12px;
        margin-bottom: 12px;
    }
    .share {
        margin-bottom: -4px;
        margin-right: 5px;
        position: relative;
    }
    .wechat-qrcode {
        position: absolute;
        display: none;
        width: 128px;
        height: 128px;
        top: -140px;
        left: -20px;
        border: 1px solid #cccccc;
        @include h-background("http://www.vcleanse.com/images/qrcode_subscribe.png");
    }
    a {
        color: inherit;
        font-size: inherit;
    }
    .last-child {
        border: none;
        dd {
            width: 105px;
            margin-left: 110px;
        }
        img {
            width: 105px;
            height: 105px;
            display: block;
            margin-bottom: 10px;
        }
        span{
            display: block;
            text-align: center;
        }
    }
    img {
        vertical-align: top;
    }
}
.footer-bottom {
    background-color: $footer-bottom-background;
    p {
        @extend %common-width;
        color: $footer-bottom-color;
        text-align: center;
        padding: 10px 0;
        color: #999999;
        font-size: 12px;
    }
    a {
        color: inherit;
        text-decoration: none;
        font-size: inherit;
    }
}




