

<div class="giftcard-main">
    <div id="carousel-example-generic" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" data-weave="widget/blurb/main(1122)">Male</li>
            <li data-target="#carousel-example-generic" data-slide-to="1" class="active" data-weave="widget/blurb/main(1121)">Female</li>
        </ol>
        <p class="giftcard-content-description" data-weave="widget/blurb/main(p1005)"></p>
        <div class="carousel-inner" role="listbox">
            <div class="item swipe giftcard-carousel">
                <div class="row swipe-wrap">
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1002)">1 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;425</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/1" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1010)"></p>
                    </div>
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1003)">3 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;1275</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/3" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1011)"></p>
                    </div>
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1004)">5 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;2125</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/5" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1012)"></p>
                    </div>
                </div>
            </div>
            <div class="item swipe giftcard-carousel active">
                <div class="row swipe-wrap">
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1002)">1 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;325</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/1" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1010)"></p>
                    </div>
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1003)">3 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;975</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/3" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1011)"></p>
                    </div>
                    <div class="giftcard-item">
                        <h5><b data-weave="widget/blurb/main(p1004)">5 DAY</b>
                        </h5>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;1625</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/5" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                        <p data-weave="widget/blurb/main(p1012)"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>