<%
    var categories = data.categories;
    var col = data.col;

    var i = 0;
    var iLens = categories.length;
%>
<ul class="nav nav-tabs" role="tablist" data-weave="widget/basic/bootstrap-tab">
    <%
        for(i = 0; i < iLens; i++){
            appendTab(categories[i], i+1, iLens);
        }
    %>
</ul>
<div class="tab-content">
    <%
        for(i = 0; i < iLens; i++){
            appendTabContent(categories[i]);
        }
    %>
</div>

<% function appendTab(category, sequence, lens) { %>
    <li class="<% if (category.IsDefault) { %>active<% } %> <% if (sequence === lens) { %>last<% } %>" data-action="changepackagetab" data-category-id="<%= category.Id %>">
        <a href="#category_<%= category.Id %>" role="tab" data-toggle="tab"><%= category.Name %></a>
    </li>
    <% if(sequence < lens) { %>
        <li class="nav-tabs-sep"><a>/</a></li>
    <% } %>
<% } %>

<% function appendTabContent(category) { %>
    <div class="tab-pane fade <% if (category.IsDefault) { %>in active<% } %>" id="category_<%= category.Id %>">
        <% if (category.Id === 0) { %>
            <div data-weave="widget/subscription/customize/main"></div>
        <% } else { %>
            <div data-weave="widget/subscription/category/package/main(categoryId, col)" data-category-id="<%= category.Id %>" data-col="<%=col%>" class="row subscription-packagecategory"></div>
            <div class="subscription-subsidiary row">
                <div class="col-md-4">
                    <h4>
                        <span class="glyphicon glyphicon-play"></span>
                        <span data-weave="widget/blurb/main(p1005)">Gender?</span>
                    </h4>
                    <div data-weave="widget/subscription/gender/main"></div>
                </div>
                <div class="col-md-8">
                    <h4>
                        <span class="glyphicon glyphicon-play"></span>
                        <span data-weave="widget/blurb/main(p1022)">Want more juice? Add to your package?</span>
                    </h4>
                    <div data-weave="widget/subscription/addon/main"></div>
                </div>
            </div>
        <% } %>
    </div>
<% } %>
