<%
	var gender = data || 2;
%>
<div class="btn-group option-gender" data-toggle="buttons" data-action="">
    <label class="btn btn-option <% if(gender === 1){ %>active<% } %>">
        <input type="radio" name="radio-gender" data-action="changegender" value="1" <% if(gender === 1){ %>checked<% } %>><span data-weave="widget/blurb/main(1122)">Male</span>
    </label>
    <label class="btn btn-option <% if(gender === 2){ %>active<% } %>">
        <input type="radio" name="radio-gender" data-action="changegender" value="2" <% if(gender === 2){ %>checked<% } %>><span data-weave="widget/blurb/main(1121)">Female</span>
    </label>
</div>
<a class="gender-question link-fn" data-toggle="popover" data-container="body" data-placement="top" data-content="" title="" data-original-title="" data-weave="widget/blurb/main(p1016, 'data-content')">
    <span class="glyphicon glyphicon-question-sign"></span>
</a>
