<%
    var dailyProducts = data.dailyProducts;
    var i = 0;
    var iLens = 0;

    if(dailyProducts && dailyProducts.length > 0) { 
        iLens = dailyProducts.length;
%>
            <table class="table table-bordered table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="3" data-weave="widget/blurb/main(1608)">You have to order:</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(i = 0; i < iLens; i++) { %>
                        <tr>
                            <td width="20%"><%=(i+1)%></td>
                            <td><%=dailyProducts[i].Name%></td>
                            <td width="20%">&times; <%=dailyProducts[i].Count%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
<% } %>
