<%
  var survey = data;
  var surveyId = survey.SurveyId;
  var items = survey.ItemList;
  var itemLens = items.length;
%>
<div class="survey panel panel-default">
  <div class="panel-heading text-center">
    <h3 class="panel-title">
      <%=survey.Title%><br>
      <% if (survey.Remark) { %>
        <small><%=survey.Remark%></small>
      <% } %>
    </h3>
  </div>
  <div class="panel-body">
    <form data-action="survey-form" role="form">
      <% for(var i = 0 ; i<itemLens ; i++){
            renderItem(i,items[i],itemLens); 
      } %>
      <div class="form-group">
        <div class="text-center">
          <button type="submit" class="btn btn-default btn-action" data-weave="widget/blurb/main(1610)">Submit</button>
        </div>
      </div>
    </form>
    <div class="form-group" data-action="survey-report"></div>
  </div>
</div>

<% function renderItem(index, item, itemLens) { 
    var itemType = item.ItemTypeId;
    var itemId = item.ItemId;

    var detail = {};
    var j = 0;
    var jLens = 0;
%>
    <div class="form-group" data-action="surveyitem" data-id="<%=itemId%>" data-type="<%=itemType%>">
      <h5>
        <%if(itemLens>1){%><strong><%=(index+1)%></strong><%}%>
        <%=item.ItemTitle %>
        <%if(itemType === 1){ rendertitle();}%>
      </h5>
        <% 
          if(itemType === 0) { 
            detail = item.ItemDetail;
            jLens = detail.length || 0;
            for(j = 0; j < jLens; j++) {
              renderSingleItem(itemId, j, detail[j]); 
            }
          } else if (itemType === 1){
            detail = item.ItemDetail;
            jLens = detail.length || 0;
            for(j = 0 ; j < jLens; j++) {
              renderMultiItem(itemId, j, detail[j]); 
            }  
          } else if (itemType === 2){
            renderTextItem();
          }
        %>
    </div>
<% } %>


<% function renderSingleItem(itemId,index,detail) { %>
    <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions-<%=itemId%>" value="<%=detail.SelectId%>"> <%=detail.Name%>
    </label>
<% } %>
<% function renderMultiItem(itemId,index,detail) { %>
    <label class="checkbox-inline">
        <input type="checkbox" name="inlineCheckboxOptions-<%=itemId%>" value="<%=detail.SelectId%>"> <%=detail.Name%>
    </label>
<% } %>
<% function renderTextItem() {%>
    <div class="inputtext">
          <textarea class="form-control" rows="3" name="inputtext" placeholder="" data-weave="widget/blurb/main(1612, 'placeholder')"></textarea>
     </div>
<% } %>
<% function rendertitle() {%>
    <small data-weave="widget/blurb/main(1613)">(Multiple Choice)</small>
<% } %>