<%
	var logged = data.logged;
%>
<% if (!logged) { %>
        <a class="link-fn" data-action="signin">
            <span data-weave="widget/blurb/main(1000)">Sign in</span>
        </a>
<% } else { %>
        <a href="/account/logoff" data-weave="widget/href/main">
            <span data-weave="widget/blurb/main(1021)">Sign out</span>
        </a>
<% } %>
