@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<a class="goback glyphicon glyphicon-chevron-left" onclick="javascript:history.back();"></a>
	<span data-weave="widget/blurb/main(1358)">Payment &amp; Invoice</span>
</h1>
<div class="order order-confirm" data-weave="widget/order/confirm/main(step)" data-step="confirm"></div>
