@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<span data-weave="widget/blurb/main(1280)">Successfully Ordered</span>
</h1>
<div class="order order-success" data-weave="widget/payment/mobilepayresult/main(paySuccess)" data-pay-success="true"></div>
<!-- Google Adwords 账户转化跟踪代码 -->
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" src="//www.googleadservices.com/pagead/conversion/958294434/?label=GltHCPfUkVgQotP5yAM&amp;guid=ON&amp;script=0"  />
	</div>
</noscript>
