﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/womensday.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/womensday.min.css" />
    }
}
<div class="inner womensday">
    <div class="womensday-banner">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/top.jpg" alt="" height="440">
        <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/27/groupid/43/days/1/addon/0,0/event/womn" class="btn btn-default btn-lg btn-action">ORDER NOW 订购<br><b>RMB 299</b></a>
    </div>
    <div class="womensday-ingredient">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/01.jpg" alt="" height="228">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/02.jpg" alt="" height="267">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/03.jpg" alt="" height="470">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/04.jpg" alt="" height="280">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/05.jpg" alt="" height="225">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/06.jpg" alt="" height="320">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/07.jpg" alt="" height="275">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/08.jpg" alt="" height="325">
    </div>
    <div>
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/womensday/bottom.jpg" alt="" height="336">
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {悦己呵护套餐 - 果味悦心，美丽源自内在}
@section meta_keywrods {蔓越莓，坚果奶，石榴，奇亚籽，可可，枸杞}
@section meta_description {悦己呵护套餐 - 果味悦心，美丽源自内在}
@section blurb {
    _.BLURB = {
    };
}
</div>
