<%
	var deliveryTimeId = data.deliveryTimeId || 0;
%>
<div class="linebox popup-changedeliveryaddress v-popup-container">
    <h4 data-weave="widget/blurb/main(1346)">Delivery Address</h4>
	<div data-action="changedeliveryaddress-container"></div>
    <h4 data-action="tweakdeliverytime" data-weave="widget/blurb/main(1347)">Delivery Date</h4>
	<div data-action="tweakdeliverytime" data-weave="widget/delivery/deliverytime/main(deliveryTimeId)" data-delivery-time-id="<%=deliveryTimeId%>"></div>
	<div class="changedeliveryaddress-action" data-action="tweakdeliverytime">
	    <a class="btn btn-md btn-default" data-action="changedeliveryaddress-save" data-weave="widget/blurb/main(1348)">SAVE CHANGES</a>
	    <a class="btn btn-md btn-default" data-action="close" data-weave="widget/blurb/main(1075)">CANCEL</a>
	</div>
</div>
