<div data-weave="widget/delivery/order/main"></div>
<div class="receiver-box">
    <div class="pickuptype bwtab">
        <div data-action="changepickuptype-container">
            <ul class="nav nav-tabs" role="tablist" data-action="changepickuptype">
                <li class="active" data-pickup="1">
                    <a href="#pickuptype-deliver" data-toggle="tab" data-weave="widget/blurb/main(1379)">Select a shipping address</a>
                </li>
                <li data-pickup="2" data-weave="widget/delivery/selfpickup/entry/main()"></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="pickuptype-deliver">
                <h4 data-weave="widget/blurb/main(1346)">Delivery Address</h4>
                <div class="the-form" data-action="deliveryaddresscontainer"></div>
            </div>
            <div class="tab-pane" id="pickuptyp-selfpickup">
                <h4 data-weave="widget/blurb/main(1027)">Pick up in store</h4>
                <div class="the-form" data-weave="widget/delivery/selfpickup/main"></div>
            </div>
        </div>
    </div>
    <div class="pickuptime" data-weave="widget/delivery/deliverydate/main"></div>
    <div class="err-msg-group">
        <p class="err-msg hid" data-action="showErrorMsg-noReceiver">
            <span data-weave="widget/blurb/main(1234)">Please at least add one receiver address.</span>
        </p>
    </div>
</div>
<div class="cf text-center orderaction-container">
    <a class="btn btn-lg btn-default btn-action" data-action="submitorder" data-weave="widget/blurb/main(1114)">NEXT</a>
</div>