<%
    var EXPIRED_CODE = 5;

    var orders = data.orders || [];
    var disabled = data.disabled || false;
    var urlDetail = data.urlDetail;
    var pages = data.pages || 1;
    var index = data.index || 1;
%>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td width="90"><span data-weave="widget/blurb/main(1098)">Order number</span></td>
            <td width="100"><span data-weave="widget/blurb/main(1099)">Order date</span></td>
            <td width="100"><span data-weave="widget/blurb/main(1100)">Date of first delivery</span></td>
            <td width="130"><span data-weave="widget/blurb/main(1101)">Total Amount (RMB)</span></td>
            <td><span data-weave="widget/blurb/main(1124)">Payment Status</span></td>
            <td><span data-weave="widget/blurb/main(1102)">Order Status</span></td>
            <td width="140" data-weave="widget/blurb/main(1620)">Action</td>
        </tr>
    </thead>
    <tbody>
        <%
            var i = 0;
            var iLens = orders.length;
            for(i = 0; i < iLens; i++){
                renderOrder(orders[i]);
            }
        %>
    </tbody>
</table>
<% if(pages > 1){ %>
    <ul class="pagination">
        <li <% if(index <= 1) { %>class="disabled"<% } %>>
            <a class="link-fn" <% if(index > 1) { %>data-action="prevpage"<% } %>>&laquo;</a>
        </li>
        <%
            var j = 1;
            var jLens = pages;
            for(j = 1; j <= jLens; j++) {
                renderPages(j, index);
            }
        %>
        <li <% if(index >= pages) { %>class="disabled"<% } %>>
            <a class="link-fn" <% if(index < pages) { %>data-action="nextpage"<% } %>>&raquo;</a>
        </li>
    </ul>
<% } %>

<%
function renderPages(page, index) { 
    if(page !== index){
%>
        <li>
            <a class="link-fn" data-action="switchpage" data-page="<%=page%>"><%=page%></a>
        </li>
<% } else { %>
        <li class="active">
            <a class="link-fn"><%=page%> <span class="sr-only">(current)</span></a>
        </li>    
<% }
} %>

<% function renderOrder(order) {
        var orderPrice= (order.PreferentialPrice + order.PreferentialLogisticsFee); %>
    <tr data-id="<%=order.Id%>">
        <td>
            <a href="<%=urlDetail%>" data-hash="orderid/<%=order.Id%>" data-weave="widget/href/main">
                <%=order.Id%>
            </a>
        </td>
        <td><span><%=order.OrderDate%></span></td>
        <td><span><%=order.FirstDeliveryDate%></span></td>
        <td class="number-price"><span>&yen;<%=orderPrice%></span></td>
        <td>
            <ul>
               <% 
                var canPay = checkOrderCanPay(order.OrderStatusCode);
               renderOrderPayments(canPay,order.Id, order.OrderPayments); %>
            </ul>
        </td> 
        <td><span class="text-status-<%=getOrderStatusByCode(order.OrderStatusCode)%>"><%=order.OrderStatusCodeString%></span></td>
        <td>
            <a class="btn btn-default btn-sm" href="<%=urlDetail%>" data-hash="orderid/<%=order.Id%>" data-weave="widget/href/main widget/blurb/main(1621)">Details</a>
            <% if (checkOrderCanCancel(order.OrderStatusCode, order.OrderPayments) && !disabled) { %>
                <a class="btn btn-default btn-sm" data-id="<%=order.Id%>" data-action="deleteorder" data-weave="widget/blurb/main(1219)">Cancel</a>
            <% } %> 
        </td>
    </tr>
<% } %>

<%
    function getOrderStatusByCode(code) {
        var status = "";
        switch(code) {
            case 30: status = "completed";
                break;
            case 10: status = "inprocess";
                break;
            case 20: status = "inprocess";
                break;
            default: status = "inprocess";
                break;
        }
        return status;
    }
    function checkOrderCanCancel(code, payments) {
        var canCancel = false;
        var hasPaid = false;

        for(var i = 0, iLens = payments.length; i < iLens; i++) { 
            if(payments[i].IsPaid) {
                hasPaid = true;
            }
        }
        if(!hasPaid && (code === -20 || code === -10 || code === 10)){
            canCancel = true;
        }
        return canCancel;
    }
    function checkOrderCanPay(code){
        return code > -20;
    }
%>
<%   function renderOrderPayments(canPay, orderId, payments) {
        for(var i = 0, iLens = payments.length; i < iLens; i++) { 
            var obj = payments[i];
            var type = obj.PaymentType;
            var typeId = obj.PaymentTypeId;          
            var payment = obj.Payment;
            var isPaid = obj.IsPaid;
            var isOnline = obj.IsOnlinePay;
        %>
                <li>
                    <p>
                        <span><%=type%></span>
                        <span class="number-price">&yen;<%=payment%></span>
                        <span class="pull-right">
                            <% if (isOnline && typeId === 1 && isPaid === false && canPay) { %>
                                <a class="btn btn-success btn-sm" href="/payment/topay" data-hash="orderid/<%=orderId%>" data-weave="widget/blurb/main(1458) widget/href/main">Pay</a>
                            <%}else if(isPaid===true){%>
                                <span class="text-status-completed" data-weave="widget/blurb/main(1619)">已支付</span>
                            <%}else if(isPaid===false){%>
                                <span class="text-status-unpaid" data-weave="widget/blurb/main(1618)">未支付</span>
                            <%}%>
                        </span>
                    </p>
                </li>
           <% }
    }
%>