﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<link rel="stylesheet" href="/static/css/order.css">

<div data-weave="widget/buy/orderinfo"></div><!-- 订单主View -->

<script src="/static/js/order.common.js"></script>
<script src="/static/js/order.js"></script>

<div class="razor-section" style="display: none;">
    @section blurb {
        _.BLURB = {
        	"p1281": {
        		"cn": "填写核对订单信息",    
        		"en": "Order informations"
        	},
        	"p1358": {
        		"cn": "支付及确认订单", 
        	"en": "Payment and confirm"
        	},
        }; 
    }
</div>  
 