<%
    var domain = data.domain;
    var cacheServer = data.cacheServer;
	var orderSourceCode = data.orderSourceCode || "";
%>
<% if(orderSourceCode.toUpperCase() === "WARM") { %>
	<div class="row">
		<p class="col-md-12" data-weave="widget/blurb/main(1466)"></p>
		<div class="col-md-12 text-center">
	    	<img class="BSHARE_IMAGE" data-tag="bshare_img" src="<%=cacheServer%>/images/event/warmingday/card_01.jpg" alt="今冬最fashion取暖方法！和我一起加入维果清12月16日暖体日吧~用美味健康的暖汤驱走冰冷" width="100%">
	    	<img class="BSHARE_IMAGE hid" data-tag="bshare_img" src="<%=cacheServer%>/images/event/warmingday/card_02.jpg" alt="今冬最fashion取暖方法！和我一起加入维果清12月16日暖体日吧~用美味健康的暖汤驱走冰冷" width="100%">
	    </div>
	</div>
	<script>
	window._bd_share_config = {
		"common": {
			"bdSnsKey": {},
			"bdText": "今冬最fashion取暖方法！和我一起加入维果清12月16日暖体日吧~用美味健康的暖汤驱走冰冷~购买链接：http://www.vcleanse.com/warmingday?referer=share&share=yes",
			"bdMini": "2",
			"bdMiniList": false,
			"bdUrl": "http://www.vcleanse.com/warmingday?referer=share&share=yes",
			"bdPic": "http://www.vcleanse.com/images/event/warmingday/card_01.jpg||http://www.vcleanse.com/images/event/warmingday/card_02.jpg",
			"bdStyle": "0",
			"bdSize": "16"
		},
		"image": {
			"tag" : "bshare_img",
			"viewList": ["tsina", "weixin"],
			"viewText": "分享到：",
			"viewSize": "16"
		}
	};
	</script>
<% } %>

<script>
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>