<%
    var EXPIRED_CODE = 5;

    var orders = data.orders;
    var pages = data.pages;
    var index = data.index;
%>
<p class="reminder" data-weave="widget/blurb/main(1119)">
    You can cancel your order any time up to 24 hours before your scheduled delivery. If you seleced online payment, please note that you will need to complete payment 24 hours before your start date to confirm your order.
</p>

<%
    var i = 0;
    var iLens = orders.length;
    for(i = 0; i < iLens; i++){
        renderOrder(orders[i]);
    }
%>
<% if(pages > 1){ %>
    <ul class="pagination">
        <li <% if(index <= 1) { %>class="disabled"<% } %>>
            <a class="link-fn" data-action="prevpage">&laquo;</a>
        </li>
        <%
            var j = 1;
            var jLens = pages;
            for(j = 1; j <= jLens; j++) {
                renderPages(j, index);
            }
        %>
        <li <% if(index >= pages) { %>class="disabled"<% } %>>
            <a class="link-fn" data-action="nextpage">&raquo;</a>
        </li>
    </ul>
<% } %>
<%
function renderPages(page, index) { 
    if(page !== index){
%>
        <li>
            <a class="link-fn" data-action="switchpage" data-page="<%=page%>"><%=page%></a>
        </li>
<% } else { %>
        <li class="active">
            <a class="link-fn"><%=page%> <span class="sr-only">(current)</span></a>
        </li>    
<% }
} %>

<% function renderOrder(order) { %>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td><span data-weave="widget/blurb/main(1098)">Order number</span></td>
        <td><a href="/account/orderdetail" data-hash="orderid/<%=order.Id%>" data-weave="widget/href/main"><%=order.Id%></a></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span data-weave="widget/blurb/main(1099)">Order date</span></td>
        <td><span><%=order.OrderDate%></span></td>
    </tr>
    <tr>
        <td><span data-weave="widget/blurb/main(1100)">Date of first delivery</span></td>
        <td><span><%=order.FirstDeliveryDate%></span></td>
    </tr>
    <tr>
        <td><span data-weave="widget/blurb/main(1101)">Total Amount (RMB)</span></td>
        <td class="number-price"><span>&yen;<%=(order.PreferentialPrice + order.PreferentialLogisticsFee)%></span></td>
    </tr>
    <tr>
        <td><span data-weave="widget/blurb/main(1124)">Payment Status</span></td>
        <td><span class="text-status-<%=getPayStatusById(order.IsPaid)%>" data-status="<%=order.IsPaid%>"><%=order.PayStatus%></span></td>
    </tr>
    <tr>
        <td><span data-weave="widget/blurb/main(1102)">Order Status</span></td>
        <td><span class="text-status-<%=getOrderStatusById(order.OrderStatusID)%>"><%=order.OrderStatus%></span></td>
    </tr>
    <tr>
        <td><a class="btn btn-default" href="/account/orderdetail" data-hash="orderid/<%=order.Id%>" data-weave="widget/href/main widget/blurb/main(1472)">查看订单</a></td>
        <td>
            <% if (!order.IsPaid && !(order.OrderStatusID === EXPIRED_CODE)) { %>
            <a class="btn btn-default" data-id="<%=order.Id%>" data-action="topay" data-weave="widget/blurb/main(1221)">Pay</a>
            <% } %>
            <% if (order.CanCancel) { %>
            <a class="btn btn-default" data-id="<%=order.Id%>" data-action="deleteorder" data-weave="widget/blurb/main(1219)">Cancel</a>
            <% } %>
        </td>
    </tr>
    </tbody>
</table>
<% } %>

<%
    function getOrderStatusById(id){
        var status = "";

        switch(id){
            case 2: status = "completed";
                break;
            case 1: status = "inprocess";
                break;
            default:break;
        }

        return status;
    }
    function getPayStatusById(isPaid){
        var status = "";

        if(isPaid) {
            status = "completed";
        }
        else {
            status = "unpaid";
        }

        return status;
    }
%>