<%
    var j = 0;
    var deliverTime = data.deliverTime;
    var jLens = deliverTime.length;
%>
<select class="form-control" id='deliverytime' data-action="changedelivertime" name="deliverytime">
	<%
        for(j = 0; j < jLens; j++){
    %>
	<option value="<%=deliverTime[j].Id%>" <%if(deliverTime[j].Selected) { %>selected<% } %>><%=deliverTime[j].Name%></option>
	
	<% } %>
</select>
<!--
<div class="btn-group deliverytime" data-toggle="buttons" data-action="changedelivertime">
    <%
        for(j = 0; j < jLens; j++){
    %>
        <label class="btn btn-option <%if(deliverTime[j].Selected) { %>active<% } %>">
            <input type="radio" name="deliverytime" value="<%=deliverTime[j].Id%>"><%=deliverTime[j].Name%>
        </label>
    <% } %>
</div>
-->
