<%
	var deliveryStartDate = data.deliveryStartDate;
	var packageId = data.packageId;
%>
<!--h4 data-weave="widget/blurb/main(1347)">Delivery Date</h4-->
<div class="mode-tab-con " id="date_shipment" >  
	<ul class="mode-list">
		<li data-action="datePickerContainer">
			<span class="ftx-03" data-weave="widget/blurb/main(1008)">套餐开始日期：</span>&nbsp;&nbsp;
			<span id='promise311tip'></span>
			<div data-weave="widget/buy/startdate"><input class="input" type="text" id="startDate" readonly="" value='2016-1-12'></div>
		</li>
	</ul>
</div>
<!--
<br>
<div class="the-form">
	<div class="form-section no-border">
		<% if (!deliveryStartDate) { %>
		    <div class="form-group" data-action="datePickerContainer">
				<label class="control-label" data-weave="widget/blurb/main(1008)">
					Select start date
				</label>
				<p data-weave="widget/blurb/main(1024)">When would you like to start your cleanse?</p>
				<div class="calendar-date" data-weave="widget/buy/startdate"></div>
				<% if (packageId === 31) { %>
					<p style="color:red">【夏日套餐】为限量套餐，仅供应至8月31日，若是超出此日期可换购“冷压经典套餐”，有任何问题可拨打4001-842-779进行咨询。</p>
				<% } %>
		    </div>
		<% } %>
	    <div class="form-group" data-action="deliveryTimeContainer">
			<label class="control-label" data-weave="widget/blurb/main(1086)">Preferred delivery window?</label>
			<p data-weave="widget/blurb/main(1200)"></p>
			<div class="orderedit-delivery-content orderedit-delivery-time" data-weave="widget/buy/deliverytime"></div>
		</div>
	</div>
</div>
-->