<form id="editaddress" class="standardform form-editaddress form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading orderedit-delivery-title">
            <% if (data) { %>
                <strong data-weave="widget/blurb/main(1073)">Edit delivery address</strong>
            <% } else { %>
                <strong data-weave="widget/blurb/main(1074)">Add a delivery address</strong>
            <% } %>
        </div>
        <div class="panel-body">
            <%
                var address = data || {};
                renderAddress(address);
            %>
            <div class="text-center">
                <button type="submit" class="btn btn-default" data-action="updateaddress" data-weave="widget/blurb/main(1115)">CONFIRM</button>
                <button class="btn btn-default" data-action="cancelupdateaddress" data-weave="widget/blurb/main(1075)">CANCEL</button>
            </div>
        </div>
    </div>
</form>
<!-- 
<div class='tips'>如果您已经是维果清会员，<a href='javascript:;' class='btn-login' data-action='signin'>请点击此处登录</a></div>

 -->
 <b class="access-nav-close" data-action='closeaddress'>&times;</b>
<% function renderAddress(address) { %>
    <div class="form-deliveryaddress">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-firstname" data-weave="widget/blurb/main(1395)">Receiver name:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="signup-firstname" name="signup-firstname" placeholder="Type receiver name here" required value="<%=(address.FirstName || "")%>" autofocus data-weave="widget/blurb/main(1396, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-phonenumber" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" maxlength=11 id="signup-phonenumber" name="signup-phonenumber" placeholder="Your Contact Number" required value="<%=(address.Mobile || "")%>" data-weave="widget/blurb/main(1134, 'placeholder')">
            </div>
        </div>
        <div class="form-account-address form-group">
            <label class="col-sm-3 control-label" data-weave="widget/blurb/main(1057)">Delivery address:</label>
            <div class="col-sm-8">
                <div data-action="updateregion" class="region" data-weave="widget/select/region/main(provinceId, cityId, areaId)" data-province-id="<%=(address.ProvinceId||0)%>" data-city-id="<%=(address.CityId||0)%>" data-area-id="<%=(address.AreaId||0)%>"></div>
                <br>
                <input class="form-control" type="text" name="signup-line1" placeholder="Apartment, suite, unit, building, floor, etc." required value="<%=(address.Line1 || "")%>" data-weave="widget/blurb/main(1136, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-zipcode" data-weave="widget/blurb/main(1207)">Zip code:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="signup-zipcode" name="signup-zipcode" placeholder="Zip code" value="<%=(address.ZipCode || "")%>" data-weave="widget/blurb/main(1208, 'placeholder')">
            </div>
        </div>
    </div>
<% } %>
