<%
    var isGift = data.isGift || false;
    var blessing = data.blessing || "";
%>
<h4><strong data-weave="widget/blurb/main(1606)">This is a Gift</strong></h4>
<div class="the-form">
    <div class="form-group">
        <input type="checkbox" class="icheck" id="gift-needblessing" data-action="needgift" value="" <% if (isGift) { %>checked<% } %>>
        <label for="gift-needblessing">
            <span data-weave="widget/blurb/main(1606)">This is a Gift</span>
        </label>
    </div>
    <div class="form-group blessing-sub <% if (!isGift) { %>hid<% } %> row">
        <div class="col-sm-12 col-md-12">
            <div class="gift-inputs">
                <textarea style="resize: vertical;" class="form-control" rows="3" cols="10" data-for="gift-blessing" name="gift-blessing" id="gift-blessing" placeholder="礼品赠言"><% if (isGift && blessing) { %><%= blessing %><% } %></textarea>
            </div>
        </div>
    </div>
</div>
