<%
    var Packages = data.Packages;
    var Group = data.Group; 
    var arrayAddon = data.Addon;
%>

		<div class="goods-tit">
		 <a href="/cleanse/detail#packageid/<%=Packages.Id %>" target="_blank">
  			<h4 class="vendor_name_h" id="0"><%=Packages.Title %></h4>
  			 </a>
		</div>

	    <div class="goods-items">     								
			<div class="goods-item goods-item-extra" goods-id="173045">
				<div class="p-img">
					<a target="_blank" href="/cleanse/detail#packageid/<%=Packages.Id %>">
						<img src="/static/products/<%=Group.Rules[0].Gallery[0].img %>" alt="">
					</a>
				</div>
				<div class="goods-msg">
				
		        	<div class="goods-msg-gel">			
	  					<div class="p-name">
	  					<%
	  					var arrPrds = Group.Rules[0].Products; 
	  					for (i=0; i < arrPrds.length; i++) { %>
    	  					<%=arrPrds[i].Name %> + 
						<% }%> 		     
	  					    
	  					</div>
			            <div class="p-price">
			            	<strong class="jd-price">￥<%=Group.Rules[0].PackagePrice %>.00</strong>
			              	<span class="p-num"> x <%=data.Days %> </span>
			                <span class="p-state" data-weave="widget/blurb/main(1288)">Days</span>
			            </div>
	       			</div>   
	       			<span class="ftx-04"> <%=Group.Name %>  <%=Group.Rules[0].Products.length %> 瓶</span>
	       			
	       			<div class="goods-msg-gel">		
	       			
	       			<% for (i=0; i < arrayAddon.length; i++) {
	       				if(arrayAddon[i] != undefined){
	       			%>
	  					<div class="p-name">
	  						<span data-weave="widget/blurb/main(<%=arrayAddon[i].blur %>)"></span>
	       				</div>
			            <div class="p-price">
			            	<strong class="jd-price">￥<%=arrayAddon[i].price %>.00</strong>
			              	<span class="p-num"> x <%=data.Days %> </span>
			                <span class="p-state" data-weave="widget/blurb/main(1288)">Days</span>
			            </div>
			         
			         <% }}%>
			         </div> 	
				</div>
	    		
	    
				<div class="clr"></div>
				<div class="gift-item ftx-03"  >
					<p>
						
					</p>
				</div>
			</div>
		</div>       
