
<ul id="invoice-list">
	<li style="cursor: pointer;" onclick="">
		<div class="payment-item item-selected online-payment " id="invoice-needinvoice" for="pay-method-1" payname="无需发票"  data-action="selectinvoice" data-weave="widget/blurb/main('p2155')"><b></b>
			无需发票</div>
	</li>
	<li style="cursor: pointer;" onclick="">
		<div class="payment-item  online-payment " id="invoice-personal" for="pay-method-4" value="2" payname="个人发票" data-action="selectinvoice" data-weave="widget/blurb/main(1045)"><b></b>
			个人发票</div>
	</li>
	<li style="cursor: pointer;" onclick="">
		<div class="payment-item  online-payment " id='invoice-company' for="pay-method-4" value="1" payname="公司发票"  data-action="selectinvoice" data-weave="widget/blurb/main(1046)"><b></b>
			公司发票</div>
	</li>
	<li >
		<input class="input form-control" type="text" id="invoice-companyname" name="signup-phonenumber" placeholder="Company title" required="" value="" data-action=''>
		<input type="button" class="btn-add btn" id="btn-invoice-confirm" data-action="confirminvoice" value="OK" >
	</li>
</ul>

<!--
<div class="the-form">
    <div class="form-group">
        <input type="checkbox" class="icheck" id="invoice-needinvoice" data-action="needinvoice" value="">
        <label for="invoice-needinvoice" data-weave="widget/blurb/main(1044)">Yes, I would like invoice</label>
    </div>
    <div class="form-group invoice-sub hid row">
        <div class="col-sm-12 col-md-4">
            <input type="radio" class="icheck" id="invoice-personal" data-action="personalinvoice" name="invoice-type" value="2" checked>
            <label for="invoice-personal" data-weave="widget/blurb/main(1045)">Personal invoice</label>
        </div>
    </div>
    <div class="form-group invoice-sub hid row">
        <div class="col-sm-12 col-md-4">
            <input type="radio" class="icheck" id="invoice-company" data-action="companyinvoice" name="invoice-type" value="1" data-weave="widget/checkmyradio-listener/main">
            <label for="invoice-company" data-weave="widget/blurb/main(1046)">Company invoice</label>
        </div>
        <div class="col-sm-12 col-md-7">
            <div class="invoice-inputs">
                <input type="text" class="form-control" data-for="invoice-company" id="invoice-companyname" placeholder="Company title" data-weave="widget/checkmyradio/main">
            </div>
        </div>
    </div>
    <div class="invoice-sub hid">
        <p class="help-block" data-weave="widget/blurb/main(1201)">Your invoice will be issued on the juice package together, please note that check!</p>
    </div>
</div>
-->