<div data-weave="widget/buy/delivery"></div><!--订单第一步主逻辑，无界面-->
<div data-weave="widget/buy/packagedays"></div><!--产品包主逻辑，无界面-->

<!-- 订单地址浮层开始 -->
	<div class="order-address-box" >
		<!--地址编辑器 buy/editaddress -->
		<div class="the-form" data-action="editaddresscontainer">
		</div>
	</div>
	
	<div class="backdrop"></div>
<!-- 订单地址浮层结束 -->

<!-- 进度触点开始 -->
<div class="w w1 stepflex-header clearfix">
    <div class="stepflex" id="#sflex03">
        <dl class="first doing">
            <dt class="s-num">1</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(p1281)">填写核对订单信息<s></s><b></b></dd>
        </dl>
        <dl class="normal ">
            <dt class="s-num">2</dt>
            <dd class="s-text" data-weave="widget/blurb/main(p1358)">支付及确认订单<s></s><b></b></dd>
        </dl>
        <dl class="normal last ">
            <dt class="s-num">3</dt>
            <dd class="s-text"  data-weave="widget/blurb/main(1280)">成功提交订单<s></s><b></b></dd>
        </dl>
    </div>
</div>
<!-- 进度触点结束 -->
		

<!-- 订单主框架 -->
<div id="container">
    <div id="content" class="w">
        <div class="m">
            <div class="checkout-tit"><span class="tit-txt"  data-weave="widget/blurb/main(p1281)">填写并核对订单信息</span></div>
            <div class="mc">
                <div class="checkout-steps">
                    <div class="step-tit">
                        <h3 data-weave="widget/blurb/main(1087)">收货人信息</h3>
                        <div class="extra-r">
                            <a href="#none" class="ftx-05" data-action="addAddress" data-weave="widget/blurb/main(1074)">Add a new delivery address</a>
                            <input type="hidden" id="del_consignee_type" value="0"/>
                        </div>
                    </div>
                    <div class="step-cont" >
                        <div id="consignee-addr" class="consignee-content" >
                        	<div class="consignee-scrollbar">
								<div class="ui-scrollbar-main">
									<div class="consignee-scroll">
										<button id="btnNewAddr" data-action="addAddress">+</button>
										<!--地址列表容器 buy/receiver -->
			                            <div class="consignee-cont hide" id="consignee1" data-action='deliveryaddresscontainer'>
											
			                            </div>
		                            </div>
	                            </div>
                            </div>
                        </div>
                        
                        <!--更多地址选择器，暂时不用-->
                        <div class="addr-switch switch-on hide"  onclick="show_ConsigneeAll()">
                            <span> + 更多地址</span><b></b>
                        </div>
                        <div class="addr-switch switch-off hide" onclick="hide_ConsigneeAll()">
                            <span> - 收起地址</span><b></b>
                        </div>
                        
                        
                    </div>
                    
                    <div class="hr"></div>
                    
                   
                    <div class="step-tit">
                    	<h3 data-weave="widget/blurb/main(1111)">Payment method</h3>
					</div>
					<div class="step-cont" data-weave="widget/buy/paymenttype('')" data-source-code="">

					</div>
					<div class="hr"></div>

					<div class="step-tit">
						<h3  data-weave="widget/blurb/main(1477)">送货清单</h3>
						<div class="extra-r"></div>
					</div>

					<div class="step-cont">
						<div class="shopping-lists" id="shopping-lists" > 
					        <!--定义已购买商品清单LIST-->
					    	<div class="shopping-list ABTest">
								
								<div class="goods-list"  data-action=goodscontainer></div>
					      			<div class="dis-modes">

					                  <div class="mode-item mode-tab">
					                  <div class="mode-item-tit">
					                    <h4 data-weave="widget/blurb/main('p2158')">配送方式</h4>
					                    
					                  </div>
					                  <div class="mode-tab-nav">
					                    <ul data-action="changepickuptype">
											<li class="mode-tab-item curr" id="express_shipment_item" data-action="switchshipment" data-pickup="1">
												<a href="#pickuptype-deliver" data-toggle="tab" data-weave="widget/blurb/main(1379)">Select a shipping address</a>
					                        </li>
					                        <li class="mode-tab-item " id="pick_shipment_item" data-pickup="2" data-weave="widget/delivery/selfpickup/entry/main()">
												<span class="m-txt">亲自来店取餐</span><b></b>
					                      	</li>
					                    </ul>
					                  </div>
					                  <div data-weave="widget/buy/deliverydate"></div>
					                  
					                  
										<div class="mode-tab-con " id="express_shipment">  
											<ul class="mode-list">
												<li>
													<span class="ftx-03" data-weave="widget/blurb/main(1086)">理想送达时间段：</span>&nbsp;&nbsp;<br>
													<span class="ftx-03" data-weave="widget/blurb/main(1200)">理想送达时间段：</span>&nbsp;&nbsp;
													<div data-weave="widget/buy/deliverytime"></div>
													
												</li>
												<!--TODO
												<li>
													<div class="fore1" id="jd_shipment_calendar_date">
														<span class="ftx-03">配送时间：</span>&nbsp;&nbsp;
														<span class='promisetip'>预计:&nbsp;2016-1-12 13:00 - 17:00&nbsp;送达</span>
													</div>
												</li>
												-->				
											</ul>
										</div>	
					            						
										<div class="mode-tab-con hide" id="selfpick_shipment">	
											<div class="the-form" data-weave="widget/buy/selfpickup"></div>												
										</div>
					                
					    						   
										</div>
										 					 
									</div><!--dis-modes 结束-->
								<div class="clr"></div>
								
							</div><!--shopping-list 结束-->	
									
						
					    <div class="clr"></div>
					  </div>
					  <!--shopping-lists 结束-->  
					</div>	                        
                    
                    <div class="hr"></div>
                    
                    <div class="step-tit">
                        <h3 data-weave="widget/blurb/main(1041)">Your tax invoice (fapiao)</h3> 
                        （<small data-weave="widget/blurb/main(1043)">VCLEANSE will issue an invoice for products, for delivery fees, please contact Yamato Express.</small>)
                    </div>
                    <div class="step-cont">
					  <div class="payment-list" id="">
					    <div class="list-cont" data-weave="widget/buy/invoice">
					      <ul id="invoice-list">
							<li style="cursor: pointer;" onclick="">
								<div class="payment-item item-selected online-payment " for="pay-method-1" payname="无需发票" payid="1"><b></b>
									无需发票</div>
							</li>
							<li style="cursor: pointer;" onclick="">
								<div class="payment-item  online-payment " for="pay-method-4" payname="个人发票" payid="4"><b></b>
									个人发票</div>
							</li>
							<li style="cursor: pointer;" onclick="">
								<div class="payment-item  online-payment " id='invoice-company' for="pay-method-4" payname="公司发票" payid="4"><b></b>
									公司发票</div>
							</li>
							<li >
								<input class="input form-control" type="text" id="invoice-title" name="signup-phonenumber" placeholder="公司发票抬头" required="" value="">
								<input type="button" class="btn-add btn" id="btn-invoice-confirm" value="确定" >
							</li>
						</ul>
					    </div>
					  </div>
					</div>
                    <div class="clr"></div>
                    <!--/ /widget/invoice-step/invoice-step.tpl -->
                    <div class="hr"></div>
                   
                </div>
            </div>
        </div>
       

      

				<div class="trade-foot">
					<div class='left'>
						<!-- 
						<div class="consignee-foot">
							<p class='receive-addr'>收货信息： 黄萌 上海 普陀区 城区 陕西北路1438号时代财富大厦507 133333330181</p>
							<p class='promisetip'>预计：2016-1-12 13:00 - 17:00</p>
						</div>
						<div class="clr"></div>
						 -->
						<div class="order-coupon " data-weave="widget/buy/promotion()">
							<h4>拥有优惠码？请输入:</h4>
							<div class="group">
							
							<input class='itxt' type="text"><input type="button" class="btn-add btn" value="使用" id="addGiftCardId" >
							<span class="field-tip"></span>
							</div>
						</div> 
					</div>
					<div class='right order-summary' data-weave="widget/buy/summary">
						<div class="statistic fr">
							<div class="list">
								<span data-weave="widget/blurb/main(1033)">Product:</span> <em
									class="price" id="warePriceId" v="11599.00">－</em>
							</div>

							<div class="list">
								<span data-weave="widget/blurb/main(1034)">Delivery:</span> <em class="price"
									id="freightPriceId"> －</em>
							</div>

							<div class="list">
								<span>--：</span> <em class="price" id="sumPayPriceId">
									－</em>
							</div>
						</div>

						<div id="checkout-floatbar" class="group fr">
							<div class="ui-ceilinglamp checkout-buttons">
								<div class="sticky-placeholder hide" style="display: none;">
								</div>
								<div class="sticky-wrap">
									<div class="">
										
										<span class="total" data-weave="widget/blurb/main(1040)">Total:<strong id="payPriceId">－</strong>
											
										</span>
										
										
										
	
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
					
					
					
				</div>
        <div id="backpanel">
            <div id="backpanel-inner" class="hide switchOn">
                <div class="bp-item bp-item-backtop" data-top="0">
                    <a href="#none" class="backtop" target="_self">返回顶部</a>
                </div>
            </div>
        </div>

    </div>

</div>
</div>


<!-- /main -->
		
		