<%
    var cacheServer = data.cacheServer;
    var paymentType = data.paymentType;
    var sourceCode = data.sourceCode || "";
    var isMobile = data.isMobile;

    var paymentId = 0;
    /* Default: pay online */
    var defaultPaymentId = 1;
%>
		<div class="payment-list" id="">
	    	<div class="list-cont">
	    		<ul id="payment-list">
	    			<% 
				        var i = 0;
				        var iLens = paymentType.length;
				        for (i = 0; i < iLens; i++) {
				            paymentId = paymentType[i].Id;
				    %>
					<li onclick="" >
						<div id="orderconfirm-payment-<%=paymentId%>" 
							data-payment-id = <%=paymentId%>
							class="payment-item  online-payment <% if (paymentId === defaultPaymentId) { %>item-selected<% } %> " 
							for="pay-method-1" 
							data-action='paymentselect'><b></b>
							<%=paymentType[i].Name%>
						</div>
					</li>
					<% } %>
					
				</ul>
	    	</div>
	  	</div>
		<p class="text-warning">
			<small>
			[<a class="link-fn" data-action="showallbanks" data-weave="widget/blurb/main(1451)">See all online payment types</a>]
			<b>支付宝快捷支付（含信用卡、储蓄卡）</b>已开通大额支付。<a href="https://cshall.alipay.com/lab/help_detail.htm?help_id=245345" target="_blank">支付限额详见&gt;&gt;</a>
			</small>
		</p>
<!--
<h4>
    <strong data-weave="widget/blurb/main(1111)">Payment method</strong>
</h4>
<p class="text-warning">
    <small>
        <b>支付宝快捷支付（含信用卡、储蓄卡）</b>已开通大额支付。<a href="https://cshall.alipay.com/lab/help_detail.htm?help_id=245345" target="_blank">支付限额详见&gt;&gt;</a>
    </small>
</p>
<div class="the-form">
    <% 
        var i = 0;
        var iLens = paymentType.length;
        for (i = 0; i < iLens; i++) {
            paymentId = paymentType[i].Id;
    %>
        <div class="form-group" data-action="orderconfirm-payment-<%=paymentId%>">
            <label for="orderconfirm-payment-<%=paymentId%>">
                <input type="radio" class="icheck" id="orderconfirm-payment-<%=paymentId%>" name="orderconfirm-pay-type" value="<%=paymentId%>" <% if (paymentId === defaultPaymentId) { %>checked<% } %>>
                <%=paymentType[i].Name%>
                
                <% if (paymentId === 1) { %>
                    <% if (!isMobile) { %>
                        [<a class="link-fn" data-action="showallbanks" data-weave="widget/blurb/main(1451)">See all online payment types</a>]
                    <% } 
                } %>
            </label>
        </div>
    <% } %>
</div>
-->