<h4 data-weave="widget/blurb/main(1240)">Have any gift cards or promotional claim codes?</h4>
<div class="group">
<form id="promotioncode" class="standardform form-promotioncode">
<input type="text" id="order-promotioncode" placeholder="" required class='itxt' >

<button class="btn-add btn" type="submit" data-action="applypromotioncode" data-weave="widget/blurb/main(1241)">APPLY</button>
<span class="field-tip"></span>
        <div>
            <p data-action="invalidpromotioncode" class="order-promotioncode-msg"></p>
        </div>
</form>
</div>
							
<!--
<p>
    <small data-weave="widget/blurb/main(1240)">Have any gift cards or promotional claim codes?</small>
</p>
<div class="the-form order-applypromotion">
    <form id="promotioncode" class="standardform form-promotioncode">
        <div class="cf">
            <input type="text" id="order-promotioncode" placeholder="" required>
            <button class="" type="submit" data-action="applypromotioncode" data-weave="widget/blurb/main(1241)">APPLY</button>
        </div>
        <div>
            <p data-action="invalidpromotioncode" class="order-promotioncode-msg"></p>
        </div>
    </form>
</div>
-->