<%
    var receiverId = data.receiverId || 0;
    var arrData = data.options || [];
    var selectedId = data.selectedId;
    var disabled = data.disabled;
%>
<!--循环每一个地址-->
    <%
        var i = 0;
        var iLens = arrData.length;
        for (i=0; i < iLens; i++) {
    %>
    	<li class="ui-switchable-panel ui-switchable-panel-selected" data-action="hoveraddress" value="<%=arrData[i].Id%>">
			<div class="consignee-item <% if (selectedId === arrData[i].Id) { %>item-selected<% } %>" 
				data-action="receivercontrol" 
				data-option-id = "<%=i %>">
				<span limit="3"><%=arrData[i].Name%></span><b></b>			
			</div>
			<div class="addr-detail">
				<!--
				<span class="addr-name" limit="6"><%=arrData[i].FirstName%> <%=arrData[i].LastName%></span>
				 <span class="addr-info" limit="45"><%=arrData[i].CityName%> <%=arrData[i].AreaName%> <%=arrData[i].Line1%></span>
				-->      
				 <span class="addr-tel"><%=arrData[i].Mobile%></span>
			</div>
			<div class="op-btns">
				<span></span>
				<a href="#none" class="ftx-05 edit-consignee" data-action='editAddress' data-receiver-id='<%=arrData[i].Id%>' data-weave="widget/blurb/main(1088)">Edit this address</a>
				<!--
				<a href="#none" class="ftx-05 del-consignee " data-action='delAddress' data-receiver-id='<%=arrData[i].Id%>'>删除</a>
				-->
			</div>
		</li>
              
    <%
        }
    %>
		
<!--
<p class="orderedit-delivery-title" data-weave="widget/blurb/main(1087)">Deliver to this address</p>
<div data-action="receivercontrol" class="orderedit-delivery-content orderedit-delivery-address">
    <div data-action="changedeliveraddress" data-weave="widget/select/receiver/main(receiverId)" data-receiver-id="<%=receiverId%>" data-value="<%=receiverId%>"></div>
    <br>
    <p class="orderedit-delivery-address-edit">
        <span>&rsaquo;</span> <a class="link-fn" data-action="editAddress" data-weave="widget/blurb/main(1088)">Edit this address</a>
    </p>
</div>
<p>
    <span>&rsaquo;</span> <a class="link-fn" data-action="addAddress" data-weave="widget/blurb/main(1074)">Add a new delivery address</a>
</p>
-->