<div class="statistic fr">
<% if (data.preferentialProduct) { %>
	<div class="list">
		<span data-weave="widget/blurb/main(1033)">Product:</span>
		<em class="number-list-price price" >&yen;<%=data.product%></em>
	</div>
	<div class="list">
		<span data-weave="widget/blurb/main(1237)">Product(Preferential):</span>
		<em class="price number-price value">&yen;<%=data.preferentialProduct%></em>
	</div>
<% } else { %>
	<div class="list">
		<span data-weave="widget/blurb/main(1033)">Product:</span>
		<em class="number-price price value" >&yen;<%=data.product%></em>
	</div>
<% } %>
<% if (data.preferentialDelivery) { %>
	<div class="list">
		<span data-weave="widget/blurb/main(1034)">Delivery:</span>
		<em class="number-list-price price" >&yen;<%=data.delivery%></em>
	</div>
	<div class="list">
		<span data-weave="widget/blurb/main(1238)">Delivery(Preferential):</span>
		<em class="price number-price value">&yen;<%=data.preferentialDelivery%></em>
	</div>
<% } else { %>
	<div class="list">
		<span data-weave="widget/blurb/main(1034)">Delivery:</span>
		<em class="number-price price" >&yen;<%=data.delivery%></em>
	</div>
<% } %>
</div>



<div id="checkout-floatbar" class="group fr">
	<div class="ui-ceilinglamp checkout-buttons">
		<div class="sticky-placeholder hide" style="display: none;">
		</div>
		<div class="sticky-wrap">
			<div class="">
				<span class="total" ><span data-weave="widget/blurb/main(1040)">Total:</span><strong id="payPriceId">&yen;<%=data.total%></strong>
				
			</div>
		</div>
	</div>
</div>
<a href="order_topay.html"  class="btn checkout-submit" data-action="submitorder"  data-weave="widget/blurb/main(1610)">订单提交</a>
