/*
// - @vcleanse.com
*/

article
{
    color: @color-grey-darker;

    h1
    {
        text-align: center;
        line-height: 2em;
    }
    p
    {
        text-indent: 2em;
        line-height: 2em;
        margin: 1em;
        font-size: @fontsize-xl;
    }
}