/*
// - @vcleanse.com
*/

.billlist
{
	max-width: 280px;
	min-width: 180px;

	table
	{
		width: 100%;

		td
		{
			line-height: 1.8em;
			vertical-align: top;

			&:last-child
			{
				width: 35%;
				text-align: right;
			}
		}
	}
	&.billlist-amount
	{
		color: @color-black;
	}
}

@media screen and (max-width: 480px) {
	.billlist
	{
		max-width: 100%;
	}
}