/*
// - @vcleanse.com
*/

.checklist
{
	color: @color-grey-dark;

	h6
	{
		margin-bottom: 5px;
	}

	.checklist-subtitle
	{
		font-size: @fontsize-xxl;
	}
	.line-hor
	{
		max-width: 280px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.checklist-gap
	{
		border-top: 1px dashed @color-grey-lighter;
		padding-top: 10px;
		margin-top: 15px;

		&:first-child {
			border-top-width: 0;
			padding-top: 0;
			margin-top: 0;
		}
	}
	.checklist-link {
		> h6 {
			margin-bottom: 15px;
		}
		> p {
			margin-bottom: 5px;
			a {
				margin: 0 3px;
			}

			&.checklist-link-recommend {
				color: @color-black;
			}
		}
	}
}