/*
// - @vcleanse.com
*/

.linebox
{
	padding: 15px;
	background-color: @color-white;
	.pattern-dotted();
	border-radius: @border-radius;

	> p
	{
		margin-top: 10px;

		&:first-child
		{
			margin-top: 0;
		}
	}
	&.linebox-large
	{
		padding: 30px;
	}
	&.linebox-xlarge
	{
		padding: 50px;
	}
}

@media screen and (max-width: 480px) {
	.linebox
	{
		&.linebox-large,
		&.linebox-xlarge
		{
			padding: 15px 15px;
		}
	}
}