/*
// - @vcleanse.com
*/

.pager 
{
  a,
  span
  {
    padding: 0 3px;
    display: inline-block;
    *display: inline;
  }
  span
  {
    color: @color-grey;
  }

  > ul
  {
    display: inline-block;
    *display: inline;

    > li 
    {
      display: inline-block;
      *display: inline;

      > a 
      {
      }
      > span.pager-current
      {
        font-size: @fontsize-xl;
      }
    }
  }
}