/*
// - @vcleanse.com
*/

.rimlesstable
{
	table
	{
		width: 100%;
		tr 
		{
			td, th 
			{
				padding: 7px;
				vertical-align: top;
				border-left: 1px solid @color-grey-lighter; 

				&:first-child
				{
					border-left-width: 0;
				}
			}
		}
		thead
		{
			tr 
			{
				td, th 
				{
					color: @color-black;
					font-size: @fontsize-l;
				}
			}
		}
		tbody
		{
			tr
			{
				&:first-child,
				&:last-child
				{
					border-top: 1px solid @color-brand;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.rimlesstable
	{
		overflow-x: scroll;
	}
}