/*
// - @vcleanse.com
*/

ul.seplist
{
	padding-top: 5px;
	padding-bottom: 5px;

	> li 
	{
		padding: 0 16px;
		border-left: 1px solid @color-grey;
		line-height: 1;
		
		&:first-child
		{
			padding-left: 0;
			border-left-width: 0;
		}
		&:last-child
		{
			padding-right: 0;
		}
	}
}

@media screen and (max-width: 480px) {
	ul.seplist
	{
		padding-top: 5px;
		padding-bottom: 5px;

		> li 
		{
			float: none;
			list-style-type: disc;
			list-style-position: inside;
			padding: 0 0;
			border-left-width: 0;
			line-height: 2;
		}
	}
}