/*
// - @vcleanse.com
*/

.showmycontent-content
{
    display: none;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;

    > .caret-5
    {
        border-width: 8px;
        border-bottom-color: @color-brand;
        position: absolute;
        left: 50%;
        top: -8px;
        margin-left: -8px;
        overflow: visible;

        > .caret-5
        {
            border-width: 8px;
            border-bottom-color: @color-white;
            position: absolute;
            left: -8px;
            top: -6px;
        }
    }
    > .linebox
    {
        margin-top: 8px;
        border-radius: 6px;
        border: 1px solid @color-grey-light;
    }

    &.showmycontent-content-t
    {
        > .caret-5
        {
            border-bottom-color: transparent;
            border-top-color: @color-grey-light;
            top: auto;
            bottom: -8px;

            > .caret-5
            {
                border-bottom-color: transparent;
                border-top-color: @color-white;
                left: -8px;
                top: -10px;
            }
        }
        > .linebox
        {
            margin-top: 0;
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: 480px) {
    .showmycontent-content
    {
        position: static;

        > .caret-5
        {
            display: none;
        }
    }
}