/*
// - @vcleanse.com
*/

.tab
{
    ul.tab-tabs
    {
        li
        {
            margin-right: 1px;
            margin-bottom: -1px;

            &.active
            {
                a
                {
                    color: @color-white;
                    background-color: @color-brand;
                }
            }

            a
            {
                padding: 0 15px;
                line-height: 2.4em;
                display: block;
                color: @color-brand;
                background-color: @color-grey-thin;
                border-radius: 5px 5px 0 0;
                border: 1px solid @color-brand;

                &:hover
                {
                    text-decoration: none;
                }
            }
        }
    }
    .tab-content
    {
        padding-top: 20px;

        .tab-pane
        {
            display: none;

            &.active
            {
                display: block;
            }
        }
    }
}