﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner cf">
    <div class="page-banner" data-weave="widget/banner/main"></div>
	<div class="retrieve-password-view">
		<h2 data-weave="widget/blurb/main(1011)">Retrieve Password</h2>
		<div class="the-form">
			<div data-weave="widget/formfindpassword/main"></div>
		</div>
	</div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {找回密码【真正的冷压清体果汁】}
@section meta_keywrods {清体果汁,清体,纤体,冷压蔬果汁,低卡路里,detox,slim,cold-pressed juices,master cleanse,juice detox}
@section meta_description {健康生活领袖，食品创新先锋！维果清以纯天然食物，清体果蔬汁为本，结合中西营养学精华，倡导健康饮食的全新生活方式。}
@section blurb {
	_.BLURB = {};
}
</div>