<%
    var swipeLens = data.swipeLens;
    var startSlide = data.startSlide;
    var bulletsPos = data.bulletsPos;
    var i = 0;
%>
<ul class="bullets hor">
    <% for(i=0;i<swipeLens;i++){%>
        <li class="bullets-item <% if (i === startSlide) { %>on<% } %>">
            <a>&bull;</a>
        </li>
    <% } %>
</ul>
<style>
    .bullets {
        display: inline-block;
        padding: 0;
        margin: 0;
        <% if (bulletsPos === "right") { %>
            position: absolute;
            bottom: 5px;
            right: 10px;
        <% } else if (bulletsPos === "left") { %>
            position: absolute;
            bottom: 5px;
            left: 10px;
        <% } %>
    }
    .bullets > li {
        list-style: none;
        margin-left: 4px;
    }
    .bullets > li > a {
        margin-top: 1px;
        display: block;
        width: 6px;
        height: 6px;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #666;
        border-radius: 10px;
        text-indent: -5000px;
    }
    .bullets > li.on > a {
        margin-top: 0;
        width: 8px;
        height: 8px;
        background-color: #333;
        border-color: transparent;
    }

</style>