<%
    var order = data.order;
    var editble = data.editble;
    var canPay = checkOrderCanPay(order.OrderStatusCode);
%>
<p class="reminder" data-weave="widget/blurb/main(1119)">
    You can modify your order any time up to 24 hours before your scheduled delivery. If you seleced online payment, please note that you will need to complete payment 24 hours before your start date to confirm your order.
</p>
<div class="orderdetail-topic">
    <h5><strong data-weave="widget/blurb/main(1060)">Order details</strong></h5>
    <div>
        <ul class="hor float-abs seplist">
            <li>
                <span data-weave="widget/blurb/main(1061)">Order number:</span> <strong class="text-striking"><%=order.OrderID%></strong>
            </li>
            <li>
                <span class="pull-left" data-weave="widget/blurb/main(1125)">Payment status:</span>
                <ul class="hor pull-left">
                    <% 
                        renderOrderPayments(order.OrderID, order.OrderPayments, canPay); 
                    %>
                </ul>
            </li>
            <li>
                <span data-weave="widget/blurb/main(1092)">Order status:</span> 
                <span class="text-status-<%=getOrderStatusByCode(order.OrderStatusCode)%>"><%=order.OrderStatusCodeString%></span>
            </li>
        </ul>
    </div>
</div>
<div class="orderdetail-list">
    <%
        (function(){
            var i = 0;
            var iLens = order.DeliverList.length;
            for(i = 0; i < iLens; i++){
                if(i%2 === 0 && i !== 0){
                    %>
                    </ul>
                    <%
                }
                if(i%2 === 0){
                    %>
                    <ul class="hor">
                    <%
                }
                renderDailyOrder(order.DeliverList[i], canPay);
            }
        })();
    %>
</div>

<% function renderDailyOrder(dailyOrder, canPay) { %>
    <li>
        <div class="orderdetail-order orderdetail-delivered">
            <p class="orderdetail-date">
                <strong><%=dailyOrder.DeliverDate%>,</strong>
                <% if(dailyOrder.IsSelfPickUp) { %>
                    <span>-</span>
                <% } else { %>
                    <span><%=dailyOrder.DeliverTime%></span>
                <% } %>
                <span class="orderdetail-status"><%=(dailyOrder.SubStatusCodeString || "")%></span>
            </p>
            <%
                (function(){
                    var i = 0;
                    var iLens = dailyOrder.ProductList.length;
                    for(i = 0; i < iLens; i++){
                        renderDailyProduct(dailyOrder.ProductList[i]);
                    }
                })();
            %>
            <% if(dailyOrder.IsSelfPickUp) { %>
                <p>
                    <strong data-weave="widget/blurb/main(1058)">Pick up in store:</strong>
                    <span><%=dailyOrder.StoreInfo.StoreName %></span>
                </p>
                <p>
                    <strong data-weave="widget/blurb/main(1382)">Business hours:</strong>
                    <span><small><%=dailyOrder.StoreInfo.StoreBusinessHours%></small></span>
                </p>
                <p>
                    <strong data-weave="widget/blurb/main(1128)">Store address:</strong>
                    <span><%=dailyOrder.StoreInfo.StoreAddress %></span>
                    <% if (dailyOrder.StoreInfo.StoreMapUrl) { %>
                        [<a class="link-fn" data-url="<%=dailyOrder.StoreInfo.StoreMapUrl%>" data-weave="widget/map/main widget/blurb/main(1381)">View map</a>]
                    <% } %>
                </p>
            <% } else { %>
                <p>
                    <strong data-weave="widget/blurb/main(1066)">Deliver to:</strong>
                    <span><%=dailyOrder.Name%>, <%=dailyOrder.Address%></span>
                    <% if (editble && dailyOrder.SubStatusCode === 10 && canPay) { %>
                        <a class="link-fn" data-weave="widget/blurb/main(1088)" data-order-id="<%=order.OrderID%>" data-ordersm-id="<%=dailyOrder.Id%>" data-delivery-time-id="<%=dailyOrder.DeliverTimeId%>" data-action="changeDeliveryAddress">Edit this address</a>
                    <% } %>
                </p>
            <% } %>
            <% if(dailyOrder.Mobile) { %>
                <p><strong data-weave="widget/blurb/main(1116)">Tel:</strong> <%=dailyOrder.Mobile%></p>
            <% } %>
            <% if(!dailyOrder.IsSelfPickUp && dailyOrder.DeliveryNo) { %>
                <%
                    switch (dailyOrder.TemplateType) { 
                        case 1:
                %>
                            <p>
                                <strong data-weave="widget/blurb/main(1206)">Package via:</strong>
                                <a href="http://sh.cn.ta-q-bin.com/" target="_blank"><%=dailyOrder.ExpressCompanyName%></a>
                            </p>
                <%
                        break;
                        case 2:
                        default:
                %>
                            <p>
                                <strong data-weave="widget/blurb/main(1206)">Package via:</strong>
                                <a href="http://www.sf-express.com/cn/sc/dynamic_functions/waybill/#search/bill-number%>" target="_blank"><%=dailyOrder.ExpressCompanyName%></a>
                            </p>
                <% 
                        break;
                    }
                %>
                <p><strong data-weave="widget/blurb/main(1093)">Tracking number:</strong> <%=dailyOrder.DeliveryNo%></p>
            <% } %>
            <!--div class="orderdetail-change">
                <a data-weave="widget/blurb/main(1094)">+ Change</a>
            </div-->
        </div>
    </li>
<% } %>
<%  function renderDailyProduct(dailyProduct) { %>
    <p><strong><%=dailyProduct.Count%></strong> * <%=dailyProduct.ProductName%></p>
<% } %>
<%  function getOrderStatusByCode(code){
        var status = "";
        switch(code){
            case 30: status = "completed";
                break;
            default: status = "inprocess";
                break;
        }
        return status;
    }
    function checkOrderCanPay(code){
        return code > -20;
    }
%>
<%  function renderOrderPayments(orderId, payments, canPay){
        for(var i = 0 ; i< payments.length ; i++){ 
            var obj = payments[i];
            var type = obj.PaymentType;
            var typeId = obj.PaymentTypeId;
            var payment = obj.Payment;
            var isPaid = obj.IsPaid;
            var isOnline = obj.IsOnlinePay;
        %>
                <li style="margin-left: 10px;">
                    <span><%if(i>0){%>/ <%}%><%=type%></span>&nbsp;
                    <span class="number-price">&yen;<%=payment%></span>&nbsp;
                    <span>
                        <% if (isOnline && typeId === 1 && isPaid === false && canPay) { %>
                            <a class="btn btn-success btn-xs" href="/payment/topay" data-hash="orderid/<%=orderId%>" data-weave="widget/blurb/main(1458) widget/href/main">Pay</a>
                        <%}else if(isPaid===true){%>
                            <span class="text-status-completed" data-weave="widget/blurb/main(1619)">已支付</span>
                        <%}else if(isPaid===false){%>
                            <span class="text-status-unpaid" data-weave="widget/blurb/main(1618)">未支付</span>
                        <%}%>
                    </span>
                </li>
           <% }
    }
%>