<%
   var domain = data.serviceDomain;
%>
<form class="form-horizontal" role="form">
    <div class="form-section">
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <h3 class="form-account-info" data-weave="widget/blurb/main(1154)">Change a new password!</h3>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-password" data-weave="widget/blurb/main(1077)">Choose a password:</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="signup-password" name="signup-password" placeholder="Password" required data-weave="widget/blurb/main(1130, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-passwordrepeat" data-weave="widget/blurb/main(1078)">Confirm password:</label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="signup-passwordrepeat" name="signup-passwordrepeat" placeholder="Confirm Password" required data-weave="widget/blurb/main(1131, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-image-verificationcode" data-weave="widget/blurb/main(1085)">Security code:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="signup-image-verificationcode" name="signup-image-verificationcode" placeholder="" required data-weave="widget/blurb/main(1464, 'placeholder')">
            </div>
            <div class="col-sm-2 text-right">
                <img src="<%=domain%>/common/image" width="80" height="31" alt="Security code" data-action="refreshimagesecurity">
            </div>
            <div class="col-sm-2 text-left"> <a class="btn btn-link" data-action="refreshimagesecurity" data-weave="widget/blurb/main(1463)">Change</a>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-sm-3 control-label" for=""></label>
            <div class="col-sm-7 text-center">
                <button type="submit" class="btn btn-lg btn-default btn-action" data-weave="widget/blurb/main(1079)">SAVE</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="blurb-1213" data-weave="widget/blurb/main(1213, 'value')" value="Please retype password to confirm.">
    <input type="hidden" id="blurb-1214" data-weave="widget/blurb/main(1214, 'value')" value="These passwords don't match.">
</form>
