<%
    var order = data.order;
    var editble = data.editble;
%>
<p class="reminder" data-weave="widget/blurb/main(1119)">
    You can modify your order any time up to 24 hours before your scheduled delivery. If you seleced online payment, please note that you will need to complete payment 24 hours before your start date to confirm your order.
</p>
<div class="orderdetail-topic">
    <h5><strong data-weave="widget/blurb/main(1060)">Order details</strong></h5>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <td colspan="2"><span data-weave="widget/blurb/main(1061)">Order number:</span> <span class="text-striking"><%=order.OrderID%></span></td>
        </tr>
        <tr>
            <td><span data-weave="widget/blurb/main(1125)">Payment status:</span> <span class="text-status-<%=getPayStatusById(order.IsPaid)%>"><%=order.PayStatus%></span></td>
            <td><span data-weave="widget/blurb/main(1092)">Order status:</span> <span class="text-status-<%=getOrderStatusById(order.OrderStatusID)%>"><%=order.OrderStatus%></span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="orderdetail-list">
    <%
        (function(){
            var i = 0;
            var iLens = order.DeliverList.length;
            for(i = 0; i < iLens; i++){
                if(i%2 === 0 && i !== 0){
                    %>
                    </ul>
                    <%
                }
                if(i%2 === 0){
                    %>
                    <ul class="hor">
                    <%
                }
                renderDailyOrder(order.DeliverList[i],i+1);
            }
        })();
    %>
</div>

<% function renderDailyOrder(dailyOrder,index) {
%>
    <li>
        <table class="table table-bordered table-hover table-condensed">
            <tbody>
            <tr>
                <td colspan="2"><strong><span data-weave="widget/blurb/main(1479)">子订单</span> <%=index%></strong></td>
            </tr>
            <tr>
                <td width="90"><span data-weave="widget/blurb/main(1475)">外送日期：</span></td>
                <td><strong><%=dailyOrder.DeliverDate%></strong><br><span><%=dailyOrder.DeliverTime%></span></td>
            </tr>
            <tr>
                <td><span data-weave="widget/blurb/main(1478)">状态：</span></td>
                <td><span class="orderdetail-status"><%=(dailyOrder.Status || "")%></span></td>
            </tr>
            <tr>
                <td><span data-weave="widget/blurb/main(1476)">Delivery address:</span></td>
                <td>
                    <% if(dailyOrder.IsSelfPickUp) { %>
                    <p>
                        <strong data-weave="widget/blurb/main(1058)">Pick up in store</strong>
                        <span><%=dailyOrder.StoreInfo.StoreName %></span>
                    </p>
                    <p>
                        <strong data-weave="widget/blurb/main(1128)">Store address:</strong>
                        <span><%=dailyOrder.StoreInfo.StoreAddress %></span>
                        <% if (dailyOrder.StoreInfo.StoreMapUrl) { %>
                        [<a class="link-fn" data-url="<%=dailyOrder.StoreInfo.StoreMapUrl%>" data-weave="widget/map/main widget/blurb/main(1381)">View map</a>]
                        <% } %>
                    </p>
                    <% } else { %>
                    <p>
                        <span><%=dailyOrder.FirstName%> <%=dailyOrder.LastName%>, <%=dailyOrder.Address%></span>
                        <% if (editble && dailyOrder.StatusId < 1) { %>
                        <a class="link-fn" data-weave="widget/blurb/main(1088)" data-ordersm-id="<%=dailyOrder.Id%>" data-action="changeDeliveryAddress">Edit this address</a>
                        <% } %>
                    </p>
                    <% } %>
                </td>
            </tr>
            <tr>
                <td><span data-weave="widget/blurb/main(1116)">Tel:</span></td>
                <td><% if(dailyOrder.Mobile) { %>
                    <%=dailyOrder.Mobile%>
                    <% } %></td>
            </tr>
            <tr>
                <td><span data-weave="widget/blurb/main(1477)">清单：</span></td>
                <td><%
                    (function(){
                    var i = 0;
                    var iLens = dailyOrder.ProductList.length;
                    for(i = 0; i < iLens; i++){
                    renderDailyProduct(dailyOrder.ProductList[i]);
                    }
                    })();
                    %></td>
            </tr>
            </tbody>
        </table>

        <div class="orderdetail-order orderdetail-delivered">
            <% if(!dailyOrder.IsSelfPickUp && dailyOrder.DeliveryNo) { %>
                <%
                    switch (dailyOrder.TemplateType) { 
                        case 1:
                %>
                            <p>
                                <strong data-weave="widget/blurb/main(1206)">Package via:</strong>
                                <a href="http://sh.cn.ta-q-bin.com/" target="_blank"><%=dailyOrder.ExpressCompanyName%></a>
                            </p>
                <%
                        break;
                        case 2:
                        default:
                %>
                            <p>
                                <strong data-weave="widget/blurb/main(1206)">Package via:</strong>
                                <a href="http://www.sf-express.com/cn/sc/dynamic_functions/waybill/#search/bill-number%>" target="_blank"><%=dailyOrder.ExpressCompanyName%></a>
                            </p>
                <% 
                        break;
                    }
                %>
                <p><strong data-weave="widget/blurb/main(1093)">Tracking number:</strong> <%=dailyOrder.DeliveryNo%></p>
            <% } %>
            <!--div class="orderdetail-change">
                <a data-weave="widget/blurb/main(1094)">+ Change</a>
            </div-->
        </div>
    </li>
<% } %>
<% function renderDailyProduct(dailyProduct) { %>
    <p><strong><%=dailyProduct.Count%></strong> * <%=dailyProduct.ProductName%></p>
<% } %>
<% function getOrderStatusById(id){
        var status = "";

        switch(id){
            case 2: status = "completed";
                break;
            case 1: status = "inprocess";
                break;
            default:break;
        }

        return status;
    }
    function getPayStatusById(isPaid){
        var status = "";

        if(isPaid) {
            status = "completed";
        }
        else {
            status = "unpaid";
        }

        return status;
    }
%>