﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/warmingday-mobile.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/warmingday-mobile.min.css" />
    }
}
<div data-weave="widget/wechatshare/main"></div>
<div class="inner warmingday" data-weave="widget/warmingday/main">
    <div class="warmingday-banner row-edges bannerimg">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch(byLanguage)" data-by-language="true" data-src="images/event/warmingday/mobile/banner.jpg" alt="暖体日 送一份名为健康的温暖礼物">
    </div>
    <div class="text-center warmingday-gap row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/warmingday/mobile/warmingday_juice.jpg" width="100%" alt="">
    </div>
    <div class="text-center warmingday-main">
        <div id="carousel-example-generic" class="carousel slide" data-interval="false">
            <ol class="carousel-indicators align-c">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><span data-weave="widget/blurb/main(p1002)">送给爱的人</span><span class="gap"></span><hr></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"><span data-weave="widget/blurb/main(p1003)">送给自己</span><hr></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="writetolove">
                        <textarea data-action="inputblessing" placeholder="To: | 有什么话想对TA说吗？把心意化作文字留在这里，我们会用精美的贺卡将您的祝福传递给TA。下方的四个示例小诗可以给你作为参考哦！" data-weave="widget/blurb/main(p1012, 'placeholder')"></textarea>
                    </div>
                    <span class="toloveleftbg"></span>
                    <span class="toloveleftbg flipx"></span>
                    <span class="desc" data-weave="widget/blurb/main(p1001)">您将在2014年12月16日当日收到暖体日1日特别套餐。25元运费另计。</span>
                </div>
                <div class="item">
                    <img class="align-c" src="/images/blank.png" data-weave="widget/basic/imageswitch(byLanguage)" data-by-language="true" data-src="images/event/warmingday/mobile/toyourself.jpg" alt="维果清会为您送上一张惊喜祝福卡">
                    <span class="desc" data-weave="widget/blurb/main(p1001)">暖体日1日特别套餐仅限2014年12月16日当日送达。25元运费另计。</span>
                </div>
            </div>
        </div>
        <p class="btn-action-container text-center">
            <a data-action="buywarmingday" data-weave="widget/href/main widget/blurb/main(1104)" href="/order/receiver" data-hash="packageid/22/groupid/36/days/1/addon/0,0/event/warm" class="btn btn-default btn-lg btn-action">购买</a>
        </p>
    </div>
    <div class="text-left warmingday-sense align-c row">
        <div id="carousel-sense" class="carousel slide" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <h5><span data-weave="widget/blurb/main(p1004)">Hey, 不常见面的老友</span><hr></h5>
                    <p data-weave="widget/blurb/main(p1008)">
                        对你的挂念不常放在嘴边，<br>
                        世俗的礼品我们也不看在眼里，<br>
                        这一份暖暖的惊喜<br>
                        想你一定会喜欢
                    </p>
                </div>
                <div class="item">
                    <h5><span data-weave="widget/blurb/main(p1005)">每天电邮里见的战友</span><hr></h5>
                    <p data-weave="widget/blurb/main(p1009)">
                        从客户、同事变成朋友，<br>
                        缘分让你我并肩作战，<br>
                        或许在忙碌的工作间隙<br>
                        这一日温暖能帮助你照顾好自己
                    </p>
                </div>
                <div class="item">
                    <h5><span data-weave="widget/blurb/main(p1006)">爸妈， 我回来了</span><hr></h5>
                    <p data-weave="widget/blurb/main(p1010)">
                        一年里见你们的天数，<br>
                        十个指头能数出来，<br>
                        一份暖身又暖心的冬日小礼，<br>
                        就像是孩儿我<br>
                        陪在您身边过一天
                    </p>
                </div>
                <div class="item">
                    <h5><span data-weave="widget/blurb/main(p1007)">给最懂我的另一半</span><hr></h5>
                    <p data-weave="widget/blurb/main(p1011)">
                        不仅想要在平凡的每天，<br>
                        给你制造浪漫，<br>
                        而想要你在暖体日中的每刻<br>
                        都能从内由外感受到我浓浓的爱意
                    </p>
                </div>
            </div>
            <a class="right carousel-control" href="#carousel-sense" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak="></script>
<script type="text/javascript">
// imgUrl, lineLink, descContent, shareTitle, appid
window.attachWeixinJSBridgeReady(
    "http://www.vcleanse.com/images/wechat/logo_warmingday.jpg",
    "http://m.vcleanse.com/warmingday",
    "让我们手捧同一碗暖汤，怀念在一起的时光",
    "我给你送上维果清暖体礼物，用美味健康的暖汤驱走冰冷"
);
</script>

<div class="razor-section" style="display: none;">
@section blurb {
    _.BLURB = {
        "p1001": {
            "en": "Receive your Warming Day package on December 16, 2014.<br>Delivery fee of RMB 25 is not included.",
            "cn": "您将在2014年12月16日当日收到暖体日1日特别套餐。25元运费另计。"
        },
        "p1002": {
            "en": "AS A GIFT",
            "cn": "送给爱的人"
        },
        "p1003": {
            "en": "FOR YOURSELF",
            "cn": "送给自己"
        },
        "p1004": {
            "en": "",
            "cn": "Hey, 不常见面的老友"
        },
        "p1005": {
            "en": "",
            "cn": "每天电邮里见的战友"
        },
        "p1006": {
            "en": "",
            "cn": "爸妈， 我回来了"
        },
        "p1007": {
            "en": "",
            "cn": "给最懂我的另一半"
        },
        "p1008": {
            "en": "",
            "cn": "对你的挂念不常放在嘴边，<br>世俗的礼品我们也不看在眼里，<br>这一份暖暖的惊喜<br>想你一定会喜欢"
        },
        "p1009": {
            "en": "",
            "cn": "从客户、同事变成朋友，<br>缘分让你我并肩作战，<br>或许在忙碌的工作间隙<br>这一日温暖能帮助你照顾好自己"
        },
        "p1010": {
            "en": "",
            "cn": "一年里见你们的天数，<br>十个指头能数出来，<br>一份暖身又暖心的冬日小礼，<br>就像是孩儿我<br>陪在您身边过一天"
        },
        "p1011": {
            "en": "",
            "cn": "不仅想要在平凡的每天，<br>给你制造浪漫，<br>想要你在暖体日中的每刻<br>都能从内由外感受到我浓浓的爱意"
        },
        "p1012": {
            "en": "To: | Have something to say to the one who'll receive your gift? Put your words here, and we will put it in an message card and send along with the gift!",
            "cn": "To: | 有什么话想对TA说吗？把心意化作文字留在这里，我们会用精美的贺卡将您的祝福传递给TA。下方的四个示例小诗可以给你作为参考哦！"
        }
    };
}
</div>