@color-earthday-green: #a5c816;
@color-earthday-blue: #2a317f;

body.earthday-body
{
  background-color: @color-earthday-green;
  color: @color-white;

  a {
    &.link-fn,
    &[href] {
      color: @color-white;
    }
  }

  div {

    &.announcement {
      background-color: @color-earthday-green!important;
      border-color: @color-earthday-green!important;
      color: @color-white;
      display: none;
    }

    &.hotline {
      color: @color-white;

      h5 {
        color: @color-white;
      }
    }

    &.topbar {
      background: none;
      border-color: @color-earthday-green!important;
    }
  }
  .siteinfo-slogon
  {
    display: none;
  }
  ul.seplist > li {
    border-color: @color-white;
  }
  footer {
    .siteinfo {
      color: @color-white;

      > p.siteinfo-contact {
        color: @color-white;
        a {
          color: @color-white;
        }
      }
    }
  }

  .earthday
  {
    max-width: 676px;
    background-color: @color-earthday-green;

    .quickorder-main {
      color: @color-white;
      margin: 20px 0 0 6px;

      h5 {
        color: @color-white;
        strong {
          color: @color-white;
        }
      }

      .line-hor {
        max-width: 280px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: none;
        background-color: @color-white;
      }

      .payment-highlight {
        color: @color-white;
      }

      ul.payment-bank {
        li {
          a.payment-bank-alipay {
            background-color: @color-white;
            border-color: @color-earthday-green;
          }
        }
      }

    }

    .quickorder-payment-sub {
      display: block;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }

    > p {
      margin: 0;
      line-height: 0;
      text-align: center;

      img {

      }
    }

    fieldset[disabled]
    {
      visibility: visible;
    }

    form,
    fieldset[disabled] {
      margin-top: 20px;

      > strong {
        margin-left: 6px;
        color: @color-earthday-blue;
      }

      label {
        color: @color-white;
      }

      input[type=text],
      input[type=email],
      input[type=password],
      select {
        border: 1px solid @color-white;
        border-radius: 3px;
      }

      .form-required-mark {
        color: @color-white;
      }

      > div {
        > label {
          display: inline-block;
          width: 23%;
          vertical-align: top;
          text-align: right;
        }
        > div {
          display: inline-block;
          vertical-align: top;
          color: @color-white;

          > input,
          > div {
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }

            > select {
              width: 200px;
            }
          }

          > input {
            width: 200px;
          }
        }

        &.form-submit {
          > button,
          > input[type=submit] {
            margin-left: 23.6%;
            background-color: @color-white;
            color: @color-earthday-green;

            &:hover {
              background-color: @color-earthday-blue;
              color: @color-white;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  body.earthday-body
  {
    .earthday
    {
      p {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body.earthday-body
  {
    .earthday
    {
      p {
        img {
          width: 100%;
        }
      }

      form {
        > div {
          > label {
            width: 30%;
          }

          &.form-submit {
            > button,
            > input[type=submit] {
              margin-left: 30%;
            }

          }
        }
      }
    }
    .info {
      text-align: center;

      > div {
        &.info-account {
          display: none;
        }
        &.info-language {
          overflow: hidden;
        }
        ul {
          > li {
            background-color: transparent;
          }
        }
      }
    }
    header {
      .face {
        .page-width-r {
          display: none;
        }
      }
    }
  }
}
