.carousel {
	&.carousel-clear {
		.carousel-indicators {
			width: auto;
			position: static;
			padding: 0;
			margin: 0;

			> li {
				display: inline-block;
				padding: 0 15px;
				margin: 0 15px;
				cursor: pointer;
				background-color: #fff;
				border-width: 0;
				border-bottom: 2px solid #fff;
				border-radius: 0;
				text-indent: 0;
				color: #fff;
				font-size: 200%;
				letter-spacing: 1px;
				line-height: 2.8em;
				width: auto;
				height: auto;

				&.juicemonday-pkg-1 {
					background-color: #ffbb9a;
				}
				&.juicemonday-pkg-2 {
					background-color: #ffa286;
				}
				&.juicemonday-pkg-3 {
					background-color: #ff937e;
				}
				&.juicemonday-pkg-4 {
					background-color: #ff785b;
				}

				&.active {
					border-bottom: 2px solid #f60;
				}
			}
		}
	}
}


.juicemonday {
	.juicemonday-text {
		color: #555;
		letter-spacing: 1px;
		font-size: 150%;
		font-weight: bold;
		text-align: center;
	}
	.juicemonday-main {
		margin-bottom: 30px;

		.juicemonday-pkg {
			text-align: center;

			.juicemonday-text {
				color: #666;
			}
		}
		.juicemonday-action {
			margin: 30px 0;

			> .btn-default {
				border: 7px solid #363636;
				border-radius: 0;
				font-size: 260%;
				letter-spacing: 2px;
				font-weight: bold;
				line-height: 2em;
				padding: 10px 40px;
				color: #363636;
				background-color: #fff;

				&:hover {
					border-color: #000;
					border-width: 9px;
					padding: 8px 38px;
					color: #000;
				}
			}
		}
	}
}
