@color-event-default: #fff;
@color-event-primary: #0f0;
@color-event-text: #00f;
@color-event-border: #000;

body.event-body
{
  background-color: @color-event-default;
  color: @color-event-text;

  a {
    &.link-fn,
    &[href] {
      color: @color-event-text;
    }
  }

  div {

    &.announcement {
      background-color: @color-event-default!important;
      border-color: @color-event-default!important;
      color: @color-event-text;
      display: none;
    }

    &.hotline {
      color: @color-event-text;

      h5 {
        color: @color-event-text;
      }
    }

    &.topbar {
      background: none;
      border-color: @color-event-default!important;
    }
  }

  .info {
    text-align: center;
    float: none;

    > div {
      &.info-account {
        display: none;
      }
      &.info-language {
        overflow: hidden;
        float: none;
        margin: 0;
      }
      ul {
        display: inline-block;
        > li {
          background-color: transparent;
        }
      }
    }
  }
  header {
    .face {
      .col-l,
      .col-r {
        float: none;
        width: 100%;
      }
      .page-width-lm {
        line-height: 0;
        
        h1 {
          width: 100px;
          margin-left: auto;
          margin-right: auto;
          display: block;
        }
      }
      .page-width-r {
        display: none;
      }
    }
  }

  .siteinfo-slogon
  {
    display: none;
  }
  ul.seplist > li {
    border-color: @color-event-text;
  }
  footer {
    .siteinfo {
      color: @color-event-text;

      > p.siteinfo-contact {
        color: @color-event-text;
        a {
          color: @color-event-text;
        }
      }
    }
  }

  .event
  {
    max-width: 676px;
    background-color: @color-event-default;

    .quickorder-main {
      color: @color-event-text;
      margin: 20px 0 0 6px;

      h5 {
        color: @color-event-text;
        strong {
          color: @color-event-text;
        }
      }

      .line-hor {
        max-width: 280px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: none;
        background-color: @color-event-text;
      }

      .payment-highlight {
        color: @color-event-text;
      }

      ul.payment-bank {
        li {
          a.payment-bank-alipay {
            background-color: @color-event-text;
            border-color: @color-event-default;
          }
        }
      }

    }

    .quickorder-payment-sub {
      display: block;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }

    > p {
      margin: 0;
      line-height: 0;
      text-align: center;

      img {

      }
    }

    fieldset[disabled]
    {
      visibility: visible;
    }

    form,
    fieldset[disabled] {
      margin-top: 20px;

      > strong {
        margin-left: 6px;
        color: @color-event-primary;
      }

      label {
        color: @color-event-text;
      }

      input[type=text],
      input[type=email],
      input[type=password],
      select {
        border: 1px solid @color-event-border;
        border-radius: 3px;
      }

      .form-required-mark {
        color: @color-event-text;
      }

      > div {
        > label {
          display: inline-block;
          width: 23%;
          vertical-align: top;
          text-align: right;
        }
        > div {
          display: inline-block;
          vertical-align: top;
          color: @color-event-text;

          > input,
          > div {
            margin-top: 10px;

            &:first-child {
              margin-top: 0;
            }

            > select {
              width: 200px;
            }
          }

          > input {
            width: 200px;
          }
        }

        &.form-submit {
          > button,
          > input[type=submit] {
            margin-left: 23.6%;
            background-color: @color-event-text;
            color: @color-event-default;

            &:hover {
              background-color: @color-event-primary;
              color: @color-event-text;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  body.event-body
  {
    .event
    {
      p {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  body.event-body
  {
    .event
    {
      p {
        img {
          width: 100%;
        }
      }

      form {
        > div {
          > label {
            width: 30%;
          }

          &.form-submit {
            > button,
            > input[type=submit] {
              margin-left: 30%;
            }

          }
        }
      }
    }
  }
}
