@color-event-default: #fff;
@color-event-primary: #cf3334;
@color-event-text: #f0818a;
@color-event-border: #cf3334;

.motherday
{
  max-width: 676px;
  background-color: @color-event-default;
  
  .event-tips {
    width: 90%;
    margin: 15px auto;
    line-height: 1.8em;

    p {
      margin: 10px 0 10px;
    }

    ol {
      li {
        list-style-type: decimal;
        list-style-position: inside;
      }
    }
  }

  .quickorder-main {
    color: @color-event-text;
    width: 90%;
    margin: 20px auto 0;

    h5 {
      color: @color-event-text;
      strong {
        color: @color-event-text;
      }
    }

    .line-hor {
      max-width: 280px;
      margin-top: 15px;
      margin-bottom: 15px;
      background: none;
      background-color: @color-event-text;
    }

    .payment-highlight {
      color: @color-event-text;
    }

    ul.payment-bank {
      li {
        a.payment-bank-alipay {
          background-color: @color-white;
          border-color: @color-event-text;
        }
      }
    }

  }

  .quickorder-payment-sub {
    display: block;
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  > p {
    margin: 0;
    line-height: 0;
    text-align: center;

    img {

    }
  }

  fieldset[disabled]
  {
    visibility: visible;
  }

  form,
  fieldset[disabled] {
    margin-top: 20px;

    > strong {
      margin-left: 6px;
      color: @color-event-primary;
    }

    label {
      color: @color-event-text;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    select {
      border: 1px solid @color-event-border;
      border-radius: 3px;
    }

    .form-required-mark {
      color: @color-event-text;
    }

    > div {
      > label {
        display: inline-block;
        width: 23%;
        vertical-align: top;
        text-align: right;
      }
      > div {
        display: inline-block;
        vertical-align: top;
        color: @color-event-text;

        > input,
        > div {
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          > select {
            width: 200px;
          }
        }

        > input {
          width: 200px;
        }
      }

      &.form-submit {
        > button,
        > input[type=submit] {
          margin-left: 23.6%;
          background-color: @color-event-text;
          color: @color-event-default;

          &:hover {
            background-color: @color-event-primary;
            color: @color-white;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
    .motherday
    {
      p {
        img {
          width: 100%;
        }
      }
    }
}

@media screen and (max-width: 480px) {
  .motherday
  {
    p {
      img {
        width: 100%;
      }
    }

    form {
      > div {
        > label {
          width: 30%;
        }

        &.form-submit {
          > button,
          > input[type=submit] {
            margin-left: 30%;
          }

        }
      }
    }
  }
}
