
.valentine {
	.btn {
		border-radius: 0;
		font-size: 21px;

		b {
			font-weight: lighter;
			font-size: 25px
		}
	}

	.valentine-ad {
		position: relative;

		.btn {
			position: absolute;
			left: 50%;
			top: 0;
			z-index: 1;
			margin-left: -151px;
			margin-top: 482px;/* 522-40 */
		}
	}
}

.valentine-mobile {
	margin-bottom: -30px;

	.valentine-ad {
		.btn {
			position: static;
			margin-left: 0;
			margin-top: 0;
		}
	}
}