@import "warmingday.less";

.warmingday {
	padding-bottom: 0;

    > .bannerimg{
      > img{
        width: 100%;
      }
    }
    > .warmingday-gap{
      margin-top: 10px;
    }
	.warmingday-main {
        margin: 30px auto;
        .carousel-indicators{
            width: 100%;
            > li{
              padding: 0 10px;
              font-size: 16px;
              min-width: 100px;
              > .gap{
                margin-right: -8px;
                margin-top: 8px;
                height: 12px;
              }
              &:first-child{
                padding-left: 0;
              }
              &:last-child{
                padding-right: 0;
              }
            }
        }
      .carousel-inner{
        margin: 0 auto;
        height: 190px;
        .writetolove{
          width: auto;
          margin: 15px;
          height: 120px;
          padding: 12px;
          textarea{
            font-size: 12px;
            line-height: inherit;
          }
        }
        .desc{
          text-align: left;
        }
        > .item{
            height: 100%;
            &:first-child {
              .desc{
                margin-left: 0;
              }
              > .toloveleftbg {
                background: url('/images/event/warmingday/mobile/tolove_left.png') no-repeat 5px 60px;
                background-size: 35% 50%;
              }
            }
        }
      }
	}
  .warmingday-sense {
    width: 100%;
    #carousel-sense{
      width: 100%;
      .carousel-inner{
        width: 85%;
        .item{
          width: 100%;
          margin: 0 5px;
        }
      }
      .carousel-control{
        &.right{
          background: url('/images/event/warmingday/mobile/arrow.png') no-repeat right center;
        }
      }
    }
  }
}
.lng-en{
  .warmingday .warmingday-main {
    .carousel-inner{
      height: 210px;
    }

    .carousel-indicators li{
      padding: 0;
      .gap{
        display: none;
      }
    }
  }
}