@red: #c6183c;
@red-hover: #9c0424;
@gray: #969696;
@brown: #c58b2b;

.warmingday {
	color: #666;
	padding-bottom: 100px;

	.warmingday-main {
		margin: 60px auto;

        .carousel-indicators{
          position: static;
          width: 100%;
          > li{
            border: none;
            color: @gray;
            font-size: 22px;
            font-weight: bold;
            text-indent: 0;
            width: auto;
            min-width: 120px;
            height: auto;
            background: none;
            padding: 0 25px;
            position: relative;
            > .gap{
              height: 18px;
              display: inline-block;
              border: solid 1px @gray;
              position: absolute;
              top: 0;
              right: 0;
              margin-top: 10px;
              margin-right: -2px;
            }
            > hr{
              display: none;
              margin: 10px auto 0;
              width: 35px;
              border: solid 1px @red;
            }
            &.active{
              color: @red;
              > hr{
                display: block;
              }
            }
          }
        }
        .carousel-inner{
          height: 270px;
          margin: 0 64px;
          width: auto;
          .writetolove{
            width: 795px;
            height: 160px;
            padding: 20px;
            border: solid 2px @brown;
            margin: 30px auto;
            position: relative;
            z-index: 1;
            font-size: 130%;
            > textarea{
              width: 100%;
              height: 100%;
              border: none;
              resize: none;
            }
          }
          .desc{
            color: @red;
            font-size: 14px;
            font-weight: bold;
            margin-top: 8px;
            display: block;
          }
          > .item:first-child{
            position: relative;
            > .toloveleftbg{
              background: url('/images/event/warmingday/tolove_left.jpg') no-repeat left center;
              width: 100%;
              height: 100%;
              display: inline-block;
              position: absolute;
              left: 0;
              bottom: 6px;
            }
            .desc{
              text-align: left;
              margin-left: 35px;
            }
          }
        }
        .carousel-control {
          width: 64px;
          top: 60px;
          background: url('/images/event/warmingday/arrow.jpg') no-repeat right center;
        }
        .btn-action-container {
          margin-top: 15px;

          .btn-action {
            background-color: @red;
            border-width: 0;
            border-radius: 4px;
            padding-left: 100px;
            padding-right: 100px;

            &:hover {
              color: #fff;
              background-color: @red-hover;
            }
          }
        }
	}
    .warmingday-sense{
      width: 820px;
      h5{
        color: @red;
        font-weight: bold;
        display: inline-block;
        height: 70px;
        line-height: 40px;
        position: relative;
        background: url('/images/event/warmingday/redflower.jpg') no-repeat 30px 30px ;
        > hr{
          position: absolute;
          top: 40%;
          border-top: dashed 1px @gray;
          width: 100%;
        }
      }
      p{
        line-height: 20px;
      }
    }
}
