@color-grey-darker: #333;

.btn-default {
	background-color: @color-grey-darker;
}
.womensday {
	.womensday-banner {
		position: relative;

		.btn {
			border-radius: 0;
			font-size: 20px;
			position: absolute;
			top: 310px;
			left: 50%;
			margin-left: -96px;

			&.btn-action {
				padding-left: 10px;
				padding-right: 10px;
			}

			b {
				font-weight: lighter;
				font-size: 18px
			}
		}
	}
}
