@color-white: #fff;
@color-black: #000;
@color-brand: #b59981;
@border-radius: 4px;

/* Common style */
.title() {
	color: @color-black;
	letter-spacing: 6px;
	font-size: 320%;
	font-family: sans-serif;
	font-weight: bolder;
}
.workshop-padding {
	margin-left: 60px;
	margin-right: 60px;
}
.btn-brand {
	color: @color-black;
	background-color: @color-white;
	border: 1px solid @color-brand;
	letter-spacing: 2px;
	font-size: 170%;
	line-height: 1.6em;
	padding: 5px 20px;
	min-width: 311px;
}
.btn-brand:hover {
	transform: scale(1.02);
	transition: all 0.15s ease;
	background-color: @color-brand;
	border: 1px solid @color-brand;
}
.btn-brand.btn-workshop-active {
	color: @color-white;
	background-color: @color-brand;
	cursor: default;
}
.btn-brand.btn-workshop-active:hover {
	transform: scale(1);
	transition: all 0 ease;
	background-color: @color-brand;
}
.btn-brand.btn-workshop-action {
	letter-spacing: 6px;
	font-size: 300%;
	line-height: 1.3em;
	color: @color-white;
	background-color: @color-brand;
	min-width: inherit;
	padding-left: 30px;
	padding-right: 25px;
}

.workshop {
	margin-bottom: 30px;
}

/* Header */
h1 {
	.title();
	font-size: 340%;
}
.workshop-subtitle {
	margin-top: 10px;
	font-size: 170%;
	letter-spacing: 2px;
}

/* Tab */
.workshop-tab {
	margin-top: 30px;

}
.workshop-tab .workshop-tab-or {
	.title();
	color: @color-brand;
	line-height: 2em;
}

/* Banner */
.workshop-lifestyle-banner {
	margin-top: 40px;
}

/* Action */
.workshop-action {
	margin-top: 30px;
	border: 1px solid @color-brand;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: @border-radius;
}
.workshop-action h2 {
	.title();
	margin-top: -10px;
}
.workshop-office-action {
	border: none;
}
.workshop-office-action h2 {
	letter-spacing: 0;
	font-size: 300%;
}
.workshop-office-action p {
	.title();
	font-size: 180%;
	letter-spacing: 0;
	font-weight: lighter;
	margin-bottom: 20px;
}

/* Intro */
.workshop-intro {
	margin-top: 30px;
	margin-bottom: -20px;
}
.workshop-intro > h3 {
	.title();
	font-size: 260%;
	letter-spacing: 0;
	margin-bottom: 30px;
}
.workshop-intro .thumbnail {
	border-color: @color-brand;
}
.workshop-intro .thumbnail > img {
	margin-top: 6px;
}
.workshop-intro .thumbnail .caption h3 {
	.title();
	font-size: 186%;
	letter-spacing: 0;
	margin-top: 10px;
	text-align: justify;
	min-height: 105px;
}
.workshop-intro .thumbnail .caption p {
	font-size: 135%;
	line-height: 1.6;
	min-height: 225px;
}
.workshop-intro .thumbnail .caption img {
	margin-top: -60px;
}

/* Brand */
.workshop-brand {
	margin-top: 30px;
	border: 1px solid @color-brand;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: @border-radius;
}
.workshop-brand > h3 {
	.title();
	font-size: 260%;
	letter-spacing: 0;
	margin-bottom: 30px;
}

