<%
    var EXPIRED_CODE = 5;

    var cacheServer = data.cacheServer;
    var serviceDomain = data.serviceDomain;
    var verified = data.verified;
    var mobile = data.mobile;
%>

<% if (!verified) { %>
    <form role="form" class="search-verification">
        <div class="form-section">
            <div class="form-group">
                <label for="search-verificationcode" data-weave="widget/blurb/main(1375)">To protect your privacy, we need to verify the phone number.</label>
                <div class="form-group imageverificationcode cf">
                    <label for="sendsms-image-verificationcode" data-weave="widget/blurb/main(1614)">Verification code:</label>
                    <img src="<%=serviceDomain%>/common/image" width="80" height="31" alt="Verification code" data-action="refreshimagesecurity">
                    <input type="text" class="form-control" id="sendsms-image-verificationcode" data-action="checkverificationcode" name="sendsms-image-verificationcode" placeholder="Please type the verification code." required data-weave="widget/blurb/main(1344, 'placeholder')">
                </div>
                <p>
                    <button data-action="send-verificationcode" class="btn btn-default" data-weave="widget/blurb/main(1084)">SEND VERIFICATION CODE</button> <span data-weave="widget/blurb/main(1616)">to：</span><%=mobile%>
                </p>
                <div class="input-group">
                    <input type="text" class="form-control" id="search-verificationcode" name="search-verificationcode" placeholder="Input verification code sent to your mobile phone" required focus data-weave="widget/blurb/main(1139, 'placeholder')">
                    <span class="input-group-btn sendVerificationAgain">
                        <button type="submit" class="btn btn-default" data-weave="widget/blurb/main(1615)">VERIFY AND SEARCH</button>
                        <span class="sending hid input-group-btn">
                            <img src="<%=cacheServer%>/images/waiting.gif" width="32" height="32" alt="">
                            <span data-weave="widget/blurb/main(1341)">Sending...</span>
                            <span data-action="countdown"></span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <input type="hidden" id="blurb-1345" data-weave="widget/blurb/main(1345, 'value')" value="Please type the verification code.">
        <input type="hidden" id="blurb-1139" data-weave="widget/blurb/main(1139, 'value')" value="Input verification code sent to your mobile phone.">
    </form>
<% } else { %>
    <p class="reminder" data-weave="widget/blurb/main(1119)">
        You can cancel your order any time up to 24 hours before your scheduled delivery. If you seleced online payment, please note that you will need to complete payment 24 hours before your start date to confirm your order.
    </p>
    <div data-weave="widget/orders/list/main"></div>
<% } %>
