﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
<link rel="stylesheet" href="/Areas/MobileSite/Assets/css/signin.css">

<form id='frm-signin' action="/Account/Regist" method="post" onsubmit="return verify()">

    <input id='username' name='Mobile' placeholder="手机号码" maxlength="11" required="required">
    <input id='verificationcode' placeholder="图片验证码" required="required">
    <img src="http://www.vcleanse.com/common/image?r=111" id='img-verificationcode' alt="Verification code" data-action="refreshimagesecurity" onclick="$(this).attr('src',$(this).attr('src')+'?'+Math.random())">
    <input id='smscode' name='ValidationCode' placeholder="短信验证码" required="required"><button id='btn-smscode' type="button">获取验证码</button>
    <input id='password' name="Password" placeholder="密码" type="password" required="required">
    <input id='passwordrepeat' placeholder="确认密码" type="password" required="required">
    <div class='tips'></div>
    <input id='ValidateType' name='ValidateType' value="1" type="hidden">
    <button id="createUser">创建账户</button>
</form>
<a id='tologin' class='underlink' href="signin">已有帐户登录></a>

<script src="/Areas/MobileSite/Assets/js/register.js" type="text/javascript" charset="utf-8"></script>