﻿@{Layout = "~/Areas/MobileSite/Views/_Layout.cshtml";}
<link rel="stylesheet" href="/Areas/MobileSite/Assets/css/signin.css">

<div id='frm-signin'>
    <input id='username' placeholder="手机号码" maxlength="11">
    <input id='password' placeholder="密码" type="password">
    <div class='tips'></div>
    <div class='linkbar'>
    @*<a href='#' id='foget'>忘记密码？</a>*@
    <a href='register' id='register'>没有帐户？</a></div>
    <button id="signin">登录</button>

</div>

<a id='tovisit' class='underlink' href="/mobilesite">以访客身份继续></a>
<script src="/Areas/MobileSite/Assets/js/signin.js" type="text/javascript" charset="utf-8"></script>