
<form class="form-horizontal" role="form">

    <div class="form-section">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-firstname" data-weave="widget/blurb/main(1054)">First name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="signup-firstname" name="signup-firstname" placeholder="Your First Name Here" autofocus required value="<%=data.FirstName%>" data-weave="widget/blurb/main(1402, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-lastname" data-weave="widget/blurb/main(1055)">Last name:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="signup-lastname" name="signup-lastname" placeholder="Your Last Name Here" value="<%=data.LastName%>" required data-weave="widget/blurb/main(1133, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-phonenumber" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="signup-phonenumber" name="signup-phonenumber" placeholder="Your Contact Number" value="<%=data.Mobile%>" data-weave="widget/blurb/main(1137, 'placeholder')" required disabled>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-email" data-weave="widget/blurb/main(1076)">Email:</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="signup-email" name="signup-email" placeholder="Your Email Address Here" required value="<%=data.Email%>" data-weave="widget/blurb/main(1138, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-email" data-weave="widget/blurb/main(1120)">Gender:</label>
            <div class="col-sm-7">
                <label class="radio-inline">
                    <input type="radio" id="signup-gender-female" name="signup-gender" value="0" <%if(data.GenderId === 0){%>checked<%}%>> <span data-weave="widget/blurb/main(1121)">Female</span>
                </label>
                <label class="radio-inline">
                    <input type="radio" id="signup-gender-male" name="signup-gender" value="1" <%if(data.GenderId === 1){%>checked<%}%>> <span data-weave="widget/blurb/main(1122)">Male</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-birthday" data-weave="widget/blurb/main(1123)">Birthday:</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="signup-birthday" data-action="datepicker" value="<%=(data.Birthday || "")%>">
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label class="col-sm-3 control-label" for=""></label>
            <div class="col-sm-7 text-center">
                <button type="submit" class="btn btn-lg btn-default btn-action" data-weave="widget/blurb/main(1079)">SAVE</button>
            </div>
        </div>
    </div>

    <input type="hidden" id="blurb-1215" data-weave="widget/blurb/main(1215, 'value')" value="Phonenumber is required.">
    <input type="hidden" id="blurb-1216" data-weave="widget/blurb/main(1216, 'value')" value="Verify that you've entered the correct phone number.">
    <input type="hidden" id="blurb-1275" data-weave="widget/blurb/main(1275, 'value')" value="First name is required.">
    <input type="hidden" id="blurb-1276" data-weave="widget/blurb/main(1276, 'value')" value="Last name is required.">
    <input type="hidden" id="blurb-1277" data-weave="widget/blurb/main(1277, 'value')" value="Email is required.">
</form>
