<%
  var cacheServer = data.cacheServer;
  var orderId = data.id;
  var hasOnlinePay = data.hasOnlinePay;
  var onlinePayment = data.onlinePayment;
%> 
<% if (hasOnlinePay) { %>
<div class="topay confirm-box">
    <h3>
        <strong data-weave="widget/blurb/main(1108)">Pay online</strong>
    </h3>
    <br>
    <p>
        <span class="payment-highlight" data-weave="widget/blurb/main(1141)">Order successful submit, payment as soon as possible please!</span>
        <br>
        <span data-weave="widget/blurb/main(1061)" data-action="orderid" data-id="<%=orderId%>">Order number:</span>
        <strong>
            <%=orderId%>
        </strong>
        <br>
        <span data-weave="widget/blurb/main(1142)">Amount Due (RMB):</span>
        <strong>&yen;
            <%=onlinePayment%>
        </strong>
        <br>
        <span data-weave="widget/blurb/main(1143)" data-format="<%=onlinePayment%>">Please complete payment within 24 hours. Orders will be cancelled after 24 hours with no payment.</span>
    </p>
    <p>
        <strong data-weave="widget/blurb/main(1109)">Finish your payment by click following payment platform!</strong>
    </p>
    <ul class="hor banklist">
      <li data-action="selectbank" data-id="ALIWAPPAY" class="active">
          <img src="<%=cacheServer%>/images/payment/alipay.jpg" width="126" height="35" alt="">
      </li>
    </ul>
    <div class="text-center paymentaction-container">
        <button class="btn btn-lg btn-default" data-action="confirmpayment" data-weave="widget/blurb/main(1458)">Pay</button>
    </div>
</div>
<% } else { %>
<div class="success payresult-box" style="overflow: hidden;">
    <h3>
        <span class="text-danger glyphicon glyphicon-remove"></span>
        <strong data-weave="widget/blurb/main(1377)">Sorry!</strong>
        <span data-weave="widget/blurb/main(1481)">Invalid payment request!</span>
    </h3>
    <hr>
    <div class="payresult-checklist" data-weave="widget/checklist/main"></div>
</div>
<% } %>
