﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/valentine.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/valentine.min.css" />
    }
}
<div class="row-edges valentine valentine-mobile">
    <div class="valentine-ad">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/valentine/ad_01.jpg" alt="" width="100%">
        <div class="valentine-action text-center">
            <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/26/groupid/42/days/1/addon/0,0/event/vale" class="btn btn-default btn-block btn-lg btn-action">ORDER NOW 订购<br><b>RMB 299</b></a>
        </div>
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/valentine/ad_02.jpg" alt="" width="100%">
    </div>
    <div class="valentine-action text-center">
        <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/26/groupid/42/days/1/addon/0,0/event/vale" class="btn btn-default btn-block btn-lg btn-action">ORDER NOW 订购<br><b>RMB 299</b></a>
    </div>
    <div>
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/valentine/bottom.jpg" alt="" width="100%">
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
    _.BLURB = {
    };
}
</div>