@CHARSET "UTF-8";
body{
	background-color:#F4F4F4;
}
.head {
    width: 100%;
    position: relative;
    height: 6%;
    padding: 3% 4%;
    background-color: #fff;
    background-image: url('../../Images/Feedback/logo@3x.png');
    background-repeat: no-repeat;
    background-size: auto 55%;
    background-position: 5% center;
    text-align: right;
    font-size: 18px;
    border-bottom: 1px solid #ECECEC;
}

.title{
    position: relative;
    height: 7%;
    width: 100%;
    text-align: center;
    padding: 3% 0;
    font-size: 24px;
	
}

.star-selection,.order-selection{
    width: 90%;
    margin: 3% 5%;
    height: 15%;
    background-color: #ffffff;
    border: solid 1px #e8e8e8;
    position: relative;
    padding: 4% 0 4% 4%;
}
.star-selection h1,.order-selection h1{
	    font-size: 20px;
    margin: 0 0 4% 0;
}
.star-selection img{
	margin-right: 6%;
    width: 12%;
    
}
.order-selection{
	height: 8%;
	    padding: 0;
}
.order-selection h1{
    float: left;
    width: 36%;
    margin: 4% 0% 4% 4%;
}
.order-selection button{
	width: 30%;
    padding: 3% 4%;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
        font-size: 22px;
}

.order-selection button.active{
	background-color: #72cc3e;
	color: #fff;
}
.lay-message {
	display:none;
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
}
.lay-message #message-text{
	border-radius: 10px;
    background-color: #555555;
    position: absolute;
    top: 30%;
    width: 70%;
    height: 20%;
    color: #fff;
    left: 15%;
    text-align: center;
    font-size: 30px;
    padding: 12% 2%;
}
.btn-default{
	position: relative;
    width: 90%;
    margin: 5%;
    /*border-radius: 100px;*/
    background-color: #72cc3e;
    color: #fff;
    border: 0;
    font-size: 24px;
    padding: 2%;
}




/*第二步*/
.step2 {
    background-image: url('../../Images/Feedback/step2_bg_02.png');
    background-size: 100%;
}

.lay-code {
    position: absolute;
    width: 90%;
    /*height: 24%;*/
    left: 5%;
    top: 30%;
    z-index: 999;
    background-image: url('../../Images/Feedback/step2_bg_01.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lay-code h1{
	color: #555555;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.lay-code .code-line{
	color: #555555;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
	padding: 2%;
}
.lay-code .code-line #code{
	color:#72cc3e;
}
.lay-code .code-tips{
	color: #999999;
    padding: 6%;
    
    bottom: 5%;
}
.lay-code .code-tips span{
	color:#72cc3e
}


#btn-save{
	bottom: 10%;
    position: absolute;
    background-color: #72cc3e;
    color: #fff;
}

#commit{
    width: 90%;
    margin: 0 5%;
    position: relative;
    padding: 3%;
    border: solid 1px #e8e8e8;
    height:100px;
   }