@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<span data-weave="widget/blurb/main(1378)">Pay failed</span>
</h1>
<div class="payment payment-failed" data-weave="widget/payment/mobilepayresult/main(paySuccess)" data-pay-success="false"></div>
