﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<span data-weave="widget/blurb/main(1010)">Pay</span>
</h1>
<div class="payment payment-topay" data-weave="widget/payment/mobiletopay/main"></div>
