.valentine .btn {
  border-radius: 0;
  font-size: 21px;
}
.valentine .btn b {
  font-weight: lighter;
  font-size: 25px;
}
.valentine .valentine-ad {
  position: relative;
}
.valentine .valentine-ad .btn {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  margin-left: -151px;
  margin-top: 482px;
  /* 522-40 */
}
.valentine-mobile {
  margin-bottom: -30px;
}
.valentine-mobile .valentine-ad .btn {
  position: static;
  margin-left: 0;
  margin-top: 0;
}
