.warmingday {
  color: #666;
  padding-bottom: 100px;
}
.warmingday .warmingday-main {
  margin: 60px auto;
}
.warmingday .warmingday-main .carousel-indicators {
  position: static;
  width: 100%;
}
.warmingday .warmingday-main .carousel-indicators > li {
  border: none;
  color: #969696;
  font-size: 22px;
  font-weight: bold;
  text-indent: 0;
  width: auto;
  min-width: 120px;
  height: auto;
  background: none;
  padding: 0 25px;
  position: relative;
}
.warmingday .warmingday-main .carousel-indicators > li > .gap {
  height: 18px;
  display: inline-block;
  border: solid 1px #969696;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: -2px;
}
.warmingday .warmingday-main .carousel-indicators > li > hr {
  display: none;
  margin: 10px auto 0;
  width: 35px;
  border: solid 1px #c6183c;
}
.warmingday .warmingday-main .carousel-indicators > li.active {
  color: #c6183c;
}
.warmingday .warmingday-main .carousel-indicators > li.active > hr {
  display: block;
}
.warmingday .warmingday-main .carousel-inner {
  height: 270px;
  margin: 0 64px;
  width: auto;
}
.warmingday .warmingday-main .carousel-inner .writetolove {
  width: 795px;
  height: 160px;
  padding: 20px;
  border: solid 2px #c58b2b;
  margin: 30px auto;
  position: relative;
  z-index: 1;
  font-size: 130%;
}
.warmingday .warmingday-main .carousel-inner .writetolove > textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}
.warmingday .warmingday-main .carousel-inner .desc {
  color: #c6183c;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  display: block;
}
.warmingday .warmingday-main .carousel-inner > .item:first-child {
  position: relative;
}
.warmingday .warmingday-main .carousel-inner > .item:first-child > .toloveleftbg {
  background: url('/images/event/warmingday/tolove_left.jpg') no-repeat left center;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 6px;
}
.warmingday .warmingday-main .carousel-inner > .item:first-child .desc {
  text-align: left;
  margin-left: 35px;
}
.warmingday .warmingday-main .carousel-control {
  width: 64px;
  top: 60px;
  background: url('/images/event/warmingday/arrow.jpg') no-repeat right center;
}
.warmingday .warmingday-main .btn-action-container {
  margin-top: 15px;
}
.warmingday .warmingday-main .btn-action-container .btn-action {
  background-color: #c6183c;
  border-width: 0;
  border-radius: 4px;
  padding-left: 100px;
  padding-right: 100px;
}
.warmingday .warmingday-main .btn-action-container .btn-action:hover {
  color: #fff;
  background-color: #9c0424;
}
.warmingday .warmingday-sense {
  width: 820px;
}
.warmingday .warmingday-sense h5 {
  color: #c6183c;
  font-weight: bold;
  display: inline-block;
  height: 70px;
  line-height: 40px;
  position: relative;
  background: url('/images/event/warmingday/redflower.jpg') no-repeat 30px 30px;
}
.warmingday .warmingday-sense h5 > hr {
  position: absolute;
  top: 40%;
  border-top: dashed 1px #969696;
  width: 100%;
}
.warmingday .warmingday-sense p {
  line-height: 20px;
}
.warmingday {
  padding-bottom: 0;
}
.warmingday > .bannerimg > img {
  width: 100%;
}
.warmingday > .warmingday-gap {
  margin-top: 10px;
}
.warmingday .warmingday-main {
  margin: 30px auto;
}
.warmingday .warmingday-main .carousel-indicators {
  width: 100%;
}
.warmingday .warmingday-main .carousel-indicators > li {
  padding: 0 10px;
  font-size: 16px;
  min-width: 100px;
}
.warmingday .warmingday-main .carousel-indicators > li > .gap {
  margin-right: -8px;
  margin-top: 8px;
  height: 12px;
}
.warmingday .warmingday-main .carousel-indicators > li:first-child {
  padding-left: 0;
}
.warmingday .warmingday-main .carousel-indicators > li:last-child {
  padding-right: 0;
}
.warmingday .warmingday-main .carousel-inner {
  margin: 0 auto;
  height: 190px;
}
.warmingday .warmingday-main .carousel-inner .writetolove {
  width: auto;
  margin: 15px;
  height: 120px;
  padding: 12px;
}
.warmingday .warmingday-main .carousel-inner .writetolove textarea {
  font-size: 12px;
  line-height: inherit;
}
.warmingday .warmingday-main .carousel-inner .desc {
  text-align: left;
}
.warmingday .warmingday-main .carousel-inner > .item {
  height: 100%;
}
.warmingday .warmingday-main .carousel-inner > .item:first-child .desc {
  margin-left: 0;
}
.warmingday .warmingday-main .carousel-inner > .item:first-child > .toloveleftbg {
  background: url('/images/event/warmingday/mobile/tolove_left.png') no-repeat 5px 60px;
  background-size: 35% 50%;
}
.warmingday .warmingday-sense {
  width: 100%;
}
.warmingday .warmingday-sense #carousel-sense {
  width: 100%;
}
.warmingday .warmingday-sense #carousel-sense .carousel-inner {
  width: 85%;
}
.warmingday .warmingday-sense #carousel-sense .carousel-inner .item {
  width: 100%;
  margin: 0 5px;
}
.warmingday .warmingday-sense #carousel-sense .carousel-control.right {
  background: url('/images/event/warmingday/mobile/arrow.png') no-repeat right center;
}
.lng-en .warmingday .warmingday-main .carousel-inner {
  height: 210px;
}
.lng-en .warmingday .warmingday-main .carousel-indicators li {
  padding: 0;
}
.lng-en .warmingday .warmingday-main .carousel-indicators li .gap {
  display: none;
}
