.btn-default {
  background-color: #333;
}
.womensday .womensday-banner {
  position: relative;
}
.womensday .womensday-banner .btn {
  border-radius: 0;
  font-size: 20px;
  position: absolute;
  top: 310px;
  left: 50%;
  margin-left: -96px;
}
.womensday .womensday-banner .btn.btn-action {
  padding-left: 10px;
  padding-right: 10px;
}
.womensday .womensday-banner .btn b {
  font-weight: lighter;
  font-size: 18px;
}
