<%
    var PIC_PACKAGE_URL = data.cacheServer + "/images/cleanse/";
    var PIC_TAG_URL = data.cacheServer + "/images/tags/";
    var PIC_PACKAGE_DEFAULT_URL = data.cacheServer + "/images/cleanse/default.jpg";

    var cols = data.cols || 2;
    var colSpan = Math.floor(12 / cols);
    var kick = data.kick;

    var packages = data.packages;
    var i = 0;
    var iLens = packages.length;
    var row = 0;
    var rows = Math.ceil(iLens / cols);
    for (row = 0; row < rows; row++) {
        %>
            <ul class="row">
                <%
                    for(i = row * cols; i < (row + 1) * cols; i++){
                        if(packages[i]){
                            if(packages[i].Id === kick){
                                continue;
                            }
                            appendPackage(packages[i], i+1);
                        }
                    }
                %>
            </ul>
        <%
    }
%>
<!-- package is a keyword? -->
<% function appendPackage(pkg, sequence) { %>
    <li class="col-xs-<%=colSpan%>">
        <div class="package-container cf <% if (sequence === 1) { %>active<% } %>" data-action="packagecontainer" data-package-id="<%=pkg.Id%>" data-package-sequence="<%=sequence%>">
            <div class="packages-picture">
                <div class="packages-display-container">
                    <% if (pkg.ImageName) { %>
                        <img src="<%=PIC_PACKAGE_URL + pkg.ImageName%>" width="100%" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                    <% } else { %>
                        <img src="<%= PIC_PACKAGE_DEFAULT_URL%>" width="100%" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                    <% } %>
                </div>
            </div>
            <div class="packages-text">
                <h3>
                    <%=(pkg.Title || "&nbsp;")%>
                    <% if (pkg.Tags && pkg.Tags.length > 0) {
                            var j = 0;
                            var jLens = pkg.Tags.length;
                            for (j = 0; j < jLens; j++) {
                    %>
                        <span class="tag">
                            <img src="<%=PIC_TAG_URL + pkg.Tags[j].ImagePath%>" alt="<%=pkg.Tags[j].Name%>" title="<%=pkg.Tags[j].Name%>">
                        </span>
                    <%
                            }
                        }
                    %>
                </h3>
                <div class="packages-des">
                    <p><%=(pkg.SubTitle || "&nbsp;")%></p>
                </div>
            </div>
        </div>
    </li>
<% } %>