<%
	var categories = data.categories;
	var dayId = data.dayId;

    var z = 0;
	if(dayId < 0){
        appendCategoryAll(categories);
	}
    else {
        appendCategoryTabs(categories);
    }
%>

<% function appendCategoryAll(categories) { 
    var i = 0;
    var iLens = categories.length;

    for(i = 0; i < iLens; i++) {
%>
		<div class="orderedit-products-category" data-weave="widget/customize/product/main(categoryId)" data-category-id="<%= categories[i].Id %>"></div>
<% }
} %>

<% function appendCategoryTabs(categories) { 
    var i = 0;
    var iLens = categories.length;
%>
	<div class="cleanse-view juice-view">
	    <ul class="nav nav-tabs" id="myTab" data-weave="widget/basic/bootstrap-tab">
	        <% for(i = 0; i < iLens; i++) {%>
		        <li class="<%if(i===0){%>active<%}%>">
		        	<a href="#target-<%=i%>" data-toggle="tab"><%=categories[i].Name%></a>
		        </li>
	        <%}%>
	    </ul>
	    <div class="tab-content">
	        <% for(i = 0; i < iLens; i++) {%>
		        <div class="tab-pane <%if(i===0){%>active<%}%>" id="target-<%=i%>">
					<div class="orderedit-products-category" data-weave="widget/customize/product/main(categoryId)" data-category-id="<%= categories[i].Id %>"></div>
		        </div>
	        <%}%>
	    </div>
	</div>
<% } %>
