@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<a class="goback glyphicon glyphicon-chevron-left" onclick="javascript:history.back();"></a>
	<span>Signin</span>
</h1>
<div class="enrollment enrollment-signin" data-weave="widget/formlogin/main"></div>
