@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<h1 class="heading row">
	<span>Register success</span>
</h1>
<div class="enrollment enrollment-success" data-weave="widget/successenrollment/main"></div>
