<%
	var logged = data.logged;
    var nickName = data.nickName || "";
%>
<ul class="hor seplist">
    <% if (!logged) { %>
        <!--li>
            <a href="/" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1127)">Home</span>
            </a>
        </li-->
        <li>
            <a class="link-fn" data-action="signin">
                <span data-weave="widget/blurb/main(1000)">Sign in</span>
            </a>
        </li>
        <li>
            <a href="/enrollment/register" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1020)">Create an account</span>
            </a>
        </li>
        <li>
            <a href="/order/search" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1350)">Find my orders</span>
            </a>
        </li>
    <% } else { %>
        <!--li>
            <span data-weave="widget/blurb/main(1004)">Welcome, </span><a href="/account/orders" data-weave="widget/href/main"><span><%=nickName%></span></a>
        </li-->
        <li>
            <a href="/" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1127)">Home</span>
            </a>
        </li>
        <li>
            <a href="/account/logoff" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1021)">Sign out</span>
            </a>
        </li>
        <li>
            <a href="/account/orders" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1001)">My VCLEANSE</span>
            </a>
        </li>
    <% } %>
</ul>
