﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/workshop.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/workshop.min.css" />
    }
}
<script>
	switchMenu();
	

	function switchMenu(){
		$(".header-nav-bottom li a").removeClass('active');
		$($(".header-nav-bottom li a").get(2)).addClass('active');
	}
</script>
<div class="inner workshop">
    <h1 class="text-center">带你进入清体蔬果汁的世界！</h1>
    <p class="workshop-padding workshop-subtitle text-center">
        清体蔬果汁是什么味道？什么是冷榨液压技术？我如何使用清体果汁来改善体质和体型？清体蔬果汁还有什么其他神奇之处？<br>
        如果你有这些疑问，就让维果清健康顾问带你进入五彩缤纷的清体蔬果汁世界吧！
    </p>
    <div class="workshop-padding workshop-tab text-center row">
        <div class="col-md-5 col-xs-12">
            <a data-weave="widget/href/main" class="btn btn-lg btn-default btn-brand btn-workshop-active">
                维果清健康餐厅<br>
                Lifestyle健康餐厅
            </a>
        </div>
        <div class="workshop-tab-or col-md-2 col-xs-12">
            OR
        </div>
        <div class="col-md-5 col-xs-12">
            <a data-weave="widget/href/main" href="/workshop/office" class="btn btn-lg btn-default btn-brand">
                健康送上门<br>
                把你的办公室变成健康课堂
            </a>
        </div>
    </div>
    <div id="workshop-lifestyle-banner" class="workshop-lifestyle-banner carousel slide" data-ride="carousel" data-weave="widget/carousel/main">
        <ol class="carousel-indicators">
            <li data-target="#workshop-lifestyle-banner" data-slide-to="0" class="active"></li>
            <li data-target="#workshop-lifestyle-banner" data-slide-to="1"></li>
            <li data-target="#workshop-lifestyle-banner" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_banner_01.jpg" alt="" height="415" width="992">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_banner_02.jpg" alt="" height="415" width="992">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_banner_03.jpg" alt="" height="415" width="992">
                <div class="carousel-caption">
                </div>
            </div> 
        </div>
    </div>
    <!--
    <div class="workshop-padding workshop-action text-center">  
        <h2>报名参观我们的健康餐厅</h2>
        <a href="http://campaign.vcleanse.com/join/" class="btn btn-lg btn-default btn-brand btn-workshop-action">点击报名</a>
    </div>
    --> 
    <div class="workshop-padding workshop-intro"> 
        <h3 class="text-center">在维果清Lifestyle健康餐厅中，你可以：</h3>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_01.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>试喝美味的冷压蔬果汁、坚果奶、汤以及特饮！</h3>
                        <p>一直听朋友们说的冷榨液压果汁，究竟和普通果汁有什么区别呢？来到维果清工作坊中，30多种新鲜无添加果汁供你品尝，听听“小绿”诞生的曲折故事，了解“小粉”如何帮助女性养颜……</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_02.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>学习如何用蔬果汁搭配更营养和均衡的饮食！</h3>
                        <p>你偏食吗？只喜欢吃肉不爱吃菜？偏食而带来的营养不良、便秘、皮肤没有光泽等问题都可以通过更好的饮食习惯来改变！来到维果清健康工作坊，健康顾问们瞬间变身为你的“私人营养师”，一对一为你制定饮食方案，搭配出最适合你的喝汁儿计划！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_03.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>学习如何用蔬果汁获得更理想的体型、更健康的体质。</h3>
                        <p>学习用纯天然高质量蔬果营养，来改善不理想的体型、高血压血糖、体力透支等问题。通过你的日常饮食习惯，身体状况和目标，维果清健康顾问们将为你量身打造清体疗程，大师清体法？五二轻断食？三天全断食？总有最适合你的套餐！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_04.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>精神不振没有活力？蔬果汁帮你“打气”！</h3>
                        <p>PM2.5、不健康食品、工作压力……长期在这样的环境中的你，难免精神不振。来到维果清健康工作坊，学习知识的同时，用不同颜色的蔬果汁来一次“自然的洗礼”，为健康加满油！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_05.jpg" alt="" height="180" width="242">
                    <div class="caption text-center">
                        <h3>&nbsp;</h3>
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_05_vcleanse.jpg" alt="" height="160" width="160">
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/lifestyle_06.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>分享你遇到的困难，我们竭力帮助你攻克它。</h3>
                        <p>在维果清健康工作坊，你轻易就能找到与你志同道合的朋友！你可以分享你的困难，让我们帮助你一起攻克它！也可以分享你的成功经验，为小伙伴们加油打气！</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {维果清实体店 - 健康Llifestyle工作坊}
@section meta_keywrods {健康,Llifestyle,工作坊,试喝,美味,冷压蔬果汁,坚果奶,汤,特饮}
@section meta_description {清体蔬果汁是什么味道？什么是冷榨液压技术？我如何使用清体果汁来改善体质和体型？清体蔬果汁还有什么其他神奇之处？如果你有这些疑问，就让维果清健康顾问带你进入五彩缤纷的清体蔬果汁世界吧！}
@section blurb {
    _.BLURB = {
    };
}
