﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
@section header{
    @using VCleanse.Shop.Host.Context;
    @if (VcleanseContext.Current.ClientCacheKey == "snapshot")
    {
        <link rel="stylesheet/less" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/workshop.less" />
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="@VcleanseContext.Current.CacheServer/styles/@VcleanseContext.Current.ClientCacheKey/event/workshop.min.css" />
    }
}
<div class="inner workshop">
    <h1 class="text-center">带你进入清体蔬果汁的世界</h1>
    <p class="workshop-padding workshop-subtitle text-center">
        清体蔬果汁是什么味道？什么是冷榨液压技术？我如何使用清体果汁来改善体质和体型？清体蔬果汁还有什么其他神奇之处？<br>
        如果你有这些疑问，就让维果清健康顾问带你进入五彩缤纷的清体蔬果汁世界吧！
    </p>
    <div class="workshop-padding workshop-tab text-center row">
        <div class="col-md-5 col-xs-12">
            <a data-weave="widget/href/main" href="/workshop" class="btn btn-lg btn-default btn-brand">
                维果清健康餐厅<br>
                Lifestyle健康餐厅
            </a>
        </div>
        <div class="workshop-tab-or col-md-2 col-xs-12">
            OR
        </div>
        <div class="col-md-5 col-xs-12">
            <a data-weave="widget/href/main" class="btn btn-lg btn-default btn-brand btn-workshop-active">
                健康送上门<br>
                把你的办公室变成健康课堂
            </a>
        </div>
    </div>
    <div id="workshop-office-banner" class="workshop-lifestyle-banner carousel slide" data-ride="carousel" data-weave="widget/carousel/main">
        <ol class="carousel-indicators">
            <li data-target="#workshop-office-banner" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_banner_01.jpg" alt="" height="415" width="992">
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
    <!--
    <div class="workshop-padding workshop-action workshop-office-action text-center">
        <h2>最健康的员工福利！集齐8个人，就能召唤维果清！</h2>
        <p>无论是办公室派对还是家庭聚会，只要参与者在8人以上并且由足够的场地，就能召唤维果清前往举办健康餐厅哦！</p>
        <a href="http://campaign.vcleanse.com/join/" class="btn btn-lg btn-default btn-brand btn-workshop-action">点击报名</a>
    </div>
    -->
    <div class="workshop-padding workshop-intro">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_01.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>在你的公司举办一场最特别的健康盛宴吧！</h3>
                        <p>用一小时的时间，给辛勤的员工们一个关心自身健康的机会！暂时从繁忙的工作中抽离，聆听身体对健康和高营养食物的真实诉求，用新鲜的冷压蔬果汁“重启”大脑，让身体和思维回到绝佳的状态。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_02.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>把办公室变成有蔬果芬芳的健康课堂。</h3>
                        <p>30多种新鲜无添加蔬果汁供你品尝！学习如何用蔬果营养缓解各种因久坐办公室而产生的“白领病”！去发现最适合你的那款果汁吧！</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="thumbnail">
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_03.jpg" alt="" height="180" width="242">
                    <div class="caption">
                        <h3>为每个人制定自己的专属健康方案。</h3>
                        <p>维果清健康顾问们将变身“私人营养师”，一对一制定饮食方案，通过你的日常饮食习惯，身体状况和目标，量身打造清体疗程，让你摆脱亚健康的困扰，达到理想的身材目标。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="workshop-padding workshop-brand">
        <h3 class="text-center">维果清健康生活工作坊已进入到以下公司：</h3>
        <div class="row">
            <div class="col-md-2 col-xs-6 col-md-offset-1">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_lamer.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_biotherm.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_bauer.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_who.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_gm.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6 col-md-offset-1">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_lvmh.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_joneslang.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_bain.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_shcentre.jpg" alt="" width="100%">
            </div>
            <div class="col-md-2 col-xs-6">
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/workshop/office_brand_bcg.jpg" alt="" width="100%">
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {健康送上门 - 把你的办公室变成健康课堂}
@section meta_keywrods {健康,Llifestyle,工作坊,试喝,美味,冷压蔬果汁,坚果奶,汤,特饮}
@section meta_description {清体蔬果汁是什么味道？什么是冷榨液压技术？我如何使用清体果汁来改善体质和体型？清体蔬果汁还有什么其他神奇之处？如果你有这些疑问，就让维果清健康顾问带你进入五彩缤纷的清体蔬果汁世界吧！}
@section blurb {
    _.BLURB = {
    };
}
