﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="detail-view cf">
        <div class="detail-side">
            <div class="detail-product-image">
                <img data-weave="widget/basic/imageswitch" alt="" src="/images/blank.png" data-src="images/juice/108x430/blacklemonade.png" width="108" height="430">
            </div>
        </div>
        <div class="detail-main">
            <div class="detail-hd">
                <h1 data-weave="widget/blurb/main(p1710)">炭黑柠檬水</h1>
                <p></p>
            </div>
            <div class="detail-bd cf" data-action="detailcontainer">
                <div id="product-detail" class="detail-core">
                    <div class="detail-ingredients">
                        <h3 data-weave="widget/blurb/main(p1619)">配料：</h3>
                        <p data-weave="widget/blurb/main(p1711)">脐橙、柠檬、荔枝、柠檬草、活性炭。</p>
                    </div>

                    <div class="detail-description">
                        <h3 data-weave="widget/blurb/main(p1620)">介绍：</h3>
                        <p data-weave="widget/blurb/main(p1712)">活性炭在传统上被用于治疗中毒，减少胃胀气，调节胆固醇甚至能够帮助缓解宿醉。结合了饱含类黄酮和抗氧化成分的柑橘、荔枝、柠檬，这款独特的柠檬水将净化你的肌肤，让你体验一把“返老还童”的奇妙感受。Black Lemonade炭黑柠檬水。</p>
                    </div>
                    <div class="detail-nutrition">
                        <h3 data-weave="widget/blurb/main(p1621)">营养成分：</h3>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="3">
                                    <p><strong>营养成分表 Nutrition Facts</strong></p>
                                    <p>每份含310mL，本瓶含1份</p>
                                    <p>Serving Size 310mL, Serving Per Container 1</p>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>项目</td>
                                <td>每份</td>
                                <td>营养素参考值%</td>
                            </tr>
                            <tr>
                                <td>Item</td>
                                <td>Per Serving</td>
                                <td>Daily Value</td>
                            </tr>
                            <tr>
                                <td><strong>热量 Calories</strong></td>
                                <td>105Kcal</td>
                                <td>5%</td>
                            </tr>
                            <tr>
                                <td> -来自于脂肪的热量 Calories from fat</td>
                                <td>0Kcal</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>蛋白质 Protein</strong></td>
                                <td>1.6g</td>
                                <td>3%</td>
                            </tr>
                            <tr>
                                <td><strong>脂肪 Total Fat</strong></td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td> -饱和脂肪 Saturated Fat</td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td> -反式脂肪 Trans Fat</td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>胆固醇 Cholesterol</strong></td>
                                <td>0mg</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>总碳水化合物 Total Carb</strong></td>
                                <td>25.6g</td>
                                <td>9%</td>
                            </tr>
                            <tr>
                                <td> -糖 Sugars</td>
                                <td>17.1g</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>钠 Sodium</td>
                                <td>0mg</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td>钙 Calcium</td>
                                <td>33mg</td>
                                <td>4%</td>
                            </tr>
                            <tr>
                                <td>铁 Iron</td>
                                <td>1.8mg</td>
                                <td>12%</td>
                            </tr>
                            <tr>
                                <td>膳食纤维 Dietary Fiber</td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td>维生素A Vitamin A</td>
                                <td>0μgRE</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td>维生素C Vitamin C</td>
                                <td>102mg</td>
                                <td>100%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="detail-action-ordernow">
                <a class="btn btn-lg btn-default" href="/cleanse" data-hash="category/0" data-weave="widget/href/main widget/blurb/main(1220)">
                    SHOPPING NOW
                </a>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {炭黑柠檬水}
@section meta_keywrods {脐橙,柠檬,荔枝,柠檬草,活性炭}
@section meta_description {活性炭在传统上被用于治疗中毒，减少胃胀气，调节胆固醇甚至能够帮助缓解宿醉。结合了饱含类黄酮和抗氧化成分的柑橘、荔枝、柠檬，这款独特的柠檬水将净化你的肌肤，让你体验一把“返老还童”的奇妙感受。Black Lemonade炭黑柠檬水。}
@section blurb {
    _.BLURB = {
        "p1320": {
            "cn": "经典绿",
            "en": "Classic Green"
        },
        "p1321": {
            "cn": "醇厚绿",
            "en": "Dark Green"
        },
        "p1322": {
            "cn": "芳香绿",
            "en": "Easy Green"
        },
        "p1323": {
            "cn": "加强绿",
            "en": "Intense Green"
        },
        "p1324": {
            "cn": "芳香红",
            "en": "Fragrant Red"
        },
        "p1325": {
            "cn": "醇厚黄",
            "en": "Dark Yellow"
        },
        "p1326": {
            "cn": "大师清体柠檬水",
            "en": "Spicy Lemonade"
        },
        "p1327": {
            "cn": "经典白",
            "en": "Classic White"
        },
        "p1328": {
            "cn": "芳香椰子水",
            "en": "Fragrant Clear"
        },
        "p1329": {
            "cn": "醇厚白",
            "en": "Dark White"
        },
        "p1330": {
            "cn": "奇亚绿",
            "en": "The Chia Green"
        },
        "p1331": {
            "cn": "生姜红萝卜汤",
            "en": "Ginger carrot soup"
        },
        "p1332": {
            "cn": "青豆蔬菜汤",
            "en": "\"Split - pea\" soup"
        },
        "p1333": {
            "cn": "蘑菇“奶油”汤",
            "en": "Creamy \"creamless\" mushroom soup"
        },
        "p1335": {
            "cn": "热梨生姜特饮",
            "en": "Hot pear and ginger infusion"
        },
        "p1336": {
            "cn": "甜菜根汤",
            "en": "Red beet soup"
        },
        "p1337": {
            "cn": "抹茶奶",
            "en": "Matcha Milk"
        },
        "p1338": {
            "cn": "蔓越莓奶",
            "en": "Cranberry Milk"
        },
        "p1339": {
            "cn": "经典黑",
            "en": "Classic Black"
        },
        "p1619": {

            "en": "INGREDIENTS:",
            "cn": "配料："
        },
        "p1620": {
            "en": "DESCRIPTION:",
            "cn": "介绍："
        },
        "p1621": {
            "en": "NUTRITION:",
            "cn": "营养成分："
        },
        "p1710": {
            "en": "Black Lemonade",
            "cn": "炭黑柠檬水"
        },
        "p1711": {
            "en": "Orange, Lemon, Lychee, Lemongrass, Activated Charcoal.",
            "cn": "脐橙、柠檬、荔枝、柠檬草、活性炭。"
        },
        "p1712": {
            "en": "Refreshingly good for you. Activated charcoal has been traditionally used to treat poisoning, reduce bloating and gas, lower cholesterol and even prevent hangovers. In combination with flavonoids and antioxidants from orange, lychee and lemons, this lemonade serves as a potent skin cleanser and rejuvenator.",
            "cn": "活性炭在传统上被用于治疗中毒，减少胃胀气，调节胆固醇甚至能够帮助缓解宿醉。结合了饱含类黄酮和抗氧化成分的柑橘、荔枝、柠檬，这款独特的柠檬水将净化你的肌肤，让你体验一把“返老还童”的奇妙感受。Black Lemonade炭黑柠檬水"
        }
    };
}
