﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner">
    <div class="page-banner" data-weave="widget/banner/main"></div>
    <div class="detail-view cf">
        <div class="detail-side">
            <div class="detail-product-image">
                <img data-weave="widget/basic/imageswitch" alt="" src="/images/blank.png" data-src="images/juice/108x430/darkyellow.png" width="108" height="430">
            </div>
        </div>
        <div class="detail-main">
            <div class="detail-hd">
                <h1 data-weave="widget/blurb/main(p1680)">百香果特饮</h1>
                <p></p>
            </div>
            <div class="detail-bd cf" data-action="detailcontainer">
                <div id="product-detail" class="detail-core">
                    <div class="detail-ingredients">
                        <h3 data-weave="widget/blurb/main(p1619)">配料：</h3>
                        <p data-weave="widget/blurb/main(p1681)">草本植物、百香果、多种热带水果。</p>
                    </div>

                    <div class="detail-description">
                        <h3 data-weave="widget/blurb/main(p1620)">介绍：</h3>
                        <p data-weave="widget/blurb/main(p1682)">清洌宜人、甘甜爽口的夏日特饮，混合着香草独特的芬芳，让热带的风情溢满你的味蕾。富含铁、维生素C、多种抗氧化剂以及菠萝蛋白酶的百香果不仅能让你品尝到来自热带的神秘芳香，更有助于提振您的消化。</p>
                    </div>
                    <div class="detail-nutrition">
                        <h3 data-weave="widget/blurb/main(p1621)">营养成分：</h3>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="3">
                                    <p><strong>营养成分表 Nutrition Facts</strong></p>
                                    <p>每份含310mL，本瓶含1份</p>
                                    <p>Serving Size 310mL, Serving Per Container 1</p>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>项目</td>
                                <td>每份</td>
                                <td>营养素参考值%</td>
                            </tr>
                            <tr>
                                <td><strong>热量 Calories</strong></td>
                                <td>105Kcal</td>
                                <td>5%</td>
                            </tr>
                            <tr>
                                <td> -来自于脂肪的热量 Calories from fat</td>
                                <td>0Kcal</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>蛋白质 Protein</strong></td>
                                <td>2.1g</td>
                                <td>4%</td>
                            </tr>
                            <tr>
                                <td><strong>脂肪 Total Fat</strong></td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td> -饱和脂肪 Saturated Fat</td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td> -反式脂肪 Trans Fat</td>
                                <td>0g</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>胆固醇 Cholesterol</strong></td>
                                <td>0mg</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td><strong>总碳水化合物 Total Carb</strong></td>
                                <td>25.7g</td>
                                <td>9%</td>
                            </tr>
                            <tr>
                                <td> -糖 Sugars</td>
                                <td>11.2g</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>钠 Sodium</td>
                                <td>30mg</td>
                                <td>2%</td>
                            </tr>
                            <tr>
                                <td>钙 Calcium</td>
                                <td>28.6mg</td>
                                <td>4%</td>
                            </tr>
                            <tr>
                                <td>铁 Iron</td>
                                <td>2.6mg</td>
                                <td>17%</td>
                            </tr>
                            <tr>
                                <td>膳食纤维 Dietary Fiber</td>
                                <td>8.7g</td>
                                <td>35%</td>
                            </tr>
                            <tr>
                                <td>维生素A Vitamin A</td>
                                <td>51μgRE</td>
                                <td>6%</td>
                            </tr>
                            <tr>
                                <td>维生素C Vitamin C</td>
                                <td>30mg</td>
                                <td>30%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="detail-action-ordernow">
                <a class="btn btn-lg btn-default" href="/cleanse" data-hash="category/0" data-weave="widget/href/main widget/blurb/main(1220)">
                    SHOPPING NOW
                </a>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {百香果特饮}
@section meta_keywrods {草本植物,百香果,热带水果}
@section meta_description {清洌宜人、甘甜爽口的夏日特饮，混合着香草独特的芬芳，让热带的风情溢满你的味蕾。富含铁、维生素C、多种抗氧化剂以及菠萝蛋白酶的百香果不仅能让你品尝到来自热带的神秘芳香，更有助于提振您的消化。}
@section blurb {
    _.BLURB = {
        "p1320": {
            "cn": "经典绿",
            "en": "Classic Green"
        },
        "p1321": {
            "cn": "醇厚绿",
            "en": "Dark Green"
        },
        "p1322": {
            "cn": "芳香绿",
            "en": "Easy Green"
        },
        "p1323": {
            "cn": "加强绿",
            "en": "Intense Green"
        },
        "p1324": {
            "cn": "芳香红",
            "en": "Fragrant Red"
        },
        "p1325": {
            "cn": "醇厚黄",
            "en": "Dark Yellow"
        },
        "p1326": {
            "cn": "大师清体柠檬水",
            "en": "Spicy Lemonade"
        },
        "p1327": {
            "cn": "经典白",
            "en": "Classic White"
        },
        "p1328": {
            "cn": "芳香椰子水",
            "en": "Fragrant Clear"
        },
        "p1329": {
            "cn": "醇厚白",
            "en": "Dark White"
        },
        "p1330": {
            "cn": "奇亚绿",
            "en": "The Chia Green"
        },
        "p1331": {
            "cn": "生姜红萝卜汤",
            "en": "Ginger carrot soup"
        },
        "p1332": {
            "cn": "青豆蔬菜汤",
            "en": "\"Split - pea\" soup"
        },
        "p1333": {
            "cn": "蘑菇“奶油”汤",
            "en": "Creamy \"creamless\" mushroom soup"
        },
        "p1335": {
            "cn": "热梨生姜特饮",
            "en": "Hot pear and ginger infusion"
        },
        "p1336": {
            "cn": "甜菜根汤",
            "en": "Red beet soup"
        },
        "p1337": {
            "cn": "抹茶奶",
            "en": "Matcha Milk"
        },
        "p1338": {
            "cn": "蔓越莓奶",
            "en": "Cranberry Milk"
        },
        "p1339": {
            "cn": "经典黑",
            "en": "Classic Black"
        },
        "p1619": {

            "en": "INGREDIENTS:",
            "cn": "配料："
        },
        "p1620": {
            "en": "DESCRIPTION:",
            "cn": "介绍："
        },
        "p1621": {
            "en": "NUTRITION:",
            "cn": "营养成分："
        },
        "p1622": {
            "en": "GREEN GODDESS SOUP",
            "cn": "翠绿女神汤"
        },
        "p1623": {
            "en": "Broccoli, celery, spinach, onion, sea salt, pepper.",
            "cn": "西兰花、芹菜、菠菜、洋葱、海盐、胡椒。"
        },
        "p1624": {
            "en": "Creamy yet dairy-free-and packed with antioxidants. Broccoli is an excellent source of vitamins C, E and B6, and is rich in calcium and fiber. Celery is packed with phenolic phytonutrients that have antioxidant and anti-inflammatory properties. Full of fiber, this soup aids digestion and can help lower blood cholesterol.",
            "cn": "这款色泽清新的汤不含奶而口感依然浓郁，饱含抗氧化物质。西兰花是绝佳的维生素C、E和B6的来源，富含钙、膳食纤维与抗癌能手胡萝卜素。芹菜则富含抗氧化和消炎特性的酚类植物营养素。该汤品中丰富的膳食纤维能帮助调节血液中的胆固醇，促进消化。乐活男神女神们的首选。"
        },
        "p1625": {
            "en": "CHAI LATTE",
            "cn": "印度风味坚果奶"
        },
        "p1626": {
            "en": "Raw cashews, cardamom, cinnamon, vanilla, clove.",
            "cn": "生腰果、小豆蔻、肉桂、香草、丁香。"
        },
        "p1627": {
            "en": "Dessert in a bottle. Indian Chai inspired blend of protein and Vitamin B complex packed cashew milk with aromatic spices. These spices are considered to be calming, revitalizing and mentally-clarifying. Plus, they’re said to aid digestion and increase blood circulation. What’s not to love?",
            "cn": "这瓶装着满满抗氧化物质的坚果奶是餐后甜点的不二选择！融合多种印度香料与富含植物蛋白、维生素B群和抗氧化物质的生腰果，佐以镇定安神、助消化、促血液循环的香料。这款充满异域风味的坚果奶是如此健康而治愈。"
        },
        "p1629": {
            "en": "Spinach, cucumber, apple, chia.",
            "cn": "菠菜、黄瓜、苹果、芡欧鼠尾草。"
        },
        "p1630": {
            "en": "The Chia Green combines iron-rich spinach with hydrating cucumber and protein-packed chia seeds. Rich in immune-boosting chlorophyll, flavonoids, lutein and many other antioxidants. Chia seeds are powerful sources of protein and omega-3 fatty acids. The soluble fiber and gel coating of chia seeds hydrate the colon to ensure the easy movement of food.",
            "cn": "富含铁离子的菠菜、具有保湿作用的黄瓜以及蛋白质丰富的芡欧鼠尾草籽，奇亚绿替你充足能量与免疫力。此外，它所富含的ω-3脂肪酸和可溶性膳食纤维凝胶，让你由内而外从身到脑都焕然一新。"
        },
        "p1632": {
            "en": "Almonds and black sesame.",
            "cn": "杏仁、黑芝麻。"
        },
        "p1633": {
            "en": "This filling, slightly rough blend of black sesame and almonds is packed with high quality protein minerals and energy, and bursting with flavours. Almonds boast a high content of monosaturated fats such as oleic acid, which help to regulate cholesterol levels and may be helpful in reducing the risk of heart disease. Phosphorus and calcium in almonds play an important role in maintaining bone health. Black sesame contains essential minerals and vitamins that may contribute to cardiovascular health, reduce inflammation, support respiratory health, and protect against colon cancer and osteoporosis.",
            "cn": "黑芝麻与杏仁的细腻融合，为你呈现丝绸般的幼滑柔软。蛋白质、维他命、Ω-3脂肪酸、纤维…带来一整天的充实营养。丰富的植物油脂，呵护你的心脏，提亮你的发丝，安抚你的肠胃，是你最值得信赖的依靠。"
        },
        "p1635": {
            "en": "Nine different types of vegetables and fruits, including spinach, romaine, cucumber, celery, apples, lemons and a touch of ginger.",
            "cn": "菠菜、莴苣叶、黄瓜、芹菜、苹果和少许生姜等九种不同的蔬菜和水果。"
        },
        "p1636": {
            "en": "Our Classic Green provides a powerfully detoxing combination of anti-oxidants, chlorophyll, green leaves rich with folic acid and iron, and liver- and nerves-calming celery. Potassium contained in both celery and green leaves may be helpful in the body's fight against high blood pressure, kidney stones, and even cellulite. Ginger provides an extra kick and also anti-inflammatory and immunity-boosting properties.",
            "cn": "九种不同绿叶菜带来极丰富的抗氧化剂、绿叶素、叶酸和铁，舒缓神经系统，促进肝脏代谢，预防高血压和脂肪堆积，全面提升免疫能力。生姜带来而外的抗炎作用，也带来温辛口感。"
        },
        "p1638": {
            "en": "Raw cashews and cinnamon.",
            "cn": "生腰果、肉桂粉。"
        },
        "p1639": {
            "en": "Classic White is a smooth and creamy blend of pure energy and protein. Cashews are packed with vitamins like copper, manganese and B vitamin complex essential for body's metabolic activity and properly functioning nervous system. Two carotenoids found in cashews, lutein and zeaxanthin, help maintain healthy eyes and can prevent cataracts. Cinnamon is a potent digestive tonic, reduces gas, prevents colds and may be helpful in reducing PMS symptoms.",
            "cn": "生腰果和肉桂为你带来经久不衰的经典白。直接饮用、加入咖啡、温成暖汤，在每个场合都不会让你失望。丰富的B族维他命群和多种矿物质提供每日必需基础营养，尤其呵护你的双眼与肠胃。"
        },
        "p1641": {
            "en": "Almonds、Cranberries、Raspberries.",
            "cn": "杏仁、蔓越莓、覆盆子。"
        },
        "p1642": {
            "en": "Go Pink naturally with our delicious cranberry raspberry almond milk.  Almonds provide essential vitamins for energy and bone health as well as a hefty dose of protein.  The berries are the stars of this nutmilk though.  Cranberries and raspberries have strong anti-oxidant properties.  Cranberries are anti-inflammatory, and have long been linked with women's health, including their ability to protect from urinary tract infections.  Raspberries are thought to improve fertility in both men and women by boosting Vitamin C and magnesium levels.",
            "cn": "把这粉嫩的桃花色从瓶子里喝到脸颊上吧 - 美味可口的杏仁带来丰富的维生素E、维生素D、B族维生素和钙，而蔓越莓和树莓更在这基础滋养上加上强力的抗氧化及抗炎功效。更不用说这对浆果中的维他命C和镁啦，这可是快速提升桃花色的不二法宝哦。"
        },
        "p1644": {
            "en": "Dark leafy greens from spinach to its more exotic cousins, with apples and a citrus twist.",
            "cn": "菠菜等深色绿叶菜家族、苹果、柑橘。"
        },
        "p1645": {
            "en": "This is one of our most nutrient dense juice blends. Dark leafy greens like spinach and romaine are super rich in chlorophyll, antioxidants, potassium and iron; apples add natural sweetness and powerful liver cleansing properties. The warming properties of ginger aid digestion and metabolism.",
            "cn": "这是一款巧妙融合多种营养的绿色果汁。深色绿叶蔬菜蕴含多种抗氧化物质，如叶绿素。苹果口感清甜并能帮助肝脏代谢。暖胃生姜则能提高你的新陈代谢和消化能力。"
        },
        "p1647": {
            "en": "Raw cacao, agave and cashews.",
            "cn": "生腰果、龙舌兰、生可可粉、水。"
        },
        "p1648": {
            "en": "Dark White is another smooth and creamy blend of pure energy and protein. Cashews provide vitamins and nutrients that are essential for the body's metabolic activity, a properly functioning nervous system, and can help maintain healthy eyes. Raw cacao is a potent antioxidant.",
            "cn": "浓醇的巧克力也可以喝起来毫无负疚感 – 用醇厚白奖励一下自己吧。生机可可粉和生腰果为你带来抗氧化剂、维他命及各种矿物质，让你心花怒放的同时，也滋养着你的心脏。"
        },
        "p1650": {
            "en": "Apples, lemon, ginger, and cayenne pepper for a spicy kick.",
            "cn": "苹果、柠檬、姜、南美胡椒。"
        },
        "p1651": {
            "en": "Refreshing and mucus cleansing lemons are high in vitamin C. Ginger supports digestion, lowers inflammation, improves circulation and boosts metabolism. Apples add a dose of polyphenols that can regulate blood sugar levels and may be beneficial for cardiovascular health.",
            "cn": "口感清爽提神的特制柠檬汁，蕴含大量维生素C，能提高消化能力、减轻炎症和加速新陈代谢。 苹果所含的多元酚则能平衡血糖水平，促进心血管健康。些许的南美胡椒则让它别具风味。特别适合在感觉抵抗力低下或者病毒来袭时饮用。"
        },
        "p1653": {
            "en": "Cucumber, mint, pineapple, and a touch of leafy greens.",
            "cn": "黄瓜、薄荷、菠萝、菠菜。"
        },
        "p1654": {
            "en": "This light and sweet juice is packed with the digestion promoting enzyme bromelain, which may also reduce inflammation and alleviate sinusitis. Cucumber is the hero of this bottle, providing hydration as well as high levels of sterols (may be helpful in lowering cholesterol), potassium and magnesium (helpful in regulating blood pressure), silica and sulphur (promoting joint, hair and skin health).",
            "cn": "芳香绿温柔而清新，是绿色果汁中最甜美宜人的一款。黄瓜、菠萝和薄荷在提供充足人体必需的水分的同时，也帮助调节血压，促进消化吸收，调节胆固醇，让你从舌头到胃都倍感轻松。"
        },
        "p1656": {
            "en": "Fresh and pure coconut water, poured right from imported Thai coconut.",
            "cn": "100%纯净椰子汁。"
        },
        "p1657": {
            "en": "It's not known as \"Nature's Gatorade\" for nothing. Pure coconut water is the most refreshing pick-me-up drink on the planet. Coconut water is a natural way to hydrate, replenish electrolytes, reduce sodium and add more potassium to your diet. Coconut water can also be applied topically to hydrate your skin and treat rashes.",
            "cn": "萨瓦迪卡！没什么比这清新幽香的滋味儿更能安抚你运动后饥渴的身体与心灵了 – 随泰国海风而来的百分百纯天然低糖，却又饱含了让你身心滋养的电解质与矿物元素钾，甜蜜又贴心，怎能不爱上。"
        },
        "p1659": {
            "en": "Beetroot, carrots, cucumber，apple, seasonal fruits and herbs.",
            "cn": "甜菜根、胡萝卜、黄瓜、苹果、当季热带水果、草本植物。"
        },
        "p1660": {
            "en": "With fruity overtones, Fragrant Red combines the powerful detoxifying properties of beets with the antiviral, anti-inflammatory and antibacterial properties of pineapple, and the diuretic, hydrating and skin healing properties of cucumber.",
            "cn": "根茎类植物的厚重之中加入了热带水果的活泼与芬芳，芳香红结合了甜菜根的解毒功效和菠萝、黄瓜的补水消炎，提升体质的同时润泽皮肤，由内而外都能得到滋养。"
        },
        "p1661": {
            "en": "Carrots, ginger, citrus.",
            "cn": "胡萝卜、生姜、柑橘。"
        },
        "p1658": {
            "en": "This soup bursts with bright and warm flavors. Ginger stimulates digestion and anti-inflammatory responses. Zesty citrus adds vitamin C, and carrots add falcarinol, a compound currently being researched for its cancer-preventing properties.",
            "cn": "口感鲜明，暖胃暖心。冬日暖姜不但有助清体并促进消化，更可提高免疫功能。柑橘则提供维生素C的丰富来源，胡萝卜中的镰叶芹醇也被广泛用于预防癌症的试验中。"
        },
        "p1662": {
            "en": "HIBISCUS INFUSION",
            "cn": "洛神美颜特饮"
        },
        "p1663": {
            "en": "Hibiscus, osmanthus, agave, jujube.",
            "cn": "洛神花、桂花、龙舌兰、红枣。"
        },
        "p1664": {
            "en": "Great thirst quencher and winter immunity booster. Tart hibiscus perfectly compliments the natural sweetness of jujube and floral tones of Osmanthus. Studies have shown that hibiscus may lower blood pressure and cholesterol. In TCM, it is used to treat coughs and is also good for women's health.",
            "cn": "被誉为“植物红宝石”的洛神花对女性的保健效果极佳 ，研究证实可有效调节血压和胆固醇，并可适度防辐射与抗氧化。与红枣的天然甘甜滋补及桂花的芳香养颜结合，既止渴滋润，又美颜保健。这是美眉们冬季增加免疫力的纯天然助推器。"
        },
        "p1666": {
            "en": "Vegetables, vegetables, vegetables! Celery, cucumber, sprouts, romaine, and more! With a hint of mint and cayenne pepper.",
            "cn": "芹菜、黄瓜、芽菜、莴苣叶等大量蔬菜。添加少许薄荷和辣椒粉。"
        },
        "p1667": {
            "en": "Like all our greens, Intense Green is a delicious dose of anti-oxidants and chlorophyll. It also blends together the special high-blood pressure lowering properties of celery and the metabolism-boosting and mucus-breaking properties of cayenne pepper. Mint improves digestion and is a natural decongestant.",
            "cn": "经典绿遇上醇厚绿，更多蔬菜，更多重功效。新加入的薄荷不但清新可人，更能疏肝解郁，提升消化能力，而辣椒粉除了带来咸香口感外也会加速血液循环，促进新陈代谢。"
        },
        "p1668": {
            "en": "LUO HAN GUO INFUSION",
            "cn": "维老吉"
        },
        "p1669": {
            "en": "Luo Han fruit, longan, licorice root, jujube, pear and herbs.",
            "cn": "罗汉果、龙眼、甘草、红枣、梨、其它草本。"
        },
        "p1670": {
            "en": "Besides being a great sweetener for diabetics, Luo Han fruit is said to enhance longevity. Licorice root is used for various digestive complaints, including heartburn, colic and ulcers. Longan is used as a remedy for fatigue and insomnia. This herbal blend has a calming and nourishing effect on the nervous system and is a wonderful remedy for cough and cold.",
            "cn": "灵感来源于凉茶但却可加热饮用，这是我们向中医传统致敬的一款特饮。罗汉果被誉为“神仙果”，富含维生素C、果糖以及十多种人体必需的氨基酸、蛋白质，具有生津止咳、清肺润肠之功效。调节免疫功能的甘草、补心健脾胃的龙眼，加上补血养颜的红枣，这款润心肺养气血的特饮何尝不是雾霾季必不可少的抗霾神器？"
        },
        "p1672": {
            "en": "Cashews, matcha, jasmine.",
            "cn": "腰果、抹茶、茉莉花。"
        },
        "p1673": {
            "en": "Cashews provide nutrients essential for the body's metabolic activity, a properly functioning nervous system, and healthy eyes. Matcha green tea is rich in antioxidants and has metabolism-boosting properties. Matcha is also rich in L-Theanine, a rare amino acid thought to promote a state of relaxed alertness.",
            "cn": "温婉的抹茶奶，把丰富的能量、蛋白质、矿物质、维他命用最美味的方式传递给你。特别是当你感到疲劳时，请让它静静递上丰富的抗氧化物及L-茶氨酸吧，会明显促进脑中枢多巴胺释放，助你放松心情。"
        },
        "p1675": {
            "en": "Mushrooms, chestnuts, herbs.",
            "cn": "蘑菇，栗子，草本。"
        },
        "p1676": {
            "en": "Mushrooms contain the compound lentinan, studied for its immune-boosting properties. Chestnuts are high in folates and vitamin C, also powerful immune-boosters. Creamy and also wards off colds? Magic!",
            "cn": "丰腴鲜美的蘑菇浓汤，加入了栗子与草木的清香，满足你的味蕾，也为你带来香菇多糖、丰富的叶酸与维他命C，悄悄大力调节你的免疫系统，提高病毒抵御力。"
        },
        "p1677": {
            "en": "PASSIONATE YELLOW",
            "cn": "挚爱黄"
        },
        "p1678": {
            "en": "Carrot, Jicama, Orange, Passion fruit, Lemon.",
            "cn": "胡萝卜、凉薯、百香果、柑橘、柠檬。"
        },
        "p1679": {
            "en": "This juice bursts with bright and warm tones which can awake every cells of your body! Jicama, rich in potassium, copper and iron, helps manage blood pressure and is good for circulation. Carrots add falcarinol with its cancer-preventing properties. Passion fruits add Vitamin C, and anti-oxidants.",
            "cn": "这款融合了根茎类植物的醇厚口感和热带水果的酸甜，口味甘醇清新，你身体的每个细胞都苏醒过来！凉薯富含钾、铜、铁等元素，维护心血管系统健康。醇甜的胡萝卜，富含抗癌成分镰叶芹醇。百香果在带来酸甜口感的同时，富含维生素和抗氧化物质，为你的美丽加分。"
        },
        "p1680": {
            "en": "PASSIONFRUIT INFUSION",
            "cn": "百香果特饮"
        },
        "p1681": {
            "en": "Herbal infusion, passionfruit, other tropical fruits.",
            "cn": "草本植物、百香果、多种热带水果。"
        },
        "p1682": {
            "en": "Inspired by the tropics, this delicious infusion is light and herby with a tangy sweetness. Passionfruit, one of the most mysterious and fragrant of fruits, is also a powerhouse rich in iron, Vitamin C, and anti-oxidants. Packed with bromelain, this infusion also promotes digestion.",
            "cn": "清洌宜人、甘甜爽口的夏日特饮，混合着香草独特的芬芳，让热带的风情溢满你的味蕾。富含铁、维生素C、多种抗氧化剂以及菠萝蛋白酶的百香果不仅能让你品尝到来自热带的神秘芳香，更有助于提振您的消化。"
        },
        "p1684": {
            "en": "Pear, ginger, cinnamon and other spices.",
            "cn": "生梨，生姜，肉桂和其它调料。"
        },
        "p1685": {
            "en": "Concoction of pear, ginger, cinnamon and other spices. Pear is rich in vitamin C and potassium, which supports healthy heart and muscle function. Cinnamon supports blood-sugar regulation and reduces insulin resistance.",
            "cn": "香甜却又带有一丝辛辣的梨制特饮。生梨含有钾、维生素C和矿物质，有助心脏和肌肉功能。肉桂能帮助调节血糖，增加胰岛素敏感性。"
        },
        "p1686": {
            "en": "PERSIMMON INFUSION",
            "cn": "柿子养生特饮"
        },
        "p1687": {
            "en": "Persimmons, jujube.",
            "cn": "柿子、红枣。"
        },
        "p1688": {
            "en": "Persimmon, also called the Food of the Gods, is a reserve of vitamins C and A, and anti-inflammatory phytochemicals. Jujube help with nourishing blood, tonify qi, and therefore help maintain emotional balance. This infusion will boost your immune system and your mood!",
            "cn": "原产中国的柿子被称为神的食物，传统中医认为其补虚、止咳、利肠， 作为饱含维生素C、维生素A与植物消炎营养素的综合体，它更被西医认为是有益心脏健康的水果王。补气养血甚佳的红枣，更有助于平衡您的情绪。提高免疫功能，保持心情愉悦，这款养生特饮能给您的身心带来双重享受！"
        },
        "p1689": {
            "en": "PURPLE BROTH",
            "cn": "紫甘蓝靓汤"
        },
        "p1690": {
            "en": "Purple cabbage, carrot, tomato, broccoli, celery, onion, sea salt.",
            "cn": "紫甘蓝、胡萝卜、西红柿、西兰花、芹菜、洋葱、海盐。"
        },
        "p1691": {
            "en": "Nourishing and detoxifying purple coloured broth made from 10 different types of veggies. Low in calories, high in antioxidants and minerals. Purple cabbage is the superstar in this soup: a natural source of electrolytes and minerals like calcium, potassium and manganese, purple cabbage can help control heart-rate and blood pressure. Plus, the pigment anthocyanins, that give purple its beautiful colour may also be capable of reducing growth of cancer cells. Get ready to feel bold and beautiful!",
            "cn": "这款紫色靓汤热量低、富含高抗氧化物质以及矿物质，既能滋养清体又能让人恢复活力。领衔主角紫甘蓝，是包括钙、钾、锰等矿物质元素和电解质的天然来源，也是稳定您心率和血压的最佳武器；而紫甘蓝中的花青素则被认为可以减少癌细胞的生长。来展开这场水灵的清润之旅吧！"
        },
        "p1693": {
            "en": "Beets, carrots, cabbage, herbs.",
            "cn": "甜菜根，胡萝卜，包菜，草本植物。"
        },
        "p1694": {
            "en": "Beets are the richest known source of betaine, a compound associated with the cleansing and protection of the liver. Cabbage is a storehouse of antioxidants that may strengthen cardiovascular health. Our blend of herbs contains over 80 plant compounds, many of which have shown therapeutic effects on Type II Diabetes and other diseases.",
            "cn": "改良自东欧的罗宋汤，具有清肝疗效。甜菜根富含甜菜碱，能激发肝细胞活力，保护胆管。并有助红细胞生成并缓解贫血。包菜富含硫氰酸酯、叶黄素、玉米黄质，有助于心血管健康。草本植物中所含的八十多种有效成分也被用于2型糖尿病的治疗。"
        },
        "p1696": {
            "en": "Lemon, agave, and cayenne pepper.",
            "cn": "柠檬、龙舌兰糖浆、南美胡椒。"
        },
        "p1697": {
            "en": "The Intense Yellow is a simple but powerful alkalizing lemonade, rich in vitamin C and with a dash of cayenne pepper to boost metabolism. Cayenne pepper also promotes circulation and sweating, two important aids in the body's overall detoxification processes. Capsaicin found in cayenne pepper has also been studied for its cancer fighting properties.",
            "cn": "这瞬间迸发的热情，如电流般唤醒你的味蕾及觉察力。谁曾想到它的前身会是为治疗胃病而生的“国宝柠檬水”？我们荣幸地为你呈献这近三十年来俘获无数爱意的配方，一起感受南美辣椒所带来的心跳加速手心出汗的刺激吧！"
        },
        "p1698": {
            "en": "GREEN PEA SOUP",
            "cn": "青豆汤"
        },
        "p1699": {
            "en": "Green peas, spinach, and a dash of nutmeg.",
            "cn": "青豆，菠菜，少许肉豆蔻。"
        },
        "p1700": {
            "en": "Chockfull of nutrients. Green peas are low in calories, sky-high in vitamin K and B-vitamins. Spinach is packed with iron, manganese, zinc and powerful antioxidants that support your body through a detox. Nutmeg supports circulation, organ function, and digestion.",
            "cn": "色泽清新甜美的青豆蔬菜汤，为你带来大量的植物营养素、维生素和矿物质。青豆热量低，却富含维生素K和各种B族维生素和矿物质，加上菠菜提供的多种矿物质，大力促进清体。肉豆蔻则使口感美妙，同时也促进血液循环与肾脏代谢。"
        },
        "p1701": {
            "en": "Hot strawberry vanilla infusion",
            "cn": "热草莓香草特饮"
        },
        "p1702": {
            "en": "Strawberries, citrus, vanilla and herbs.",
            "cn": "草莓，柑橘，香草和草本植物。"
        },
        "p1703": {
            "en": "A mellow infusion high in vitamin C and antioxidants. Vanillin, the main compound in vanilla beans, has been researched for cancer-fighting properties. Aromatic herbs provide calming properties traditionally thought to lower bad cholesterol, reduce insomnia and alleviate anxiety.",
            "cn": "口感香甜润滑的一款特饮，富含维生素C可提高免疫力。香草带来芳香口感，其所含的香草醛有抑制癌细胞的作用。其它草本植物的添加也可调节有害胆固醇，舒缓紧张情绪，减轻失眠症状。"
        },
        "p1704": {
            "en": "SWEET POTATO PUMPKIN SOUP",
            "cn": "甘薯南瓜汤"
        },
        "p1705": {
            "en": "Pumpkin, sweet potato, celery, cumin, garlic and natural warming spices.",
            "cn": "南瓜、甘薯、芹菜、小茴香、大蒜及数种暖体天然香料。"
        },
        "p1706": {
            "en": "Slightly spicy winter soup that will keep you warm. Creamy blend of sweet potatoes, pumpkin and warming spices like cumin and cinnamon. Sweet potatoes are rich in calcium, potassium, vitamins A and C and magnesium, a mineral that helps you relax and de-stress. Did we mention cumin and cinnamon are great digestive aids? Enjoy!",
            "cn": "浓厚香醇的甘薯、南瓜佐以莳萝和肉桂的辛香，这份微辣的橙色暖汤定会给您的冬日带来一份暖意。甘薯富含钙、钾、维生素A和C、镁、矿物质，是完美的放松减压小棉袄。甘薯也和南瓜一样富含保护视力的类胡萝卜素。小茴香和肉桂则能帮助消化，更是冬日的助眠利器。"
        },
        "p1707": {
            "en": "V LATTE",
            "cn": "V拿铁"
        },
        "p1708": {
            "en": "Raw cashews, cold brewed organic coffee, agave.",
            "cn": "生腰果，有机咖啡，龙舌兰。"
        },
        "p1709": {
            "en": "Delicious and energy boosting blend of cold-brewed coffee and cashew milk that will satisfy anyone craving the taste of java. Packed with protein and a punch of minerals, this cup of joe also contains phytonutrients needed for properly functioning nervous system.",
            "cn": "此款神奇拿铁口感醇美，它融合了咖啡因含量相对更少的有机冷煮咖啡与醇厚的腰果奶，不会给身体带来过多的负担，富含植物蛋白和矿物质。疲倦且想喝咖啡的时候，给自己来上一杯V拿铁，重启精神与活力！"
        }
    };
}
