<p class="reminder" data-weave="widget/blurb/main(1119)">
    You can cancel your order any time up to 24 hours before your scheduled delivery. If you seleced online payment, please note that you will need to complete payment 24 hours before your start date to confirm your order.
</p>
<div data-weave="widget/orders/list/main"></div>