<%
    var cacheServer = data.cacheServer || "";
    var language = data.language;
    var col = data.col;

    var PIC_PACKAGE_URL = cacheServer + "/images/cleanse/";
    var PIC_TAG_URL = cacheServer + "/images/tags/";
    var PIC_PACKAGE_DEFAULT_URL = cacheServer + "/images/cleanse/default.jpg";
    var cols = 3;
    var colSpan = Math.floor(12 / cols);

    var packages = data.packages;
    var i = 0;
    var iLens = packages.length;
    var row = 0;
    var rows = Math.ceil(iLens / cols);
    for (row = 0; row < rows; row++) {
        for(i = row * cols; i < (row + 1) * cols; i++){
            // Kick out Gift Card
            if(packages[i] && packages[i].Id !== 10){
                appendPackage(packages[i], i+1, (row + 1) * cols);
            }
        }
    }
%>
<!-- package is a keyword? -->
<% function appendPackage(pkg, sequence, lens) { %>
    <div class="col-md-<%=colSpan%> packagecontainer <% if (sequence === lens) { %>last<% } %> <% if (sequence === col) { %>active<% } %>" data-action="packagecontainer" data-package-id="<%=pkg.Id%>">
        <div class="packagemain">
            <h2>
            <%=(pkg.Title || "&nbsp;")%>
                <% if (pkg.Tags && pkg.Tags.length > 0) {
                    var j = 0;
                    var jLens = pkg.Tags.length;
                    for (j = 0; j < jLens; j++) {
                %>
                    <span class="tag">
                        <img src="<%=PIC_TAG_URL + pkg.Tags[j].ImagePath%>" alt="<%=pkg.Tags[j].Name%>" title="<%=pkg.Tags[j].Name%>">
                    </span>
                <%
                        }
                    }
                %>
            </h2>
            <div class="cleanse-img" data-action="showcleansedetail">
                <% if (pkg.ImageName) { %>
                    <img src="<%= PIC_PACKAGE_URL + pkg.ImageName%>" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                <% } else { %>
                    <img src="<%= PIC_PACKAGE_DEFAULT_URL%>" alt="<%=pkg.Title%>" title="<%=pkg.Title%>">
                <% } %>
                <a href="/cleanse/detail" target="blank" data-hash="packageid/<%=pkg.Id%>" data-weave="widget/href/main" class="cleanse-img-cover">
                    <span data-weave="widget/blurb/main(1340)">Details</span>
                </a>
            </div>
            <div class="cleanse-intro">
                <div class="cleanse-intro-des"><%=(pkg.Description || "&nbsp;")%></div>
            </div>
            <br>
            <a class="btn btn-lg btn-default btn-block" data-action="selectpackage" data-weave="widget/blurb/main(1601)">SELECT</a>
        </div>
    </div>
<% } %>
