<%
    var cacheServer = data.cacheServer;
    var serviceDomain = data.serviceDomain;
%>
<h3 data-weave="widget/blurb/main(1020)">Create an account</h3>
<form role="form">
    <div class="form-section">
        <div class="form-group">
            <a href="/enrollment/signin" data-weave="widget/href/main">
                <span data-weave="widget/blurb/main(1081)">I have a VCLEANSE account</span>
            </a>
        </div>
        <div class="form-group">
            <label for="signup-mobile" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <input type="text" class="form-control" id="signup-mobile" name="signup-mobile" autofocus required placeholder="Your Contact Number" data-weave="widget/blurb/main(1137, 'placeholder')">
        </div>
        <div class="form-group imageverificationcode cf">
            <label for="sendsms-image-verificationcode" data-weave="widget/blurb/main(1614)">Verification code:</label>
            <img src="<%=serviceDomain%>/common/image" width="80" height="31" alt="Verification code" data-action="refreshimagesecurity">
            <input type="text" class="form-control" id="sendsms-image-verificationcode" data-action="checkverificationcode" name="sendsms-image-verificationcode" placeholder="Please type the verification code." required data-weave="widget/blurb/main(1344, 'placeholder')">
        </div>
        <button id="verification-code" class="btn btn-default" data-action="sendverificationcode" data-weave="widget/blurb/main(1084)">SEND VERIFICATION CODE</button>
        <span class="sending hid">
            <img src="<%=cacheServer%>/images/waiting.gif" width="32" height="32" alt="">
            <span data-weave="widget/blurb/main(1341)">Sending...</span>
            <span data-action="countdown"></span>
        </span>
    </div>
    <div class="form-section">
        <div class="form-group mobilesecuritycode">
            <label for="signup-verificationcode" data-weave="widget/blurb/main(1617)">Security code:</label>
            <input type="text" class="form-control" id="signup-verificationcode" name="signup-verificationcode" placeholder="Input verification code sent to your mobile phone" required data-weave="widget/blurb/main(1139, 'placeholder')">
        </div>
        <div class="form-group imagesecuritycode hid cf">
            <label for="signup-image-verificationcode" data-weave="widget/blurb/main(1085)">Security code:</label>
            <img src="<%=serviceDomain%>/common/image" width="80" height="31" alt="Security code" data-action="refreshimagesecurity">
            <input type="text" class="form-control" id="signup-image-verificationcode" name="signup-image-verificationcode" placeholder="Please type the verification code." required data-weave="widget/blurb/main(1344, 'placeholder')">
        </div>
        <div class="form-group">
            <label for="signup-password" data-weave="widget/blurb/main(1401)">Choose a password:</label>
            <input type="password" class="form-control" id="signup-password" name="signup-password" placeholder="Password" required data-weave="widget/blurb/main(1130, 'placeholder')">
        </div>
        <div class="form-group">
            <label for="signup-passwordrepeat" data-weave="widget/blurb/main(1078)">Confirm password:</label>
            <input type="password" class="form-control" id="signup-passwordrepeat" name="signup-passwordrepeat" placeholder="Confirm Password" required data-weave="widget/blurb/main(1131, 'placeholder')">
        </div>
        <button type="submit" class="btn btn-lg btn-default btn-block" data-weave="widget/blurb/main(1068)">CREATE ACCOUNT</button>
    </div>

    <input type="hidden" id="blurb-1211" data-weave="widget/blurb/main(1211, 'value')" value="Please type the verification code we send to your mobile phone.">
    <input type="hidden" id="blurb-1212" data-weave="widget/blurb/main(1212, 'value')" value="Please type a password, and then retype it to confirm.">
    <input type="hidden" id="blurb-1213" data-weave="widget/blurb/main(1213, 'value')" value="Please retype password to confirm.">
    <input type="hidden" id="blurb-1214" data-weave="widget/blurb/main(1214, 'value')" value="These passwords don't match.">
    <input type="hidden" id="blurb-1215" data-weave="widget/blurb/main(1215, 'value')" value="Phonenumber is required.">
    <input type="hidden" id="blurb-1216" data-weave="widget/blurb/main(1216, 'value')" value="Verify that you've entered the correct phone number.">
    <input type="hidden" id="blurb-1217" data-weave="widget/blurb/main(1217, 'value')" value="Your phone number is already registered.">
    <input type="hidden" id="blurb-1345" data-weave="widget/blurb/main(1345, 'value')" value="Please type the verification code.">
</form>
