<%
  var carouselHeight = data.carouselHeight || 500;
  var zoomRate = carouselHeight/500;

  var events = data.events;
  var domain = data.domain;
  var cacheServer = data.cacheServer;
  var language = data.language;

  var i = 0;
  var iLens = events.length;

  var j = 0;
  var jLens = events.length;

  var event;
%>
<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <% if (iLens > 1) { %>
  <ol class="carousel-indicators">
    <% for(i=0; i<iLens; i++) { %>
        <li data-target="#home-carousel" data-slide-to="<%=i%>" class="<% if (i===0) { %>active<% } %>"></li>
    <% } %>
  </ol>
  <% } %>
  <div class="carousel-inner">
    <% for(j=0; j<jLens; j++) { 
          event = events[j];
    %>
      <div class="item <% if (j===0) { %>active<% } %>" style="
        background-color: <%=(event.color || '#fff')%>;
        <% if (event.bg) { %>background-image: url(<%=event.bg%>);<% } %>
        background-position: center center; 
        ">
        <% 
          switch (event.type.toLowerCase()) { 
            case "picture": renderPicture();
              break;
            case "map": renderMap();
              break;
            case "edm": renderEdm();
              break;
            case "spring": renderSpring();
              break;
            default: break;
          }
        %>
      </div>
    <% } %>
  </div>
</div>

<% function renderPicture() { %>
  <a <% if (event.url) { %>href="<%=event.url%>"<% } %> data-weave="widget/href/main" <%if(event.blank){%>target="_blank"<%}%>>
    <img class="align-c" src="<%=cacheServer%>/<%=event.src%>" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="<%=event.title%>" title="<%=event.title%>">
  </a>
<% } %>

<% function renderMap() { 
    var k = 0;
    var kLens = event.url.length;
  %>
  <img class="align-c" src="<%=cacheServer%>/<%=event.src%>" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="<%=event.title%>" title="<%=event.title%>" usemap="#<%=event.id%>">
  <map name="<%=event.id%>" id="<%=event.id%>">
    <% for(k=0; k<kLens; k++) { 
      var mapUrl = event.url[k];
    %>
      <area shape="<%=mapUrl.shape%>" coords="<%=parseCoords(mapUrl.coords)%>" <% if (mapUrl.href) { %>href="<%=mapUrl.href%>"<% } %> data-weave="widget/href/main" alt="<%=mapUrl.alt%>" />
    <% } %>
  </map>
<% } %>

<% function renderEdm() { %>
  <a href="<%=domain%>/mail/<%=event.date%>/mail<%=(event.sep_lng ? '_' + language : '')%>.html" <%if(event.blank){%>target="_blank"<%}%>>
    <img class="align-c" src="<%=cacheServer%>/mail/<%=event.date%>/images/banner_h_250_w.jpg" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="<%=event.title%>" title="<%=event.title%>">
  </a>
<% } %>

<% function renderSpring() { %>
  <div class="align-c text-center homeslider-spring" style="height: <%=carouselHeight%>px; width: <%=zoomRate*878%>px;">
    <a <% if (event.url) { %>href="<%=event.url%>"<% } %> data-weave="widget/href/main" <%if(event.blank){%>target="_blank"<%}%>>
      <img src="<%=cacheServer%>/<%=event.src%>" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="<%=event.title%>" title="<%=event.title%>">
    </a>
    <a <% if (event.url) { %>href="<%=event.url%>"<% } %> data-weave="widget/href/main" <%if(event.blank){%>target="_blank"<%}%> class="homeslider-spring-absbox" style="left: 0; height: <%=carouselHeight%>px; width: <%=zoomRate*435%>px;">
      <img class="slide out homeslider-spring-absbox" src="<%=cacheServer%>/images/home/spring/spring_slide_l.jpg" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px; right: 0;" alt="">
    </a>
    <a <% if (event.url) { %>href="<%=event.url%>"<% } %> data-weave="widget/href/main" <%if(event.blank){%>target="_blank"<%}%> class="homeslider-spring-absbox" style="right: 0; height: <%=carouselHeight%>px; width: <%=zoomRate*443%>px;">
      <img class="slide out reverse homeslider-spring-absbox" src="<%=cacheServer%>/images/home/spring/spring_slide_r.jpg" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px; left: 0;" alt="">
    </a>
    <div class="homeslider-spring-absbox" style="height: <%=carouselHeight%>px; width: <%=zoomRate*161%>px; left: -<%=zoomRate*161%>px;">
      <img src="<%=cacheServer%>/images/home/spring/spring_fixed_l.jpg" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="">
    </div>
    <div class="homeslider-spring-absbox" style="height: <%=carouselHeight%>px; width: <%=zoomRate*161%>px; right: -<%=zoomRate*161%>px;">
      <img src="<%=cacheServer%>/images/home/spring/spring_fixed_r.jpg" height="<%=carouselHeight%>" style="height: <%=carouselHeight%>px;" alt="">
    </div>
  </div>
<% } %>

<% function parseCoords(coords){
  var arrCoords = coords.split(",");
  var i = 0;
  var iLens = arrCoords.length;
  var arrZoomCoords = [];
  for(i=0; i<iLens; i++){
    arrZoomCoords.push(parseInt(arrCoords[i], 10) * zoomRate);
  }
  return arrZoomCoords.join(",");
} %>

<style type="text/css">
  .homeslider-spring {
    position: relative;
  }

  .homeslider-spring .homeslider-spring-absbox {
    display: block;
    overflow: hidden; 
    position: absolute; 
    top: 0; 
  }

  .homeslider-spring .slide.out {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .homeslider-spring .slide.out.reverse {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .homeslider-spring .out {
    animation-timing-function: ease-in-out; 
    -moz-animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out; 
    -o-animation-timing-function: ease-in-out; 

    animation-duration: 1000ms; 
    -moz-animation-duration: 1000ms; 
    -webkit-animation-duration: 1000ms; 
    -o-animation-duration: 1000ms; 

    animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    -webkit-animation-delay: 2000ms;
    -o-animation-delay: 2000ms;

    animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
  }
</style>