<%
    var cacheServer = data.cacheServer;
    var signin = data.signin;
    var paySuccess = data.paySuccess;
    var orderId = data.orderId;
    var result = data.result || "";
    var hasEmail = data.hasEmail;
%>
<div class="success payresult-box" style="overflow: hidden;">
    <% if (paySuccess) { %>
        <h3>
            <span class="text-success glyphicon glyphicon-ok"></span>
            <strong data-weave="widget/blurb/main(1173)">Congrats!</strong>
            <span data-weave="widget/blurb/main(1224)">Your order has been successfully placed.</span>
        </h3>
        <p>
            <span data-weave="widget/blurb/main(1409)">Order confirmation has been sent to your mobile via SMS, please check!</span>
        </p>
    <% } else { %>
        <h3>
            <span class="text-danger glyphicon glyphicon-remove"></span>
            <strong data-weave="widget/blurb/main(1377)">Sorry!</strong>
            <span data-weave="widget/blurb/main(1376)">Your payment failed.</span>
            <span><%=result%></span>
        </h3>
    <% } %>
    <hr>
    <% if (signin) { %>
        <div>
        <% if (!hasEmail) { %>
            <form class="form-inline" role="form" data-action="signin-subscribe-email">
                <div class="form-group">
                    <input type="email" class="form-control" id="signup-email" name="signup-email" placeholder="Subscribe to VCLEANSE" required value="" data-weave="widget/blurb/main(1410, 'placeholder')">
                </div>
                <button type="submit" class="btn btn-default" data-weave="widget/blurb/main(1403)">Subscribe</button>
            </form>
            <div class="slide hid" data-action="enrollmentsuccess-link">
                <p class="text-success">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <span data-weave="widget/blurb/main(1405)"></span>
                </p>
                <% renderSigninLink(); %>
            </div>
        <% } else { renderSigninLink(); } %>
        </div>
    <% } else { %>
        <div data-weave="widget/emailsubscribe/main()"></div>
        <br>
        <div>
            <p>
                <i class="glyphicon glyphicon-chevron-right"></i>
                <a href="/order/search" data-weave="widget/href/main">
                    <strong data-weave="widget/blurb/main(1175)">Click here</strong>
                </a>
                <span data-weave="widget/blurb/main(1359)">to search my orders</span>
            </p>
            <p>
                <i class="glyphicon glyphicon-chevron-right"></i>
                <a href="/order" data-weave="widget/href/main">
                    <strong data-weave="widget/blurb/main(1175)">Click here</strong>
                </a>
                <span data-weave="widget/blurb/main(1223)">to place a new order.</span>
            </p>
        </div>
    <% } %>
    <div class="survey-container hid" data-action="rendersurvey" data-weave="widget/survey/main(surveyId)" data-survey-id="1000"></div>
    <div class="payresult-share" data-weave="widget/payment/share/main"></div>
    <div class="payresult-checklist" data-weave="widget/checklist/main"></div>
</div>

<% function renderSigninLink() { %>
    <p>
        <i class="glyphicon glyphicon-chevron-right"></i>
        <a href="/account/orders" data-weave="widget/href/main">
            <strong data-weave="widget/blurb/main(1175)">Click here</strong>
        </a>
        <span data-weave="widget/blurb/main(1176)">to see all of your orders</span>
    </p>
    <p>
        <i class="glyphicon glyphicon-chevron-right"></i>
        <a href="/order" data-weave="widget/href/main">
            <strong data-weave="widget/blurb/main(1175)">Click here</strong>
        </a>
        <span data-weave="widget/blurb/main(1223)">to place a new order.</span>
    </p>
<% } %>