﻿@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>Vcleanse</title>
    <!--Fream library-->
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/bootstrap.css">
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/animate.css">
    <script src="/Areas/MobileSite/Assets/js/jquery-2.2.4.js" type="text/javascript" charset="utf-8"></script>

    <script src="/Areas/MobileSite/Assets/js/common.js"></script>
    <!--Main include-->
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/core.css">
    <script src="/Areas/MobileSite/Assets/js/core.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/Areas/MobileSite/Assets/css/nav.css">
    <script src="/Areas/MobileSite/Assets/js/nav.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <!-- 菜单及头条 -->
    <div class='top-bar'>
        <div class='tap-nav' id='btn-nav'></div>
        <a href="/mobilesite/"><div class='center-hover'></div></a>
    </div>
    <nav>
        <div class='nav-space'></div>
        <div class='nav-main'>
            <div class='nav-header'>VCLEANSE<span id='btn-login'><a id="use-name" href="/mobilesite/account/signin">注册 / 登录</a></span></div>
            <ul class='nav-menu'>
                <li class='nav-menu-item '>
                    <div class='sub-main'><a href="/mobilesite/">首页</a></div>
                    <ul class='nav-submenu'></ul>
                </li>
                <li class='nav-menu-item has-sub'>
                    <div class='sub-main'>产品</div>
                    <ul class='nav-submenu' id="NavProduct">
                        <li class='nav-submenu-item' onclick='window.location.href = "/mobilesite/cleanse/packagedetail?packageId=35"'>冷压经典入门套餐</li>
                        <li class='nav-submenu-item' onclick='window.location.href = "/mobilesite/cleanse/packagedetail?packageId=53"'>补水套餐</li>
                        <li class='nav-submenu-item' onclick='window.location.href = "/mobilesite/cleanse/packagedetail?packageId=54"'>劲量套餐</li>
                    </ul>
                </li>

                @*<li class='nav-menu-item '>
                    <div class='sub-main'><a href="#">why juice？</a></div>
                    <ul class='nav-submenu'></ul>
                </li>
                <li class='nav-menu-item '>
                    <div class='sub-main'>如何选？</div>
                    <ul class='nav-submenu'></ul>
                </li>*@
                <li class='nav-menu-item ' onclick='window.location.href = "http://mp.weixin.qq.com/s?__biz=MzA4NjEzNjIwMw==&mid=509262351&idx=1&sn=2a8e6e07fbe16beb2292dbe04b375a91&scene=18#wechat_redirect"'>
                    <div class='sub-main'>用户说</div>
                    <ul class='nav-submenu'></ul>
                </li>
                @*<li class='nav-menu-item '>
                    <div class='sub-main'>配送范围</div>
                    <ul class='nav-submenu'></ul>
                </li>
                <li class='nav-menu-item '>
                    <div class='sub-main'>Q&A</div>
                    <ul class='nav-submenu'></ul>
                </li>
                <li class='nav-menu-item '>
                    <div class='sub-main'>关于我们</div>
                    <ul class='nav-submenu'></ul>
                </li>
                <li class='nav-menu-item '>
                    <div class='sub-main'>我的订单</div>
                    <ul class='nav-submenu'></ul>
                </li>*@

            </ul>
        </div>
    </nav>
    <div class='space'></div>
    @RenderBody()

    <div class='footer'>
        <div class='left'>咨询我们的健康管家<br>（上午9点 - 晚上7点）</div>
        <div class='right'>question@vcleanse.com<br>021-60823931 </div>
        <div class='copyright'>©2012-2013 VCLEANSE 沪ICP备12049091号</div>
    </div>


    <!-- 欢迎浮层 -->
    <div class='welcome' id='welcome-layout'>
        <div class='mask'></div>
        <img class='logo' src="/Areas/MobileSite/Assets/images/logo-withe.png">
    </div>
</body>
