<%
	var language = data.language || "en";
%>
<ul class="hor seplist">
    <li class="lng-selector-en">
        <a <% if(language !== "en") { %>class="link-fn" data-lng="en" data-action="changelanguage"<% } %>>English</a>
    </li>
    <li class="lng-selector-cn">
        <a <% if(language !== "cn") { %>class="link-fn" data-lng="cn" data-action="changelanguage"<% } %>>中文</a>
    </li>
</ul>