<div class="numbercontrol">
  <% if (!data.disable) { %>
    <a class="numbercontrol-plus hand">
        <span class="caret-5"></span>
    </a>
    <a class="numbercontrol-minus hand">
        <span class="caret-5"></span>
    </a>
  <% } %>
  <div class="numbercontrol-number"><%=data.count%></div>
</div>
