<div class="inner">
    <div class="job">
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE Head of Digital Marketing Job Description</h1>
                <div>
                    <h2>About VCLEANSE</h2>
                    <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, and have retail locations in Shanghai and Beijing, with delivery available to major cities throughout China.</p>
                </div>
                <div>
                    <h2>Position Summary</h2>
                    <p>The Head of Digital Marketing will be responsible for driving sales online and offline through effective and cost efficient marketing programs. An analytical and strategic thinker is required to balance new customer acquisition programs with retention initiatives as well as identify and embark on additional growth opportunities. The Head of Digital Marketing should be on the cutting edge of marketing and technology opportunities and will be responsible for contributing fresh ideas that drive brand awareness, engagement, and sales. He/she will have a crucial impact on the development of the organization and business of the company. The ideal candidate is a digital generalist with a strategic mindset and hands-on digital implementation experience with consumer products. The Head of Digital Marketing will be an influential leader in the company who will report directly to the co-CEOs.</p>
                </div>
                <div>
                    <h2>Key Responsibilities</h2>
                    <ul class="list-style">
                        <li>
                            Build, train and develop a leading digital marketing team with strong technical and strategic, as well as acute understanding of the lifestyle industry and our customers
                        </li>
                        <li>
                            Create and oversee companywide digital marketing strategy with a focus on lead generation, customer acquisition, customer conversion and customer retention, along with media placement and optimization
                        </li>
                        <li>
                            Develop, manage, and optimize measurable digital marketing campaigns aligned with VCLEANSE's key objectives, investment areas, brand image, and priorities
                        </li>
                        <li>
                            Work with in-house creative and design team, digital marketing agency, sales and marketing teams, and IT team to understand key opportunities and implement solutions that meet the needs of our business and brand
                        </li>
                        <li>
                            Assess the performance of our campaigns and conversion of leads into customers, provide useful reports to senior team, and seek continuous improvements
                        </li>
                        <li>
                            Be ahead of the curve in spotting new trends in the interactive/mobile space and integrating technologies for VCLEANSE
                        </li>
                        <li>
                            Utilize all resources (e.g., Google Analytics, Omniture) to identify growth opportunities and drive action to optimize performance
                        </li>
                        <li>
                            Support expansion of VCLEANSE's product line and geographical coverage through development of tailored digital strategies
                        </li>
                        <li>
                            Monitor and maintain digital forecast and budgets
                        </li>
                        <li>
                            Drives innovation in the way VCLEANSE uses data and ROI analyses
                        </li>
                    </ul>
                </div>
                <div>
                    <h2>
						Portfolio
					</h2>
                    <ul class="list-style">
                        <li>Website: Partner with IT to manage day-to-day website operations including product and content management, site functionality, and customer care issues and execute updates when necessary
                        </li>
                        <li>WeChat/Weixin and Taobao: Partner with retail team to drive growth on e-commerce channels
                        </li>
                        <li>SEO/SEM: Work with agency partners and team members to devise and implement an SEO/SEM workplan with clear KPIs and deliverables.
                        </li>
                        <li>Email marketing: Create data-driven, dynamic email campaigns and tests that deliver against ROI targets through a segmented base of new and prospective customers
                        </li>
                        <li>CRM: Partner with customer experience team to design CRM strategies on mobile and email with a specific focus on customer activation, retention, and re-activation
                        </li>
                        <li>Social media: Drive lead generation, customer engagement, brand awareness, and sales on social platforms including WeChat/ Weixin, Weibo, Instagram, and Facebook
                        </li>
                        <li>Content marketing: Define and drive a content marketing strategy across platforms, including blogs, email, webinars, white papers, and social media.
                        </li>
                        <li>Partnerships and other channels: Pursue new digital channels that profitably grow sales including affiliate programs and partnerships</li>
                    </ul>
                </div>
                <div>
                    <h2>Qualifications</h2>
                    <p>Candidates should possess most of these qualifications listed below:</p>
                    <ul class="list-style">
                        <li>Education: Bachelor degree, major in Marketing.
                        </li>
                        <li>Experience: 5+ years of progressive leadership experience with online marketing, social media, and e-commerce with branded consumer or lifestyle products, in either a company or an agency; 3 years manager role either as team manager or project manager function.
                        </li>
                        <li>People management: Proven leadership and team management skills derived from having direct responsibility for building and managing a cohesive, high-performing team, skillful at managing multiple stakeholders, understands the value of teams and how to empower them to achieve great things
                        </li>
                        <li>Proven track record: Successful track record of developing, managing, implementing, and assessing profitable digital marketing programs.
                        </li>
                        <li>Digital marketing expert: Comprehensive understanding of the digital ecosystem and how to leverage various technologies and tools to achieve business goal. Active user of social media on one or more outlets and a passion for everything digital
                        </li>
                        <li>Data-driven: Passion for results and data-driven decision-making, deeply analytical
                        </li>
                        <li>Innovative: Creative thinker who challenges norms and seeks new solutions
                        </li>
                        <li>Effective communicator: Ability to communicate complex ideas and processes in an easily understood manner, strong persuasive tools
                        </li>
                        <li>Focused on excellence: Strong attention to detail and keen focus on quality and excellent
                        </li>
                        <li>Entrepreneurial: Creative, resourceful, hands-on startup mentality, excited to help build a business, comfortable managing multiple projects at once in a changing, fast-paced environment
                        </li>
                        <li>Self-motivated: Ability to work well independently and be self-motivated
                        </li>
                        <li>Additional: Fluency in English reading &amp; writing ability. Proficient with key office and digital marketing software. High integrity and ethical standards.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

@section meta_title {} @section meta_keywrods {} @section meta_description {} @section blurb { _.BLURB = {}; }
