﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE数码营销主管</h1>
                <div>
                    <h2>关于VCLEANSE</h2>
                    <p>VCLEANSE是一个提供健康餐饮和倡导生活方式的公司,致力于制作美味的食物, 将东方养生灵感融入西方清体精髓，帮助人们达到健康目的。我们目前提供冷压榨果汁,热饮及汤品,在上海和北京均有实体零售门店, 业务覆盖京津冀、江浙沪及全国主要城市和地区。</p>
                </div>
                <div>
                    <h2>职位概要</h2>
                    <p>数码营销主管将负责推动有效的线上和线下销售以及受有效成本控制的营销计划。善于分析及有战略眼光，要求在获取新客户方案与老客户维护项目中寻求平衡以及识别和介入更多衍生出的发展机会。数码营销负责人应该站在市场和技术机会的最前沿，负责提供新鲜想法，带领品牌的知名度、市场契合度及销售量达到更高水平。他/她将对公司的业务和组织发展产生至关重要的影响。理想的候选人是一个具有战略思维的数码营销通才，有快消行业数码营销的实操经验。数码营销主管将作为一个在公司内有影响力的领导者直接向联合创始人汇报。</p>
                </div>
                <div>
                    <h2>主要职责</h2>
                    <ul class="list-style">
                        <li>组建、培训和开发一个拥有强大技术力量及策略性的数字营销团队；</li>
                        <li>创建和监督全公司数码营销策略，专注于系统生成、客户获取、转化率和客户维护保留、媒介投放和优化；</li>
                        <li>开发、管理和优化对数码营销活动的衡量评估，并与VCLEANSE的关键目标,投资领域,品牌形象,和优先等级统一起来；</li>
                        <li>与内部的创意设计团队、市场媒介、销售等市场部团队、IT团队协调合作，认知并实际执行最能迎合VCLEANSE公司品牌和业务需求的方案；</li>
                        <li>评估公司市场活动表现及转化率，为公司资深团队提供有效报告，并寻求持续改进；</li>
                        <li>促使VCLEANSE在交互式/移动领域市场中，对于新趋势和技术的触觉处于领先地位；</li>
                        <li>利用所有资源(如：谷歌分析,Omniture)来识别和优化市场增长机遇；</li>
                        <li>通过量身定制的数码化市场战略的发展，支持VCLEANSE产品线扩展、扩大销售区域覆盖面；</li>
                        <li>监控和维护销售预测和预算；</li>
                        <li>推动VCLEANSE用创新的方式使用数据和ROI分析。</li>
                    </ul>
                </div>
                <div>
                    <h2>
						具体需求组合
					</h2>
                    <ul class="list-style">
                        <li>网站:与IT组的日常合作管理网站的运营,包括产品和内容管理、网站功能更新、客户服务问题和最新任务执行更新；</li>
                        <li>微信和淘宝:与零售团队合作，推动电子商务渠道的销量增长；</li>
                        <li>SEO / SEM:与相关合作伙伴设计和实施与KPI相关的SEO / SEM计划；</li>
                        <li>电子邮件营销:创建由数据驱动、活跃的电子邮件宣传活动来测试对ROI目标的投递；</li>
                        <li>CRM:与客户体验团队合作，设计应用于移动设备和电子邮件的CRM战略，特别关注在激活客户、保留客户和重新激活客户的功能上；</li>
                        <li>社会媒体:引领客户互动参与，加强品牌知名度, 在各社交平台上销售产品，包括微信、微博、Instagram、Facebook；</li>
                        <li>内容营销:定义和推动跨平台内容营销策略,包括博客、电子邮件、在线研讨会,白皮书,和社交媒体；</li>
                        <li>合作伙伴和其他渠道:开发搜索新的营销渠道、及合作渠道以促进销售盈利增长。</li>
                    </ul>
                </div>
                <div>
                    <h2>申请资格</h2>
                    <ul class="list-style">
                        <li>本科或以上学历，市场营销类专业；</li>
                        <li>5年以上在快消品公司或者代理公司做品牌快消产品或生活方式产品的B2C网站运营经验，其中有3年团队管理或者项目管理经验；</li>
                        <li>成熟的团队管理技能，直接负责组建和管理一个具有凝聚力、高效能的团队，善于管理多个利益相关团队，了解团队的价值，以及懂得如何使他们能够达到目标；</li>
                        <li>有可被证实的成功开发、管理,实施,评估盈利数字营销项目的记录；</li>
                        <li>全面了解数码生态系统，以及如何利用各种技术和工具来实现业务目标。社会热门媒体平台的活跃分子，对一切数码化事物有热情；</li>
                        <li>倾向于由数据驱动的决策导向,具数据分析技能；</li>
                        <li>具创造性思维，挑战常规寻求新的解决方案；</li>
                        <li>有效沟通能力强，善于对复杂事物作简单易懂的表达，有说服力；</li>
                        <li>专注细节和出品的质量；</li>
                        <li>有创意，足智多谋，愿意本身参与各种需要动手的事务，对参与和融入一个创业公司的成长持有正面和积极的态度，适应在多变、快节奏的工作环境中管理不同类型的项目；</li>
                        <li>独立工作能力优秀,有上进心，有自发自主工作的能力；</li>
                        <li>流利的英语阅读和写作能力。熟练使用OFFICE软件，特别是PPT等展示用软件和其他数码营销软件。良好的道德标准和三观。</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
