﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE维果清公关经理</h1>
                <div>
                    <h2>关于VCLEANSE</h2>
                    <p>VCLEANSE是一个提供健康餐饮和倡导生活方式的公司,致力于制作美味的食物, 将东方养生灵感融入西方清体精髓，帮助人们达到健康目的。我们目前提供冷压榨果汁,热饮及汤品,在上海和北京均有实体零售门店, 业务覆盖京津冀、江浙沪及全国主要城市和地区。</p>
                </div>
                <div>
                    <h2>职位概要</h2>
                    <p>公关经理将引领维果清的公关策略并且确保我们能够通过每次公关行为将我们的关键信息传递出去。公关经理应该对VCLEANSE的使命和愿景富有激情，能够在媒体上分享这个经由明确定义且具有连贯性的业务驱动的成果。理想的候选人应该是个富有创造性思维的人，在每天的工作中持续寻找维果清的亮点并且发布出来。这个角色将向市场营销部门领导汇报并将在将来管理一个公关团队，包括所有PR相关的全职或自由职业者。公关部经理应该在顶级新闻媒体有强大的关系网，并拥有迅速建立包括新的网络或社交媒体的能力。公关部经理还需要辅助场营销部门领导定义和评估并且监管战略合作伙伴的品牌认知度及销售的推动。</p>
                </div>
                <div>
                    <h2>
						主要职责
					</h2>
                    <ul class="list-style">
                        <li>定义，开发，监管维果清的公关策略。明确维果清在短及长期范围内，公关外拓层面需要的关键信息以及定义时间点和优先等级。创建并执行一个面对全国消费者、商业和启动媒体以及当地媒体的计划。</li>
                        <li>开发和维护一套完整的创意、有效的公关宣传材料。</li>
                        <li>建立和维护与记者、会议组织者、重点行业及社会公关领导的关系。</li>
                        <li>与维果清的创意、市场营销、IT团队合作战略信息，对产品和资产等倡议提供支持。</li>
                        <li>起草所有的新闻稿、报价、授权申请、访谈回应，为公司及创始人与其他公司相关业务进行协调沟通。</li>
                        <li>管理公关及会议日程。确认会议和演讲内容以便帮助维果清及其高管团队在领域内定位于专家的地位。审核和管理接入的公关请求。</li>
                        <li>为媒体互动、内部沟通或公开露出做准备</li>
                        <li>创建和执行进行编辑和其他有影响力的事件。</li>
                        <li>代表公司在各类活动中推动和提升维果清的公众影响力</li>
                        <li>保持维果清在行业内的竞争力的新闻趋势导向同步，提高商业洞察力以推动业绩。</li>
                        <li>监查出版物和网站、社交媒体，来衡量公关工作的成功与否以确保公司信息的精准度。</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        申请资格<br>
                        <small style="font-size: 16px;">Candidates should possess most of these qualifications listed below:</small>
                    </h2>
                    <ul class="list-style">
                        <li>6年以上公共关系/大众传媒类工作经验，最好是在代理机构或企业内部，有运行高规格媒体公关活动的从开始到结束的成功的记录。</li>
                        <li>自身现有在顶级消费者/生活方式/商业/高科技媒体等领域以及相关的线上和主流社会媒体中的强势关系网及资源。</li>
                        <li>优秀的口头和书面沟通能力，良好的写作技巧，善于分享案例。</li>
                        <li>以结果导向为主和富有进取心：能证明在目标驱动的环境中生存的能力，包括达到或超过业务目标。</li>
                        <li>外向、合群，喜欢接触新的人群，对人有理解力和洞察力。</li>
                        <li>具有创意、创业思维，渴望采取行动，对帮助建立业务和克服障碍上有兴趣。</li>
                        <li>自我激励：独立工作能力强，有上进心</li>
                        <li>熟练使用办公软件和客户关系管理软件。</li>
                        <li>高度诚信和道德规范。</li>
                        <li>普通话母语流利。英语良好者优先。对健康生活方式的热爱者优先。</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
