﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE Sales Representative</h1>
                <div>
                    <h2>About VCLEANSE</h2>
                    <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, and have retail locations in Shanghai and Beijing, with delivery available to major cities throughout China.</p>
                </div>
                <div>
                    <h2>Position Summary</h2>
                    <p>VCLEANSE’s sales ambassadors generate new customers by introducing VCLEANSE’s products, programs, and lifestyle to new audiences. Our sales ambassadors identify potential customers through a variety of direct interactions and help them understand how our products can help them achieve their health goals and live a healthier lifestyle. Sales ambassadors are the primary initial point of contact for new customers and will be measured primarily on their ability to meet sales targets. Successful sales ambassadors will have opportunities for substantial career advancement to managerial roles.</p>
                </div>
                <div>
                    <h2>Key Responsibilities</h2>
                    <ul class="list-style">
                        <li>
                            Generates a pipeline of future customers through various prospecting activities in collaboration with our marketing and sales support team
                        </li>
                        <li>
                            Plans and personally leads direct sales &amp; marketing events where future customers learn about VCLEANSE products, programs, and lifestyle
                        </li>
                        <li>
                            Represent the company at events to promote product and company and generate leads
                        </li>
                        <li>
                            Drives relentlessly to exceed monthly sales and margin goals on a consistent basis
                        </li>
                        <li>
                            Builds rapport with customers and maintains a loyal and happy customer following
                        </li>
                        <li>
                            Leads and manages junior sales &amp; marketing staff to grow and perform their best
                        </li>
                        <li>
                            Develops and maintains effective sales &amp; sales training materials
                        </li>
                        <li>
                            Provides feedback on customers, promotional programs, and market changes and provides ideas proactively to improve VCLEANSE’s products and sales strategies
                        </li>
                        <li>
                            Develops expertise in VCLEANSE’s product offerings</li>
                    </ul>
                </div>
                <div>
                    <h2>Qualifications</h2>
                    <p>Candidates should possess most of these qualifications listed below:</p>
                    <ul class="list-style">
                        <li>
                            Bachelor degree, major in Marketing preferred.
                        </li>
                        <li>
                            3+ years related experience
                        </li>
                        <li>
                            Role model: Embodies the VCLEANSE healthy lifestyle and inspires others through dedication, enthusiasm, and passion for VCLEANSE.
                        </li>
                        <li>
                            Sales experience: Proven track record of success in selling high-quality products to discerning consumers
                        </li>
                        <li>
                            Excellent communicator: Articulates key selling points while meeting customer needs and expectations, demonstrates a strong passion for persuasion, compelling presentation skills
                        </li>
                        <li>
                            Results-oriented: Demonstrated ability to thrive in a goal-driven environment including achieving or exceeding financial targets
                        </li>
                        <li>
                            Engaging: Outgoing, gregarious personality that is excited by networking with and acquiring new customers, demonstrated ability to read and understand people
                        </li>
                        <li>
                            Entrepreneurial: Creative and entrepreneurial mindset, eager to take action, interested in helping to build a business and to be compensated according to performance
                        </li>
                        <li>
                            Self-motivated: Ability to work well independently and be self-motivated
                        </li>
                        <li>
                            Additional: Fluency in English reading &amp; writing ability preferred. Proficient with office software. High integrity and ethical standards. Experience in fitness or nutrition fields preferred.
                        </li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
