﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>高级UI设计师</h1>
                <div>
                    <p>我们相信一名好的UI设计师一定会让我们产品变得更受欢迎。我们相信一名出色的设计师最大的优势在于有目标性的创造而不仅仅是专注的执行，所以我们正在寻找一名有扎实设计能力基础又善于创造探索的出色互联网设计师。</p>
                </div>
                <div>
                    <h2>工作职责</h2>
                    <ul class="list-style">
                        <li>负责网站（web/mobile）的改版和迭代UI设计工作；</li>
                        <li>协助营销leader及产品经理完成相关互联网设计工作，包括但不仅限于互联网广告、微信/微博互动活动、在线产品等形式的设计工作；</li>
                        <li>作为增长黑客小团队一员，参与增长黑客项目，配合技术开发成员完成相关创新设计工作，以低成本方式获取用户；</li>
                        <li>协助管理设计团队</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        岗位要求
                    </h2>
                    <ul class="list-style">
                        <li>本科设计专业毕业；</li>
                        <li>必须有1-3年的UI设计经验，有Mobile站或APP设计经验为佳；</li>
                        <li>有自己的设计思路和方法论，自我学习能力强；</li>
                        <li>有一项设计专业方向的技能可加分，如手绘能力；</li>
                        <li>有自己的作品集网站发布在站酷或者dribbble。</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        其他
                    </h2>
                    <ul class="list-style">
                        <li>认同加入创业团队，喜欢创造和革新；</li>
                        <li>热爱社交、喜欢运动，必须积极向上，对健康生活的价值观认同。</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
