﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>社交媒体运营经理</h1>
                <div>
                    <p>我们相信出色的内容和社交平台的结合可以带来实际用户增长，我们在寻找一位有文字功底且善于利用社交平台进行推广的社交传播人才。</p>
                </div>
                <div>
                    <h2>工作职责</h2>
                    <ul class="list-style">
                        <li>负责社交媒体内容的整体运维规划和方向策划；</li>
                        <li>负责VCLEANSE的社交平台账号日常运营，包括但不限于社交媒体话题指定、KOL传播策略、内容撰写及其他运营相关工作；</li>
                        <li>负责带领社交媒体运营团队工作，包括文案、设计等团队成员的协作与沟通；</li>
                        <li>拓展除了微博、微信以外的社交媒体平台；</li>
                        <li>挖掘社交媒体运营数据分析，为社交媒体运营制定与公司商业目标达成一致的运营目标。</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        岗位要求
                    </h2>
                    <ul class="list-style">
                        <li>本科文科类毕业。</li>
                        <li>必须有1-3年运营品牌官方社交媒体的实际操作经验，有操作除了微博和微信以外的国内社交媒体平台的经验可加分；</li>
                        <li>必须具有优良的撰写有社交媒体特性的文案，懂得如何运营社交媒体的机制，具有观察并领悟社交媒体动向的能力；</li>
                        <li>具有很强的逻辑能力以及数据分析能力，以数据导向开展和布置自己的工作；</li>
                        <li>有自己的博客或长期运营的个人微信公众号可以加分，会PS可加分。</li>
                        <li>有纸媒和新媒体的现有资源可加分。</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        其他
                    </h2>
                    <ul class="list-style">
                        <li>认同加入创业团队，喜欢创造和革新。</li>
                        <li>热爱社交、喜欢运动，必须积极向上，对健康生活的价值观认同。</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
