﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE Supply Chain Manager</h1>
                <div>
                    <h2>About VCLEANSE</h2>
                    <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, with delivery available to major cities throughout China. VCLEANSE has been featured in Vogue, Harper’s Bazaar, Cosmopolitan, Bloomberg, Trends Health, South China Weekly, Modern Weekly and numerous other lifestyle, fashion and business publications, as well as on key social media accounts.</p>
                </div>
                <div>
                    <h2>Position Summary</h2>
                    <p>The Supply Chain Manager creates and manages the infrastructure for great product and great customer experience at VCLEANSE.  The Supply Chain Manager is responsible for managing all VCLEANSE vendors, including suppliers of raw ingredients, packaging, print materials, and delivery vendors, and is responsible for ensuring that VCLEANSE works with the best suppliers on the most optimal terms, and sources raw ingredients, print and packaging of the best quality in a cost effective way. The Supply Chain Manager also ensures that VCLEANSE has an effective and flexible delivery system that meets customer needs. The Supply Chain Manager works closely with R&D, production, design, and customer service teams to understand quality and customer needs. </p>
                </div>
                <div>
                    <h2>
						Key Responsibilities
					</h2>
                    <ul class="list-style">
                        <li>Develop, lead and execute procurement and delivery strategies.</li>
                        <li>Develop, track and report key metrics to maintain quality and reduce expenses.</li>
                        <li>Understand why our products are different from conventional products and be able to articulate differences to suppliers.</li>
                        <li>Forecast price and market trends, monitor and forecast demand and develop cost forecasts.</li>
                        <li>Inspect and maximize margins through inventory management, negotiation, etc.</li>
                        <li>Inspect inventory levels and prepare purchase orders.</li>
                        <li>Identify reliable vendors and craft negotiation strategies to close deals with optimal terms.</li>
                        <li>Coordinate and work closely with vendors to maximize service and quality and minimize costs. Monitor vendor performance and meet with vendors regularly to discuss performance metrics.</li>
                        <li>Coordinate and expedite most cost effective transportation of purchases.</li>
                        <li>Assess, manage and mitigate risks.</li>
                        <li>Identify opportunities to reuse or recycle materials and select biodegradable materials.</li>
                        <li>Stay abreast of product knowledge, industry trends, and relevant regulatory rules.</li>
                        <li>Establish and maintain collaborative and productive working relationships with R&D, design, production, and customer service teams.</li>
                    </ul>
                </div>
                <div>
                    <h2>
                        Qualifications<br>
                        <small style="font-size: 16px;">Candidates should possess most of these qualifications listed below:</small>
                    </h2>
                    <ul class="list-style">
                        <li>Experience: 5+ years of experience in procurement of food raw ingredients and supply chain management for a consumer food company.  Proven familiarity with sourcing and vendor management. Preferred experience with agriculture and imported materials.</li>
                        <li>Eye for quality: Exacting standards for quality and deep understanding of quality standards.</li>
                        <li>Excellent communicator and negotiator: Strong verbal and oral communication skills and ability to negotiate and persuade.</li>
                        <li>Management ability: Ability to project manage, to manage vendors and to build a strong internal team.</li>
                        <li>Results-oriented: Demonstrated ability to thrive in a goal-driven environment including achieving or exceeding business targets.</li>
                        <li>Organized: Outstanding organizational and follow-through skills. Proactive with strict attention to detail. Comfortable managing multiple responsibilities at once in a changing, fast-paced environment.</li>
                        <li>Entrepreneurial: Creative and entrepreneurial mindset, eager to take action, interested in helping to build a business.</li>
                        <li>Additional: Bachelor’s Degree. Proficient with office software. High integrity and ethical standards. English language skills preferred. Passion for healthy lifestyle preferred.</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
