﻿<div class="inner">
    <div class="job">
        <div class="job-banner">
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>VCLEANSE Workshop Leader(part-time)</h1>
                <div>
                    <h2>About VCLEANSE</h2>
                    <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, and have retail locations in Shanghai and Beijing, with delivery available to major cities throughout China.</p>
                </div>
                <div>
                    <h2>Position Summary</h2>
                    <p>VCLEANSE’s workshop leaders help our existing and future customers achieve their individual health goals through our products, programs and lifestyle. Our workshop leaders help customers feel inspired, cared for, part of our community, well-informed, and motivated to succeed. The workshop leader has responsibility for the customer experience during each workshop and will be measured primarily on his or her ability to deliver an outstanding customer experience and to generate sales.</p>
                </div>
                <div>
                    <h2>Key Responsibilities</h2>
                    <ul class="list-style">
                        <li>Builds rapport with customers by demonstrating warmth, empathy, and an understanding of the personal experience of each customer.
                        </li>
                        <li>Leads workshops that explain VCLEANSE’s product and program information, utilizing VCLEANSE presentation materials and resources to help customers achieve personal health goals
                        </li>
                        <li>Facilitates group discussion so all customers feel involved and eager to participate
                        </li>
                        <li>Engages with each customer by listening actively, identifying individual needs, and following up
                        </li>
                        <li>Generates sales of VCLEANSE products to new and existing customers
                        </li>
                        <li>Inspires customers to make positive changes and celebrate progress towards goals
                        </li>
                        <li>Seeks new ways to help keep customers engaged and finds all means to turn opportunities into results
                        </li>
                        <li>Coordinates with kitchen, operations, marketing, and sales teams to ensure an exemplary and seamless customer experience
                        </li>
                        <li>Prepares for workshops by attending required meetings and trainings and undertaking any other preparations necessary</li>
                    </ul>
                </div>
                <div>
                    <h2>Qualifications</h2>
                    <p>Candidates should possess most of these qualifications listed below:</p>
                    <ul class="list-style">
                        <li>Role model: Embodies the VCLEANSE healthy lifestyle and inspires others through dedication, enthusiasm, and passion for VCLEANSE.
                        </li>
                        <li>Organized: Timely and responsible, adheres to all VCLEANSE policies, prepares appropriately for all assignments. Presents a professional demeanor and appearance
                        </li>
                        <li>Engaging: Builds rapport with customers and colleagues through a warm and engaging personality and creates an inspirational environment in each workshop.
                        </li>
                        <li>Self-motivated: Sets own goals, searches out opportunities to develop skills, solves problems ,and welcomes feedback and growth
                        </li>
                        <li>Flexible: Adapts easily to new methods and procedures
                        </li>
                        <li>Facilitator: Displays excellent presentation and active listening skills; facilitates dialogue in the workshop among customers
                        </li>
                        <li>Cooperative: Works well with colleagues, builds rapport among staff, and is able to resolve any conflicts that arise
                        </li>
                        <li>Additional: Proficient with presentation and other office software. Experience in fitness or nutrition fields preferred
                        </li>
                        <li>Fluent in English and can communicate in Chinese / or Fluent in Chinese</li>
                    </ul>
                </div>
                <br><hr>
                <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
            </div>
        </div>
    </div>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>
