<h3><span data-weave="widget/blurb/main(1000)">Sign in</span></h3>
<form role="form">
    <div class="form-section">
        <div class="form-group">
            <label for="signup-passwordrepeat" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <input type="text" class="form-control" name="login-account" placeholder="Mobile" autofocus required data-weave="widget/blurb/main(1140, 'placeholder')">
        </div>
        <div class="form-group">
            <label for="signup-passwordrepeat" data-weave="widget/blurb/main(1279)">Password:</label>
            <input type="password" class="form-control" name="login-password" placeholder="Password" required data-weave="widget/blurb/main(1130, 'placeholder')">
        </div>
        <div class="form-group">
            <a href="/enrollment/forgotpassword" data-weave="widget/href/main" target="_blank">
                <span data-weave="widget/blurb/main(1083)">I forgot my password</span>
            </a>
            <span>&nbsp;|&nbsp;</span>
            <a href="/enrollment/register" data-weave="widget/href/main" target="_blank">
                <span data-weave="widget/blurb/main(1355)">New Customers?</span>
            </a>
        </div>
        <button type="submit" id="su" class="btn btn-lg btn-default btn-block" data-weave="widget/blurb/main(1080)">SIGN IN</button>
        <input type="hidden" id="blurb-1271" data-weave="widget/blurb/main(1271, 'value')" value="Mobile is required">
        <input type="hidden" id="blurb-1272" data-weave="widget/blurb/main(1272, 'value')" value="Password is required">
    </div>
</form>
