
@import "../_shared/font-awesome/font-awesome.less";
@import "grid.less";
@import "shared.less";

@pink: #FD4688;

.paws-header {
	margin-bottom: 30px;
	height: 460px;
	overflow: hidden;
}

.section {
	margin: 30px auto;
	clear: both;
	text-align: center;
	max-width: 800px;
}

.headline {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    margin-bottom: 30px;
	h1 {
		color: @pink;
		font-size: 36px;
		padding: 10px 0;
		border-top: 4px solid #999;
		border-bottom: 4px solid #999;
		max-width: 600px;
        line-height: 2;
        width: 60%;
        margin: 0 auto;
        font-weight: 300;
	}
	h4 {
		font-size: 18px;
	}
}

.content {
	h3 {
		font-size: 18px;
	}
	p {
		color: #666;
	}
}

.buynow {
	.btn-buy {
		background: #FF389A;
		color: #fff;
		font-size: 30px;
		border: none;
		padding: 10px 50px;
	}
}

.offer {
	.box-offer {
		.size(384px, 184px);
		background: url(../bg/paws/offerbg.png) 0 0  no-repeat;
		display: block;
		margin: 0 auto;
		padding: 20px;
		h3 {
			font-size: 24px;
		}
		h3, h4 {
			margin: 0;
			color: #fff;
		}
	}
}

.products {
	padding: 15px 0;
}

.meet-paws {
	padding: 20px 0 0;
	h2 {
		font-size: 18px;
		color: #fff;
		background: #FF389A;
		border-radius: 10px;
		padding: 10px 20px;
		max-width: 500px;
		margin: 0 auto;
	}
}

.paws {
	padding: 15px 0;
	.row-fluid {
		margin-bottom: 20px;
	}
	.paw {
		display: block;
		text-align: center;
		padding: 30px 10px;
		text-decoration: none;
		outline: none;
		background: #EDEDED;
		border-radius: 15px;
		color: #F077AE;
		p {
			font-size: 16px;
			margin-bottom: 10px;
		}
		&:hover {
			text-decoration: none;
			background: #f6f6f6;
		}
		em {
			font-weight: 300;
			font-size: 14px;
		}
		i {
			font-size: 14px;
		}
	}
}

.modal-paw {
	h4 {
		line-height: 1.3;
		font-size: 20px;
	}
	img {
		border-radius: 30px;
	}
	.modal-dialog {
		width: 800px;
	}
	.modal-content {
		border-radius: 20px;
	}
	.modal-body {
		padding: 20px;
	}
	.close {
		font-size: 36px;
	}
	.paw-about {
		padding: 10px 20px 0 0px;
	}
}

.partners {
	padding: 15px 0;
	a {
		margin: 0 40px;
	}
}

.social {
	padding: 20px 0;
	a {
		margin: 0 10px;
	}
}

.paws-footer {
	margin-bottom: 30px;
	min-height: 150px;
	background: url(../bg/paws/footer.png) right bottom no-repeat;
}

/* + Override */
.modal-backdrop.fade.in {
	filter: alpha(opacity=50);
	opacity: .5;
}