<div class="linebox linebox-xlarge infobox infobox-<%=data.type%>">
    <% if(data.title && !isNaN(data.title)) { %>
        <h3 data-weave="widget/blurb/main(<%=(data.title)%>)"></h3>
    <% } else { %>
        <h3><%=(data.title)%></h3>
    <% } %>
    <% if(data.content) { %>
        <p data-weave="widget/blurb/main(<%=(data.content)%>)"><%=(data.content)%></p>
    <% } else { %>
        <p><%=(data.content)%></p>
    <% } %>
    <% if(data.closeble) { %>
        <button type="button" class="btn btn-default" data-action="close" data-weave="widget/blurb/main(1129)">OK</button>
    <% } %>
</div>
