<%
    var count = data.count;
    var countMin = data.countMin;
    var countMax = data.countMax;
    var price = data.price;
    var disable = data.disable;
%>
<div class="numbercontroller">
	<div class="numbercontroller-title" data-weave="widget/blurb/main(1460)">Choose a number</div>
	<div class="numbercontroller-number">
		<% if (!disable) { %>
			<a class="numbercontroller-minus">
				<span class="glyphicon glyphicon-minus"></span>
			</a>
		<% } %>
		<input class="numbercontroller-input" type="number" name="bottlecount" min="<%=countMin%>" max="<%=countMax%>" value="<%=count%>" <% if(disable) { %>disabled<% } %> required/>
		<% if (!disable) { %>
			<a class="numbercontroller-plus">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		<% } %>
	</div>
	<div class="numbercontroller-total">
		合计：&yen;<strong class="numbercontroller-amount"><%=count * price%></strong>
	</div>
</div>