<% 
    var dailyOrder = data.dailyOrder;
    var dayId = data.dayId || 0;
    var weekName = data.weekName || "";
%>
<div class="linebox linebox-xlarge orderedit">
    <h5>
        <strong>
            <%=dailyOrder.stringDate%>&nbsp;&nbsp;<em>(<%=weekName%>)</em>
        </strong>
    </h5>
    <div class="orderedit-shopping cf row">
        <div class="col-md-12" data-weave="widget/customize/dailysoupdrink/main(dayId)" data-day-id="<%=dayId%>"></div>
        <div class="col-md-12 orderedit-products" data-weave="widget/customize/productcategory/main(dayId)" data-day-id="<%=dayId%>"></div>
        <div class="col-md-5 " data-weave="widget/customize/dailyorderproducts/main"></div>
        <div class="col-md-12 orderedit-delivery">
            <form class="standardform form-delivery cf">
                <div class="col-r">
                    <button class="btn btn-lg btn-default" data-action="removeday" data-weave="widget/blurb/main(1090)">REMOVE THIS DAY FROM ORDER</button>
                    <button class="btn btn-lg btn-default" data-action="updateorder" data-weave="widget/blurb/main(1091)">UPDATE ORDER</button>
                </div>
            </form>
        </div>
    </div>
    <div class="orderedit-products-cover hidden"></div>
</div>
