﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>出纳员</h1>
            <div>
                <h2>职位描述</h2>
                <ul class="list-style">
                    <li>按照公司规定及时正确办理员工借款与报销事宜，制作现金日记帐和记帐凭证；</li>
                    <li>各个账户之间转账，保证各个账户有足够的货款； </li>
                    <li>能够开具发票；</li>
                    <li>购买发票、报税等事宜；</li>
                    <li>银行业务办理，以及月末银行对账；</li>
                    <li>协助销售部门对账；</li>
                    <li>配合销售业务人员，协调客户、供应商、物流等相关业务事项；月底与会计、整理记账凭证及原始凭证的装订成册协助财会文件的准备、归档和保管；</li>
                    <li>每周、每月编制资金状况使用表，及时向领导提供资金实时状况；</li>
                    <li>工作需要的其他零星事项。</li>
                </ul>
            </div>
            <div>
                <h2>
					岗位要求
				</h2>
                <ul class="list-style">
                    <li>持有《会计从业资格证书》；</li>
                    <li>能够操作“用友”财务软件；</li>
                    <li>熟练操作OFFICE软件，尤其是EXCEL；</li>
                    <li>基本的英语交流能力。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>