﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>客服代表</h1>
            <div>
                <h2>职位描述</h2>
                <ul class="list-style">
                    <li>接听客户电话、接受售前咨询和售后咨询、处理客户投诉；</li>
                    <li>接听客户电话，接受客户电话订单以及后续订单处理；</li>
                    <li>负责公司会员客户的维护；</li>
                    <li>进行客户关系管理，定期对客户档案进行分析、整理，提供销售分析数据。</li>
                </ul>
            </div>
            <div>
                <h2>
					岗位要求
				</h2>
                <ul class="list-style">
                    <li>大专及以上学历；</li>
                    <li>英语四级以上，有一定听说能力；</li>
                    <li>良好的沟通、协调能力、有较好的心理承受能力和亲和力；</li>
                    <li>熟练使用电脑；</li>
                    <li>3年以上相关行业客服经验优先；3年以上英语客服经验优先；</li>
                    <li>性格成熟稳定，工作自动自觉，愿意服从上级安排。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>