﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="list-style jobs-list">
                <li>
                    <a href="/jobs/prmanager" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1009)">VCLEANSE PR Manager</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/supply" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1014)">Supply Chain Manager</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/productmanager" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1013)">Product Manager</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/onlineoperation" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1011)">在线平台运营&amp;产品经理</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/senioruidesigner" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1010)">高级UI设计师</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/socialmediaoperation" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1012)">社交媒体运营经理</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/salesandmarketingassistant" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1002)">Sales &amp; Marketing Assistant</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/salesrepresentative" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1003)">VCLEANSE Sales Representative Job Description</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/workshopleaderparttime" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1004)">VCLEANSE Workshop Leader(part-time) Job Description</span>
                    </a>
                </li>
                <li>
                    <a href="/jobs/storeassistant" data-weave="widget/href/main(byLanguage)" data-by-language="true">
                        <span data-weave="widget/blurb/main(p1006)">Store Assistant</span>
                    </a>
                </li>
            </ul>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1002": {
            "en": "Sales &amp; Marketing Assistant - Shanghai",
            "cn": "市场销售助理 - 上海"
        },
        "p1003": {
            "en": "VCLEANSE Sales Representative - Shanghai",
            "cn": "VCLEANSE销售代表 - 上海"
        },
        "p1004": {
            "en": "VCLEANSE Workshop Leader(part-time) - Shanghai",
            "cn": "VCLEANSE工作坊主持人（兼职） - 上海"
        },
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        },
        "p1006": {
            "en": "Store Assistant - Shanghai",
            "cn": "店铺助理 - 上海"
        },
        "p1009": {
            "en": "VCLEANSE PR Manager - Shanghai",
            "cn": "维果清公关经理 - 上海"
        },
        "p1010": {
            "en": "高级UI设计师 - Shanghai",
            "cn": "高级UI设计师 - 上海"
        },
        "p1011": {
            "en": "在线平台运营&amp;产品经理 - Shanghai",
            "cn": "在线平台运营&amp;产品经理 - 上海"
        },
        "p1012": {
            "en": "社交媒体运营经理 - Shanghai",
            "cn": "社交媒体运营经理 - 上海"
        },
        "p1013":{
            "en":"Product Manager - Shanghai",
            "cn":"产品经理 - 上海"
        },
        "p1014":{
            "en":"Supply Chain Manager - Shanghai",
            "cn":"供应链经理 - 上海"
        }
	};
}
</div>