﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>在线平台运营&amp;产品经理</h1>
            <div>
                <p>我们在寻找网站运营人才，善于分析数据，利用工具持续优化产品并提升转化率，同时有创造能力，利用已有的网站和第三方直销平台经验与维果清现状结合，提升优化平台，创造价值。</p>
            </div>
            <div>
                <h2>工作职责</h2>
                <ul class="list-style">
                    <li>负责维果清在线第三方渠道直营店的运营和推广，包括以淘宝店、微店为主的现有平台；制定相应的KPI及完成目标的战术；</li>
                    <li>负责维果清官方网站的运营和优化工作，以用户留存及网站转化为目标，对整体网站活动以及内容运营进行管理和梳理；</li>
                    <li>挖掘网站运营各项数据，通过对数据的分析，发现订单转化规律和用户活跃喜好，制定具有针对性的在线运营策略来提高订单成交率以及用户活跃度；</li>
                    <li>拓展其他在线第三方渠道直营店渠道，从在线销售上为公司整体目标达成做出相应贡献。</li>
                </ul>
            </div>
            <div>
                <h2>
                    岗位要求
                </h2>
                <ul class="list-style">
                    <li>本科理科毕业，数据分析类专业可加分；</li>
                    <li>必须有3年以上在线平台运营经验，消费品、健康饮食方向的更佳；</li>
                    <li>必须懂得在线第三方直营渠道（淘宝，微店等）的运营和推广技巧，熟练掌握相关知识点和技能，包括但不限于平台运营规则、平台推广技巧、撰写有效的文案等；</li>
                    <li>有带领小团队开展运营工作经验，包括与设计、物流、订单管理相关人员的沟通协调；</li>
                    <li>具有很强的逻辑能力以及数据分析能力，以数据导向开展和布置自己的工作；</li>
                    <li>会PS可加分。</li>
                </ul>
            </div>
            <div>
                <h2>
                    其他
                </h2>
                <ul class="list-style">
                    <li>热爱社交、喜欢运动，必须积极向上，对健康生活的价值观认同；</li>
                    <li>认同加入创业团队，喜欢创造和革新。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>