﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>VCLEANSE PR Manager</h1>
            <div>
                <h2>About VCLEANSE</h2>
                <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, and have retail locations in Shanghai and Beijing, with delivery available to major cities throughout China. VCLEANSE has been featured in Vogue, Harper’s Bazaar, Cosmopolitan, Bloomberg, Trends Health, South China Weekly, Modern Weekly and numerous other lifestyle, fashion and business publications, as well as on key social media accounts.</p>
            </div>
            <div>
                <h2>Position Summary</h2>
                <p>The PR Manager will lead VCLEANSE’s PR strategy and ensure that we deliver our key messages through every PR activity. The PR Manager should be passionate about VCLEANSE’s mission and vision and able to share that story with the press in a clearly defined and consistent manner that drives business results. The ideal candidate should be a creative thinker - constantly looking for opportunities to use the incredible work our team is doing every day to pitch VCLEANSE to the press. This role will report to the Head of Marketing and will manage future additions to the PR team, including any freelancers. The PR Manager should have a network of strong contacts in all top-tier press outlets and the ability to quickly form new relationships with the press, including online and social media outlets. The PR Manager may also assist the Head of Marketing with identifying, evaluating, and overseeing strategic partnerships that drive brand awareness and sales.</p>
            </div>
            <div>
                <h2>
					Key Responsibilities
				</h2>
                <ul class="list-style">
                    <li>Define, develop, and oversee VCLEANSE’s PR strategy. Identify the key messages for VCLEANSE’s PR outreach and determine their timing and prioritization in the short term and long term. Create and execute a plan for national consumer, business, and startup press as well as local press.</li>
                    <li>Develop and maintain a full suite of creative, effective PR materials for press outreach.</li>
                    <li>Build and maintain relationships with reporters, conference organizers, and key industry and social PR leaders.</li>
                    <li>Work with in-house creative, marketing, and IT teams on strategic messaging and supporting assets about products and initiatives.</li>
                    <li>Draft all press releases, quotes, award applications, interview responses, and other corporate communications for the company and founders.</li>
                    <li>Manage VCLEANSE’s PR and conference calendar. Identify conferences and secure speaking engagements to help position VCLEANSE and its executive team as experts in the field. Vet and manage inbound PR requests.</li>
                    <li>Prepare the team for media interactions, internal communication and public appearances</li>
                    <li>Create and execute engaging events for editors and other influencers.</li>
                    <li>Represent the company at events to promote VCLEANSE and generate publicity and other leads</li>
                    <li>Keep abreast of industry and competitive news and trends, and provide strategic insight that drive business results.</li>
                    <li>Monitor publications and websites, including social media, to measure our PR successes and to ensure accurate reporting of company information</li>
                </ul>
            </div>
            <div>
                <h2>
                    Qualifications<br>
                    <small style="font-size: 16px;">Candidates should possess most of these qualifications listed below:</small>
                </h2>
                <ul class="list-style">
                    <li>Experience: 6+ years of experience in public relations/communications, preferably at both an agency and in-house, including running PR campaigns from start-to-finish with a proven track record of success of high profile media placements.</li>
                    <li>Relationships: Strong existing relationships with key press contacts at relevant top-tier consumer / lifestyle / business / tech media as well as at relevant online and social media outlets</li>
                    <li>Excellent communicator: Strong verbal communication skills and excellent writing skills, with samples to share. Fluency in English strongly preferred.</li>
                    <li>Results-oriented: Demonstrated ability to thrive in a goal-driven environment including achieving or exceeding business targets.</li>
                    <li>Organized: Outstanding organizational and follow-through skills. Proactive with strict attention to detail.</li>
                    <li>Engaging: Outgoing, gregarious personality that is excited by networking with new people, demonstrated ability to read and understand people.</li>
                    <li>Entrepreneurial: Creative and entrepreneurial mindset, eager to take action, interested in helping to build a business.</li>
                    <li>Self-motivated: Ability to work well independently and be self-motivated</li>
                    <li>Additional: Proficient with office software. High integrity and ethical standards.</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>