﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>VCLEANSE Product Manager</h1>
            <div>
                <h2>About VCLEANSE</h2>
                <p>VCLEANSE is a healthy foods and lifestyle company dedicated to making delicious foods that help you renew, rejuvenate, and reach your health goals. We currently offer cold-pressed juices, juice cleanses, nutmilks, hot infusions and soups, with delivery available to major cities throughout China. VCLEANSE has been featured in Vogue, Harper’s Bazaar, Cosmopolitan, Bloomberg, Trends Health, South China Weekly, Modern Weekly and numerous other lifestyle, fashion and business publications, as well as on key social media accounts.</li>
                </p>
            </div>
            <div>
                <h2>
                    Position Summary
                </h2>
                <p>At heart, VCLEANSE is a product company. We are inspired to make products that are absolutely delicious, high quality, and good for you too. The Product Manager should “own” the product and ensure that VCLEANSE products delight customers and are understood by customers to be the best products of their kind on the market. The PM will be responsible for crafting, delivering, and improving product lineup in collaboration with creative, marketing, sales, operations, finance and production and operation teams. The PM is scrappy and willing to execute personally on the details of making a successful product, as well as able to manage a team. </p>
            </div>
            <div>
                <h2>
                    Key Responsibilities
                </h2>
                <ul class="list-style">
                    <li>Create, deliver, and improve product line-up by working closely with creative, marketing, sales, operations, finance, production and operation teams.</li>
                    <li>Identify consumer needs and market opportunities.</li>
                    <li>Define positioning of product.</li>
                    <li>Develop and manage product roadmap to deliver on business goals.</li>
                    <li>Execute full range of lifecycle management, from improvements to new development, including strategic planning, pricing, product testing, launch, forecasts, and continual product evolution and consumer feedback.</li>
                    <li>Create and improve look and feel of the product, including VI, packaging and all fundamental product materials such as labels, product descriptions, and briefing for product line communications and training that clearly communicate product benefits.</li>
                    <li>Work with sales and marketing managers to develop offline and online marketing and sales strategies for product and create support materials.</li>
                    <li>Analyze potential partner relationships and co-branding opportunities for product.</li>
                </ul>
            </div>
            <div>
                <h2>
                    <p>Qualifications</p>
                    <small style="font-size: 16px;">Candidates should possess most of these qualifications listed below:</small>
                </h2>
                <ul class="list-style">
                    <li>Experience: 5+ years of relevant work experience. 3+ years experience as a product manager in a consumer products company, preferably in healthy food, lifestyle, or fashion industries.  Start-up experience preferred.</li>
                    <li>Passionate product person: Loves great product and driven to create amazing products that meet customer needs. Demonstrated ability to dive deep in understanding the product, our customers, our business, and the competitive landscape.</li>
                    <li>Leadership and teamwork skills: Demonstrated ability to lead high performance cross-functional teams and manage complex projects across teams.</li>
                    <li>Organized: Outstanding organizational and follow-through skills. Proactive with strict attention to detail. Comfortable managing multiple responsibilities at once. Ability to execute methodically while thinking strategically.</li>
                    <li>Excellent communicator: Strong verbal and written communication skills.</li>
                    <li>Results-oriented and scrappy: Demonstrated ability to thrive in a goal-driven environment including achieving or exceeding business targets.</li>
                    <li>Entrepreneurial: Creative and entrepreneurial mindset, eager to take action, interested in helping to build a business and overcome obstacles.li>
                    <li>Additional: Bachelor’s degree required, MBA preferred. Proficient with office and CRM software. High integrity and ethical standards. Mandarin Chinese native fluency required. English language skills preferred. Passion for healthy lifestyle preferred.</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>