﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>VCLEANSE维果清产品经理</h1>
            <div>
                <p>我们在寻找网站运营人才，善于分析数据，利用工具持续优化产品并提升转化率，同时有创造能力，利用已有的网站和第三方直销平台经验与维果清现状结合，提升优化平台，创造价值。</p>
            </div>
            <div>
                <h2>关于VCLEANSE</h2>
                <p>VCLEANSE是一个提供健康餐饮和倡导生活方式的公司,致力于制作美味的食物, 将东方养生灵感融入西方清体精髓，帮助人们达到健康目的。我们目前提供冷压榨果汁,热饮及汤品,在上海和北京均有实体零售门店, 业务覆盖京津冀、江浙沪及全国主要城市和地区。</p>
            </div>
            <div>
                <h2>职位概要</h2>
                <p>在维果清，我们以产品为核心。我们被灵感启发所创造出美味、优质、有利于健康的产品。产品经理应该确保维果清的产品让客户感觉愉悦、使客户理解到我们的产品是市场同类产品中的佼佼者。产品经理将负责制作、交付和改进产品线，与创意、市场、销售、运营、财务和生产团队紧密合作。这个产品经理应该是一个生气勃勃、愿意亲手执行细节工作以完成一个成功的产品，,以及拥有能够管理团队的能力</p>
            </div>
            <div>
                <h2>主要职责</h2>
                <ul class="list-style">
                    <li>将负责制作、交付和改进产品线，与创意、市场、销售、运营、财务和生产团队紧密合作。</li>
                    <li>识别消费需求和市场机会。</li>
                    <li>定义产品的定位</li>
                    <li>开发和管理产品路线图，以实现业务目标</li>
                    <li>执行全面的产品生命周期管理，从改善到新的发展，包括战略规划，定价，产品测试，推出，预测，和持续的产品进化和消费者反馈。</li>
                    <li>创建和改善产品的外观和感觉，包括VI、包装和所有基本的产品材料，如标签、产品说明、产品线沟通和培训，清楚地传达产品的益处。</li>
                    <li>与销售和市场部经理合作，制定产品线上线下的营销策略和销售策略以及需使用的物料。</li>
                    <li>分析产品的潜在合作伙伴关系及合作品牌的机会。</li>
                </ul>
            </div>
            <div>
                <h2>
                    申请资格
                </h2>
                <ul class="list-style">
                    <li>要求本科毕业，工商管理硕士优先</li>
                    <li>5年以上相关工作经验。3年以上消费品公司产品经理的工作经验，有健康食品，生活方式类，时尚行业优先。有创业公司经验者优先。</li>
                    <li>有激情的产品人。热爱做产品，能创造出令人惊叹的产品以满足客户的需求。能够深入了解产品，我们的客户，我们的业务和竞争对手的情况。</li>
                    <li>领导力和团队合作能力：表现出带领高性能跨职能团队的能力，以及跨团队管理复杂项目的能力。</li>
                    <li>组织：优秀的组织和后续跟进的技能。积极主动，严格注意细节。能同时自如地管理多重责任。具有以战略性的思考方式进行执行的能力。</li>
                    <li>优秀的口头和书面沟通能力。</li>
                    <li>以结果导向为主和富有进取心：能证明在目标驱动的环境中生存的能力，包括达到或超过业务目标。</li>
                    <li>具有创意、创业思维，渴望采取行动，对帮助建立业务和克服障碍上有兴趣。</li>
                    <li>熟练使用办公软件和客户关系管理软件。</li>
                    <li>高度诚信和道德规范。</li>
                    <li>普通话母语流利。英语良好者优先。对健康生活方式的热爱者优先。</li>
                </ul>
            </div>
            <div>
                <h2>
                    其他
                </h2>
                <ul class="list-style">
                    <li>热爱社交、喜欢运动，必须积极向上，对健康生活的价值观认同；</li>
                    <li>认同加入创业团队，喜欢创造和革新。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>