﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>市场销售助理</h1>
            <div>
                <h2>职位描述</h2>
                <ul class="list-style">
                    <li>协助部门开展部门日常工作；</li>
                    <li>活动现场的组织、指挥、随时管理、监控活动执行状态，快速反应并解决突发问题；</li>
                    <li>对整体活动成本管理，在保障效果的前提下有效控制活动费用；</li>
                    <li>活动结束后负责现场数据收集、活动报告的整理与反馈；</li>
                    <li>活动物料的申请、组织及协调落实。</li>
                </ul>
            </div>
            <div>
                <h2>
					岗位要求
				</h2>
                <ul class="list-style">
                    <li>大专以上学历，营销相关专业毕业优先；</li>
                    <li>沟通良好，中英文听说写熟练；</li>
                    <li>有一年以上市场销售助理或市场执行工作经历；</li>
                    <li>熟练使用office办公软件，对数字较为敏感；</li>
                    <li>具有良好的客户服务意识、个人管理能力，思维敏捷并富有创造性；</li>
                    <li>适应和执行能力强，抗压能力良好;</li>
                    <li>了解市场活动的运作流程，具有一定的现场执行经验，尤其是线下活动督导的经验；</li>
                    <li>本身就是各种健康生活形态的热衷参与者。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>