﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Store Assistant</h1>
            <div>
                <h2>职位描述</h2>
                <ul class="list-style">
                    <li>愿意从事零售行业工作，并能适应零售行业的工作时间和工作环境，吃苦耐劳；</li>
                    <li>熟识所有产品和主动寻求产品和品牌知识为顾客提供有效建议从而促成订单；</li>
                    <li>协助店长处理日常门店事务，例如：产品优化，清点库存等；</li>
                    <li>提供门店客人的咨询服务和解决投诉；</li>
                    <li>按排班负责网店客服的工作。</li>
                </ul>
            </div>
            <div>
                <h2>
					岗位要求
				</h2>
                <ul class="list-style">
                    <li>专科毕业或以上，应届生也可；</li>
                    <li>形象良好有活力，诚实开朗，有高度的责任心和亲和力；</li>
                    <li>具有良好的沟通意识、服务意识、销售意识；</li>
                    <li>具有零售行业（饮品店）的销售工作经验尤佳；</li>
                    <li>能听懂上海话，普通话流利，懂基本英语会话。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>