﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>VCLEANSE维果清供应链经理</h1>
            <div>
                <h2>关于VCLEANSE</h2>
                <p>VCLEANSE是一个提供健康餐饮和倡导生活方式的公司,致力于制作美味的食物, 将东方养生灵感融入西方清体精髓，帮助人们达到健康目的。我们目前提供冷压榨果汁,热饮及汤品,在上海和北京均有实体零售门店, 业务覆盖京津冀、江浙沪及全国主要城市和地区。</p>
            </div>
            <div>
                <h2>职位概要</h2>
                <p>供应链经理需要创建和管理维果清产品和客户体验的基础架构。负责选择和管理所有维果清供应商,包括原材料、包装,印刷材料,和交付的供应商,并负责确保这些供应商是以最优合作条件与维果清合作的优质的供应商，在有效成本控制范围内达到最好质量。供应链经理还需确保维果清有一个有效和灵活的交付系统来满足客户的需要。供应链经理需要与研发、生产、设计、和客户服务团队紧密合作以理解质量和客户的需求。</p>
            </div>
            <div>
                <h2>
                    主要职责
                </h2>
                <ul class="list-style">
                    <li>开发、领导和执行采购、交付策略。</li>
                    <li>开发、跟踪和报告关键指标保持质量和减少费用。</li>
                    <li>理解为什么我们的产品有别于传统产品,并且能够清晰的表达给不同的供应商了解。</li>
                    <li>对价格和市场趋势做预测、监管并且对需求及开发成本做预测。</li>
                    <li>通过库存管理、谈判等手段，检视及最大化利润。</li>
                    <li>检视库存等级准备采购订单。</li>
                    <li>识别可靠的供应商、制定谈判策略以达到最佳条件的交易。</li>
                    <li>与供应商紧密协作,使服务、质量达到最大化并且最小化成本。</li>
                    <li>监管供应商表现并能与供应商定期面议讨论业绩指标。</li>
                    <li>协调和促进采购运输成本的成本效益。</li>
                    <li>评估、管理和减轻风险。</li>
                    <li>鉴别可回收或循环利用材料的机会，选择可生物降解材料。</li>
                    <li>持续提高产品知识、了解行业趋势和相关法规。</li>
                    <li>建立和维护与研发、设计、生产及客户服务团队的合作关系。</li>
                </ul>
            </div>
            <div>
                <h2>
                    申请资格
                </h2>
                <ul class="list-style">
                    <li>要求本科毕业，工商管理硕士优先</li>
                    <li>5年以上在食品消费类公司的食品原材料采购和供应链管理经验。熟悉采购和供应商管理。有农业和进口原材料经验者优先。有创业公司经验者优先。</li>
                    <li>对质量的要求：:严格的质量标准和对质量标准的深刻理解。</li>
                    <li>优秀的沟通者和谈判者:具有很强的沟通技巧与谈判说服能力。</li>
                    <li>管理能力:项目管理能力,管理供应商和建立一个强大的内部团队。</li>
                    <li>以结果导向为主和富有进取心：能证明在目标驱动的环境中生存的能力，包括达到或超过业务目标</li>
                    <li>有条理:杰出的组织和跟进能力。对细节能主动、严格地关注。能在一个多变、快速运转的环境中同时自如地管理多重责任。</li>
                    <li>具有创意、创业思维，渴望采取行动，对帮助建立业务和克服障碍上有兴趣。</li>
                    <li>熟练使用办公软件和客户关系管理软件。</li>
                    <li>高度诚信和道德规范。</li>
                    <li>普通话母语流利。英语良好者优先。对健康生活方式的热爱者优先。</li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
    _.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
    };
}
</div>