﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="job">
    <div class="job-banner row-edges">
        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/jobs/banner.jpg" alt="Join VCLEANSE">
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>VCLEANSE工作坊主持人（兼职）</h1>
            <div>
                <h2>关于VCLEANSE</h2>
                <p>VCLEANSE是一个提供健康餐饮和倡导生活方式的公司,致力于制作美味的食物, 将东方养生灵感融入西方清体精髓，帮助人们达到健康目的。我们目前提供冷压榨果汁,热饮及汤品,在上海和北京均有实体零售门店, 业务覆盖京津冀、江浙沪及全国主要城市和地区。</p>
            </div>
            <div>
                <h2>职位概要</h2>
                <p>VCLEANSE工作坊主持人将帮助我们现有及潜在客户通过我们的产品、疗程和倡导的生活方式实现他们的个人健康目标。使VCLEANSE的客户感到受鼓舞和照顾、有参与感、消息灵通、有动力直达成功。工作坊主持人负责工作坊进行时的客户体验，他/她的客户体验输送能力乃至转化成销售额的能力将作为衡量其专业度的基本标杆。</p>
            </div>
            <div>
                <h2>主要职责</h2>
                <ul class="list-style">
                    <li>
                        与客户建立融洽的关系，通过展示亲切问候,同理心等方式方法,了解每个客户的个人经验；
                    </li>
                    <li>
                        主持VCLEANSE工作坊，解释VCLEANSE的产品和疗程信息,利用VCLEANSE演示材料和资源,帮助客户实现个人的健康目标；
                    </li>
                    <li>
                        促进小组讨论,使所有客户感觉有参与感及渴望参与；
                    </li>
                    <li>
                        积极倾听与会的每一位客户,确定个人需求,跟进；
                    </li>
                    <li>
                        向VCLEANSE的新老客户销售产品、形成订单；
                    </li>
                    <li>
                        激励客户做出积极的改变、与客户共庆进步；
                    </li>
                    <li>
                        寻求新的方法来保持消费者的兴趣和发现一切手段把机会变成结果；
                    </li>
                    <li>
                        与厨房、运营、营销和销售团队协调工作, 以确保一个良好、无缝衔接的用户体验；
                    </li>
                    <li>
                        为工作坊的顺利进行作必要的准备及参加相关会议和培训。
                    </li>
                </ul>
            </div>
            <div>
                <h2>申请资格</h2>
                <ul class="list-style">
                    <li>
                        能体现VCLEANSE健康生活方式和激发出他人对VCLEANSE的热爱和激情；
                    </li>
                    <li>
                        有时间感及责任心，坚持所有VCLEANSE政策，有得体、专业感的外表；
                    </li>
                    <li>
                        与客户和同事建立融洽的关系，具有较强沟通能力、富有亲和力；
                    </li>
                    <li>
                        自动自觉，设定自己的目标,探索开发技能的机会,善于解决问题及聆听不同的声音；
                    </li>
                    <li>
                        容易接受、适应新的方式方法和程序；
                    </li>
                    <li>
                        优良的演示、表达能力及倾听技巧、反应灵敏；
                    </li>
                    <li>
                        合作度高，人际关系融洽,能够快速解决临时出现的冲突；
                    </li>
                    <li>
                        精通演讲和OFFICE办公软件。有健身或营养领域经验者优先；
                    </li>
                    <li>
                        中文标准流利 / 或者英文标准流利并能听说中文。
                    </li>
                </ul>
            </div>
            <br><hr>
            <p data-weave="widget/blurb/main(p1005)">Please send your resume to: <a href="mailto:hr@vcleanse.com">hr@vcleanse.com</a>, and indicate the position you are applying for.</p>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section meta_title {加入维果清} 
@section meta_keywrods {维果清,工作,加入维果清} 
@section meta_description {加入维果清} 
@section blurb { 
	_.BLURB = {
        "p1005": {
            "en": "Please send your resume to: <a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>, and indicate the position you are applying for.",
            "cn": "请将简历投递至：<a href=\"mailto:hr@vcleanse.com\">hr@vcleanse.com</a>，并注明申请职位。"
        }
	};
}
</div>