<%
    var j = 0;
    var deliverTime = data.deliverTime;
    var jLens = deliverTime.length;
%>
<div class="btn-group deliverytime" data-toggle="buttons" data-action="changedelivertime">
    <%
        for(j = 0; j < jLens; j++){
    %>
        <label class="btn btn-option <%if(deliverTime[j].Selected) { %>active<% } %>">
            <input type="radio" name="deliverytime" value="<%=deliverTime[j].Id%>"><%=deliverTime[j].Name%>
        </label>
    <% } %>
</div>
