<%
    var startDate = data.startDate || "";
    var mondays = data.mondays || "";
%>
<div id="carousel-juicemonday" class="carousel carousel-clear slide" data-interval="false">
    <ol class="carousel-indicators">
        <li data-target="#carousel-juicemonday" data-slide-to="0" class="active juicemonday-pkg-1" data-weave="widget/blurb/main(p1001)">
            女士全断食套餐
        </li>
        <li data-target="#carousel-juicemonday" data-slide-to="1" class="juicemonday-pkg-2" data-weave="widget/blurb/main(p1002)">
            女士半断食套餐
        </li>
        <li data-target="#carousel-juicemonday" data-slide-to="2" class="juicemonday-pkg-3" data-weave="widget/blurb/main(p1003)">
            男士全断食套餐
        </li>
        <li data-target="#carousel-juicemonday" data-slide-to="3" class="juicemonday-pkg-4" data-weave="widget/blurb/main(p1004)">
            男士半断食套餐
        </li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item juicemonday-pkg active">
            <div>
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/pkg_female_full.jpg" alt="女士全断食套餐" width="350" height="200">
            </div>
            <p class="juicemonday-text">
                经典冷压口味：以6瓶蔬果汁代替一天的日常餐食，是简单易行的清体入门基础套餐。<br>在短期内将大量的、高质量的蔬果、坚果营养注入身体，给自己的器官“放个假”。
            </p>
            <p class="juicemonday-text">
                总金额：1625元 （含5次运费）<br>
                默认外送时间为：<span data-action="juicemondaydate"><%= mondays%></span>
            </p>
            <div class="juicemonday-action">
                <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/3/groupid/6/weekDays/1/deliveryStartDate/<%=startDate%>/duration/5/event/jmon" class="btn btn-default btn-lg btn-action">确认订餐</a>
            </div>
        </div>
        <div class="item juicemonday-pkg">
            <div>
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/pkg_female_half.jpg" alt="女士半断食套餐" width="350" height="200">
            </div>
            <p class="juicemonday-text">
                经典冷压口味：用4瓶蔬果汁替代一日中的任意两餐，而第三餐则清淡进食，<br>这种做法可以帮助您觉得健康饮食“简单易行”。
            </p>
            <p class="juicemonday-text">
                总金额：1125元 （含5次运费）<br>
                默认配送时间为：<span data-action="juicemondaydate"><%= mondays%></span>
            </p>
            <div class="juicemonday-action">
                <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/3/groupid/6/weekDays/1/deliveryStartDate/<%=startDate%>/duration/5/event/jmon" class="btn btn-default btn-lg btn-action">确认订餐</a>
            </div>
        </div>
        <div class="item juicemonday-pkg">
            <div>
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/pkg_male_full.jpg" alt="男士全断食套餐" width="350" height="200">
            </div>
            <p class="juicemonday-text">
                经典冷压口味：以8瓶蔬果汁代替一天的日常餐食简单易行的清体入门基础套餐，<br>在短期内将大量的、高质量的蔬果、坚果营养注入身体，给自己的器官“放个假”。
            </p>
            <p class="juicemonday-text">
                总金额：2125元 （含5次运费）<br>
                默认配送时间为：<span data-action="juicemondaydate"><%= mondays%></span>
            </p>
            <div class="juicemonday-action">
                <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/3/groupid/3/weekDays/1/deliveryStartDate/<%=startDate%>/duration/5/event/jmon" class="btn btn-default btn-lg btn-action">确认订餐</a>
            </div>
        </div>
        <div class="item juicemonday-pkg">
            <div>
                <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/juicemonday/pkg_male_half.jpg" alt="男士半断食套餐" width="350" height="200">
            </div>
            <p class="juicemonday-text">
                经典冷压口味：用5瓶蔬果汁替代一日中的任意两餐，而第三餐则清淡进食，<br>这种做法可以帮助您觉得健康饮食“简单易行”。
            </p>
            <p class="juicemonday-text">
                总金额：1375元 （含5次运费）<br>
                默认配送时间为：<span data-action="juicemondaydate"><%= mondays%></span>
            </p>
            <div class="juicemonday-action">
                <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/3/groupid/3/weekDays/1/deliveryStartDate/<%=startDate%>/duration/5/event/jmon" class="btn btn-default btn-lg">确认订餐</a>
            </div>
        </div>
    </div>
</div>