<%
    var isMobile = data.isMobile;
    var cacheServer = data.cacheServer;
    var language = data.language;
    var txt = language === "en" ? "GIFT<br>Detail&gt;&gt;" : "限时优惠<br>详细&gt;&gt;";
%>
<a class="link-fn package-days-promotion tips" data-action="showpromotionrule">
    <!--img src="<%= cacheServer + '/images/event/holidaypromotion/icon_gift.png'%>" width="20" height="20" alt="维果清祝您节日快乐！购买5天清体疗程，便获得一天礼品卡！" title="维果清祝您节日快乐！购买5天清体疗程，便获得一天礼品卡！"-->
    <span class="tips-text" title="维果清祝您节日快乐！购买5天清体疗程，便获得一天礼品卡！"><%=txt%></span>
</a>
