<%
    var monthDuration = data.monthDuration;
%>
<div class="subscription-plan">
    <div class="subscription-heading">
        <h2 data-weave="widget/blurb/main(p1001)" class="text-center">SELECT SCHEDULE</h2>
    </div>
    <div class="subscription-body">
        <div class="row">
            <div class="col-md-7">
                <h3>
                    <span class="badge">1</span>
                    <span class="subscription-plan-step-title" data-weave="widget/blurb/main(p1006)">Days cleansing</span>
                </h3>
                <div class="btn-group option-days" data-toggle="buttons" data-action="">
                    <label class="btn btn-option active">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="1" checked><span data-weave="widget/blurb/main(p1009)">Mon</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="2"><span data-weave="widget/blurb/main(p1010)">Tue</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="3"><span data-weave="widget/blurb/main(p1011)">Wed</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="4"><span data-weave="widget/blurb/main(p1012)">Thu</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="5"><span data-weave="widget/blurb/main(p1013)">Fri</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="6"><span data-weave="widget/blurb/main(p1014)">Sat</span>
                    </label>
                    <label class="btn btn-option">
                        <input type="checkbox" name="checkbox-days" data-action="changeweekdays" value="0"><span data-weave="widget/blurb/main(p1015)">Sun</span>
                    </label>
                </div>
            </div>
            <div class="col-md-5">
                <h3>
                    <span class="badge">2</span>
                    <span class="subscription-plan-step-title" data-weave="widget/blurb/main(p1007)">Start duration</span>
                </h3>
                <div class="subscription-plan-single" data-weave="widget/startdate/main(range, rangeMonth)" data-range="true" data-range-month="<%=monthDuration%>"></div>
            </div>
        </div>
        <div class="subscription-how">
            <br>
            <p>
                <a href="http://news.vcleanse.com/?p=1035" target="blank" data-weave="widget/blurb/main(p1008)">Need help making your juice plan? See our top recommendations!</a>
            </p>
        </div>
    </div>
</div>
<div class="subscription-package">
    <div class="subscription-heading">
        <h3>
            <span class="badge">3</span>
            <span class="subscription-plan-step-title" data-weave="widget/blurb/main(p1017)">SELECT A CLEANSE OR SELECT INDIVIDUAL JUICES</span>
        </h3>
    </div>
    <div class="subscription-body" data-weave="widget/subscription/category/main"></div>
</div>
<div class="subscription-result">
    <div class="subscription-heading">
        <h2 data-weave="widget/blurb/main(p1018)">ORDER INFORMATION</h2>
    </div>
    <div class="subscription-body">
        <p class="subscription-summary" data-action="summarycontainer"></p>
        <hr>
        <div class="text-right">
            <p class="subscription-total">
                <span data-weave="widget/blurb/main(1040)">total:</span>
                <span class="subscription-total-money" data-action="showtotalmoney">&yen; 7200</span>
            </p>
            <button type="button" class="btn-action btn btn-default btn-lg" data-action="submitsubsciption" data-weave="widget/blurb/main(1031)">CONFIRM</button>
        </div>
    </div>
</div>
