<%
	var gender = data.gender;
	var weekDays = data.weekDays;
	var deliveryStartDate = data.deliveryStartDate;
	var deliveryEndDate = data.deliveryEndDate;
	var duration = data.duration;
	var packageId = data.packageId;
	var packageName = data.packageName;
	var language = data.language;

	var strGender = "";
	if(packageId && gender){
		if(language === "cn"){
			strGender = gender === 1 ? "男" : "女";
		} else {
			strGender = gender === 1 ? "male" : "female";
		}
	}

	var format = packageName + "," + weekDays.length + "," + duration + "," + deliveryStartDate + "," + deliveryEndDate;
%>
<% 
	if(strGender){
		format = format + "," + strGender;
%>
		<span data-weave="widget/blurb/main(p1002)" data-format="<%=format%>">
			You've committed to <span class="subscription-summary-fill">{0} ({4}) {1}</span> days a week for the next <span class="subscription-summary-fill">{2}</span> weeks, starting from <span class="subscription-summary-fill">{3}</span>.
		</span>
<%
	} else {
%>
		<span data-weave="widget/blurb/main(p1003)" data-format="<%=format%>">
			You've committed to <span class="subscription-summary-fill">{0} {1}</span> days a week for the next <span class="subscription-summary-fill">{2}</span> weeks, starting from <span class="subscription-summary-fill">{3}</span>.
		</span>
<%
	}
%>
