<form class="form-editaddress form-horizontal">
    <p data-weave="widget/blurb/main(1313)">Sign in to your account</p>
    <%
        var address = data || {};
        renderAddress(address);
    %>
</form>
<% function renderAddress(address) { %>
    <div class="form-deliveryaddress">
       
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-firstname" data-weave="widget/blurb/main(1395)">Receiver name:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="signup-firstname" name="signup-firstname" placeholder="Type receiver name here" required value="<%=(address.FirstName || "")%>" autofocus data-weave="widget/blurb/main(1396, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-phonenumber" data-weave="widget/blurb/main(1056)">Mobile:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="signup-phonenumber" name="signup-phonenumber" placeholder="Your Mobile Number" required value="<%=(address.Mobile || "")%>" data-weave="widget/blurb/main(1134, 'placeholder')">
            </div>
        </div>
        <div class="form-account-address form-group">
            <label class="col-sm-3 control-label" data-weave="widget/blurb/main(1057)">Delivery address:</label>
            <div class="col-sm-8">
                <div data-action="updateregion" class="region" data-weave="widget/select/region/main(provinceId, cityId, areaId)" data-province-id="<%=(address.ProvinceId||0)%>" data-city-id="<%=(address.CityId||0)%>" data-area-id="<%=(address.AreaId||0)%>"></div>
                <br>
                <input class="form-control" type="text" name="signup-line1" placeholder="Shipping address" required value="<%=(address.Line1 || "")%>" data-weave="widget/blurb/main(1136, 'placeholder')">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label" for="signup-zipcode" data-weave="widget/blurb/main(1207)">Zip code:</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="signup-zipcode" name="signup-zipcode" placeholder="Zip code" value="<%=(address.ZipCode || "")%>" data-weave="widget/blurb/main(1208, 'placeholder')">
            </div>
        </div>
    </div>
<% } %>
