﻿@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="inner moonbear">
    <form role="form">
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/banner.jpg" alt="VCLEANSE moonbear juice">
        </div>
        <div class="moonbear-dream clearfix">
        	<div class="pull-left moonbear-dream-slider">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/slider.jpg" alt="VCLEANSE moonbear juice">
    	    </div>
    	    <div class="pull-right moonbear-dream-intro">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/dream.jpg" alt="VCLEANSE moonbear juice">
    	    </div>
        </div>
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/join.jpg" alt="VCLEANSE moonbear juice">
        </div>
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/topic.jpg" alt="VCLEANSE moonbear juice">
        </div>
        <div class="moonbear-sales clearfix">
        	<div class="pull-left moonbear-sales-ad">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/ad.jpg" alt="VCLEANSE moonbear juice">
    	    </div>
    	    <div class="pull-right moonbear-sales-main">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/salesinfo.jpg" alt="VCLEANSE moonbear juice">
    	        <div data-weave="widget/numbercontroller/main(id, count, countMin, countMax, price, disable)" data-id="81" data-count="1" data-count-min="1" data-count-max="50" data-price="58" data-disable="false"></div>
    	    </div>
        </div>
        <div class="text-center moonbear-action" data-weave="widget/moonbear/main"></div>
        <div>
            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/cooperation.jpg" alt="VCLEANSE moonbear juice">
        </div>
        <div class="moonbear-cooperation clearfix">
        	<div class="pull-left moonbear-cooperation-intro">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/cooperation_intro.jpg" alt="VCLEANSE moonbear juice">
        	</div>
        	<div class="pull-left moonbear-cooperation-sep">
    	        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/cooperation_sep.jpg" alt="VCLEANSE moonbear juice">
    	    </div>
        	<div class="moonbear-cooperation-stars pull-right clearfix">	        
    	    	<div class="pull-left">
    		        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/cooperation_jillrobinson.jpg" alt="VCLEANSE moonbear juice">
    	    	</div>
    	    	<div class="pull-left">
    		        <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/moonbear/cooperation_karenmok.jpg" alt="VCLEANSE moonbear juice">
    		    </div>
    		</div>
        </div>
    </form>
</div>
<div class="newsletter" data-weave="widget/emailsubscribe/main"></div>
<style type="text/css">
    .moonbear {
    	margin-top: 15px;
        margin-bottom: 30px;
    }
    .moonbear-action {
        border-top: 2px solid #000;
        margin-left: 30px;
        margin-right: 30px;
        padding: 40px 0;
    }
    .moonbear-action > .btn {
        padding-left: 50px;
        padding-right: 50px;
        font-size: 200%;
    }
    .moonbear-dream > .moonbear-dream-slider {
    	width: 444px;
    }
    .moonbear-dream > .moonbear-dream-intro {
    	width: 548px;
    }
    .moonbear-sales > .moonbear-sales-ad {
    	width: 702px;
    }
    .moonbear-sales > .moonbear-sales-main {
    	width: 290px;
    }
    .moonbear-cooperation > .moonbear-cooperation-intro {
    	width: 378px;
    }
    .moonbear-cooperation > .moonbear-cooperation-sep {
    	width: 66px;
    }
    .moonbear-cooperation > .moonbear-cooperation-stars {
    	width: 548px;
    }
    .numbercontroller{
        padding-left: 28px;
    }
</style>

<div class="razor-section" style="display: none;">
@section meta_title {助月熊圆梦【真正的冷压清体果汁】}
@section meta_keywrods {月熊,月熊的蜂蜜树,亚洲动物基金,莫文蔚,谢罗便臣,Jill Robinson}
@section meta_description {助月熊圆梦 - 由亚洲动物基金与VCLEANSE维果清联合发起}
</div>