<div class="subtotal">
    <table>
        <% if (data.preferentialProduct) { %>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1033)">Product:</strong></td>
                <td class="number-list-price value">&yen;<%=data.product%></td>
            </tr>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1237)">Product(Preferential):</strong></td>
                <td class="number-price value">&yen;<%=data.preferentialProduct%></td>
            </tr>
        <% } else { %>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1033)">Product:</strong></td>
                <td class="number-price value">&yen;<%=data.product%></td>
            </tr>
        <% } %>
        <% if (data.preferentialDelivery) { %>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1034)">Delivery:</strong></td>
                <td class="number-list-price value">&yen;<%=data.delivery%></td>
            </tr>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1238)">Delivery(Preferential):</strong></td>
                <td class="number-price value">&yen;<%=data.preferentialDelivery%></td>
            </tr>
        <% } else { %>
            <tr>
                <td class="name"><strong data-weave="widget/blurb/main(1034)">Delivery:</strong></td>
                <td class="number-price value">&yen;<%=data.delivery%></td>
            </tr>
        <% } %>
    </table>
</div>
<div class="total">
    <table>
        <tr>
            <td class="name"><strong data-weave="widget/blurb/main(1040)">Total:</strong></td>
            <td class="number-price value">&yen;<%=data.total%></td>
        </tr>
    </table>
</div>
