﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="giftcard">
    <div class="giftcard-banner row-edges">
        <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/mobile/banner_giftcard_cn.jpg" alt="本季最贴心的礼物就在这里...当季健康之礼首选">
    </div>
    <div class="giftcard-content inner">
        <h2 class="giftcard-content-title" data-weave="widget/blurb/main(p1008)">Choose from 1-Day, 3-Day, and 5-Day V-HAPPY Cards</h2>
        <p class="giftcard-content-description" data-weave="widget/blurb/main(p1009)"></p>
        <div class="giftcard-main">
            <p class="giftcard-content-description" data-weave="widget/blurb/main(p1005)"></p>
            <h3 data-weave="widget/blurb/main(1121)">Female</h3>
            <div class="swipe" data-weave="widget/swipe/main" data-auto="0" data-start-slide="1">
                <div class="swipe-wrap">
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1010)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;325</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/1/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1011)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;975</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/3/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1012)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;1625</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/20/days/5/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <h3 data-weave="widget/blurb/main(1122)">Male</h3>
            <div class="swipe" data-weave="widget/swipe/main" data-auto="0" data-start-slide="1">
                <div class="swipe-wrap">
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1010)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;425</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/1/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1011)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;1275</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/3/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                    <div class="giftcard-item">
                        <p data-weave="widget/blurb/main(p1012)"></p>
                        <p>
                            <img data-weave="widget/basic/imageswitch" src="/images/blank.png" data-src="images/giftcard/giftcard.jpg" height="150" alt="">
                            <span class="giftcard-price">&yen;2125</span>
                        </p>
                        <p class="buyButton">
                            <a href="/order/receiver" data-weave="widget/href/main widget/blurb/main(1050)" data-hash="packageid/10/groupid/19/days/5/event/gift" class="btn btn-default btn-lg btn-block">BUY</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="razor-section" style="display: none;">
@section blurb {
    _.BLURB = {
        "p1001": {
            "en": "Select the gender of the recipient.",
            "cn": "他还是她？"
        },
        "p1002": {
            "en": "1-Day",
            "cn": "1日清体V-HAPPY卡"
        },
        "p1003": {
            "en": "3-Day",
            "cn": "3日清体V-HAPPY卡"
        },
        "p1004": {
            "en": "5-Day",
            "cn": "5日清体V-HAPPY卡"
        },
        "p1005": {
            "en": "Females receive 6 bottles per day, including delivery. Males receive 8 bottles per day, including delivery.",
            "cn": "女士每天6瓶，包含运费。<br>男士每天8瓶，包含运费。"
        },
        "p1008": {
            "en": "Choose from 1-Day, 3-Day, and 5-Day V-HAPPY Cards",
            "cn": "健康之礼"
        },
        "p1009": {
            "en": "Each day contains an assortment of cold-pressed juices, delicious nutmilks, and infusions and hot soups, plus delivery!",
            "cn": "<b>维果清献上全新健康生活方式 之礼</b><br>冷榨液压果汁 - 美味坚果奶 - 特饮和热汤"
        },
        "p1010": {
            "en": "<b>1-Day:</b> Give someone a special day to eat cleanly and breathe deeply. Even after 1 day, one can feel a lightness of body and spirit!",
            "cn": "<b>1日清体V-HAPPY卡：</b>赶走疲惫唤醒身心"
        },
        "p1011": {
            "en": "<b>3-Day:</b> Usually just the right length for those who have never juiced before.",
            "cn": "<b>3日清体V-HAPPY卡：</b>补充满满正能量"
        },
        "p1012": {
            "en": "<b>5-Day:</b> 5 glorious days of juicing can lead not only those jeans fitting looser, but a healthy glow, greater energy, and a feeling of wellness. It's the perfect gift for a special birthday, brides-to-be, and for anyone looking to kickstart their health.",
            "cn": "<b>5日清体V-HAPPY卡：</b>轻盈体态重塑健康"
        }
    };
}
</div>