small, .small {
    font-size: 92%;
}
label {
    font-weight: normal;
}
hr {
    margin-top: 12px;
    margin-bottom: 12px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.6;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
button, input[type=submit] {
    height: auto;
}
.form-control {
    font-size: 12px;
}
input.form-control {
    border-radius: @border-radius-small;
    border: 1px solid @color-black; 
}
.v-popup-container {
    max-width: 800px;
    background-color: @color-white;
    padding: 20px;
    margin: 0 auto;
    border-radius: @border-radius;
}
.order-receiver {
    width: 80%;
}
.carousel-indicators {
    li {
        background-color: @color-white;
        border-color: @color-grey;
        &.active {
            background-color: @color-grey-darker;
            border-color: transparent;
        }
    }
}
.jquery-ui-lightness .ui-widget-header {
    color: @color-black;
}
.btn {
    border-width: 2px;
    border-radius: @border-radius-small;
    border: none;
    &:hover {
        border: none;
        color: #fff; 
        // background-color: #72CC3E;
    }
    &.disabled {
        border: none;
    }
}

.btn-default {
   //background: @color-green;
    color: @color-white;
    &:hover {
        background-color: @color-green;
        color: @color-white;
    }
    &.disabled {
        background: @color-grey-light;
        color: @color-grey-dark;
    }
}

.btn-option {
    background: none;
    color: @color-grey-dark;
    border: 2px solid transparent;
    &:hover {
        color: @color-hover;
        border: 2px solid @color-green;
    }
    &:active {
        color: @color-white;
        box-shadow: none;
        border: 2px solid @color-green;
        background-color: @color-green;
    }
    &.active {
        box-shadow: none;
        background: none;
        color: @color-white;
        border: 2px solid @color-green;
        background-color: @color-green;
    }
}
.modal-dialog{
    .modal-content {
        border-radius: 0;
        border: none;
    }
}
label {
    margin-bottom: 5px;
}
.detail-bd h3 {
    margin-bottom: 10px;
}
.juice-view .nav-tabs li {
    width: 20%;
}
.table-bordered {
    border: 1px solid @color-grey-darker;
}
.table {
    > tbody > tr > td, > thead > tr > th, > thead > tr > td {
        padding: 5px;
        border-color: @color-grey-darker;
    }
    > thead > tr > th, > thead > tr > td {
        border-bottom-width: 5px;
    }
    > thead > tr > th, 
    > tbody > tr > th, 
    > tfoot > tr > th, 
    > thead > tr > td, 
    > tbody > tr > td, 
    > tfoot > tr > td {
        line-height: 2.6;
    }
    &.table-condensed {
        > thead > tr > th, 
        > tbody > tr > th, 
        > tfoot > tr > th, 
        > thead > tr > td, 
        > tbody > tr > td, 
        > tfoot > tr > td {
            line-height: 1.4;
        }
    }
}
@media screen and (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
}
