﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<div class="row" style="margin-bottom: -30px;" data-weave="widget/certificate/main"></div>
<style type="text/css">
	.bshare-buzz {
		display: none;
	}
	.bshare-overlayLink {
		padding: 10px 10px;
	}
	img.bshare-logos {
		padding: 0 5px !important;
	}
</style>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#uuid=48696551-2cd1-4f8d-85b8-126767b0709b&style=-1"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/addons/bshareMM.js#shareClass=BSHARE_IMAGE_ALL&bp=sinaminiblog,weixin&text=%E5%88%86%E4%BA%AB%E5%88%B0:&border=false"></script>
