﻿@{Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";}
<style type="text/css" media="screen">
    .paws-mobile {
        line-height: 1.6;
    }
    .paws-mobile h4,
    .paws-mobile h5,
    .paws-mobile p {
        line-height: 1.5;
    }
    .paws > div {
        margin-top: 10px;
    }
    .paw {
        text-align: center;
        color: #F077AE;
    }
    .paw:hover,
    .paw:active,
    .paw:focus {
        text-decoration: none;
        color: #F077AE;
    }
    .paw img {
        width: 90%;
    }
    .modal {
        text-align: center;
    }
    .tright {
        text-align: right;
    }
    .close {
        font-size: 30px;
    }
    .paw-about {
        text-align: left;
    }
    .modal .modal-content {
        border-radius: 0;
    }
</style>
<div class="paws-mobile" style="margin-bottom: -30px;">
    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/waiting_mobile_01.jpg" width="100%" alt="Cleanse for a day, love for life">
    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/products.jpg" width="100%" alt="Cleanse for a day, love for life">
    <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/16/groupid/26/days/1/addon/0,0/event/cfac">
        <img data-weave="widget/basic/imageswitch" data-src="images/event/paws/waiting_mobile_02.jpg" src="/images/blank.png" width="100%" alt="Cleanse for a day, love for life">
    </a>

    <h5 class="text-center" style="line-height: 1.6;">
        - MEET THE CATS AND DOGS FOR ADOPTION -
        <br>- 快来认识这些可爱的待领养的萌宝们 -
    </h5>
    <!-- end of meet paws -->

    <div class="row paws">
        <div class="col-xs-6 col-md-4">
            <a href="#paw-zaizai" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-zaizai.jpg">
                </p>
                <p>
                    ZAI-ZAI
                    <br>仔仔
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-bw" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bw.jpg">
                </p>
                <p>
                    BLACK&amp;WHITE
                    <br>黑白猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-panda" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-panda.jpg">
                </p>
                <p>
                    PANDA
                    <br>熊猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-hanhan" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-hanhan.jpg">
                </p>
                <p>
                    HAN-HAN
                    <br>韩寒
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-pearl" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-pearl.jpg">
                </p>
                <p>
                    PEARL
                    <br>珍珠米
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-littlewhite" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littlewhite.jpg">
                </p>
                <p>
                    LITTLE WHITE
                    <br>黄白猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-huahua" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-huahua.jpg">
                </p>
                <p>
                    HUA-HUA
                    <br>花花
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-haohao" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-haohao.jpg">
                </p>
                <p>
                    HAO-HAO
                    <br>好好
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-nannan" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-nannan.jpg">
                </p>
                <p>
                    NAN-NAN
                    <br>楠楠
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-mengmeng" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mengmeng.jpg">
                </p>
                <p>
                    MENG-MENG
                    <br>萌萌
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-qiaoqiao" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-qiaoqiao.jpg">
                </p>
                <p>
                    QIAO-QIAO
                    <br>巧巧
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-ali" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-ali.jpg">
                </p>
                <p>
                    ALI
                    <br>阿乐
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-awang" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-awang.jpg">
                </p>
                <p>
                    A-WANG
                    <br>阿旺
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-bamboo" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bamboo.jpg">
                </p>
                <p>
                    BAMBOO
                    <br>&nbsp;
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-baobao" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-baobao.jpg">
                </p>
                <p>
                    BAO-BAO
                    <br>宝宝
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-bebe" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bebe.jpg">
                </p>
                <p>
                    BEBE
                    <br>贝贝
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-beck" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-beck.jpg">
                </p>
                <p>
                    BECK
                    <br>贝克
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-diamond" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-diamond.jpg">
                </p>
                <p>
                    DIAMOND
                    <br>&nbsp;
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-dori" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-dori.jpg">
                </p>
                <p>
                    DORI
                    <br>多利
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-gaga" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-gaga.jpg">
                </p>
                <p>
                    Gaga
                    <br>卡卡
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-heili" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-heili.jpg">
                </p>
                <p>
                    HEI-LI
                    <br>黑狸猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-hualian" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-hualian.jpg">
                </p>
                <p>
                    HUA-LIAN
                    <br>花脸
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-huihui" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-huihui.jpg">
                </p>
                <p>
                    HUI-HUI
                    <br>灰灰
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-littleawang" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littleawang.jpg">
                </p>
                <p>
                    LITTLE A-WANG
                    <br>小阿旺
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-littlebebe" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littlebebe.jpg">
                </p>
                <p>
                    LITTLE BEBE
                    <br>小贝贝
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-littleflower" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littleflower.jpg">
                </p>
                <p>
                    LITTLE FLOWER
                    <br>小花
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-littletiger" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littletiger.jpg">
                </p>
                <p>
                    LITTLE TIGER
                    <br>小虎
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-lulu" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-lulu.jpg">
                </p>
                <p>
                    LULU
                    <br>露露
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-margherita" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-margherita.jpg">
                </p>
                <p>
                    MARGHERITA
                    <br>玛格丽特
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-mimi" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mimi.jpg">
                </p>
                <p>
                    MIMI
                    <br>咪咪
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-mingming" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mingming.jpg">
                </p>
                <p>
                    MINGMING
                    <br>明明
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-sanhua" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-sanhua.jpg">
                </p>
                <p>
                    SAN-HUA
                    <br>三花猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-sanmao" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-sanmao.jpg">
                </p>
                <p>
                    SAN-MAO
                    <br>三毛
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-xianxian" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xianxian.jpg">
                </p>
                <p>
                    XIAN-XIAN
                    <br>仙仙
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-xiaobai" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaobai.jpg">
                </p>
                <p>
                    XIAO-BAI
                    <br>小白猫
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-xiaobao" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaobao.jpg">
                </p>
                <p>
                    XIAO BAO
                    <br>小宝
                </p>
            </a>
            <!-- end of paw -->
        </div>
        <div class="col-xs-6 col-md-4">
            <a href="#paw-xiaoxiaohei" class="paw" data-toggle="modal">
                <p>
                    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaoxiaohei.jpg">
                </p>
                <p>
                    XIAO XIAO HEI
                    <br>小小黑
                </p>
            </a>
            <!-- end of paw -->
        </div>
    </div>
    <!-- end of paws -->

    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/waiting_mobile_01.jpg" width="100%" alt="Cleanse for a day, love for life">
    <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/products.jpg" width="100%" alt="Cleanse for a day, love for life">
    <a data-weave="widget/href/main" href="/order/receiver" data-hash="packageid/16/groupid/26/days/1/addon/0,0/event/cfac">
        <img data-weave="widget/basic/imageswitch" data-src="images/event/paws/waiting_mobile_02.jpg" src="/images/blank.png" width="100%" alt="Cleanse for a day, love for life">
    </a>
    <img data-weave="widget/basic/imageswitch" data-src="images/event/paws/waiting_mobile_03.jpg" src="/images/blank.png" width="100%" alt="Cleanse for a day, love for life">
</div>

<div class="modal fade modal-paw" id="paw-zaizai">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-zaizai.jpg">
                        </p>
                        <h4 class="tcenter">
                            ZAI－ZAI
                            <br>仔仔
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>仔仔是在一个下雨天被发现坐在助动车上瑟瑟发抖，不知道是被遗弃还是走失的，公，已绝育,年龄应该在3岁左右，生活习惯良好，很聪明，可能因为流浪的关系护食很厉害，没安全感, 有时会有点小脾气，希望找有养狗经验和有耐心的家庭</p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of zaizai -->

<div class="modal fade modal-paw" id="paw-bw">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bw.jpg">
                        </p>
                        <h4 class="tcenter">
                            BLACK &amp; WHITE
                            <br>黑白猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>黑白猫：义工在公园散步，只听闻喵喵生声清脆地从不远处传来，找来找去发现在一片矮树丛里躺着黑白相间毛茸茸的小团，不确定是被扔在这里还是和猫妈妈走散了，他当机立断把猫咪带回家了，不救他怕是活不了了。几十天里用奶瓶一口口喂大，现在的熊熊已经是个年轻力壮的小伙子。领养之路不好走，从萌小娃一拖变成小帅哥，谁可以给他一个家。</p>
                        <p class="tright">
                            领养请联系微信：karen0608
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of blank n white -->

<div class="modal fade modal-paw" id="paw-panda">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-panda.jpg">
                        </p>
                        <h4 class="tcenter">
                            PANDA
                            <br>熊猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            熊猫：妹妹，1-2岁，聪明可爱，救助人发现她时躺在机动车道路中央，听清洁工说她在这里已经徘徊了一天，傍晚时才躺到马路中间欲自杀，送医检查 刚生好小狗2-3天，不知是被遗弃还是出来找孩子的，命苦的孩子更需要你的爱。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of panda -->

<div class="modal fade modal-paw" id="paw-hanhan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-hanhan.jpg">
                        </p>
                        <h4 class="tcenter">
                            HAN-HAN
                            <br>韩寒
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            韩寒，4岁的弟弟，虎斑弟弟，因为帅气、亲人（手 上拿着猫罐头来引诱他，他就会满地打滚献媚来讨好 “你”---猫罐头的提供者）。当韩寒还是幼稚少年时 有了爸爸妈妈，等他长大成人，领养人却因为要去外 地生活把他退回，他被装在纸箱扔在爪园基地门口。 来上班的叔叔根本没意识到里面有个猫，还按往常一 样以为是快递包裹所以放在室内待劳动完后再拆，而 乖巧的韩寒始终保持沉默。
                        </p>
                        <p>
                            另一边，阿姨左顾右盼地等着韩寒回来，等不急了去 了个电话才破解谜团。倘若在爪园工作人员上班前, 这个纸箱被不知情的小区清洁工人当作垃圾扔掉了该 怎么办？想起来就后怕呀～
                        </p>
                        <p>
                            如今他幸运地在上海喵领馆（一个由ThinkAdoption 呈现的位于外滩的中途猫咪公寓，目前帮忙寄养着爪 园的待领养猫咪）
                        </p>
                        <p>
                            如果爱，请深爱，你若能给他一辈子的家，请来联系 我们义工吧！
                        </p>
                        <p class="tright">
                            领养请联系微信：sophiayelin
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of panda -->

<div class="modal fade modal-paw" id="paw-pearl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-pearl.jpg">
                        </p>
                        <h4 class="tcenter">
                            PEARL
                            <br>珍珠米
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            珍珠米：妹妹，2岁左右，因皮肤病被主人开车遗弃在陆家浜路大新街，傻傻的她一直以为主人会回来接她而呆在原地等不肯离开，白天躺在路边晚上睡在边上车底下，被救助时在原地已经等了一周，这么乖巧而忠实的狗狗希望再给她的家一定可以不离不弃。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of pearl -->

<div class="modal fade modal-paw" id="paw-littlewhite">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littlewhite.jpg">
                        </p>
                        <h4 class="tcenter">
                            LITTLE WHITE
                            <br>黄白猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            黄白猫：救助人在滂沱大雨中发现了她和她的妹妹，当时她们才一个多月大，而猫妈妈却遇难了，留下了2个虚弱的猫孩子… 救助人把她们带回了家，经过一个多月的调养，小猫们慢慢长大了。 喜欢吃罐头，喜欢对着人喵喵叫要罐头，喜欢被抱抱和抚摸，但是有些小害羞。要想搞定他，让他认定你，就给他宠爱和罐头吧!
                        </p>
                        <p class="tright">
                            领养请联系微信：karen0608
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of littlewhite -->

<div class="modal fade modal-paw" id="paw-huahua">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-huahua.jpg">
                        </p>
                        <h4 class="tcenter">
                            HUA-HUA
                            <br>花花
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            照片上花花，母狗，已经绝育，疫苗驱虫都完成。是被不负责任的领养人再次抛弃，可怜的花花很懂事，在家不会大小便，也不会顽皮，一直很乖。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of huahua -->

<div class="modal fade modal-paw" id="paw-haohao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-haohao.jpg">
                        </p>
                        <h4 class="tcenter">
                            HAO-HAO
                            <br>好好
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            好好，两个多月大的时候在小区里跟着妈妈流浪，不小心掉到阴沟里最终获救,之后的日子都在爪园基地里生活。长大后的它是个大个子的弟弟，被戏称为“爪园最丑猫”，若有人说它丑它会拿屁股对着你。它曾经被领养过，最后被退养了,其实任何理由都是借口，它本来很亲人,退养后变得有点内向，现在去了上海喵领馆生活，又逐渐敞开心扉和猫友善、又亲人。领养好好你将同时获得：15承诺换来的快乐陪伴，领养爪园最丑猫的殊荣。
                        </p>
                        <p class="tright">
                            领养请联系微信：sophiayelin
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of haohao -->

<div class="modal fade modal-paw" id="paw-nannan">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-nannan.jpg">
                        </p>
                        <h4 class="tcenter">
                            NAN-NAN
                            <br>楠楠
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            楠楠，2岁左右，女生，性格温柔，梗类串串，曾经是公司楼下的小流浪，每天看到，接触了一段时间终于发现了她的树丛窝，请朋友帮忙抓捕成功，去医院检查发现已经怀孕，现在已完成绝育身体健康，求包养，求关爱！
                        </p>
                        <p class="tright">
                            领养请联系微信：kaixingouxian0515
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of nannan -->

<div class="modal fade modal-paw" id="paw-mengmeng">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mengmeng.jpg">
                        </p>
                        <h4 class="tcenter">
                            MENG-MENG
                            <br>萌萌
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小黑狗叫萌萌，才2个多月眼睛还么睁开就被遗弃，被救助人带回家养到2月，现在找领养。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of mengmeng -->

<div class="modal fade modal-paw" id="paw-qiaoqiao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-qiaoqiao.jpg">
                        </p>
                        <h4 class="tcenter">
                            QIAO-QIAO
                            <br>巧巧
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            巧巧，女孩，吉娃娃串，年龄四个月左右，体型娇小，大大的眼睛，清秀的面容，身体检查健康，非常胆小。巧巧可能生来到现在就从没有享受过耙耙麻庥的疼爱和家庭的温暖。希望有爱的你能给她一个家，一个不离不弃的承诺，她要的并不多，可是她会用一生的忠诚与陪伴来回报你！
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of qiaoqiao -->

<div class="modal fade modal-paw" id="paw-ali">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-ali.jpg">
                        </p>
                        <h4 class="tcenter">
                            ALI
                            <br>阿乐
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            阿乐，公，1岁。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of ali -->

<div class="modal fade modal-paw" id="paw-awang">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-awang.jpg">
                        </p>
                        <h4 class="tcenter">
                            A-WANG
                            <br>阿旺
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            阿旺，母，2岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-bamboo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bamboo.jpg">
                        </p>
                        <h4 class="tcenter">
                            BAMBOO
                            <br>&nbsp;
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            有过两面之缘的可爱短腿小狗：上海中华路竹器店散养的他因发情未绝育出门四处乱窜，回去晚了店铺已打烊关门，只好深夜夹着尾巴躲在街角。被救助人发现先带回家，后送回竹器店，老板说：＂可以不要的＂。救助人于是决定给他取名Bamboo带回家寄养帮他找真正的新家,
                            <br>有意领养者请微信联系chrislau001
                            <br>1岁多男生、中小体型、已内外驱虫并已绝育、健康生活习惯良好、性格可爱粘人、能与其他狗狗和猫咪相处融洽。领养坐标上海。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-baobao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-baobao.jpg">
                        </p>
                        <h4 class="tcenter">
                            BAO-BAO
                            <br>宝宝
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            宝宝，弟弟，三个多月，已驱虫疫苗。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-bebe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-bebe.jpg">
                        </p>
                        <h4 class="tcenter">
                            BEBE
                            <br>贝贝
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            贝贝，母，2岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-beck">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-beck.jpg">
                        </p>
                        <h4 class="tcenter">
                            BECK
                            <br>贝克
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            贝克，公，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-diamond">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-diamond.jpg">
                        </p>
                        <h4 class="tcenter">
                            DIAMOND
                            <br>&nbsp;
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            曾受难于玉林，亲眼目睹小伙伴们的离世，对世界失去希望，却被救于万幸，得到志愿者的照顾，感知人世的温暖。名曰 Diamond，性格淡定粘人时静若处子，俏皮活泼时动若脱兔7岁妹妹，它与离世的Medor一起被 ThinkAdoption救助，现已身心痊愈等待属于它自己的那份幸福，若您有意领养！
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-dori">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-dori.jpg">
                        </p>
                        <h4 class="tcenter">
                            DORI
                            <br>多利
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            多利，母，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-gaga">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-gaga.jpg">
                        </p>
                        <h4 class="tcenter">
                            GAGA
                            <br>卡卡
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            卡卡，公，后腿残疾，4岁。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-heili">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-heili.jpg">
                        </p>
                        <h4 class="tcenter">
                            HEI-LI
                            <br>黑狸猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            黑狸猫，公，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-hualian">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-hualian.jpg">
                        </p>
                        <h4 class="tcenter">
                            HUA-LIAN
                            <br>花脸
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            花脸，公，1岁半。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-huihui">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-huihui.jpg">
                        </p>
                        <h4 class="tcenter">
                            HUI-HUI
                            <br>灰灰
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            灰灰，公，1岁半，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-littleawang">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littleawang.jpg">
                        </p>
                        <h4 class="tcenter">
                            LITTLE A-WANG
                            <br>小阿旺
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小阿旺，公，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-littlebebe">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littlebebe.jpg">
                        </p>
                        <h4 class="tcenter">
                            LITTLE BEBE
                            <br>小贝贝
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小贝贝，母，癫痫，2岁。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-littleflower">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littleflower.jpg">
                        </p>
                        <h4 class="tcenter">
                            LITTLE FLOWER
                            <br>小花
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小花，妹妹，性格好生活习惯好，差点成为狗肉煲救下，已驱虫疫苗，未绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-littletiger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-littletiger.jpg">
                        </p>
                        <h4 class="tcenter">
                            LITTLE TIGER
                            <br>小虎
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小虎，弟弟，4个月左右，已驱虫疫苗。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-lulu">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-lulu.jpg">
                        </p>
                        <h4 class="tcenter">
                            LULU
                            <br>露露
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            露露，母，癫痫，2岁。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-margherita">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-margherita.jpg">
                        </p>
                        <h4 class="tcenter">
                            MARGHERITA
                            <br>玛格丽特
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            玛格丽特，母1-2岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-mimi">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mimi.jpg">
                        </p>
                        <h4 class="tcenter">
                            MIMI
                            <br>咪咪
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            咪咪，母，1岁。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-mingming">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-mingming.jpg">
                        </p>
                        <h4 class="tcenter">
                            MING-MING
                            <br>明明
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            明明，母，2岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-sanhua">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-sanhua.jpg">
                        </p>
                        <h4 class="tcenter">
                            SAN-HUA
                            <br>三花猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            三花猫，母，2岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-sanmao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-sanmao.jpg">
                        </p>
                        <h4 class="tcenter">
                            SAN-MAO
                            <br>三毛
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            三毛，三条腿残疾，2岁，公，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-xianxian">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xianxian.jpg">
                        </p>
                        <h4 class="tcenter">
                            XIAN-XIAN
                            <br>仙仙
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            仙仙，母，3岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-xiaobai">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaobai.jpg">
                        </p>
                        <h4 class="tcenter">
                            XIAO-BAI
                            <br>小白猫
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小白猫，母，两个月。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-xiaobao">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaobao.jpg">
                        </p>
                        <h4 class="tcenter">
                            XIAO BAO
                            <br>小宝
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小宝，母，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<div class="modal fade modal-paw" id="paw-xiaoxiaohei">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <div class="row-fluid">
                    <div class="span5">
                        <p>
                            <img src="/images/blank.png" data-weave="widget/basic/imageswitch" data-src="images/event/paws/mobile/paw-xiaoxiaohei.jpg">
                        </p>
                        <h4 class="tcenter">
                            XIAO XIAO HEI
                            <br>小小黑
                        </h4>
                    </div>
                    <div class="span7 paw-about">
                        <p>
                            小小黑，母，1岁，已绝育。
                        </p>
                        <p class="tright">
                            领养请联系微信：xqp_ddhww
                            <br>以上领养帖由ThinkAdoption提供
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of awang -->

<script>
// imgUrl, lineLink, descContent, shareTitle, appid
window.attachWeixinJSBridgeReady(
    "http://www.vcleanse.com/images/wechat/logo_cfc.jpg",
    "http://m.vcleanse.com/paws",
    "您每购买一份套餐，其中100元将捐献给公益组织用于流浪动物救助。",
    "爱动物，喝小绿！维果清限量爱心套餐"
);
</script>
