<%
  var offsetWidth = data.offsetWidth || 500;
  var zoomRate = offsetWidth/640;

  var events = data.events;
  var isMobile = data.isMobile;
  var domain = data.domain;
  var cacheServer = data.cacheServer;
  var language = data.language;

  var i = 0;
  var iLens = events.length;

  var j = 0;
  var jLens = events.length;

  var event;
%>
<div id="home-carousel" class="swipe" data-weave="widget/swipe/main" data-bullets-pos="right">
  <div class="swipe-wrap">
    <% for(j=0; j<jLens; j++) { 
          event = events[j];
      %>
      <div>
        <% 
          switch (event.type.toLowerCase()) { 
            case "picture": renderPicture();
              break;
            case "map": renderMap();
              break;
            case "edm": renderEdm();
              break;
            case "spring": renderSpring();
              break;
            default: break;
          }
        %>
      </div>
    <% } %>
  </div>
</div>

<% function renderPicture() { %>
    <a <% if (event.url) { %>href="<%=event.url%>"<% } %> data-weave="widget/href/main">
      <img class="align-c" src="<%=cacheServer%>/<%=event.src%>" alt="<%=event.title%>" title="<%=event.title%>">
    </a>
<% } %>

<% function renderMap() { 
    var k = 0;
    var kLens = event.url.length;
  %>
  <img class="align-c" src="<%=cacheServer%>/<%=event.src%>" alt="<%=event.title%>" title="<%=event.title%>" usemap="#<%=event.id%>">
  <map name="<%=event.id%>" id="<%=event.id%>">
    <% for(k=0; k<kLens; k++) { 
      var mapUrl = event.url[k];
    %>
      <area shape="<%=mapUrl.shape%>" coords="<%=parseCoords(mapUrl.coords)%>" <% if (mapUrl.href) { %>href="<%=mapUrl.href%>"<% } %> data-weave="widget/href/main" alt="<%=mapUrl.alt%>" />
    <% } %>
  </map>
<% } %>

<% function parseCoords(coords){
  var arrCoords = coords.split(",");
  var i = 0;
  var iLens = arrCoords.length;
  var arrZoomCoords = [];
  for(i=0; i<iLens; i++){
    arrZoomCoords.push(parseInt(arrCoords[i], 10) * zoomRate);
  }
  return arrZoomCoords.join(",");
} %>
