<%
	var dateFrom = data.dateFrom;
	var disabled = data.disabled;
	var range = data.range;
	var dateTo = data.dateTo;
%>
<% if(range) { %>
	<div class="row startdate-range">
		<div class="col-md-6">
			<span data-weave="widget/blurb/main(1399)">From</span>
			<input type="text" class="form-control datepicker-from" data-action="datepickerfrom" value="<%=dateFrom%>" <% if(disabled) { %>disabled<% } %> onfocus="this.blur();">
		</div>
		<div class="col-md-6">
			<span data-weave="widget/blurb/main(1400)">to</span>
			<input type="text" class="form-control datepicker-to" data-action="datepickerto" value="<%=dateTo%>" <% if(disabled) { %>disabled<% } %>>
		</div>
	</div>
<% } else { %>
	<input type="text" class="form-control datepicker-from" style="position: relative; z-index: 2;" data-action="datepickerfrom" onfocus="this.blur();" value="<%=dateFrom%>" <% if(disabled) { %>disabled<% } %>>
<% } %>