/*
// - @vcleanse.com
*/

button,
input[type=submit] {
	border-width: 1px;
	line-height: 2.8em;
	height: 3em;
	padding: 0 8px;
	color: @color-grey-darker;
	font-size: @fontsize-l;

	&.btn-primary,
	&.btn-info
	{
		color: @color-white;
		line-height: 3em;
		height: 3em;
		padding: 0 25px;
		border-width: 0;
		cursor: pointer;
		margin: 0;
		text-transform: uppercase;
	}
	&.btn-info
	{
		background-color: @color-brand;
		
		&:hover,
		&:focus {
			background-color: fadeout(@color-brand, 15%);
		}

		&:active,
		&.active {
			background-color: darken(@color-brand, 5%);
		}

		&.disabled,
		&[disabled] {
			cursor: default;
			background-color: greyscale(@color-brand);
		}
	}
	&.btn-primary
	{
		background-color: @color-primary;

		&:hover,
		&:focus {
			background-color: @color-hover;
		}

		&:active,
		&.active {
			background-color: darken(@color-primary, 5%);
		}

		&.disabled,
		&[disabled] {
			cursor: default;
			background-color: greyscale(@color-primary);
		}
	}
}
.btn-group
{
	button,
	input[type=submit] 
	{
		margin-left: 10px;
		margin-top: 15px;

		&:first-child
		{
			margin-left: 0;
		}
	}
}