/*
// - @vcleanse.com
*/

fieldset[disabled]
{
	visibility: hidden;
	border-width: 0;
	margin: 0;
	padding: 0;
}

.standardform,
fieldset[disabled]
{
	p
	{
		margin-top: 10px;
		color: @color-black;
		font-size: @fontsize-l;
	}

	> div
	{
		margin-top: 10px;

		label
		{
			color: @color-black;
			font-size: @fontsize-l;
			padding-right: 10px;
			box-sizing: border-box;

			&.error
			{
				color: @color-error;
			}
			&.valid
			{
				color: @color-black;
			}
		}
		input{
			&[type=radio],
			&[type=checkbox]
			{
				margin-right: 5px;
			}
			&[type=text],
			&[type=email],
			&[type=password]
			{
				border-width: 1px;
				/*line-height: 1.8em;*/
				/*height: 2em;*/
				padding: 0 8px;
				box-sizing: border-box;
				color: @color-black;
				font-size: @fontsize-l;
				background-color: @color-white;
				border-color: @color-black;

				&.error
				{
					display: block;
					border-color: @color-error;
				}
				&.valid
				{
					border-color: @color-grey-lighter;
				}
			}
			&[readonly]
			{
				color: @color-grey-light;
			}
			&[disabled]
			{
				border-color: @color-grey;
				color: @color-grey;
			}
		}
		select
		{
			margin: 0;
			border-width: 1px;
			/*line-height: 1.8em;*/
			/*height: 2em;*/
			padding: 0;
			box-sizing: border-box;
			color: @color-black;
			font-size: @fontsize-l;
			background-color: @color-white;

			option
			{
				padding: 0 8px;
			}
		}
		a
		{
			font-size: @fontsize-l;
		}
		&.form-submit
		{
			margin-top: 20px;
		}
		&.line-hor
		{
			margin-top: 15px;
		}
		&:first-child
		{
			margin-top: 0;
		}
	}
}