/*
// - @vcleanse.com
*/

h2,
h3,
h4,
h5,
h6
{
	small
	{
		font-size: 11px;
	}
	p
	{
		line-height: 16px;
		margin-top: 3px;
	}
}

h2
{
	font-size: @fontsize-11xl;
	color: @color-brand;

	strong
	{
		font-weight: bold;
	}
}
h3
{
	font-size: @fontsize-6xl;
	color: @color-black;

	strong
	{
		font-weight: bold;
	}
}
h4
{
	font-size: @fontsize-5xl;
	color: @color-black;

	strong
	{
		font-weight: bold;
	}
}
h5
{
	font-size: @fontsize-3xl;
	color: @color-grey-darker;

	strong
	{
		font-weight: bold;
	}

}
h6
{
	font-size: @fontsize-xxl;
	color: @color-grey-darker;

	strong
	{
		font-weight: bold;
	}
}