/*
// - @vcleanse.com
*/

.text-striking
{
	color: @color-primary;
}
.text-status-completed
{
	color: @color-grey-dark;
}
.text-status-unpaid
{
	color: @color-warning;
}
.text-status-inprocess
{
	color: @color-success;
}
.text-status-cancelled
{
	color: @color-grey-light;
}